{% load partials %}
{% load slippers %}

<nav>
    <div class="nav nav-tabs" id="scoreChartTab" role="tablist">
        {% #nav_tab prefix='my' id='0' %}
            성적 분포 차트
        {% /nav_tab %}
    </div>
</nav>
<div class="tab-content" id="scoreChartContent">
    {% #nav_content prefix='chart' id='0' %}
        {% if is_confirmed %}
            <canvas id="scoreChart"></canvas>
        {% else %}
            {% #responsive_table %}
                <tbody>
                    <tr class="text-center align-middle">
                       <th colspan="6" class="text-danger fs-6 py-4">
                           수험정보 및 모든 과목의 답안을 입력해주세요.
                       </th>
                    </tr>
                </tbody>
            {% /responsive_table %}
        {% endif %}
    {% /nav_content %}
</div>

<script>
    chart_data = {
        type: 'bar',
        data: {
            labels: ['언어논리', '자료해석', '상황판단', 'PSAT 평균',
                {% if heonbeob_answer or heonbeob_temporary %}'헌법'{% endif %}
            ],
            datasets: [
                {
                    label: '내 점수',
                    borderWidth: 1,
                    data: [
                        {{ student.eoneo_score|floatformat:1 }},
                        {{ student.jaryo_score|floatformat:1 }},
                        {{ student.sanghwang_score|floatformat:1 }},
                        {{ student.psat_average|floatformat:1 }},
                        {% if heonbeob_answer or heonbeob_temporary %}
                            {{ student.heonbeob_score|floatformat:1 }},
                        {% endif %}
                    ],
                },
                {
                    label: '직렬 평균',
                    borderWidth: 1,
                    data: [
                        {{ department_stat.eoneo_score_avg|floatformat:1 }},
                        {{ department_stat.jaryo_score_avg|floatformat:1 }},
                        {{ department_stat.sanghwang_score_avg|floatformat:1 }},
                        {{ department_stat.psat_average_avg|floatformat:1 }},
                        {% if heonbeob_answer or heonbeob_temporary %}
                            {{ department_stat.heonbeob_score_avg|floatformat:1 }},
                        {% endif %}
                    ],
                },
                {
                    label: '전체 평균',
                    borderWidth: 1,
                    data: [
                        {{ total_stat.eoneo_score_avg|floatformat:1 }},
                        {{ total_stat.jaryo_score_avg|floatformat:1 }},
                        {{ total_stat.sanghwang_score_avg|floatformat:1 }},
                        {{ total_stat.psat_average_avg|floatformat:1 }},
                        {% if heonbeob_answer or heonbeob_temporary %}
                            {{ total_stat.heonbeob_score_avg|floatformat:1 }},
                        {% endif %}
                    ],
                },
                {
                    label: '직렬 상위 20%',
                    borderWidth: 1,
                    hidden: true,
                    data: [
                        {{ department_stat.eoneo_score_20|floatformat:1 }},
                        {{ department_stat.jaryo_score_20|floatformat:1 }},
                        {{ department_stat.sanghwang_score_20|floatformat:1 }},
                        {{ department_stat.psat_average_20|floatformat:1 }},
                        {% if heonbeob_answer or heonbeob_temporary %}
                            {{ department_stat.heonbeob_score_20|floatformat:1 }},
                        {% endif %}
                    ],
                },
                {
                    label: '전체 상위 20%',
                    borderWidth: 1,
                    hidden: true,
                    data: [
                        {{ total_stat.eoneo_score_20|floatformat:1 }},
                        {{ total_stat.jaryo_score_20|floatformat:1 }},
                        {{ total_stat.sanghwang_score_20|floatformat:1 }},
                        {{ total_stat.psat_average_20|floatformat:1 }},
                        {% if heonbeob_answer or heonbeob_temporary %}
                            {{ total_stat.heonbeob_score_20|floatformat:1 }},
                        {% endif %}
                    ],
                },
                {
                    label: '직렬 상위 10%',
                    borderWidth: 1,
                    data: [
                        {{ department_stat.eoneo_score_10|floatformat:1 }},
                        {{ department_stat.jaryo_score_10|floatformat:1 }},
                        {{ department_stat.sanghwang_score_10|floatformat:1 }},
                        {{ department_stat.psat_average_10|floatformat:1 }},
                        {% if heonbeob_answer or heonbeob_temporary %}
                            {{ department_stat.heonbeob_score_10|floatformat:1 }},
                        {% endif %}
                    ],
                },
                {
                    label: '전체 상위 10%',
                    borderWidth: 1,
                    data: [
                        {{ total_stat.eoneo_score_10|floatformat:1 }},
                        {{ total_stat.jaryo_score_10|floatformat:1 }},
                        {{ total_stat.sanghwang_score_10|floatformat:1 }},
                        {{ total_stat.psat_average_10|floatformat:1 }},
                        {% if heonbeob_answer or heonbeob_temporary %}
                            {{ total_stat.heonbeob_score_10|floatformat:1 }},
                        {% endif %}
                    ],
                },
                {
                    label: '직렬 최고',
                    borderWidth: 1,
                    hidden: true,
                    data: [
                        {{ department_stat.eoneo_score_max|floatformat:1 }},
                        {{ department_stat.jaryo_score_max|floatformat:1 }},
                        {{ department_stat.sanghwang_score_max|floatformat:1 }},
                        {{ department_stat.psat_average_max|floatformat:1 }},
                        {% if heonbeob_answer or heonbeob_temporary %}
                            {{ department_stat.heonbeob_score_max|floatformat:1 }},
                        {% endif %}
                    ],
                },
                {
                    label: '전체 최고',
                    borderWidth: 1,
                    hidden: true,
                    data: [
                        {{ total_stat.eoneo_score_max|floatformat:1 }},
                        {{ total_stat.jaryo_score_max|floatformat:1 }},
                        {{ total_stat.sanghwang_score_max|floatformat:1 }},
                        {{ total_stat.psat_average_max|floatformat:1 }},
                        {% if heonbeob_answer or heonbeob_temporary %}
                            {{ total_stat.heonbeob_score_max|floatformat:1 }},
                        {% endif %}
                    ],
                },
            ]
        },
        options: {
            indexAxis: 'y',
            plugins: {
                legend: {position: 'right'},
                datalabels: {
                    align: 'end',
                    color: 'black',
                    font: {
                        weight: 'bold',
                    }
                }
            },
            scales: {
                y: {ticks: {font: {weight: 'bold'}}},
                x: {ticks: {font: {weight: 'bold'}}},
            },
            elements: {
                bar: {
                    barPercentage: 0.5,
                },
            },
        }
    }
    {#chart_data.options.elements.bar.barPercentage = 0.5; // 폭 너비 조정#}


    if (typeof chart_canvas === 'undefined') {
        const chart_canvas = document.getElementById('scoreChart');
        new Chart(chart_canvas, chart_data);
    } else {
        chart_canvas.chart.destroy();
        new Chart(chart_canvas, chart_data);
    }
</script>
