{% extends 'list.html' %}
{% load static %}
{% load i18n %}
{% load slippers %}
{% load partials %}
{% load psat_filter %}

{% block head_title %}{{ title }}{% endblock head_title %}

{% block main %}
    {% partialdef list_main inline=True %}
        {{ info|json_script:'info' }}
        <div class="pagetitle">
            <h1>PSAT
                <span class="fs-6 text-secondary">{{ title }}</span>
            </h1>
            <nav>
                <ol class="breadcrumb" hx-target="#main" hx-swap="innerHTML swap:0.25s" hx-push-url="true">
                    <li class="breadcrumb-item">
                        <a href="{% url 'index' %}" hx-post="{% url 'index' %}">Home</a>
                    </li>
                    <li class="breadcrumb-item">PSAT</li>
                    <li class="breadcrumb-item active">{{ info.view_type|title }}</li>
                </ol>
            </nav>
        </div><!-- Page Title End -->

        <section class="section" hx-target="#main" hx-swap="innerHTML swap:0.25s">
        {% #content_row class1='col-12' %}
            <h5 class="card-title mb-0">
                <div class="d-flex flex-wrap">
                    <div class="dropdown py-2 me-auto">
                        {% if sub_title %}
                            <div class="fs-6 text-bg-secondary p-1">{{ sub_title }}</div>
                        {% endif %}
{#                        {{ sub_title }}#}
                        {% if info.menu == 'dashboard' %}{% partial dashboard_menu %}{% endif %}
                        {% if like_list or like_dashboard %}{% partial like_filter %}{% endif %}
                        {% if rate_list or rate_dashboard %}{% partial rate_filter %}{% endif %}
                        {% if solve_list or answer_dashboard %}{% partial solve_filter %}{% endif %}
                    </div>
                    <div class="dropdown py-2 ms-auto">
                        {% partial problem_filter %}
                    </div>
                </div>
            </h5>
            {% #responsive_table %}
                <thead>{% partial thead %}</thead>
                <tbody>{% partial tbody %}</tbody>
            {% /responsive_table %}
            {% partial pagination %}
        {% /content_row %}
        </section>
    {% endpartialdef list_main %}
{% endblock main %}


{# Dashboard menu partial #}
{% partialdef dashboard_menu %}
    <button id="dropdownDashboardLink" type="button"
            class="btn btn-sm btn-outline-primary dropdown-toggle"
            data-bs-toggle="dropdown" aria-expanded="false">메뉴</button>
    <ul class="dropdown-menu" aria-labelledby="dropdownDashboardLink">
        <li>
            <a class="dropdown-item text-start ps-4
               {% if info.view_type == 'like' %}active{% endif %}" href=""
               hx-get="{% url 'dashboard:list' 'like' %}">
                <i class="fa-solid fa-heart fa-fw"></i>즐겨찾기
            </a>
        </li>
        <li>
            <a class="dropdown-item text-start ps-4
               {% if info.view_type == 'rate' %}active{% endif %}" href=""
               hx-get="{% url 'dashboard:list' 'rate' %}">
                <i class="fa-solid fa-star fa-fw"></i>난이도
            </a>
        </li>
        <li>
            <a class="dropdown-item text-start ps-4
               {% if info.view_type == 'answer' %}active{% endif %}" href=""
               hx-get="{% url 'dashboard:list' 'answer' %}">
                <i class="fa-solid fa-circle-check fa-fw"></i>정답확인
            </a>
        </li>
    </ul>
{% endpartialdef dashboard_menu %}


{# ############ #}
{# Filter start #}
{# ############ #}

{# Like filter #}
{% partialdef like_filter %}
    {% with var='like' text=icon_filter|safe total='즐겨찾기 전체 문제' current=is_liked option=like_option %}
        {% partial filter_snippet %}
    {% endwith %}
{% endpartialdef like_filter %}

{# Rate filter #}
{% partialdef rate_filter %}
    {% with var='rate' text=icon_filter|safe total='전체 문제' current=rating option=rate_option %}
        {% partial filter_snippet %}
    {% endwith %}
{% endpartialdef rate_filter %}

{# Solve filter #}
{% partialdef solve_filter %}
    {% with var='solve' text=icon_filter|safe total='전체 문제' current=is_correct option=solve_option %}
        {% partial filter_snippet %}
    {% endwith %}
{% endpartialdef solve_filter %}

{# Problem filter #}
{% partialdef problem_filter %}
    <a type="button" class="btn btn-sm btn-primary" href=""
       hx-get="{{ base_url }}">전체</a>
    {% with var='year' text='연도' total='전체 연도' current=year option=year_option %}
        {% partial filter_snippet %}
    {% endwith %}

    {% with var='ex' text='시험' total='전체 시험' current=ex option=ex_option %}
        {% partial filter_snippet %}
    {% endwith %}

    {% with var='sub' text='과목' total='전체 과목' current=sub option=sub_option %}
        {% partial filter_snippet %}
    {% endwith %}
{% endpartialdef problem_filter %}

{# Filter snippet partial #}
{% partialdef filter_snippet %}
    <button id="dropdown{{ var|title }}Link" type="button"
            class="btn btn-sm btn-outline-primary dropdown-toggle"
            data-bs-toggle="dropdown" aria-expanded="false">
        {{ text }}
    </button>
    <ul class="dropdown-menu" aria-labelledby="dropdown{{ var|title }}Link">
        <li>
            <a class="dropdown-item text-center
               {% if current == '' %}active{% endif %}" href=""
               hx-get="{% partial total_url %}">
                <i class="fa-regular fa-file-lines"></i>{{ total }}
            </a>
        </li>
        {% for opt in option %}
            <li>
                <a class="dropdown-item text-center
                   {% if opt.0 == current %}active{% endif %}" href=""
                   hx-get="{% partial filter_url %}">
                    {{ opt.1|safe }}
                </a>
            </li>
        {% endfor %}
    </ul>
{% endpartialdef filter_snippet %}

{# Filter snippet total url partial #}
{% partialdef total_url %}
{{ base_url }}?year={% if var != 'year' %}{{ year }}{% endif %}
&ex={% if var != 'ex' %}{{ ex }}{% endif %}
&sub={% if var != 'sub' %}{{ sub }}{% endif %}
&is_liked={% if var != 'like' %}{{ is_liked }}{% endif %}
&rating={% if var != 'rate' %}{{ rating }}{% endif %}
&is_correct={% if var != 'solve' %}{{ is_correct }}{% endif %}
&data={{ search_data }}&date={{ search_date }}
{% endpartialdef search_url %}

{# Filter snippet filter url partial #}
{% partialdef filter_url %}
{{ base_url }}?year={% if var == 'year' %}{{ opt.0 }}{% else %}{{ year }}{% endif %}
&ex={% if var == 'ex' %}{{ opt.0 }}{% else %}{{ ex }}{% endif %}
&sub={% if var == 'sub' %}{{ opt.0 }}{% else %}{{ sub }}{% endif %}
&is_liked={% if var == 'like' %}{{ opt.0 }}{% else %}{{ is_liked }}{% endif %}
&rating={% if var == 'rate' %}{{ opt.0 }}{% else %}{{ rating }}{% endif %}
&is_correct={% if var == 'solve' %}{{ opt.0 }}{% else %}{{ is_correct }}{% endif %}
&data={{ search_data }}&date={{ search_date }}
{% endpartialdef filter_url %}


{# ################### #}
{# Table content start #}
{# ################### #}

{# Table head partial #}
{% partialdef thead %}
<tr class="d-none d-sm-table-row">
    <th class="text-nowrap p-2 col-1">
        <div class="td-div-xl" aria-label="Reference">문제 출처</div>
        <div class="td-div-xs" aria-label="Like">{{ icon_like.true|safe }}</div>
        <div class="td-div-lg" aria-label="Rate">난이도</div>
        <div class="td-div-xs" aria-label="Answer">{{ icon_solve.correct|safe }}</div>
    </th>
    <th class="text-start text-nowrap p-2">문제</th>
</tr>
{% endpartialdef thead %}

{# Table body partial #}
{% partialdef tbody %}
    {% if page_obj %}
        {% for problem in page_obj %}
            {% partial table_divider %}
            <tr>
                <td class="text-nowrap p-2 col-1">
                    {% partial problem_reference %}
                    {% include 'psat/v2/snippets/icon_container.html' %}
                    <div class="d-sm-none pt-2">
                        {% partial problem_question %}
                    </div>
                </td>
                <td class="d-none d-sm-table-cell text-start text-nowrap p-2">
                    {% partial problem_question %}
                </td>
            </tr>
        {% endfor %}
    {% else %}
        <tr>
            <td class="text-center text-nowrap px-2" colspan="5">
                자료가 없습니다.
            </td>
        </tr>
    {% endif %}
{% endpartialdef tbody %}


{# ################### #}
{# Table divider start #}
{# ################### #}

{# Table divider partial #}
{% partialdef table_divider %}
    {% if info.menu == 'psat' %}
        {% if not search_list %}
            {% ifchanged %}
                {% #list_divider %}
                    <a hx-get="{% url 'psat_v2:list' 'problem' %}?year={{ problem.psat.year }}&ex={{ problem.psat.exam.abbr }}&sub={{ problem.psat.subject.abbr }}"
                       href="" hx-push-url="{% url 'psat_v2:list' 'problem' %}">
                        {{ problem.psat.year }}년 {{ problem.psat.exam.name }} {{ problem.psat.subject.name }}
                    </a>
                {% /list_divider %}
            {% endifchanged %}
        {% endif %}
    {% else %}
        {% if like_dashboard %}
            {% ifchanged %}
                {% #list_divider %}
                    {% with timestamp=problem.liked_at %}{% partial datetime %}{% endwith %}
                {% /list_divider %}
            {% endifchanged %}
        {% endif %}
        {% if rate_dashboard %}
            {% ifchanged %}
                {% #list_divider %}
                    {% with timestamp=problem.rated_at %}{% partial datetime %}{% endwith %}
                {% /list_divider %}
            {% endifchanged %}
        {% endif %}
        {% if answer_dashboard %}
            {% ifchanged %}
                {% #list_divider %}
                    {% with timestamp=problem.answered_at %}{% partial datetime %}{% endwith %}
                {% /list_divider %}
            {% endifchanged %}
        {% endif %}
    {% endif %}
{% endpartialdef table_divider %}

{# Table divider date-time partial #}
{% partialdef datetime %}
    {{ timestamp|date:'Y.m.d' }}({{ timestamp|date:'w'|int2kor }})
{% endpartialdef datetime %}


{# ####################### #}
{# Problem reference start #}
{# ####################### #}

{# Problem reference partial #}
{% partialdef problem_reference %}
    <div class="td-div-xl text-start" aria-label="Reference">
        {% if problem_list or search_list %}
            {% with url=problem.problem_url %}{% partial reference_link %}{% endwith %}
        {% elif like_list or like_dashboard %}
            {% if problem.is_liked %}
                {% with url=problem.like_url %}{% partial reference_link %}{% endwith %}
            {% else %}
                {% with url=problem.problem_url %}{% partial reference_link %}{% endwith %}
            {% endif %}
        {% elif rate_list or rate_dashboard %}
            {% with url=problem.rate_url %}{% partial reference_link %}{% endwith %}
        {% elif solve_list or answer_dashboard %}
            {% with url=problem.get_answer_url %}{% partial reference_link %}{% endwith %}
        {% endif %}
    </div>
{% endpartialdef problem_reference %}

{# Problem reference link partial #}
{% partialdef reference_link %}
    <a class="text-decoration-none fw-bold" href="" hx-push-url="true"
       hx-get="{{ url }}">
        {{ problem.psat.year }}-{{ problem.psat.exam.abbr }}-{{ problem.psat.subject.abbr }} {{ problem.number|add_0 }}
    </a>
{% endpartialdef reference_link %}


{# ###################### #}
{# Problem question start #}
{# ###################### #}

{# Problem question partial #}
{% partialdef problem_question %}
    {% if problem_list or search_list %}
        {% with url=problem.problem_url %}{% partial question_link %}{% endwith %}
    {% elif like_list or like_dashboard %}
        {% if problem|get_like_status:like_data %}
            {% with url=problem.like_url %}{% partial question_link %}{% endwith %}
        {% else %}
            {% with url=problem.problem_url %}{% partial question_link %}{% endwith %}
        {% endif %}
    {% elif rate_list or rate_dashboard %}
        {% with url=problem.rate_url %}{% partial question_link %}{% endwith %}
    {% elif solve_list or answer_dashboard %}
        {% with url=problem.get_answer_url %}{% partial question_link %}{% endwith %}
    {% endif %}
{% endpartialdef problem_question %}

{# Problem question link partial #}
{% partialdef question_link %}
    <a class="text-decoration-none d-md-none" href="" hx-push-url="true"
       hx-get="{{ url }}">
        {% with chars=30 %}{% partial question_sentence %}{% endwith %}
    </a>
    <a class="text-decoration-none d-none d-md-inline d-lg-none" href=""
       hx-push-url="true" hx-get="{{ url }}">
        {% with chars=40 %}{% partial question_sentence %}{% endwith %}
    </a>
    <a class="text-decoration-none d-none d-lg-inline d-xl-none" href=""
       hx-push-url="true" hx-get="{{ url }}">
        {% with chars=50 %}{% partial question_sentence %}{% endwith %}
    </a>
    <a class="text-decoration-none d-none d-xl-inline" href="" hx-push-url="true"
       hx-get="{{ url }}">
        {% with chars=60 %}{% partial question_sentence %}{% endwith %}
    </a>
{% endpartialdef question_link %}

{# Problem question sentence partial #}
{% partialdef question_sentence %}
    <h3 class="fs-6 small m-0">{{ problem.question|truncatechars:chars }}</h3>
{% endpartialdef question_sentence %}


{# ################ #}
{# Pagination start #}
{# ################ #}

{# Pagination partial #}
{% partialdef pagination %}
    {% #pagination_nav %}
        {% if page_obj.has_previous %}
            {% with page_num=page_obj.number|add:-1 chevron='left' %}
                {% partial pagination_link %}
            {% endwith %}
        {% endif %}
        {% for number in page_range %}
            {% with page_num=number anchor_text=number %}
                {% if number == page_obj.number %}
                    {% with status='active' %}{% partial pagination_link %}{% endwith %}
                {% elif number == page_obj.paginator.ELLIPSIS %}
                    {% with status='disabled' %}{% partial pagination_link %}{% endwith %}
                {% else %}
                    {% partial pagination_link %}
                {% endif %}
            {% endwith %}
        {% endfor %}
        {% if page_obj.has_next %}
            {% with page_num=page_obj.number|add:1 chevron='right' %}
                {% partial pagination_link %}
            {% endwith %}
        {% endif %}
    {% /pagination_nav %}
{% endpartialdef pagination %}

{# Pagination link partial #}
{% partialdef pagination_link %}
    <li class="page-item {{ status }}"
        {% if status == 'active' %}aria-current="page"{% endif %}>
        <a class="page-link" href=""
            {% if status == 'disabled' %}
                tabindex="-1" aria-disabled="true"
            {% else %}
                hx-get="{{ pagination_url }}&page={{ page_num }}"
            {% endif %}>
            {% if chevron %}
                <i class="fa-solid fa-chevron-{{ chevron }}"></i>
            {% else %}
                {{ anchor_text }}
            {% endif %}
        </a>
    </li>
{% endpartialdef pagination_link %}
