{% load i18n %}
{% load slippers %}
{% load partials %}

<div class="d-flex justify-content-end mb-3">
    <div class="btn-group">
        {% partial button_reload %}
        {% partial modal_comment_create %}
{#        <button class="btn btn-sm btn-outline-success"#}
{#                hx-get="{% url 'psat:comment_container' problem_id %}">#}
{#            <i class="fa-regular fa-window-maximize"></i>#}
{#            새 창#}
{#        </button>#}
    </div>
</div>

<hr class="border-secondary">
{% if page_obj %}
    {% for comment in page_obj %}
        {% include 'psat/v4/snippets/comment_box.html' %}
        <hr class="border-secondary">
    {% endfor %}
{% else %}
    <div class="text-center">자료가 없습니다.</div>
    <hr class="border-secondary">
{% endif %}

{% with target_id='collapseComment' %}
    {% if page_obj.has_next or page_obj.has_previous %}
        {% include 'psat/v4/snippets/pagination.html' %}
    {% endif %}
{% endwith %}

{% partialdef button_reload %}
    <button class="btn btn-sm btn-outline-success" title="{% trans 'Reload' %}"
            hx-get="{% url 'psat:comment_container' problem_id %}">
        <i class="fa-solid fa-rotate-right"></i> 새로고침
    </button>
{% endpartialdef button_reload %}

{% partialdef modal_comment_create %}
    <button class="btn btn-sm btn-outline-success" title="{% trans 'Comment' %}"
            hx-get="{% url 'psat:comment_create' problem_id %}"
            hx-target="#modalContainer" data-bs-toggle="modal" data-bs-target="#modalContainer">
        {{ icon_question.filter|safe }} 질문하기
    </button>
{% endpartialdef modal_comment_create %}