{% load i18n %}
{% load partials %}

<div id="problemCardHeader" class="card-header htmx-fade-in htmx-fade-out">
    질문 리스트
    <a class="text-decoration-none ms-2" href=""
       hx-indicator="#commentIndicator"
       hx-target="#problemCard" hx-swap="innerHTML swap:0.25s"
       hx-get="{% url 'psat:comment_list' %}">
        <span class="badge rounded-pill text-bg-warning">새로고침</span>
    </a>
    <div id="commentIndicator" role="status"
         class="htmx-indicator spinner-border text-warning spinner-border-sm">
        <span class="visually-hidden">Loading...</span>
    </div>
</div>

<div class="card-body">
    <article class="table-responsive">
        <table class="table small align-middle m-0">
            <tbody hx-target="#main">
                {% partial comment_contents %}
            </tbody>
        </table>
    </article>

    {% if page_obj.has_next or page_obj.has_previous %}
        {% include 'psat/v4/snippets/pagination.html' with target_id='problemCard' %}
    {% endif %}
</div>

{% partialdef comment_contents %}
    {% if page_obj %}
        {% for comment in page_obj %}
            <tr>
                {% with problem_id=comment.problem_id problem=comment %}
                    <td class="text-nowrap p-2 col-1 fs-6" aria-label="Reference">
                        <div class="align-middle d-inline-block fs-6 pe-1">
                            {% include 'psat/v4/snippets/icon_container.html' %}
                        </div>
                        <div class="align-middle d-inline-block fs-6" hx-push-url="true">
                            {% include 'psat/v4/snippets/problem_list_reference.html' %}
                        </div>
                    </td>
                    <td class="text-nowrap p-2 fs-6" aria-label="Title">
                        <a class="text-decoration-none text-secondary" hx-boost="true"
                           hx-swap="innerHTML swap:0.25s" hx-target="#main" hx-push-url="true"
                           href="{% url 'psat:comment_detail' comment.id %}">
                            {% if comment.parent %}
                                <span class="text-primary">{{ icon_board.reply|safe }}</span>
                            {% endif %}
                            {{ comment.title }}
                        </a>
                    </td>
                    <td class="text-nowrap text-end p-2 fs-6" aria-label="Username & Timestamp">
                        {% with username=comment.username target_user=comment.user %}
                            {% include 'psat/v4/snippets/username.html' %}
                        {% endwith %}
                        <span class="small text-secondary ms-1">
                            {{ comment.timestamp|date:'n/j(D) H:i' }}
                        </span>
                    </td>
                {% endwith %}
            </tr>
        {% endfor %}
    {% else %}
        <tr>
            <td class="text-center text-nowrap px-2" colspan="5">
                {% trans 'No comments available' %}
            </td>
        </tr>
    {% endif %}
{% endpartialdef comment_contents %}
