{% load static %}
{% load i18n %}
{% load slippers %}
{% load partials %}
{% load psat_filter %}

<article id="detail_nav_container" class="flex-nowrap input-group me-2"
         hx-target="#main" hx-swap="innerHTML swap:0.25s" hx-push-url="true">
    <a id="problem_list" class="btn btn-{{ info.color }}"
       href="{% url 'psat:base' %}"
       hx-get="{% url 'psat:base' %}{{ url_options }}"
       hx-push-url="{% url 'psat:base' %}">
        {{ icon_nav.left_arrow|safe }}
    </a>

    {% if prev_prob %}
        <a class="btn btn-{{ info.color }}" href="{% url 'psat:detail' prev_prob.id %}"
           hx-push-url="{% url 'psat:detail' prev_prob.id %}"
           hx-get="{% url 'psat:detail' prev_prob.id %}{{ url_options }}">
            {{ icon_nav.prev_prob|safe }}
        </a>
    {% else %}
        <a class="btn btn-{{ info.color }} text-{{ info.color }}">{{ icon_nav.prev_prob|safe }}</a>
    {% endif %}

    {% if next_prob %}
        <a class="btn btn-{{ info.color }}" href="{% url 'psat:detail' next_prob.id %}"
           hx-push-url="{% url 'psat:detail' next_prob.id %}"
           hx-get="{% url 'psat:detail' next_prob.id %}{{ url_options }}">
            {{ icon_nav.next_prob|safe }}
        </a>
    {% else %}
        <a class="btn btn-{{ info.color }} text-{{ info.color }}">{{ icon_nav.next_prob|safe }}</a>
    {% endif %}

    <a id="detailListProblem" href="" role="button" class="btn btn-circle btn-primary dropdown-toggle"
       data-bs-toggle="dropdown" aria-expanded="false" hx-push-url="false"
       hx-get="{% url 'psat:detail_list' 'problem' %}?problem_id={{ problem.id }}" hx-target="#detailListProblemContents">
        {{ icon_nav.list|safe }}
    </a>
    <div class="dropdown-menu" aria-labelledby="detailListProblem">
        <div id="detailListProblemContents" class="dropdown p-2" role="option">
        </div>
    </div>

    <a id="detailListRate" href="" role="button" class="btn btn-circle btn-primary dropdown-toggle"
       data-bs-toggle="dropdown" aria-expanded="false" hx-push-url="false"
       hx-get="{% url 'psat:detail_list' 'rate' %}" hx-target="#detailListRateContents">
        {{ icon_rate.white|safe }}
    </a>
    <div class="dropdown-menu" aria-labelledby="detailListRate">
        <div id="detailListRateContents" class="dropdown p-2" role="option">
        </div>
    </div>

    <a id="detailListLike" href="" role="button" class="btn btn-circle btn-primary dropdown-toggle"
       data-bs-toggle="dropdown" aria-expanded="false" hx-push-url="false"
       hx-get="{% url 'psat:detail_list' 'like' %}" hx-target="#detailListLikeContents">
        {{ icon_like.white|safe }}
    </a>
    <div class="dropdown-menu" aria-labelledby="detailListLike">
        <div id="detailListLikeContents" class="dropdown p-2" role="option">
        </div>
    </div>

    <a id="detailListSolve" href="" role="button" class="btn btn-circle btn-primary dropdown-toggle"
       data-bs-toggle="dropdown" aria-expanded="false" hx-push-url="false"
       hx-get="{% url 'psat:detail_list' 'solve' %}" hx-target="#detailListSolveContents">
        {{ icon_solve.white|safe }}
    </a>
    <div class="dropdown-menu" aria-labelledby="detailListSolve">
        <div id="detailListSolveContents" class="dropdown p-2" role="option">
        </div>
    </div>

    <a id="detailListMemo" href="" role="button" class="btn btn-circle btn-primary dropdown-toggle"
       data-bs-toggle="dropdown" aria-expanded="false" hx-push-url="false"
       hx-get="{% url 'psat:detail_list' 'memo' %}" hx-target="#detailListMemoContents">
        {{ icon_memo.white|safe }}
    </a>
    <div class="dropdown-menu" aria-labelledby="detailListMemo">
        <div id="detailListMemoContents" class="dropdown p-2" role="option">
        </div>
    </div>

    <a id="detailListTag" href="" role="button" class="btn btn-circle btn-primary dropdown-toggle"
       data-bs-toggle="dropdown" aria-expanded="false" hx-push-url="false"
       hx-get="{% url 'psat:detail_list' 'tag' %}" hx-target="#detailListTagContents">
        {{ icon_tag.white|safe }}
    </a>
    <div class="dropdown-menu" aria-labelledby="detailListTag">
        <div id="detailListTagContents" class="dropdown p-2" role="option">
        </div>
    </div>
</article>

{% partialdef nav_problem_list %} {# nav_problem_list partial #}
<div class="container" style="min-width: 300px;">
    <div class="row justify-content-center p-2 text-bg-primary fw-bold">
        {{ problem.psat.year }}년 {{ problem.psat.exam.name }} {{ problem.psat.subject }}
    </div>
    <div class="row justify-content-center">
        {% if problem.psat.exam.abbr == '칠급' or problem.psat.exam.abbr == '민경' or problem.psat.subject.abbr == '헌법' %}
            {% with problem_count=25 %}
                {% partialdef filtered_content inline=True %} {# filtered_content partial #}
                    {% for _ in '_'|ljust:problem_count %}
                            <div class="col-2 text-center small p-1">
                                <a href="{% url 'psat:detail' problem.number|subtract:problem.id|add:forloop.counter %}"
                                   hx-boost="true"
                                   class="p-1 dropdown-item text-nowrap text-center
                                   {% if forloop.counter == problem.number %} active{% endif %}">
                                    {{ forloop.counter }}번
                                </a>
                            </div>
                            {% if forloop.counter|divisibleby:5 %}
                        </div>
                        <div class="row justify-content-center">
                            {% endif %}
                    {% endfor %}
                {% endpartialdef filtered_content %}
            {% endwith %}
        {% else %}
            {% with problem_count=40 %}{% partial filtered_content %}{% endwith %}
        {% endif %}
    </div>
</div>
{% endpartialdef nav_problem_list %}

{% partialdef nav_other_list %} {# nav_other_list partial #}
<div class="container" style="min-width: 300px;">
    {% if list_title %}
        <div class="row justify-content-center p-2 text-bg-{{ info.color }} fw-bold">
            {{ list_title }}
        </div>
    {% endif %}
    {% if not list_data %}
        <div class="col-12 text-center text-danger p-3">자료가 없습니다.</div>
    {% endif %}
    {% for data in list_data %}
        {% if forloop.counter0|divisibleby:5 %}
            </div>
        {% ifchanged %}
            {% if forloop.counter0 != 0 %}
            <hr class="m-1">
            {% endif %}
            <div class="row justify-content-center p-2 text-{{ info.color }} fw-bold">
                {{ data.exam_name }}
            </div>
        {% endifchanged %}
            <div class="row justify-content-center p-2">
        {% endif %}
        {% if data %}
            <div class="col-2 text-center p-0">
                <a href="{{ data.problem_url }}" hx-get="{{ data.problem_url }}"
                   class="p-1 dropdown-item text-nowrap text-center
                   {% if data.problem_id == problem.id %} active{% endif %}">
                    {{ data.problem_number }}번
                </a>
            </div>
        {% else %}
            <div class="col-2 text-center p-0"> </div>
        {% endif %}
    {% endfor %}
</div>
{% endpartialdef nav_other_list %}
