{% load i18n %}
{% load slippers %}
{% load partials %}
{% load crispy_forms_tags %}

<div id="problemCardHeader" class="card-header htmx-fade-in htmx-fade-out">
    {{ sub_title|safe }}
</div>

<div class="card-body">
    <div id="problemFilter" class="accordion htmx-fade-in htmx-fade-out">
        {% partial problem_filter %}
    </div>

    <div id="problemContent" class="htmx-fade-in htmx-fade-out">
        <article class="table-responsive">
            <table class="table small align-middle m-0">
                <tbody>
                    {% partial problem_contents %}
                </tbody>
            </table>
        </article>

        {% if page_obj.has_next or page_obj.has_previous %}
            {% include 'psat/v4/snippets/pagination.html' with target_id='problemCard' %}
        {% endif %}
    </div>
</div>

{% partialdef problem_filter %}
    <div class="accordion-item">
        <h2 class="accordion-header">
            <button class="accordion-button fw-bold" type="button"
                    data-bs-toggle="collapse" data-bs-target="#collapseOne"
                    aria-expanded="true" aria-controls="collapseOne">
                문제 필터
            </button>
        </h2>
        <div id="collapseOne" class="accordion-collapse collapse show"
             data-bs-parent="#problemFilter">
            <div class="accordion-body pb-2">
                <form class="row row-cols-auto g-2 align-items-center justify-content-center"
                      method="get" hx-trigger="change" hx-target="#problemCard"
                      hx-get="{{ base_url }}" hx-push-url="false">
                    <a type="button" class="btn btn-outline-primary m-1"
                       href="{{ base_url }}" hx-boost="true">
                        전체 문제
                    </a>
                    {{ form|crispy }}
                    <input id="id_data" type="text" name="keyword"
                           value="{{ keyword }}" hidden
                           placeholder="{% trans 'Enter search keyword' %}"
                           title="{% trans 'Enter search keyword' %}">
                </form>
            </div>
        </div>
    </div>
{% endpartialdef problem_filter %}

{% partialdef problem_contents %}
    {% if page_obj %}
        {% for problem in page_obj %}
            {% ifchanged %}
                <tr class="table-warning">
                    <td class="text-center text-nowrap text-primary p-2">
                        <h2 class="fs-6 fw-bold m-0">
                            {% if info.view_type == 'problem' %}
                                <a href="" hx-boost="true" hx-push-url="false" hx-target="#problemCard"
                                   hx-get="{{ base_url }}year={{ problem.year }}&ex={{ problem.ex }}&sub={{ problem.sub }}">
                                    {{ problem.year }}년 {{ problem.exam }} {{ problem.subject }}
                                </a>
                            {% else %}
                                {{ problem.year }}년 {{ problem.exam }} {{ problem.subject }}
                            {% endif %}
                        </h2>
                    </td>
                </tr>
            {% endifchanged %}
            <tr>
                <td class="text-nowrap py-2 px-0">
                    {% with problem_id=problem.id %}
                        <div class="align-middle d-inline-block fs-6 pe-1">
                            {% include 'psat/v4/snippets/icon_container.html' %}
                        </div>
                        <div class="align-middle d-inline-block fs-6" hx-push-url="true">
                            <div class="d-block d-md-inline-block pb-1 pb-md-0 pe-md-1">
                                {% include 'psat/v4/snippets/problem_list_reference.html' %}
                            </div>
                            <div class="d-block d-md-inline-block">
                                {% include 'psat/v4/snippets/problem_list_question.html' %}
                            </div>
                        </div>
                    {% endwith %}
                </td>
            </tr>
        {% endfor %}
    {% else %}
        <tr>
            <td class="text-center text-nowrap px-2" colspan="5">자료가 없습니다.</td>
        </tr>
    {% endif %}
{% endpartialdef problem_contents %}