{% load i18n %}
{% load psat_filter %}
{% load taggit_templatetags2_tags %}
{% load partials %}

<div hx-swap-oob="innerHTML:#psatTag{{ problem.id }}">
    {% if my_tag %}
        {{ icon_tag.true|safe }}
    {% else %}
        {{ icon_tag.false|safe }}
    {% endif %}
</div>

<hr class="border-secondary mt-0">
{% if my_tag %}
    {% partial tag_content %}
{% else %}
    {% partial create_form %}
{% endif %}

{% if user.is_admin %}
    {% partial all_tags %}
{% endif %}

{% partialdef tag_content %}
    <form class="mb-2">
        <div class="input-group">
            <input name="problem" type="text" class="tag-info"
                   value="{{ my_tag.problem.id }}" aria-label="Problem" hidden/>
            <input name="tags" type="text" aria-label="Tag input" required
                   class="form-control form-control-sm" placeholder="{% trans 'Leave tags' %}"/>
            <button class="btn btn-sm btn-outline-primary"
                    hx-post="{% url 'psat:tag_add' my_tag.id %}"
                    hx-include=".tag-info" hx-target="#containerTag">
                {% trans 'Add' %}
            </button>
        </div>
    </form>

    <div class="d-flex align-items-start">
        <div class="border-start border-secondary-subtle ps-2">
            {% get_sorted_tags_for_object my_tag as "tags" %}
            {% for tag in tags %}
                <div class="btn-group">
                    <span class="badge rounded-pill text-bg-light dropdown-toggle" type="button"
                          data-bs-toggle="dropdown" aria-expanded="false">{{ tag }}</span>
                    <ul class="dropdown-menu">
                        <li>
                            <button class="dropdown-item" title="{% trans 'Tag Cloud' %}" href="#">
                                {{ PSAT_ICON_SET.tag|safe }}
                                {% trans 'Tag Cloud' %}
                            </button>
                        </li>
                        <li>
                            <button class="dropdown-item" title="{% trans 'Delete Tag' %}" href=""
                                    hx-post="{% url 'psat:tag_delete' my_tag.id tag %}"
                                    hx-confirm="{% trans 'Are you sure you wish to delete your tag?' %}">
                                <i class="fa-solid fa-xmark"></i>
                                {% trans 'Delete Tag' %}
                            </button>
                        </li>
                    </ul>
                </div>
            {% endfor %}
        </div>
    </div>
{% endpartialdef tag_content %}

{% partialdef create_form %}
    <form class="mb-2"
          hx-post="{% url 'psat:tag_create' problem.id %}">
        <div class="input-group">
            <input name="user_id" type="text"
                   value="{{ user.id }}" aria-label="User" hidden/>
            <input name="problem" type="text"
                   value="{{ problem.id }}" aria-label="Problem" hidden/>
            <input name="tags" type="text" aria-label="Tag input" required
                   class="form-control form-control-sm" placeholder="{% trans 'Leave tags' %}"/>
            <button type="submit" class="btn btn-sm btn-outline-primary">
                {% trans 'Create' %}
            </button>
        </div>
    </form>
{% endpartialdef create_form %}

{% partialdef all_tags %}
    <div id="allTags" class="pt-2 htmx-fade-in htmx-fade-out">
        <div class="badge bg-primary mb-2">
            <i class="fa-solid fa-tag fa-fw text-white"></i> ALL TAGS
        </div>
        <div class="d-flex align-items-start">
            {% if all_tags %}
                <div class="border-start border-secondary-subtle ps-2">
                    {% for tag in all_tags %}
                    <div class="btn-group">
                        <span class="badge rounded-pill text-bg-light dropdown-toggle" type="button"
                              data-bs-toggle="dropdown" aria-expanded="false">{{ tag }}</span>
                        <ul class="dropdown-menu">
                            <li>
                                <button class="dropdown-item" title="{% trans 'Tag Cloud' %}" href="">
                                    {{ PSAT_ICON_SET.tag|safe }}
                                    {% trans 'Tag Cloud' %}
                                </button>
                            </li>
                            {% if not my_tag_list or tag not in my_tag_list %}
                            <li>
                                <form>
                                    <input name="tags" type="text" value="{{ tag }}" aria-label="Tag input"
                                           class="form-control form-control-sm" hidden/>
                                    <button class="dropdown-item" href="" hx-include=".tag-info"
                                            hx-post="{% url 'psat:tag_add' my_tag.id %}"
                                            hx-target="#detailTag" hx-swap="innerHTML">
                                        <i class="fa-solid fa-plus"></i>
                                        {% trans 'Add to my tags' %}
                                    </button>
                                </form>
                            </li><!-- Add to My Tags End -->
                            {% endif %}
                        </ul>
                    </div>
                    {% endfor %}
                </div>
            {% endif %}
        </div>
    </div><!-- All Tags End -->
{% endpartialdef all_tags %}