{% extends 'list.html' %}
{% load i18n %}
{% load psat_filter %}
{% load taggit_templatetags2_tags %}
{% load partials %}

{% block main %}
{% partialdef tag_main inline=True %}
<div class="card-body" hx-swap="innerHTML swap:0.25s">
    <div id="accordionTag" class="accordion accordion-flush">
        <div class="accordion-item">
            <h2 id="headingTag" class="accordion-header">
                <button class="accordion-button" type="button"
                        data-bs-toggle="collapse" data-bs-target="#collapseTag"
                        aria-expanded="true" aria-controls="collapseTag">
                    <span class="badge bg-primary">{{ icon_tag.white|safe }} 태그</span>
                </button>
            </h2>
            <div id="collapseTag" class="accordion-collapse collapse show"
                 aria-labelledby="headingTag" data-bs-parent="#accordionTag">
                {% if my_tag %}
                    <form class="mb-2">
                        <div class="input-group">
                            <input name="user_id" type="text" class="tag-info"
                                   value="{{ my_tag.user_id }}" aria-label="User" hidden/>
                            <input name="problem" type="text" class="tag-info"
                                   value="{{ my_tag.problem.id }}" aria-label="Problem" hidden/>
                            <input name="tags" type="text" aria-label="Tag input" required
                                   class="form-control form-control-sm" placeholder="{% trans 'Leave tags' %}"/>
                            <button class="btn btn-sm btn-outline-primary"
                                    hx-post="{% url 'psat:tag_add' my_tag.id %}"
                                    hx-include=".tag-info" hx-target="#containerTag">
                                {% trans 'Add' %}
                            </button>
                        </div>
                    </form>
                    <div class="d-flex align-items-start">
                        <div class="border-start border-secondary-subtle ps-2">
                            {% get_sorted_tags_for_object my_tag as "tags" %}
                            {% for tag in tags %}
                                <div class="btn-group">
                                    <span class="badge rounded-pill text-bg-light dropdown-toggle" type="button"
                                          data-bs-toggle="dropdown" aria-expanded="false">{{ tag }}</span>
                                    <ul class="dropdown-menu">
                                        <li>
                                            <button class="dropdown-item" title="{% trans 'Tag Cloud' %}" href="#">
                                                {{ PSAT_ICON_SET.tag|safe }}
                                                {% trans 'Tag Cloud' %}
                                            </button>
                                        </li>
                                        <li>
                                            <button class="dropdown-item" title="{% trans 'Delete Tag' %}" href=""
                                                    hx-post="{% url 'psat:tag_delete' my_tag.id tag %}"
                                                    hx-confirm="{% trans 'Are you sure you wish to delete your tag?' %}"
                                                    hx-target="#containerTag">
                                                <i class="fa-solid fa-xmark"></i>
                                                {% trans 'Delete Tag' %}
                                            </button>
                                        </li>
                                    </ul>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                {% else %}
                    <form class="mb-2" hx-target="#containerTag"
                          hx-post="{% url 'psat:tag_create' problem.id %}">
                        <div class="input-group">
                            <input name="user_id" type="text"
                                   value="{{ user.id }}" aria-label="User" hidden/>
                            <input name="problem" type="text"
                                   value="{{ problem.id }}" aria-label="Problem" hidden/>
                            <input name="tags" type="text" aria-label="Tag input" required
                                   class="form-control form-control-sm" placeholder="{% trans 'Leave tags' %}"/>
                            <button type="submit" class="btn btn-sm btn-outline-primary">
                                {% trans 'Create' %}
                            </button>
                        </div>
                    </form>
                {% endif %}

                {% if user.is_admin %}
                    <div id="allTags" class="pt-2 htmx-fade-in htmx-fade-out">
                        <div class="badge bg-primary mb-2">
                            <i class="fa-solid fa-tag fa-fw text-white"></i> ALL TAGS
                        </div>
                        <div class="d-flex align-items-start">
                            {% if all_tags %}
                                <div class="border-start border-secondary-subtle ps-2">
                                    {% for tag in all_tags %}
                                    <div class="btn-group">
                                        <span class="badge rounded-pill text-bg-light dropdown-toggle" type="button"
                                              data-bs-toggle="dropdown" aria-expanded="false">{{ tag }}</span>
                                        <ul class="dropdown-menu">
                                            <li>
                                                <button class="dropdown-item" title="{% trans 'Tag Cloud' %}" href="">
                                                    {{ PSAT_ICON_SET.tag|safe }}
                                                    {% trans 'Tag Cloud' %}
                                                </button>
                                            </li>
                                            {% if not my_tag_list or tag not in my_tag_list %}
                                            <li>
                                                <form>
                                                    <input name="tags" type="text" value="{{ tag }}" aria-label="Tag input"
                                                           class="form-control form-control-sm" hidden/>
                                                    <button class="dropdown-item" href="" hx-include=".tag-info"
                                                            hx-post="{% url 'psat:tag_add' my_tag.id %}"
                                                            hx-target="#detailTag" hx-swap="innerHTML">
                                                        <i class="fa-solid fa-plus"></i>
                                                        {% trans 'Add to my tags' %}
                                                    </button>
                                                </form>
                                            </li><!-- Add to My Tags End -->
                                            {% endif %}
                                        </ul>
                                    </div>
                                    {% endfor %}
                                </div>
                            {% endif %}
                        </div>
                    </div><!-- All Tags End -->
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% endpartialdef memo_main %}
{% endblock main %}
