{% extends 'a_predict/_base.html' %}
{% load static %}
{% load partials %}

{% block head_title %}{{ sub_title }}{% endblock %}
{% block page_image %}<meta property="og:image" content="{% static 'image/prime/2024/exam/message-1.jpg' %}"/>{% endblock %}

{% block main %}
{{ info|json_script:'info' }}
<div class="pagetitle">
    <h1>{{ icon_menu|safe }} {{ title }}
        <span class="fs-6 text-secondary">{{ sub_title }}</span>
        <a class="btn btn-sm btn-outline-primary ms-2"
           hx-target="#main" hx-swap="innerHTML swap:0.25s" hx-boost="true"
           href="{% url 'predict_new:index' %}">
            일반 페이지
        </a>
    </h1>
    <nav>
        <ol class="breadcrumb" hx-target="#main" hx-swap="innerHTML swap:0.25s" hx-push-url="true">
            <li class="breadcrumb-item">
                <a href="{% url 'index' %}" hx-post="{% url 'index' %}">Home</a>
            </li>
            <li class="breadcrumb-item">
                <a href="{% url 'predict_new:index' %}" hx-boost="true">Predict</a>
            </li>
            <li class="breadcrumb-item">
                <a href="" hx-boost="true">Admin</a>
            </li>
            {% if category == 'PSAT' %}
                <li class="breadcrumb-item">PSAT</li>
                <li class="breadcrumb-item">{{ year }}</li>
                <li class="breadcrumb-item active">{{ ex }}</li>
            {% elif category == 'Prime' %}
                <li class="breadcrumb-item">Prime</li>
                <li class="breadcrumb-item">{{ year }}</li>
                <li class="breadcrumb-item active">제{{ round }}회</li>
            {% endif %}
        </ol>
    </nav>
</div><!-- Page Title End -->

<section class="section">
    <div class="row">
        <div class="col-12">
            <div id="statistics" class="card" hx-target="#main" hx-swap="innerHTML swap:0.25s">
                {% include 'a_predict/snippets/admin_detail_statistics.html' %}
            </div>
        </div>

        <div class="col-12">
            <div id="catalog" class="card htmx-fade-in htmx-fade-out" hx-swap="innerHTML swap:0.25s">
                {% include 'a_predict/snippets/admin_detail_catalog.html' %}
            </div>
        </div>

        <div class="col-12">
            <div id="answer_analysis" class="card" hx-target="#main" hx-swap="innerHTML swap:0.25s">
                {% include 'a_predict/snippets/admin_detail_answer.html' %}
            </div>
        </div>
    </div>
</section>
{% endblock main %}
