{% extends 'a_predict/_predict_base.html' %}
{% load static %}
{% load i18n %}

{% block main %}
{{ info|json_script:'info' }}
<div class="pagetitle" hx-target="#main" hx-swap="innerHTML swap:0.25s" hx-boost="true">
    <h1>{{ icon_menu|safe }} {{ title }}
        <span class="fs-6 text-secondary">{{ sub_title }}</span>
        {% if user.is_staff %}
            <a class="btn btn-sm btn-outline-primary ms-2" href="{% url 'predict:admin-list' %}">
                관리자 페이지
            </a>
        {% endif %}
    </h1>
    <nav>
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="{% url 'index' %}">Home</a>
            </li>
            <li class="breadcrumb-item">
                <a class="active" href="{% url 'predict:index' %}">Predict</a>
            </li>
            <li class="breadcrumb-item">{{ exam.get_year_display }}</li>
        </ol>
    </nav>
</div><!-- Page Title End -->

<section class="section htmx-fade-in htmx-fade-out" hx-target="#main" hx-swap="innerHTML swap:0.25s">
    <div class="row">
        <div class="col-12">
            {% if exam.exam == '칠급' %}
                {% include '_banner/predict_psat_2024_chilgeup.html' %}
            {% elif exam.exam == '경위' %}
                {% include '_banner/predict_police_2025.html' %}
            {% endif %}
        </div>

        <div class="col-12">
            <div class="card">
                <div class="card-header d-flex align-items-center m-0">
                    <span class="text-primary">
                        {{ exam.get_exam_display }}{% if exam.exam == '경위' %}(일반 직렬){% endif %} 수험정보
                    </span>
                    {% include 'snippets/button_back_navigator.html' %}
                </div>
                <div class="card-body p-4">
                    <div id="infoStudent" class="htmx-fade-in htmx-fade-out">
                        {% include 'a_predict/snippets/create_info_student.html' %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock main %}
