{% extends 'account/base_entrance.html' %}
{% load i18n %}

{% load account socialaccount %}
{% providers_media_js %}

{% block head_title %}{% trans "Welcome!" %}{% endblock head_title %}
{% block body_title %}{% trans "Welcome!" %}{% endblock body_title %}

{% block body_content %}
    <script id="info" type="application/json">{"menu": "account", "view_type": "login"}</script>
    {% get_providers as socialaccount_providers %}
    <form method="post" action="{% url 'account_login' %}" class="row g-3">
        {% csrf_token %}
        {% if redirect_field_value %}
            <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
        {% endif %}

        {% for _ in '01' %}
            {% cycle form.login form.password as field silent %}
            <div class="col-12">
                <div class="form-floating">
                    {{ field }}
                    <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                </div>
            </div>
        {% endfor %}

        <div class="col-12">
            <div class="form-check">
                {{ form.remember }}
                <label for="{{ form.remember.id_for_label }}" class="form-check-label">
                    {{ form.remember.label }}</label>
            </div>
        </div>

        <div class="col-12">
            <button class="btn btn-primary w-100" type="submit">
                {% trans 'Sign In' %}
            </button>
        </div>
    </form>

    <form method="post" action="{% provider_login_url 'google' %}" class="row my-3">
        {% csrf_token %}
        <div class="col-12">
            <button class="btn btn-danger w-100" type="submit">
                {% trans 'Continue with Google' %}
            </button>
        </div>
    </form>
{% endblock body_content %}
