{% extends 'account/base.html' %}
{% load static %}
{% load i18n %}
{% load widget_tweaks %}

{% load account socialaccount %}
{% providers_media_js %}

{% block body_title %}{% trans "Welcome!" %}{% endblock body_title %}

{% block content %}
<script id="info" type="application/json">{"menu": "account", "view_type": "login"}</script>
{% get_providers as socialaccount_providers %}
    <form method="post" action="{% url 'account_login' %}" class="row g-3">
        {% csrf_token %}
        {% if redirect_field_value %}
            <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
        {% endif %}
        <div class="col-12">
            <div class="form-floating">
                {% render_field form.login class="form-control form-control-sm" %}
                <label for="id_login">
                    {% trans 'E-mail' %}
                </label>
            </div>
        </div>

        <div class="col-12">
            <div class="form-floating">
               {% render_field form.password class="form-control form-control-sm" %}
                <label for="id_password">
                    {% trans 'Password' %}
                </label>
            </div>
        </div>

        {% if redirect_field_value %}
            <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
        {% endif %}

        <div class="col-12">
            <div class="form-check">
                <input class="form-check-input" type="checkbox" name="remember"
                       value="true" id="id_remember">
                <label class="form-check-label" for="id_remember">{% trans 'Remember Me'%}</label>
            </div>
        </div>

        <div class="col-12">
            <button class="btn btn-primary w-100" type="submit">
                {% trans 'Sign In' %}
            </button>
        </div>
    </form>

    <form method="post" action="{% provider_login_url 'google' %}" class="row my-3">
        {% csrf_token %}
        <div class="col-12">
            <button class="btn btn-danger w-100" type="submit">
                {% trans 'Continue with Google' %}
            </button>
        </div>
    </form>
{% endblock content %}
