{% extends "account/base.html" %}
{% load i18n %}

{% block head_title %}{% trans "Change Password" %}{% endblock %}
{% block body_title %}{% trans "Change Password" %}{% endblock body_title %}

{% block content %}
    {% if not messages %}
        <div class="alert alert-success alert-dismissible fade show text-center fw-bold small" role="alert">
            {% trans 'Password successfully changed.' %}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    {% endif %}
{% endblock %}
