{% extends "account/base.html" %}
{% load static %}
{% load i18n %}
{% load widget_tweaks %}
{% load account %}

{% block head_title %}{% trans "Password Reset" %}{% endblock %}
{% block main_image %}<div class="col-lg-6 d-none d-lg-block bg-login-image"></div>{% endblock %}

{% block content %}
    <div class="text-center">
        <h1 class="h4 text-gray-900 mb-4">{% trans "Password Reset" %}</h1>
    </div>
    {% if user.is_authenticated %}
        {% include "account/snippets/already_logged_in.html" %}
    {% endif %}

    <div class="alert alert-danger btn-user text-center font-weight-bold" role="alert">
        {% trans "Forgotten your password? Enter your e-mail address below, and we'll send you an e-mail allowing you to reset it." %}
    </div>

    <div class="form-group">
        <form method="POST" action="{% url 'account_reset_password' %}" class="password_reset user">
            {% csrf_token %}
            {% render_field form.email placeholder='이메일을 입력해주세요' class='form-group form-control form-control-user' %}
            <input type="submit" value="{% trans 'Reset My Password' %}" class="btn btn-primary btn-user btn-block"/>
        </form>
    </div>
    <div class="alert alert-danger btn-user text-center font-weight-bold" role="alert">
        {% blocktrans %}Please contact us if you have any trouble resetting your password.{% endblocktrans %}
    </div>
{% endblock %}

{% block footer %}{% endblock footer %}
