{% extends "account/base.html" %}
{% load widget_tweaks %}
{% load i18n %}

{% block head_title %}{% trans "Change Password" %}{% endblock %}
{% block body_title %}{% trans "Change Password" %}{% endblock body_title %}

{% block content %}
<script id="info" type="application/json">{"menu": "account", "view_type": "password"}</script>
<form method="POST" action="{% url 'account_change_password' %}" class="row g-3">
    {% csrf_token %}
    <input name="username" value="{{ user.username }}" aria-label="Username" autocomplete="username" hidden/>
    <div class="col-12">
        <div class="form-floating">
           {% render_field form.oldpassword class="form-control form-control-sm" %}
            <label for="{{ form.oldpassword.auto_id }}">
                {% trans 'Current Password' %}
            </label>
        </div>
    </div>
    <div class="col-12">
        <div class="form-floating">
           {% render_field form.password1 class="form-control form-control-sm" %}
            <label for="{{ form.password1.auto_id }}">
                {% trans 'New Password' %}
            </label>
        </div>
    </div>
    <div class="col-12">
        <div class="input-group">
            <div class="form-floating">
               {% render_field form.password2 class="form-control form-control-sm" autocomplete='new-password' %}
                <label for="{{ form.password2.auto_id }}">
                    {% trans 'New Password (again)' %}
                </label>
            </div>
            <button type="submit" class="btn btn-primary" name="action">
                {% trans "Submit" %}
            </button>
        </div>
    </div>
    <div class="col-12 help_text" id="{{ form.password1.auto_id }}_helptext">
        <span class="badge bg-success"><i class="fa-regular fa-circle-check"></i> 참고</span>
        {{ form.password1.help_text|safe }}
    </div>
    <div class="text-center">
        <a href="{% url 'account_reset_password' %}">{% trans "Forgot Password?" %}</a>
    </div>
</form>
{% endblock %}
