{% extends "account/base_entrance.html" %}
{% load i18n %}

{% block head_title %}
    {% if token_fail %}{% trans "Bad Token" %}{% else %}{% trans "Password Reset" %}{% endif %}
{% endblock %}
{% block body_title %}
    {% if token_fail %}{% trans "Bad Token" %}{% else %}{% trans "Password Reset" %}{% endif %}
{% endblock body_title %}

{% block body_content %}
    <script id="info" type="application/json">{"menu": "account"}</script>
    {% if token_fail %}
        <p>
            비밀번호 초기화 링크가 올바르지 않습니다.<br/>
            <a href="{% url 'account_reset_password' %}">비밀번호 초기화</a>를 다시 요청하세요.
        </p>
    {% else %}
        <div class="col-12">
            <div class="alert alert-danger text-center fw-bold small alert-dismissible fade show" role="alert">
                <span class="text-danger">*</span> 표시가 된 부분은 필수 입력 항목입니다.
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        </div>

        <form method="POST" action="{{ action_url }}" class="row g-3 mb-3">
            {% csrf_token %}
            {{ redirect_field }}

            {% for field in form %}
                {% if field.name != 'address' %}
                    <div class="col-12 form-field-container">
                        <div class="form-floating required-field">
                            {{ field }}
                            <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                        </div>
                        {% if field.help_text %}
                            {{ field.help_text }}
                        {% endif %}
                    </div>
                {% else %}
                    {{ field }}
                {% endif %}
            {% endfor %}

            <div class="col-12">
                <button class="btn btn-primary w-100" type="submit">비밀번호 초기화</button>
            </div>
        </form>

        <p>
            비밀번호 초기화에 문제가 있으시면 아래로 연락주세요.<br/>
            관리자 메일: <a href="mailto:paedison.com@gmail.com">paedison.com@gmail.com</a>
        </p>
    {% endif %}
{% endblock %}
