{% extends "account/base_entrance.html" %}
{% load i18n %}

{% block head_title %}{% trans "Password Reset" %}{% endblock head_title %}
{% block body_title %}{% trans "Password Reset" %}{% endblock body_title %}

{% block body_content %}
    <script id="info" type="application/json">{"menu": "account"}</script>
    <p>
        비밀번호가 변경되었습니다.<br/>
        변경하신 비밀번호로 로그인해주세요.
    </p>
    <div class="col-12 mb-3">
        <a class="btn btn-primary w-100" href="{% url 'account_login' %}">{% trans 'Login' %}</a>
    </div>
{% endblock body_content %}
