{% extends "account/base.html" %}
{% load widget_tweaks %}
{% load i18n %}

{% block head_title %}{% trans "Change Password" %}{% endblock %}
{% block body_title %}
    {% if token_fail %}{% trans "Bad Token" %}{% else %}{% trans "Change Password" %}{% endif %}
{% endblock body_title %}

{% block content %}
<script id="info" type="application/json">{"menu": "account", "view_type": "password"}</script>
    {% if token_fail %}
        {% url 'account_reset_password' as passwd_reset_url %}
        <div class="alert alert-danger alert-dismissible fade show text-center fw-bold small" role="alert">
            {% blocktrans %}The password reset link was invalid, possibly because it has already been used.  Please request a <a href="{{ passwd_reset_url }}">new password reset</a>.{% endblocktrans %}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    {% else %}
        <form method="POST" action="{{ action_url }}" class="row g-3 mb-3">
            {% csrf_token %}
            <div class="col-12">
                <div class="form-floating">
                   {% render_field form.password1 class="form-control form-control-sm" %}
                    <label for="{{ form.password1.auto_id }}">
                        {% trans 'New Password' %}
                    </label>
                </div>
            </div>
            <div class="col-12">
                <div class="input-group">
                    <div class="form-floating">
                       {% render_field form.password2 class="form-control form-control-sm" autocomplete='new-password' %}
                        <label for="{{ form.password2.auto_id }}">
                            {% trans 'New Password (again)' %}
                        </label>
                    </div>
                    <button type="submit" class="btn btn-primary" name="action">
                        {% trans "Submit" %}
                    </button>
                </div>
            </div>
        </form>
    {% endif %}
{% endblock %}
