{% extends "account/base_entrance.html" %}
{% load i18n %}
{% load account socialaccount %}
{% providers_media_js %}

{% block head_title %}{% trans "Sign Up" %}{% endblock head_title %}
{% block body_title %}{% trans "Sign Up" %}{% endblock body_title %}

{% block body_content %}
    <script id="info" type="application/json">{"menu": "account"}</script>
    <div class="col-12">
        <div class="alert alert-danger text-center fw-bold small alert-dismissible fade show"
             role="alert">
            <span class="text-danger">*</span> 표시가 된 부분은 필수 입력 항목입니다.
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    </div>

    <form method="post" action="{% url 'account_signup' %}" class="row g-3">
        {% csrf_token %}
        {% if redirect_field_value %}
            <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
        {% endif %}

        {% for field in form %}
            {% if field.name != 'address' %}
                <div class="col-12 form-field-container">
                    <div class="form-floating required-field">
                        {{ field }}
                        <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                    </div>
                    {% if field.help_text %}
                        {{ field.help_text }}
                    {% endif %}
                </div>
            {% else %}
                {{ field }}
            {% endif %}
        {% endfor %}

        <div class="col-12">
            <button class="btn btn-primary w-100" type="submit">
                {% trans "Sign Up" %}
            </button>
        </div>
    </form>

    <form method="post" action="{% provider_login_url 'google' %}" class="row my-3">
        {% csrf_token %}
        <div class="col-12">
            <button class="btn btn-danger w-100" type="submit">
                {% trans 'Continue with Google' %}
            </button>
        </div>
    </form>

    <div class="col-12">
        <div class="alert alert-danger text-center fw-bold small alert-dismissible fade show mb-0" role="alert">
            {% blocktrans %}Already have an account? Then please <a href="{{ login_url }}">sign in</a>.{% endblocktrans %}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    </div>
{% endblock body_content %}

{% block footer %}{% endblock footer %}
