{% extends "account/base.html" %}
{% load static %}
{% load i18n %}
{% load widget_tweaks %}

{% load account socialaccount %}
{% providers_media_js %}

{% block head_title %}{% trans "Signup" %}{% endblock %}
{% block body_title %}{% trans "Sign Up" %}{% endblock body_title %}

{% block content %}
    <form method="post" action="{% url 'account_signup' %}" class="row g-3">
        {% csrf_token %}
        <div class="col-12">
            <div class="form-floating">
                {% render_field form.email class="form-control form-control-sm" %}
                <label for="id_email">
                    {% trans 'E-mail' %}
                </label>
            </div>
        </div>

        <div class="col-12">
            <div class="form-floating">
                {% render_field form.username class="form-control form-control-sm" %}
                <label for="id_username">
                    {% trans 'Username' %}
                </label>
            </div>
        </div>

        <div class="col-12">
            <div class="form-floating">
                {% render_field form.password1 class="form-control form-control-sm" %}
                <label for="id_password1">
                    {% trans 'Password' %}
                </label>
            </div>
        </div>

        <div class="col-12">
            <div class="form-floating">
                {% render_field form.password2 class="form-control form-control-sm" %}
                <label for="id_password2">
                    {% trans 'Password (confirmation)' %}
                </label>
            </div>
        </div>

        {% if redirect_field_value %}
            <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
        {% endif %}

        <div class="col-12">
            <button class="btn btn-primary w-100" type="submit">
                {% trans "Sign Up" %}
            </button>
        </div>
    </form>

    <form method="post" action="{% provider_login_url 'google' %}" class="row my-3">
        {% csrf_token %}
        <div class="col-12">
            <button class="btn btn-danger w-100" type="submit">
                {% trans 'Continue with Google' %}
            </button>
        </div>
    </form>

        <div class="col-12">
            <div class="alert alert-danger text-center fw-bold small alert-dismissible fade show"
                 role="alert">
                {% blocktrans %}Already have an account? Then please <a href="{{ login_url }}">sign in</a>.{% endblocktrans %}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        </div>

{% endblock content %}

{% block footer %}{% endblock footer %}
