{% extends "account/base.html" %}
{% load widget_tweaks %}

{% load i18n %}

{% block head_title %}{% trans "Change Username" %}{% endblock %}
{% block body_title %}{% trans "Change Username" %}{% endblock body_title %}

{% block content %}
<script id="info" type="application/json">{"menu": "account", "view_type": "password"}</script>
<form method="POST" action="{% url 'account_change_username' %}" class="row g-3">
    {% csrf_token %}
    <div class="col-12">
        <div class="form-floating">
           {% render_field form.username class="form-control form-control-sm" %}
            <label for="{{ form.username.auto_id }}">
                {% trans 'Enter New Username' %}
            </label>
        </div>
    </div>
    <div class="col-12">
        <div class="form-floating">
            <input type="password" name="password" placeholder="현재 비밀번호" autocomplete="current-password"
                   class="form-control form-control-sm" required="" id="id_password">
            <label for="id_password">
                현재 비밀번호
            </label>
        </div>
    </div>
    <div class="col-12 text-center">
        <a class="btn btn-outline-secondary me-2" href="{% url 'account_profile' %}">
            {% trans "Cancel" %}
        </a>
        <button type="submit" class="btn btn-primary" name="action">
            {% trans "Submit" %}
        </button>
    </div>
</form>
{% endblock %}
