{% extends "account/base_entrance.html" %}
{% load i18n %}

{% block head_title %}{% trans "Change Username" %}{% endblock head_title %}
{% block body_title %}{% trans "Change Username" %}{% endblock body_title %}

{% block body_content %}
    <script id="info" type="application/json">{"menu": "account"}</script>
    <div class="col-12">
        <div class="alert alert-danger text-center fw-bold small alert-dismissible fade show"
             role="alert">
            <span class="text-danger">*</span> 표시가 된 부분은 필수 입력 항목입니다.
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    </div>

    <form method="POST" action="{% url 'account_change_username' %}" class="row g-3">
        {% csrf_token %}
        {% for field in form %}
            <div class="col-12 form-field-container">
                <div class="form-floating required-field">
                    {{ field }}
                    <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                </div>
                {% if field.help_text %}
                    {{ field.help_text }}
                {% endif %}
            </div>
        {% endfor %}

        <div class="col-12">
            <div class="btn-group d-flex" role="group" aria-label="Change password">
                <a class="btn btn-outline-secondary" href="{% url 'account_profile' %}">변경 취소</a>
                <button class="btn btn-primary" type="submit">아이디 변경</button>
            </div>
        </div>
    </form>
{% endblock body_content %}
