{% load psat_filter %}
{% load partials %}
{% load slippers %}

<div class="card-body">
    <h5 class="card-title">답안 확인</h5>

    <nav>
        <div class="nav nav-tabs nav-tabs-colored" id="scoreAnswersTab" role="tablist">
            {% #nav_tab prefix='answer_heonbeob' id='0' %}{{ icon_subject.헌법|safe }} 헌법{% /nav_tab %}
            {% #nav_tab prefix='answer_eoneo' id='1' %}{{ icon_subject.언어|safe }} 언어{% /nav_tab %}
            {% #nav_tab prefix='answer_jaryo' id='2' %}{{ icon_subject.자료|safe }} 자료{% /nav_tab %}
            {% #nav_tab prefix='answer_sanghwang' id='3' %}{{ icon_subject.상황|safe }} 상황{% /nav_tab %}
        </div>
    </nav>

    <div class="tab-content" id="scoreAnswersContent">
        {% with answer_correct=answer_data_correct.헌법 answer_predict=answer_data_predict.헌법 answer_student=answer_data_student.헌법 count_data=answer_student_count.헌법 %}
            {% #nav_content prefix='answer_heonbeob' id='0' %}{% partial predicted_answer_table %}{% /nav_content %}
        {% endwith %}

        {% with answer_correct=answer_data_correct.언어 answer_predict=answer_data_predict.언어 answer_student=answer_data_student.언어 count_data=answer_student_count.언어 %}
            {% #nav_content prefix='answer_eoneo' id='1' %}{% partial predicted_answer_table %}{% /nav_content %}
        {% endwith %}

        {% with answer_correct=answer_data_correct.자료 answer_predict=answer_data_predict.자료 answer_student=answer_data_student.자료 count_data=answer_student_count.자료 %}
            {% #nav_content prefix='answer_jaryo' id='2' %}{% partial predicted_answer_table %}{% /nav_content %}
        {% endwith %}

        {% with answer_correct=answer_data_correct.상황 answer_predict=answer_data_predict.상황 answer_student=answer_data_student.상황 count_data=answer_student_count.상황 %}
            {% #nav_content prefix='answer_sanghwang' id='3' %}{% partial predicted_answer_table %}{% /nav_content %}
        {% endwith %}
    </div>
</div>

{% partialdef predicted_answer_table %} {# predicted_answer_table partial #}
    {% #responsive_table %}
        <tbody>
            {% if count_data.is_confirmed %}
                {% with loop_counter=10 loop_min=0 %}
                    {% partialdef answer_table_tr inline=True %} {# answer_table_tr partial #}
                        <tr class="text-center table-warning">
                            <th class="text-nowrap" scope="row">문제 번호</th>
                            {% for _ in 'x'|ljust:loop_counter %}
                                <th>{{ forloop.counter|add:loop_min }}</th>
                            {% endfor %}
                        </tr>

                        {# answer_correct #}
                        <tr class="text-center">
                            <th class="text-nowrap td-no-border" scope="row">정답</th>
                            {% if not answer_uploaded %}
                                <td colspan="{{ loop_counter }}" class="fw-bold text-bg-success">
                                    답안 공개전입니다.
                                </td>
                            {% else %}
                                {% for answer in answer_correct %}
                                    {% if forloop.counter > loop_min and forloop.counter <= loop_min|add:loop_counter %}
                                        <td class="td-no-border">
                                            {% if answer.ans_number <= 5 %}
                                                <button class="btn btn-circle btn-sm fs-6 mx-1 my-2 btn-success">
                                                    {{ answer.ans_number }}</button>
                                            {% elif answer.ans_number == 12345 %}
                                                <span class="badge rounded-pill text-bg-secondary">
                                                    전체 정답</span>
                                            {% else %}
                                                {% for ans in answer.ans_number_list %}
                                                    <button class="btn btn-circle btn-sm fs-6 my-2 btn-success">
                                                        {{ ans }}</button>
                                                {% endfor %}
                                            {% endif %}
                                        </td>
                                    {% endif %}
                                {% endfor %}
                            {% endif %}
                        </tr>
                        <tr class="text-center">
                            <th class="text-nowrap" scope="row">정답률(%)</th>
                            {% if not answer_uploaded %}
                                <td colspan="{{ loop_counter }}" class="fw-bold text-bg-success">
                                    답안 공개전입니다.
                                </td>
                            {% else %}
                                {% for answer in answer_correct %}
                                    {% if forloop.counter > loop_min and forloop.counter <= loop_min|add:loop_counter %}
                                        <td>
                                            <span data-number="{{ answer.number }}" class="fw-bold text-success">
                                                {{ answer.rate_correct|floatformat:0 }}
                                            </span>
                                        </td>
                                    {% endif %}
                                {% endfor %}
                            {% endif %}
                        </tr>

                        {# answer_student #}
                        <tr class="text-center">
                            <th class="text-nowrap td-no-border" scope="row">선택 답안</th>
                            {% for answer in answer_student %}
                                {% if forloop.counter > loop_min and forloop.counter <= loop_min|add:loop_counter %}
                                    <td class="td-no-border">
                                        {% if not answer_uploaded %}
                                            <button class="btn btn-circle btn-sm btn-outline-secondary fs-6 mx-1 my-2">
                                                {{ answer.ans_number }}</button>
                                        {% else %}
                                            <button class="btn btn-circle btn-sm fs-6 mx-1 my-2
                                                btn-{% if answer.result == 'O' %}success{% else %}danger{% endif %}">
                                                {{ answer.ans_number }}</button>
                                        {% endif %}
                                    </td>
                                {% endif %}
                            {% endfor %}
                        </tr>
                        <tr class="text-center">
                            <th class="text-nowrap" scope="row">선택률(%)</th>
                            {% for answer in answer_student %}
                                {% if forloop.counter > loop_min and forloop.counter <= loop_min|add:loop_counter %}
                                <td>
                                    {% if answer_uploaded %}
                                        <span data-number="{{ answer.number }}"
                                              class="fw-bold
                                              text-{% if answer.result == 'O' %}success{% else %}danger{% endif %}">
                                            {{ answer.rate_selection|floatformat:0 }}
                                        </span>
                                    {% else %}
                                        <span data-number="{{ answer.number }}" class="fw-bold text-secondary">
                                            {{ answer.rate_selection|floatformat:0 }}
                                        </span>
                                    {% endif %}
                                </td>
                                {% endif %}
                            {% endfor %}
                        </tr>

                        {# answer_predict #}
                        <tr class="text-center">
                            <th class="text-nowrap td-no-border" scope="row">예상 정답</th>
                            {% if count_data.participants < min_participants %}
                                <td colspan="{{ loop_counter }}" class="fw-bold text-bg-warning">
                                    답안 수집중입니다.
                                </td>
                            {% else %}
                                {% for answer in answer_predict %}
                                    {% if forloop.counter > loop_min and forloop.counter <= loop_min|add:loop_counter %}
                                        <td class="td-no-border">
                                            <button class="btn btn-circle btn-sm fs-6 mx-1 my-2 btn-warning">
                                                {{ answer.ans_number }}</button>
                                        </td>
                                    {% endif %}
                                {% endfor %}
                            {% endif %}
                        </tr>

                        <tr class="text-center">
                            <th class="text-nowrap" scope="row">정확도(%)</th>
                            {% if count_data.participants < min_participants %}
                                <td colspan="{{ loop_counter }}" class="fw-bold text-bg-warning">
                                    답안 수집중입니다.
                                </td>
                            {% else %}
                                {% for answer in answer_predict %}
                                    {% if forloop.counter > loop_min and forloop.counter <= loop_min|add:loop_counter %}
                                        <td>
                                            <span data-number="{{ answer.number }}" class="fw-bold text-warning">
                                                {{ answer.rate_accuracy|floatformat:0 }}
                                            </span>
                                        </td>
                                    {% endif %}
                                {% endfor %}
                            {% endif %}
                        </tr>
                    {% endpartialdef answer_table_tr %}
                {% endwith %}

                {% with loop_counter=10 loop_min=10 %}
                    {% partial answer_table_tr %}
                {% endwith %}

                {% if ex == '칠급' or answer_student|length == 25  %}
                    {% with loop_counter=5 loop_min=20 %}
                        {% partial answer_table_tr %}
                    {% endwith %}
                {% else %}
                    {% with loop_counter=10 loop_min=20 %}
                        {% partial answer_table_tr %}
                    {% endwith %}

                    {% with loop_counter=10 loop_min=30 %}
                        {% partial answer_table_tr %}
                    {% endwith %}
                {% endif %}
            {% else %}
                <tr class="text-center">
                    <th>
                        <a class="btn btn-outline-danger"
                           href="{% url 'predict:answer_input' count_data.sub %}" hx-boost="true">
                            답안을 제출해주세요.
                        </a>
                    </th>
                </tr>
            {% endif %}
        </tbody>
    {% /responsive_table %}
    {% if count_data.is_confirmed %}
        <div class="my-3">
            <span class="badge bg-success"><i class="fa-regular fa-circle-check"></i> 참고</span><br/>
            <ol class="text-success small fw-bold">
                <li>정답은 공식적으로 정답이 공개된 이후에 확인 가능합니다.</li>
                <li>정답률은 과목별 전체 참여자 중 정답을 맞힌 학생의 비율을 의미합니다.</li>
                <li>선택률은 과목별 전체 참여자 중 본인과 같은 정답을 선택한 학생의 비율을 의미합니다.</li>
                <li>정확도는 과목별 전체 참여자 중 예상 정답을 선택한 학생의 비율을 의미합니다.</li>
                <li>예상 정답 및 정확도는 과목별로 총 참여자수가 {{ min_participants }}명 이상일 때 공개됩니다.</li>
            </ol>
        </div>
    {% endif %}
{% endpartialdef predicted_answer_table %}
