{% load psat_filter %}
{% load partials %}
{% load slippers %}

<div class="card-body">
    <h5 class="card-title">답안 제출 현황</h5>
    {% if user.is_authenticated %}
        <button class="btn btn-primary mb-4" href="" hx-swap="none"
                hx-get="{% url 'predict:index_update' %}">업데이트</button>
    {% endif %}

    <article class="table-responsive">
        <table class="table table-bordered small align-middle m-0">
            <thead>
                <tr class="text-center align-middle table-warning">
                    <th class="p-1" rowspan="2">과목</th>
                    <th class="p-1" rowspan="2">총 참여자수<br/>(명)</th>
                    <th class="p-1" rowspan="2">선택 답안수<br/>(문제)</th>
                    <th class="p-1" rowspan="2">예상 점수<br/>(점)</th>
{#                    <th class="p-1" colspan="2">예상 등수</th>#}
                </tr>
{#                <tr class="text-center align-middle table-warning">#}
{#                    <th class="p-1">(등)</th>#}
{#                    <th class="p-1">(%)</th>#}
{#                </tr>#}
            </thead>
            <tbody>
                {% with info_answer=info_answer_student.헌법 %}
                    {% partialdef answer_status inline=True %}
                        <tr class="text-center">
                            <th class="text-nowrap">
                                {% if info_answer.is_confirmed %}
                                    {{ info_answer.icon|safe }} {{ info_answer.subject }}
                                {% else %}
                                    {% if info_answer.sub == 'PSAT' %}
                                        {{ info_answer.icon|safe }} {{ info_answer.subject }}
                                    {% else %}
                                        <a class="text-decoration-none"
                                           href="{% url 'predict:answer_input' info_answer.sub %}" hx-boost="true">
                                            {{ info_answer.icon|safe }} {{ info_answer.subject }}
                                        </a>
                                    {% endif %}
                                {% endif %}
                            </th>
                            <td>
                                <div id="{{ info_answer.sub }}_participants" class="htmx-fade-up-in">
                                    {{ info_answer.participants }}
                                </div>
                            </td>
                            <td>
                                {% if info_answer.is_confirmed %}
                                    <span class="d-inline-block text-end" style="width:75px">
                                        {{ info_answer.answer_count|add:0 }} / {{ info_answer.problem_count }}
                                    </span>
                                    <span class="badge rounded-pill text-bg-success" style="width:60px">제출 완료</span>
                                {% else %}
                                    {% if info_answer.sub == 'PSAT' %}
                                        <span class="d-inline-block text-end" style="width:75px">
                                            {{ info_answer.answer_count|add:0 }} / {{ info_answer.problem_count }}
                                        </span>
                                        <span class="badge rounded-pill text-bg-danger" style="width:60px">미제출</span>
                                    {% else %}
                                        <a class="text-decoration-none"
                                           href="{% url 'predict:answer_input' info_answer.sub %}" hx-boost="true">
                                            <span class="d-inline-block text-end" style="width:75px">
                                                {{ info_answer.answer_count|add:0 }} / {{ info_answer.problem_count }}
                                            </span>
                                            <span class="badge rounded-pill text-bg-danger" style="width:60px">미제출</span>
                                        </a>
                                    {% endif %}
                                {% endif %}
                            </td>
                            <td>
                                {% if info_answer.is_confirmed %}
                                    {% if info_answer.participants < min_participants %}
                                        <span class="badge rounded-pill text-bg-warning">답안 수집중입니다.</span>
                                    {% else %}
                                        {{ info_answer.score_virtual }}
                                    {% endif %}
                                {% else %}
                                    {% if info_answer.sub == 'PSAT' %}
                                        <span class="badge rounded-pill text-bg-danger">답안을 제출해주세요.</span>
                                    {% else %}
                                        <a class="text-decoration-none"
                                           href="{% url 'predict:answer_input' info_answer.sub %}" hx-boost="true">
                                            <span class="badge rounded-pill text-bg-danger">답안을 제출해주세요.</span>
                                        </a>
                                    {% endif %}
                                {% endif %}
                            </td>
{#                            <td>(10)</td>#}
{#                            <td>(5.0)</td>#}
                        </tr>
                    {% endpartialdef answer_status %}
                {% endwith %}
                {% with info_answer=info_answer_student.언어 %}{% partial answer_status %}{% endwith %}
                {% with info_answer=info_answer_student.자료 %}{% partial answer_status %}{% endwith %}
                {% with info_answer=info_answer_student.상황 %}{% partial answer_status %}{% endwith %}
                {% with info_answer=info_answer_student.psat %}{% partial answer_status %}{% endwith %}
            </tbody>
        </table>
        <div class="my-3">
            <span class="badge bg-success"><i class="fa-regular fa-circle-check"></i> 참고</span>
            <ol class="text-success small fw-bold">
                <li>총 참여자수는 과목별로 답안 제출을 완료한 응시생수입니다.</li>
                <li>선택 답안수는 과목별로 답안을 선택한 문제수 및 총 문제수입니다.</li>
                <li>최종 제출한 답안만 통계에 포함되니 답안 제출을 완료해주세요.</li>
                <li>최종 제출한 답안은 변경 및 삭제가 불가하니 주의하시기 바랍니다.</li>
                <li>예상 점수는 과목별로 총 참여자수가 {{ min_participants }}명 이상일 때 공개됩니다.</li>
            </ol>
        </div>
    </article>
</div>
