<nav>
    <ol class="breadcrumb" hx-target="#main" hx-swap="innerHTML swap:0.25s" hx-push-url="true">
        <li class="breadcrumb-item">
            <a href="{% url 'index' %}" hx-post="{% url 'index' %}">Home</a>
        </li>
        <li class="breadcrumb-item">Score</li>

        {% if predict %}
            <li class="breadcrumb-item">
                <a href="{% url 'predict:index' %}" hx-post="{% url 'predict:index' %}">Predict</a>
            </li>
        {% endif %}

        {% if category == 'PSAT' %}
            <li class="breadcrumb-item">
                <a href="{% url 'score:list' %}" hx-post="{% url 'score:list' %}">PSAT</a>
            </li>
            <li class="breadcrumb-item">{{ year }}</li>
            <li class="breadcrumb-item active">{{ ex }}</li>
        {% elif category == 'Prime' %}
            <li class="breadcrumb-item">
                <a href="{% url 'prime:list' %}" hx-post="{% url 'prime:list' %}">Prime</a>
            </li>
            <li class="breadcrumb-item">{{ year }}</li>
            <li class="breadcrumb-item active">제{{ round }}회</li>
        {% endif %}
    </ol>
</nav>
