{% load psat_filter %}
{% load partials %}

{% with prefix='my' %}
    {% partialdef score_student inline=True %}
        <div id="{{ prefix }}_score_heonbeob" class="htmx-fade-up-in delay-0"
             hx-swap-oob="outerHTML:#{{ prefix }}_score_heonbeob">
            {{ score_student.score_heonbeob|floatformat:1 }}
        </div>
        <div id="{{ prefix }}_score_eoneo" class="htmx-fade-up-in delay-0"
             hx-swap-oob="outerHTML:#{{ prefix }}_score_eoneo">
            {{ score_student.score_eoneo|floatformat:1 }}
        </div>
        <div id="{{ prefix }}_score_jaryo" class="htmx-fade-up-in delay-0"
             hx-swap-oob="outerHTML:#{{ prefix }}_score_jaryo">
            {{ score_student.score_jaryo|floatformat:1 }}
        </div>
        <div id="{{ prefix }}_score_sanghwang" class="htmx-fade-up-in delay-0"
             hx-swap-oob="outerHTML:#{{ prefix }}_score_sanghwang">
            {{ score_student.score_sanghwang|floatformat:1 }}
        </div>
        <div id="{{ prefix }}_score_psat_avg" class="htmx-fade-up-in delay-0"
             hx-swap-oob="outerHTML:#{{ prefix }}_score_psat_avg">
            {{ score_student.score_psat_avg|floatformat:1 }}
        </div>
    {% endpartialdef score_student %}
{% endwith %}
{% with prefix='all' %}{% partial score_student %}{% endwith %}
{% with prefix='department' %}{% partial score_student %}{% endwith %}


<div id="rank_total_heonbeob" class="htmx-fade-up-in delay-1"
     hx-swap-oob="outerHTML:#rank_total_heonbeob">
    {{ score_student.rank_total_heonbeob }}
</div>
<div id="rank_total_eoneo" class="htmx-fade-up-in delay-1"
     hx-swap-oob="outerHTML:#rank_total_eoneo">
    {{ score_student.rank_total_eoneo }}
</div>
<div id="rank_total_jaryo" class="htmx-fade-up-in delay-1"
     hx-swap-oob="outerHTML:#rank_total_jaryo">
    {{ score_student.rank_total_jaryo }}
</div>
<div id="rank_total_sanghwang" class="htmx-fade-up-in delay-1"
     hx-swap-oob="outerHTML:#rank_total_sanghwang">
    {{ score_student.rank_total_sanghwang }}
</div>
<div id="rank_total_psat" class="htmx-fade-up-in delay-1"
     hx-swap-oob="outerHTML:#rank_total_psat">
    {{ score_student.rank_total_psat }}
</div>


<div id="rank_ratio_total_heonbeob" class="htmx-fade-up-in delay-2"
     hx-swap-oob="outerHTML:#rank_ratio_total_heonbeob">
    {{ score_student.rank_ratio_total_heonbeob|percentage|floatformat:1 }}
</div>
<div id="rank_ratio_total_eoneo" class="htmx-fade-up-in delay-2"
     hx-swap-oob="outerHTML:#rank_ratio_total_eoneo">
    {{ score_student.rank_ratio_total_eoneo|percentage|floatformat:1 }}
</div>
<div id="rank_ratio_total_jaryo" class="htmx-fade-up-in delay-2"
     hx-swap-oob="outerHTML:#rank_ratio_total_jaryo">
    {{ score_student.rank_ratio_total_jaryo|percentage|floatformat:1 }}
</div>
<div id="rank_ratio_total_sanghwang" class="htmx-fade-up-in delay-2"
     hx-swap-oob="outerHTML:#rank_ratio_total_sanghwang">
    {{ score_student.rank_ratio_total_sanghwang|percentage|floatformat:1 }}
</div>
<div id="rank_ratio_total_psat" class="htmx-fade-up-in delay-2"
     hx-swap-oob="outerHTML:#rank_ratio_total_psat">
    {{ score_student.rank_ratio_total_psat|percentage|floatformat:1 }}
</div>


<div id="rank_department_heonbeob" class="htmx-fade-up-in delay-3"
     hx-swap-oob="outerHTML:#rank_department_heonbeob">
    {{ score_student.rank_department_heonbeob }}
</div>
<div id="rank_department_eoneo" class="htmx-fade-up-in delay-3"
     hx-swap-oob="outerHTML:#rank_department_eoneo">
    {{ score_student.rank_department_eoneo }}
</div>
<div id="rank_department_jaryo" class="htmx-fade-up-in delay-3"
     hx-swap-oob="outerHTML:#rank_department_jaryo">
    {{ score_student.rank_department_jaryo }}
</div>
<div id="rank_department_sanghwang" class="htmx-fade-up-in delay-3"
     hx-swap-oob="outerHTML:#rank_department_sanghwang">
    {{ score_student.rank_department_sanghwang }}
</div>
<div id="rank_department_psat" class="htmx-fade-up-in delay-3"
     hx-swap-oob="outerHTML:#rank_department_psat">
    {{ score_student.rank_department_psat }}
</div>


<div id="rank_ratio_department_heonbeob" class="htmx-fade-up-in delay-4"
     hx-swap-oob="outerHTML:#rank_ratio_department_heonbeob">
    {{ score_student.rank_ratio_department_heonbeob|percentage|floatformat:1 }}
</div>
<div id="rank_ratio_department_eoneo" class="htmx-fade-up-in delay-4"
     hx-swap-oob="outerHTML:#rank_ratio_department_eoneo">
    {{ score_student.rank_ratio_department_eoneo|percentage|floatformat:1 }}
</div>
<div id="rank_ratio_department_jaryo" class="htmx-fade-up-in delay-4"
     hx-swap-oob="outerHTML:#rank_ratio_department_jaryo">
    {{ score_student.rank_ratio_department_jaryo|percentage|floatformat:1 }}
</div>
<div id="rank_ratio_department_sanghwang" class="htmx-fade-up-in delay-4"
     hx-swap-oob="outerHTML:#rank_ratio_department_sanghwang">
    {{ score_student.rank_ratio_department_sanghwang|percentage|floatformat:1 }}
</div>
<div id="rank_ratio_department_psat" class="htmx-fade-up-in delay-4"
     hx-swap-oob="outerHTML:#rank_ratio_department_psat">
    {{ score_student.rank_ratio_department_psat|percentage|floatformat:1 }}
</div>


{% with prefix='all' stat=all_score_stat.전체 %}
    {% partialdef score_statistics inline=True %}
        <div id="{{ prefix }}_num_students_heonbeob" class="htmx-fade-up-in delay-1"
             hx-swap-oob="outerHTML:#{{ prefix }}_num_students_heonbeob">
            {{ stat.num_students }}
        </div>
        <div id="{{ prefix }}_num_students_eoneo" class="htmx-fade-up-in delay-1"
             hx-swap-oob="outerHTML:#{{ prefix }}_num_students_eoneo">
            {{ stat.num_students }}
        </div>
        <div id="{{ prefix }}_num_students_jaryo" class="htmx-fade-up-in delay-1"
             hx-swap-oob="outerHTML:#{{ prefix }}_num_students_jaryo">
            {{ stat.num_students }}
        </div>
        <div id="{{ prefix }}_num_students_sanghwang" class="htmx-fade-up-in delay-1"
             hx-swap-oob="outerHTML:#{{ prefix }}_num_students_sanghwang">
            {{ stat.num_students }}
        </div>
        <div id="{{ prefix }}_num_students_psat" class="htmx-fade-up-in delay-1"
             hx-swap-oob="outerHTML:#{{ prefix }}_num_students_psat">
            {{ stat.num_students }}
        </div>


        <div id="{{ prefix }}_max_score_heonbeob" class="htmx-fade-up-in delay-2"
             hx-swap-oob="outerHTML:#{{ prefix }}_max_score_heonbeob">
            {{ stat.max_score_heonbeob }}
        </div>
        <div id="{{ prefix }}_max_score_eoneo" class="htmx-fade-up-in delay-2"
             hx-swap-oob="outerHTML:#{{ prefix }}_max_score_eoneo">
            {{ stat.max_score_eoneo }}
        </div>
        <div id="{{ prefix }}_max_score_jaryo" class="htmx-fade-up-in delay-2"
             hx-swap-oob="outerHTML:#{{ prefix }}_max_score_jaryo">
            {{ stat.max_score_jaryo }}
        </div>
        <div id="{{ prefix }}_max_score_sanghwang" class="htmx-fade-up-in delay-2"
             hx-swap-oob="outerHTML:#{{ prefix }}_max_score_sanghwang">
            {{ stat.max_score_sanghwang }}
        </div>
        <div id="{{ prefix }}_max_score_psat_avg" class="htmx-fade-up-in delay-2"
             hx-swap-oob="outerHTML:#{{ prefix }}_max_score_psat_avg">
            {{ stat.max_score_psat_avg|floatformat:1 }}
        </div>


        <div id="{{ prefix }}_top_score_10_heonbeob" class="htmx-fade-up-in delay-3"
             hx-swap-oob="outerHTML:#{{ prefix }}_top_score_10_heonbeob">
            {{ stat.top_score_10_heonbeob|floatformat:1 }}
        </div>
        <div id="{{ prefix }}_top_score_10_eoneo" class="htmx-fade-up-in delay-3"
             hx-swap-oob="outerHTML:#{{ prefix }}_top_score_10_eoneo">
            {{ stat.top_score_10_eoneo|floatformat:1 }}
        </div>
        <div id="{{ prefix }}_top_score_10_jaryo" class="htmx-fade-up-in delay-3"
             hx-swap-oob="outerHTML:#{{ prefix }}_top_score_10_jaryo">
            {{ stat.top_score_10_jaryo|floatformat:1 }}
        </div>
        <div id="{{ prefix }}_top_score_10_sanghwang" class="htmx-fade-up-in delay-3"
             hx-swap-oob="outerHTML:#{{ prefix }}_top_score_10_sanghwang">
            {{ stat.top_score_10_sanghwang|floatformat:1 }}
        </div>
        <div id="{{ prefix }}_top_score_10_psat_avg" class="htmx-fade-up-in delay-3"
             hx-swap-oob="outerHTML:#{{ prefix }}_top_score_10_psat_avg">
            {{ stat.top_score_10_psat_avg|floatformat:1 }}
        </div>


        <div id="{{ prefix }}_top_score_20_heonbeob" class="htmx-fade-up-in delay-4"
             hx-swap-oob="outerHTML:#{{ prefix }}_top_score_20_heonbeob">
            {{ stat.top_score_20_heonbeob|floatformat:1 }}
        </div>
        <div id="{{ prefix }}_top_score_20_eoneo" class="htmx-fade-up-in delay-4"
             hx-swap-oob="outerHTML:#{{ prefix }}_top_score_20_eoneo">
            {{ stat.top_score_20_eoneo|floatformat:1 }}
        </div>
        <div id="{{ prefix }}_top_score_20_jaryo" class="htmx-fade-up-in delay-4"
             hx-swap-oob="outerHTML:#{{ prefix }}_top_score_20_jaryo">
            {{ stat.top_score_20_jaryo|floatformat:1 }}
        </div>
        <div id="{{ prefix }}_top_score_20_sanghwang" class="htmx-fade-up-in delay-4"
             hx-swap-oob="outerHTML:#{{ prefix }}_top_score_20_sanghwang">
            {{ stat.top_score_20_sanghwang|floatformat:1 }}
        </div>
        <div id="{{ prefix }}_top_score_20_psat_avg" class="htmx-fade-up-in delay-4"
             hx-swap-oob="outerHTML:#{{ prefix }}_top_score_20_psat_avg">
            {{ stat.top_score_20_psat_avg|floatformat:1 }}
        </div>


        <div id="{{ prefix }}_avg_score_heonbeob" class="htmx-fade-up-in delay-4"
             hx-swap-oob="outerHTML:#{{ prefix }}_avg_score_heonbeob">
            {{ stat.avg_score_heonbeob|floatformat:1 }}
        </div>

        <div id="{{ prefix }}_avg_score_eoneo" class="htmx-fade-up-in delay-4"
             hx-swap-oob="outerHTML:#{{ prefix }}_avg_score_eoneo">
            {{ stat.avg_score_eoneo|floatformat:1 }}
        </div>

        <div id="{{ prefix }}_avg_score_jaryo" class="htmx-fade-up-in delay-4"
             hx-swap-oob="outerHTML:#{{ prefix }}_avg_score_jaryo">
            {{ stat.avg_score_jaryo|floatformat:1 }}
        </div>

        <div id="{{ prefix }}_avg_score_sanghwang" class="htmx-fade-up-in delay-4"
             hx-swap-oob="outerHTML:#{{ prefix }}_avg_score_sanghwang">
            {{ stat.avg_score_sanghwang|floatformat:1 }}
        </div>

        <div id="{{ prefix }}_avg_score_psat_avg" class="htmx-fade-up-in delay-4"
             hx-swap-oob="outerHTML:#{{ prefix }}_avg_score_psat_avg">
            {{ stat.avg_score_psat_avg|floatformat:1 }}
        </div>
    {% endpartialdef score_statistics %}
{% endwith %}

{% with prefix='department' stat=all_score_stat.직렬 %}
    {% partial score_statistics %}
{% endwith %}
