{% load static %}
{% load psat_filter %}
{% load partials %}

{% startpartial like %}
    <a id="dropdownLikeLink{{ info.category }}" href="" role="button"
       class="btn btn-sm btn-outline-primary dropdown-toggle"
       data-bs-toggle="dropdown" aria-expanded="false">
        {{ PSAT_ICON_SET.filter|safe }}
    </a>
    <ul class="dropdown-menu" aria-labelledby="dropdownLikeLink{{ info.category }}"
        hx-target="#navContent{{ info.category }}" hx-swap="innerHTML swap:0.25s">
        <li>
            <a class="dropdown-item text-center{% if info.is_liked is None %} active{% endif %}"
               hx-get="{% url 'dashboard:like_all' %}" href="">
                {{ PSAT_ICON_SET.filterAll|safe }} 즐겨찾기 전체 문제
            </a>
        </li>
        <li>
            <a class="dropdown-item text-center{% if info.is_liked == '1' %} active{% endif %}"
               hx-get="{% url 'dashboard:like' is_liked=1 %}" href="">
                {{ PSAT_ICON_SET.likeTrue|safe }} 즐겨찾기 추가 문제
            </a>
        </li>
        <li>
            <a class="dropdown-item text-center{% if info.is_liked == '0' %} active{% endif %}"
               hx-get="{% url 'dashboard:like' is_liked=0 %}" href="">
                {{ PSAT_ICON_SET.likeFalse|safe }} 즐겨찾기 제외 문제
            </a>
        </li>
    </ul>
{% endpartial %}

{% startpartial rate %}
    <a id="dropdownRateLink{{ info.category }}" href="" role="button"
       class="btn btn-sm btn-outline-primary dropdown-toggle"
       data-bs-toggle="dropdown" aria-expanded="false">
        {{ PSAT_ICON_SET.filter|safe }}
    </a>
    <ul class="dropdown-menu" aria-labelledby="dropdownRateLink{{ info.category }}"
        hx-target="#navContent{{ info.category|default:0 }}" hx-swap="innerHTML swap:0.25s">
        <li>
            <a class="dropdown-item text-center{% if info.star_count is None %} active{% endif %}"
               hx-get="{% url 'dashboard:rate_all' %}" href="">
                {{ PSAT_ICON_SET.filterAll|safe }} 전체 문제
            </a>
        </li>
        <li>
            <a class="dropdown-item text-center{% if info.star_count == '1' %} active{% endif %}"
               hx-get="{% url 'dashboard:rate' star_count=1 %}" href="">
                {{ PSAT_ICON_SET.star1|safe }}
            </a>
        </li>
        <li>
            <a class="dropdown-item text-center{% if info.star_count == '2' %} active{% endif %}"
               hx-get="{% url 'dashboard:rate' star_count=2 %}" href="">
                {{ PSAT_ICON_SET.star2|safe }}
            </a>
        </li>
        <li>
            <a class="dropdown-item text-center{% if info.star_count == '3' %} active{% endif %}"
               hx-get="{% url 'dashboard:rate' star_count=3 %}" href="">
                {{ PSAT_ICON_SET.star3|safe }}
            </a>
        </li>
        <li>
            <a class="dropdown-item text-center{% if info.star_count == '4' %} active{% endif %}"
               hx-get="{% url 'dashboard:rate' star_count=4 %}" href="">
                {{ PSAT_ICON_SET.star4|safe }}
            </a>
        </li>
        <li>
            <a class="dropdown-item text-center{% if info.star_count == '5' %} active{% endif %}"
               hx-get="{% url 'dashboard:rate' star_count=5 %}" href="">
                {{ PSAT_ICON_SET.star5|safe }}
            </a>
        </li>
    </ul>
{% endpartial %}

{% startpartial answer %}
    <a id="dropdownAnswerLink{{ info.category }}" href="" role="button"
       class="btn btn-sm btn-outline-primary dropdown-toggle"
       data-bs-toggle="dropdown" aria-expanded="false">
        {{ PSAT_ICON_SET.filter|safe }}
    </a>
    <ul class="dropdown-menu" aria-labelledby="dropdownAnswerLink{{ info.category }}"
        hx-target="#navContent{{ info.category|default:0 }}" hx-swap="innerHTML swap:0.25s">
        <li>
            <a class="dropdown-item text-center{% if info.is_correct is None %} active{% endif %}"
               hx-get="{% url 'dashboard:answer_all' %}" href="">
                {{ PSAT_ICON_SET.filterAll|safe }} 전체 문제
            </a>
        </li>
        <li>
            <a class="dropdown-item text-center{% if info.is_correct == '1' %} active{% endif %}"
               hx-get="{% url 'dashboard:answer' is_correct=1 %}" href="">
                {{ PSAT_ICON_SET.answerTrue|safe }} 맞힌 문제
            </a>
        </li>
        <li>
            <a class="dropdown-item text-center{% if info.is_correct == '0' %} active{% endif %}"
               hx-get="{% url 'dashboard:answer' is_correct=0 %}" href="">
                {{ PSAT_ICON_SET.answerFalse|safe }} 틀린 문제
            </a>
        </li>
    </ul>
{% endpartial %}

<div class="input-group dropdown" role="option">
    {% if info.type == 'likeDashboard' %}
        {% partial like %}
    {% elif info.type == 'rateDashboard' %}
        {% partial rate %}
    {% elif info.type == 'answerDashboard' %}
        {% partial answer %}
    {% endif %}
</div><!-- List Filter End -->
