{% load static %}
{% load psat_filter %}

        <a class="btn btn-outline-primary btn-sm dropdown-toggle" href="" role="button" id="dropdownAnswerLink" data-bs-toggle="dropdown" aria-expanded="false">
            {{ PSAT_ICON_SET.filter|safe }}
        </a>
        <ul class="dropdown-menu" aria-labelledby="dropdownAnswerLink">
            <li>
                <a class="list-filter dropdown-item text-center{% if info.is_correct is None %} active{% endif %}" href="{% url 'dashboard:answer' %}">
                    <i class="fa-regular fa-file-lines mr-2"></i>전체 문제
                </a>
            </li>
            <li>
                <a class="list-filter dropdown-item text-center{% if info.is_correct == 1 %} active{% endif %}" href="{% url 'dashboard:answer' is_correct=1 %}">
                    <i class="fa-solid fa-circle-check mr-2"></i>맞힌 문제
                </a>
            </li>
            <li>
                <a class="list-filter dropdown-item text-center{% if info.is_correct == 0 %} active{% endif %}" href="{% url 'dashboard:answer' is_correct=0 %}">
                    <i class="fa-solid fa-circle-xmark mr-2"></i>틀린 문제
                </a>
            </li>
        </ul>
