{% load static %}
{% load psat_filter %}

<!-- List Filter Start -->
<div class="input-group dropdown" role="option">
    {% if info.type == 'likeDashboard' %}
        {% include 'dashboard/snippets/list_filter_for_like.html' %}
    {% elif info.type == 'rateDashboard' %}
        {% include 'dashboard/snippets/list_filter_for_rate.html' %}
    {% elif info.type == 'answerDashboard' %}
        {% include 'dashboard/snippets/list_filter_for_answer.html' %}
    {% endif %}
</div>
<!-- List Filter End -->
