{% load slippers %}
{% load partials %}
{% load psat_filter %}

{% partialdef change_password %}
{% #modal header='비밀번호 변경' size='modal-lg' %}
    <form id="change_password" class="password_change">
        <div class="form-floating mb-3">
            <input id="id_oldpassword" type="password" name="oldpassword" placeholder="현재 비밀번호"
                   autocomplete="current-password" required class="form-control">
            <label for="id_oldpassword">현재 비밀번호</label>
        </div>
        <div class="form-floating mb-3">
            <input id="id_password1" type="password" name="password1" placeholder="새 비밀번호"
                   autocomplete="new-password" required class="form-control">
            <label for="id_password1">새 비밀번호</label>
        </div>
        <div class="form-floating mb-3">
            <input id="id_password2" type="password" name="password2" placeholder="새 비밀번호 (확인)"
                   required class="form-control">
            <label for="id_password2">새 비밀번호 (확인)</label>
        </div>
        <div class="text-center">
            <button type="submit" class="btn btn-primary"
                    hx-post="{% url 'account_change_password' %}"
                    hx-target="#change_password" hx-swap="outerHTML"
                    name="action">
                비밀번호 변경
            </button>
        </div>
        <a href="/account/password/reset/">비밀번호를 잊으셨나요?</a>
    </form>
{% /modal %}
{% endpartialdef %}
