{% load slippers %}
{% load partials %}
{% load psat_filter %}

{% partialdef change_password %}
    <form method="POST" action="/account/password/change/" class="password_change">
        <p>
        <label for="id_oldpassword">현재 비밀번호:</label>
        <input type="password" name="oldpassword" placeholder="현재 비밀번호" autocomplete="current-password" required="" id="id_oldpassword">
        </p>
        <p>
        <label for="id_password1">새 비밀번호:</label>
        <input type="password" name="password1" placeholder="새 비밀번호" autocomplete="new-password" required="" id="id_password1">
        </p>
        <p>
        <label for="id_password2">새 비밀번호 (확인):</label>
        <input type="password" name="password2" placeholder="새 비밀번호 (확인)" required="" id="id_password2">
        </p>
        <button type="submit" name="action">비밀번호 변경</button>
        <a href="/account/password/reset/">비밀번호를 잊으셨나요?</a>
    </form>
    <form id="change_password">
        <div class="row mb-3">
            <label for="id_oldpassword" class="col-md-4 col-lg-3 col-form-label">현재 비밀번호</label>
            <div class="col-md-8 col-lg-9">
                <input id="id_oldpassword" type="password" name="oldpassword" placeholder="현재 비밀번호"
                       autocomplete="current-password" required class="form-control">
            </div>
        </div>

        <div class="row mb-3">
            <label for="id_password1" class="col-md-4 col-lg-3 col-form-label">새 비밀번호</label>
            <div class="col-md-8 col-lg-9">
                <input id="id_password1" type="password" name="password1" placeholder="새 비밀번호"
                       autocomplete="new-password" required class="form-control">
            </div>
        </div>

        <div class="row mb-3">
            <label for="id_password2" class="col-md-4 col-lg-3 col-form-label">새 비밀번호 (확인)</label>
            <div class="col-md-8 col-lg-9">
                <input id="id_password2" type="password" name="password2" placeholder="새 비밀번호 (확인)"
                       required class="form-control">
            </div>
        </div>

        <div class="text-center">
            <button type="submit" class="btn btn-primary" name="action">비밀번호 변경</button>
        </div>
    </form>
{% endpartialdef %}
