{% extends 'list.html' %}
{% load static %}
{% load i18n %}
{% load psat_filter %}
{% load partials %}
{% load slippers %}

{% block head_title %}{{ title }}{% endblock head_title %}

{% block main %}{% partial list_main %}{% endblock %}

{# List main partial #}
{% startpartial list_main %}
    {{ info|json_script:'info' }}
    <div class="pagetitle my-2">
        <h1>{{ icon|safe }} {{ title }}
            <span class="fs-6 text-bg-primary">{{ sub_title }}</span>
        </h1>
    </div><!-- Page Title End -->
    {% partial list_content %}
{% endpartial list_main %}


{# ################## #}
{# List content start #}
{# ################## #}

{# List content partial #}
{% startpartial list_content %}
    <section class="section htmx-fade-in htmx-fade-out"
             hx-target="#main" hx-swap="innerHTML swap:0.25s">
    {% #content_row class3='p-4' %}
        <div class="d-flex flex-wrap">
            <div class="dropdown py-2 ms-auto">
                {% partial problem_filter %}
            </div>
        </div>
        <div class="mb-4">
            {% partial student_info %}
        </div>
        <div class="mb-4">
            {% include 'score/v2/snippets/score_chart.html' %}
        </div>
        <div class="mb-4">
            {% include 'score/v2/snippets/score_sheet.html' %}
        </div>
        <div class="mb-4">
            {% include 'score/v2/snippets/score_answers.html' %}
        </div>
    {% /content_row %}
    </section>
{% endpartial %}


{# ################## #}
{# Student info start #}
{# ################## #}

{# Student info partial #}
{% startpartial student_info %}
    <nav>
        <div class="nav nav-tabs" id="studentInfoTab" role="tablist">
            {% #nav_tab prefix='my' id='0' %}
                수험정보
            {% /nav_tab %}
        </div>
    </nav>
    <div class="tab-content" id="studentInfoContent">
        {% #nav_content prefix='info' id='0' %}
            {% #responsive_table %}
                <tbody>
                    <tr>
                        <th scope="row">
                            응시번호
                            {% if student.serial %}
                                {% partial update_student %}
                            {% else %}
                                {% partial create_student %}
                            {% endif %}
                        </th>
                        <td>{{ student.serial }}</td>
                    </tr>
                    <tr>
                        <th scope="row">
                            모집단위
                            {% if student.department %}
                                {% partial update_student %}
                            {% else %}
                                {% partial create_student %}
                            {% endif %}
                        </th>
                        <td>{{ student.department.unit.name }}</td>
                    </tr>
                    <tr>
                        <th scope="row">
                            응시직렬
                            {% if student.department %}
                                {% partial update_student %}
                            {% else %}
                                {% partial create_student %}
                            {% endif %}
                        </th>
                        <td>{{ student.department.name }}</td>
                    </tr>
                </tbody>
            {% /responsive_table %}
        {% /nav_content %}
    </div>
{% endpartial student_info %}

{# Update student partial #}
{% startpartial update_student %}
    <a class="badge rounded-pill text-bg-warning"
       hx-get="{% url 'score_v2:student_update_modal' student.id %}" href=""
       hx-target="#modalContainer" hx-swap="innerHTML"
       data-bs-toggle="modal" data-bs-target="#modalContainer">
        수정
    </a>
{% endpartial %}

{# Create student partial #}
{% startpartial create_student %}
    <a class="badge rounded-pill text-bg-warning mx-2"
       hx-get="{% url 'score_v2:student_create_modal' year ex %}" href=""
       hx-target="#modalContainer" hx-swap="innerHTML"
       data-bs-toggle="modal" data-bs-target="#modalContainer">
        입력
    </a>
{% endpartial %}


{# ############ #}
{# Filter start #}
{# ############ #}

{# Problem filter partial #}
{% startpartial problem_filter %}
    <form>
        <select id="id_exam_year" class="form-select mt-3" name="year" aria-label="Select Year"
                hx-post="{% url 'score_v2:student_department' %}"
                hx-trigger="change" hx-target="#student_department">
            {% for y in year_option %}
                <option value="{{ y }}" class="{% if y == year %}active{% endif %}">
                    {{ y }}년
                </option>
            {% endfor %}
        </select>
    </form>

    {% with var='year' text='연도' current=year option=year_option %}
        {% partial filter_snippet %}
    {% endwith %}

    {% with var='ex' text='시험' current=ex option=ex_option %}
        {% partial filter_snippet %}
    {% endwith %}
{% endpartial problem_filter %}

{# Filter snippet partial #}
{% startpartial filter_snippet %}
    <button id="dropdown{{ var|title }}Link" type="button"
            class="btn btn-sm btn-outline-primary dropdown-toggle"
            data-bs-toggle="dropdown" aria-expanded="false">
        {{ text }}
    </button>
    <ul class="dropdown-menu" aria-labelledby="dropdown{{ var|title }}Link">
        <li>
            <a class="dropdown-item text-center
               {% if current == '' %}active{% endif %}" href=""
               hx-get="{% partial total_url %}">
                <i class="fa-regular fa-file-lines"></i>{{ total }}
            </a>
        </li>
        {% for opt in option %}
            <li>
                <a class="dropdown-item text-center
                   {% if opt.0 == current %}active{% endif %}" href=""
                   hx-get="{% partial filter_url %}">
                    {{ opt.1|safe }}
                </a>
            </li>
        {% endfor %}
    </ul>
{% endpartial filter_snippet %}

{# Filter snippet total url partial #}
{% startpartial total_url %}
{{ base_url }}?year={% if var != 'year' %}{{ year }}{% endif %}
&ex={% if var != 'ex' %}{{ ex }}{% endif %}
&sub={% if var != 'sub' %}{{ sub }}{% endif %}
&is_liked={% if var != 'like' %}{{ is_liked }}{% endif %}
&rating={% if var != 'rate' %}{{ rating }}{% endif %}
&is_correct={% if var != 'solve' %}{{ is_correct }}{% endif %}
&data={{ search_data }}&date={{ search_date }}
{% endpartial search_url %}

{# Filter snippet filter url partial #}
{% startpartial filter_url %}
{{ base_url }}?year={% if var == 'year' %}{{ opt.0 }}{% else %}{{ year }}{% endif %}
&ex={% if var == 'ex' %}{{ opt.0 }}{% else %}{{ ex }}{% endif %}
&sub={% if var == 'sub' %}{{ opt.0 }}{% else %}{{ sub }}{% endif %}
&is_liked={% if var == 'like' %}{{ opt.0 }}{% else %}{{ is_liked }}{% endif %}
&rating={% if var == 'rate' %}{{ opt.0 }}{% else %}{{ rating }}{% endif %}
&is_correct={% if var == 'solve' %}{{ opt.0 }}{% else %}{{ is_correct }}{% endif %}
&data={{ search_data }}&date={{ search_date }}
{% endpartial filter_url %}


