{% extends 'list.html' %}
{% load static %}
{% load i18n %}
{% load psat_filter %}
{% load partials %}
{% load slippers %}

{% block head_title %}{{ title }}{% endblock head_title %}

{% block main %}
    {% partialdef list_main inline=True %}
        {{ info|json_script:'info' }}
        <div class="pagetitle my-2">
            <h1>{{ icon|safe }} {{ title }}
                <span class="fs-6 text-bg-primary">{{ sub_title }}</span>
            </h1>
        </div><!-- Page Title End -->

        <section class="section htmx-fade-in htmx-fade-out"
                 hx-target="#main" hx-swap="innerHTML swap:0.25s" hx-push-url="true">
        {% #content_row class3='p-4' %}
            <div class="row mx-0 mb-4">

                <a class="btn btn-circle btn-sm btn-outline-secondary" href="{% url 'score_v2:list' %}"
                   hx-post="{% url 'score_v2:list' %}" title="Score List">
                    {{ icon_nav.list|safe }}
                </a>
                <div class="ms-auto col-sm-6 col-md-5 col-lg-4">
                    {% partial exam_filter %}
                </div>
            </div>
            <div class="mb-4">
                {% partial student_info %}
            </div>
            <div class="mb-4">
                {% include 'score/v2/snippets/score_chart.html' %}
            </div>
            <div class="mb-4">
                {% include 'score/v2/snippets/score_sheet.html' %}
            </div>
            <div class="mb-4">
                {% include 'score/v2/snippets/score_answers.html' %}
            </div>
        {% /content_row %}
        </section>
    {% endpartialdef list_main %}
{% endblock main %}


{# ################## #}
{# Student info start #}
{# ################## #}

{# Student info partial #}
{% partialdef student_info %}
    <nav>
        <div class="nav nav-tabs nav-tabs-bordered" id="studentInfoTab" role="tablist">
            {% #nav_tab prefix='my' id='0' %}
                수험정보
            {% /nav_tab %}
        </div>
    </nav>
    <div class="tab-content" id="studentInfoContent">
        {% #nav_content prefix='info' id='0' %}
            {% #responsive_table %}
                <tbody>
                    <tr>
                        <td>
                            수험번호
                            {% if student %}
                                {% if student.serial %}
                                    : {{ student.serial }}
                                {% endif %}
                                {% partial update_student %}
                            {% else %}
                                {% partial create_student %}
                            {% endif %}
                        </td>
                        <td>
                            모집단위
                            {% if student.department %}
                                : {{ student.department.unit.name }} {% partial update_student %}
                            {% else %}
                                {% partial create_student %}
                            {% endif %}
                        </td>
                        <td>
                            직렬
                            {% if student.department %}
                                : {{ student.department.name }} {% partial update_student %}
                            {% else %}
                                {% partial create_student %}
                            {% endif %}
                        </td>
                    </tr>
                </tbody>
            {% /responsive_table %}
        {% /nav_content %}
    </div>
{% endpartialdef student_info %}

{# Update student partial #}
{% partialdef update_student %}
    <a class="badge rounded-pill text-bg-warning mx-2"
       hx-get="{% url 'score_v2:student_update_modal' student.id %}" href=""
       hx-target="#modalContainer" hx-swap="innerHTML" hx-push-url="false"
       data-bs-toggle="modal" data-bs-target="#modalContainer">
        수정
    </a>
{% endpartialdef update_student %}

{# Create student partial #}
{% partialdef create_student %}
    <a class="badge rounded-pill text-bg-warning mx-2"
       hx-get="{% url 'score_v2:student_create_modal' year ex %}" href=""
       hx-target="#modalContainer" hx-swap="innerHTML" hx-push-url="false"
       data-bs-toggle="modal" data-bs-target="#modalContainer">
        입력
    </a>
{% endpartialdef create_student %}


{# ############ #}
{# Filter start #}
{# ############ #}

{# Exam filter partial #}
{% partialdef exam_filter %}
    <form>
        <div class="input-group">
            <select id="id_exam_year" class="form-select" name="year" aria-label="Select Year"
                    hx-post="{% url 'score_v2:filter' %}"
                    hx-trigger="change" hx-target="#id_exam_name" hx-swap="outerHTML">
                <option>연도</option>
                {% for y in year_option %}
                    <option value="{{ y.0 }}"{% if y.0 == year %} selected{% endif %}>
                        {{ y.1 }}
                    </option>
                {% endfor %}
            </select>
            {% partial exam_select %}
        </div>
    </form>
{% endpartialdef exam_filter %}

{# Exam select partial #}
{% partialdef exam_select %}
    <select id="id_exam_name" class="form-select" name="ex" aria-label="Select Year"
            hx-post="{% url 'score_v2:detail' %}" hx-trigger="change">
        {% for e in ex_option %}
            <option value="{{ e.0 }}"{% if e.0 == ex %} selected{% endif %}>
                {{ e.1 }}
            </option>
        {% endfor %}
    </select>
{% endpartialdef exam_select %}
