{% extends 'list.html' %}
{% load static %}
{% load psat_filter %}
{% load partials %}
{% load slippers %}

{% block main %}
{% partialdef detail_main inline=True %} {# detail_main partial #}
{{ info|json_script:'info' }}
<div class="pagetitle">
    <h1>{{ icon_menu|safe }} {{ title }}
        <span class="fs-6 text-secondary">{{ sub_title }}</span>
    </h1>

    <nav>
        <ol class="breadcrumb" hx-target="#main" hx-swap="innerHTML swap:0.25s" hx-push-url="true">
            <li class="breadcrumb-item">
                <a href="{% url 'index' %}" hx-post="{% url 'index' %}">Home</a>
            </li>
            <li class="breadcrumb-item">Score</li>
            <li class="breadcrumb-item">
                <a href="{% url 'score:list' %}" hx-post="{% url 'score:list' %}">PSAT</a>
            </li>
            <li class="breadcrumb-item">{{ year }}</li>
            <li class="breadcrumb-item active">{{ exam }}</li>
        </ol>
    </nav>
</div><!-- Page Title End -->

<section class="section htmx-fade-in htmx-fade-out"
             hx-target="#main" hx-swap="innerHTML swap:0.25s" hx-push-url="true">
    {% #content_row class1='col-12' %}
        <h5 class="card-title mb-0">
            <div class="row m-0">
                <a class="btn btn-circle btn-sm btn-outline-secondary" href="{% url 'score:list' %}"
                   hx-post="{% url 'score:list' %}" title="Score List">
                    {{ icon_nav.list|safe }}
                </a>
                <div class="ms-auto col-10 col-sm-8 col-md-5 col-lg-4">

                    {% partialdef exam_filter inline=True %} {# exam_filter partial #}
                        <form>
                            <div class="input-group">
                                <select id="id_exam_year" class="form-select" name="year"
                                        hx-post="{% url 'score:filter' %}" aria-label="Select Year"
                                        hx-trigger="change" hx-target="#id_exam_name" hx-swap="outerHTML">
                                    <option>연도</option>
                                    {% for y in option_year %}
                                        <option value="{{ y }}"{% if y == year %} selected{% endif %}>
                                            {{ y }}년
                                        </option>
                                    {% endfor %}
                                </select>
                                {% partialdef exam_select inline=True %}
                                    <select id="id_exam_name" class="form-select" name="ex"
                                            aria-label="Select Year" hx-trigger="change"
                                            hx-post="{% url 'score:detail' %}">
                                        <option>시험</option>
                                        {% for e in option_ex %}
                                            <option value="{{ e.ex }}"{% if e.ex == ex %} selected{% endif %}>
                                                {{ e.exam_name }}
                                            </option>
                                        {% endfor %}
                                    </select>
                                {% endpartialdef exam_select %}
                            </div>
                        </form>
                    {% endpartialdef exam_filter %}

                </div>
            </div>
        </h5>

        <div>
            {% include 'score/v2/snippets/score_student.html' %}
        </div>

        <div>
            {% include 'score/v2/snippets/score_sheet.html' %}
        </div>

        <div>
            {% include 'score/v2/snippets/score_answers.html' %}
        </div>

        <div>
            {% include 'score/v2/snippets/score_chart.html' %}
        </div>
    {% /content_row %}
</section>
{% endpartialdef detail_main %}
{% endblock main %}
