{{ config.info|json_script:'info' }}
<div class="pagetitle">
    <h1>
        {{ icon_menu|safe }} {{ config.title.kor }}
        {% if user.is_staff %}
            <a class="btn btn-sm btn-outline-primary ms-1" target="admin"
               href="{{ config.url_admin }}">
                관리자 페이지
            </a>
        {% endif %}
    </h1>
    <nav>
        <ol class="breadcrumb" hx-target="#main" hx-swap="innerHTML swap:0.25s" hx-boost="true">
            <li class="breadcrumb-item"><a href="{% url 'index' %}">Home</a></li>
            <li class="breadcrumb-item">Board</li>
            <li class="breadcrumb-item">
                <a href="{{ config.url_list }}" class="active">{{ config.title.eng }}</a>
            </li>
        </ol>
    </nav>
</div><!-- Page Title End -->
