{% extends 'predict/v1/normal/predict_base.html' %}
{% load static %}
{% load i18n %}
{% load psat_filter %}
{% load partials %}
{% load slippers %}

{% block page_image %}
<meta property="og:image" content="{% static 'image/predict/cover_psat_og.jpg' %}"/>
{% endblock page_image %}

{% block main %}
{% partialdef index_main inline=True %} {# index_main partial #}
{{ info|json_script:'info' }}
<div class="pagetitle">
    <h1>{{ icon_menu|safe }} {{ title }}
        <span class="fs-6 text-secondary">{{ sub_title }}</span>
        {% if user.is_staff %}
            <a class="btn btn-sm btn-outline-primary ms-2"
               hx-target="#main" hx-swap="innerHTML swap:0.25s" hx-boost="true"
               href="{% url 'predict_test_admin:list' %}">
                관리자 페이지
            </a>
        {% endif %}
    </h1>
    <nav>
        <ol class="breadcrumb" hx-target="#main" hx-swap="innerHTML swap:0.25s" hx-push-url="true">
            <li class="breadcrumb-item">
                <a href="{% url 'index' %}" hx-post="{% url 'index' %}">Home</a>
            </li>
            <li class="breadcrumb-item">
                <a class="active" href="{% url 'predict_test:index' %}" hx-boost="true">Predict</a>
            </li>
        </ol>
    </nav>
</div><!-- Page Title End -->

<section class="section htmx-fade-in htmx-fade-out" hx-target="#main" hx-swap="innerHTML swap:0.25s">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body text-center p-4">
                    {% if exam.category == 'Prime' %}
                        <img src="{% static 'image/predict/cover_prime.jpg' %}" class="mw-100" alt="Title"/>
                        <div class="fs-1 fw-bolder">제 {{ exam.round }} 회 성적 예측</div>
                    {% else %}
                        <img src="{% static 'image/predict/cover_psat.jpg' %}" class="mw-100" alt="Title"/>
                    {% endif %}
                    {% if not student %}
                        <div class="container d-sm-none my-4">
                            <p>수험생 여러분,<br/>그 동안 수고 많으셨습니다.</p>
                            <p>여러분의 합격을<br/>기원하는 마음과 함께<br/>
                                아래와 같이 합격예측시스템을<br/>제공해드리고 있습니다.</p>
                            <p>모집단위와 직렬 및 응시번호,<br/>이름을 입력하신 뒤,<br/>
                                과목별 시험 답안을 제출해주시면<br/>집계 후 여러분의<br/>
                                합격 여부를 예측해드립니다.</p>
                        </div>
                        <div class="container d-none d-sm-block my-4">
                            <p>수험생 여러분, 그 동안 수고 많으셨습니다.</p>
                            <p>여러분의 합격을 기원하는 마음과 함께</p>
                            <p>아래와 같이 합격예측시스템을 제공해드리고 있습니다.</p>
                            <p>모집단위와 직렬 및 응시번호, 이름을 입력하신 뒤,</p>
                            <p>과목별 시험 답안을 제출해주시면 집계 후</p>
                            <p>여러분의 합격 여부를 예측해드립니다.</p>
                        </div>
                        <div class="container p-0">
                            <div class="container">
                                <img src="{% static 'image/prime/2024/exam/message-1.jpg' %}" class="mw-100" alt="Message"/>
                                <img src="{% static 'image/prime/2024/exam/message-2.jpg' %}" class="mw-100" alt="Message"/>
                            </div>
                        </div>
                    {% endif %}
                    {% if not user.is_authenticated %}
                        <a class="btn btn-outline-danger mt-4" href="javascript:RedirectUrl('{% url 'account_login' %}')">
                            로그인이 필요합니다.
                        </a>
                    {% endif %}
                </div>
            </div>
        </div>

        <div class="col-12">
            <div class="card">
                {% include 'predict/v1/normal/snippets/index_banner.html' %}
            </div>
        </div>

        {% if user.is_authenticated %}
            <div class="col-12" aria-label="수험 정보">
                <div id="info_student" class="card htmx-fade-in htmx-fade-out">
                    {% include 'predict/v1/normal/snippets/index_info_student.html' %}
                </div>
            </div>
{#            student_id: {{ student.id }}<br/>#}
{#            exam_id: {{ exam.id }}<br/>#}
{#            현재 시각: {{ current_time }}<br/>#}
{#            시험 시작 시각: {{ exam.start_datetime }}<br/>#}
{#            시험 종료 시각: {{ exam.end_datetime }}<br/>#}
{#            예상 정답 공개시각: {{ exam.answer_predict_open_datetime }}<br/>#}
{#            정답 공개 시각: {{ exam.answer_open_datetime }}<br/>#}

            {% if student %}
                <div class="col-12" aria-label="답안 제출 현황">
                    <div id="info_answer" class="card htmx-fade-in htmx-fade-out">
                        {% include 'predict/v1/normal/snippets/index_info_answer.html' %}
                    </div>
                </div>
                {% if current_time > exam.answer_open_datetime %}
                    <div class="col-12" aria-label="성적 예측 I [전체 데이터]">
                        <div id="sheet_score" class="card htmx-fade-in htmx-fade-out">
                            {% include 'predict/v1/normal/snippets/index_sheet_score.html' %}
                        </div>
                    </div>
                    {% if filtered_score_student %}
                        <div class="col-12" aria-label="성적 예측 II [정답 공개 전 데이터]">
                            <div id="sheet_score" class="card htmx-fade-in htmx-fade-out">
                                {% include 'predict/v1/normal/snippets/index_sheet_score_filtered.html' %}
                            </div>
                        </div>
                    {% endif %}
                {% endif %}
                {% if current_time > exam.end_datetime and current_time < exam.answer_open_datetime %}
                    <div class="col-12" aria-label="예상 정답">
                        <div id="info_student" class="card htmx-fade-in htmx-fade-out">
                            {% include 'predict/v1/normal/snippets/index_sheet_answer_predict.html' %}
                        </div>
                    </div>
                {% endif %}
                <div class="col-12" aria-label="정답 확인">
                    <div id="sheet_answer" class="card htmx-fade-in htmx-fade-out">
                        {% include 'predict/v1/normal/snippets/index_sheet_answer.html' %}
                    </div>
                </div>
            {% endif %}
        {% endif %}
        <div class="col-12">
            <div class="card">
                <div class="card-body p-4">
                    <div class="iframe_container">
                        <iframe class="iframe_content" title="YouTube video player"
                                src="https://www.youtube.com/embed/Fal8-8NRabY?si=4765xVgFBlV_l_Kh"
                                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                                allowfullscreen></iframe>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endpartialdef index_main %}
{% endblock main %}
