{% load psat_filter %}
{% load partials %}

<article class="table-responsive">
    <table class="table small align-middle">
        <thead>
            <tr class="d-table-row d-md-none text-center align-middle table-warning">
                <th class="text-nowrap" rowspan="2">과목</th>
                <th class="text-nowrap" rowspan="2">내 점수<br/>(점)</th>
                <th class="p-1" colspan="2">전체 석차</th>
                <th class="p-1" colspan="2">직렬 석차</th>
            </tr>
            <tr class="d-table-row d-md-none text-center align-middle table-warning">
                <th class="p-1">(등)</th>
                <th class="p-1">(%)</th>
                <th class="p-1">(등)</th>
                <th class="p-1">(%)</th>
            </tr>
            <tr class="d-none d-md-table-row text-center align-middle table-warning">
               <th class="col-1">과목</th>
               <th class="col-1">내 점수(점)</th>
               <th class="col-1">전체 석차(등)</th>
               <th class="col-1">전체 석차(%)</th>
               <th class="col-1">직렬 석차(등)</th>
               <th class="col-1">직렬 석차(%)</th>
            </tr>
        </thead>
        <tbody>
            {% with score_data=score_student_data.헌법 %}
                {% partial sub_score_line %}
            {% endwith %}
            {% with score_data=score_student_data.언어 %}
                {% partial sub_score_line %}
            {% endwith %}
            {% with score_data=score_student_data.자료 %}
                {% partial sub_score_line %}
            {% endwith %}
            {% with score_data=score_student_data.상황 %}
                {% partial sub_score_line %}
            {% endwith %}
            {% with score_data=score_student_data.피셋 %}
                {% partial sub_score_line %}
            {% endwith %}
        </tbody>
    </table>
</article>

{% partialdef sub_score_line %}
    <tr class="text-center {% if score_data.sub == '피셋' %}table-warning{% endif %}">
        <th class="text-nowrap" aria-label="과목">
            {% if score_data.is_confirmed or score_data.sub == '피셋' %}
                {{ score_data.icon|safe }} {{ score_data.subject }}
            {% else %}
                <a class="text-decoration-none"
                   href="{% url 'predict_test:answer_input' score_data.sub %}" hx-boost="true">
                    {{ score_data.icon|safe }} {{ score_data.subject }}
                </a>
            {% endif %}
        </th>

        {% if not score_data.is_confirmed %}
            <td colspan="5">
                {% if score_data.sub == '피셋' %}
                    <span class="badge rounded-pill bg-danger">답안을 제출해주세요.</span>
                {% else %}
                    <a hx-boost="true"
                       href="{% url 'predict_test:answer_input' score_data.sub %}">
                        <span class="badge rounded-pill bg-danger">답안을 제출해주세요.</span>
                    </a>
                {% endif %}
            </td>
        {% else %}
            <td>
                <div id="{{ prefix }}my_score_{{ score_data.sub_eng }}"
                     class="htmx-fade-up-in delay-0">
                    {{ score_data.score|floatformat:1 }}
                </div>
            </td>
            <td>
                <div id="{{ prefix }}rank_total_{{ score_data.sub_eng }}"
                     class="htmx-fade-up-in delay-1">
                    {{ score_data.rank_total }}
                </div>
            </td>
            <td>
                <div id="{{ prefix }}rank_ratio_total_{{ score_data.sub_eng }}"
                     class="htmx-fade-up-in delay-2">
                    {{ score_data.rank_ratio_total|percentage|floatformat:1 }}
                </div>
            </td>
            <td>
                <div id="{{ prefix }}rank_department_{{ score_data.sub_eng }}"
                     class="htmx-fade-up-in delay-3">
                    {{ score_data.rank_department }}
                </div>
            </td>
            <td>
                <div id="{{ prefix }}rank_ratio_department_{{ score_data.sub_eng }}"
                     class="htmx-fade-up-in delay-4">
                    {{ score_data.rank_ratio_department|percentage|floatformat:1 }}
                </div>
            </td>
        {% endif %}
    </tr>
{% endpartialdef sub_score_line %}
