{% load i18n %}
{% load static %}

<div hx-swap-oob="innerHTML:#lectureMemo{{ problem.id }}">
    {% if my_memo %}
        {{ icon_memo.true|safe }}
    {% else %}
        {{ icon_memo.false|safe }}
    {% endif %}
</div>

{% if my_memo %}
    {% partial memo_content %}
{% else %}
    {% partial create_form %}
{% endif %}


{######## partials ########}

{% partialdef memo_content %}
    <ul class="list-group list-group-flush">
        <li id="myMemoContent" class="list-group-item justify-content-between align-items-start p-0">
            <div class="row">
                <span class="text-gray-900 text-break">{{ my_memo.memo|safe }}</span>
            </div>
            <div class="row">
                <div class="d-flex justify-content-end">
                    <form>
                        <input type="hidden" name="lecture_id" value="{{ my_memo.lecture_id }}"/>
                        <div class="btn-group" role="group" aria-label="Memo buttons">
                            <button class="btn btn-sm btn-outline-success"
                                    hx-get="{% url 'lecture:memo_update' my_memo.id %}?lecture_id={{ my_memo.lecture_id }}"
                                    title="{% trans 'Update' %}">
                                {{ icon_board.update|safe }} {% trans 'Update' %}
                            </button>
                            <button class="btn btn-sm btn-outline-danger"
                                    hx-post="{% url 'lecture:memo_delete' my_memo.id %}"
                                    hx-confirm="{% trans 'Are you sure you wish to delete your memo?' %}"
                                    title="{% trans 'Delete' %}">
                                {{ icon_board.delete|safe }} {% trans 'Delete' %}
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </li>
    </ul>
{% endpartialdef memo_content %}

{% partialdef create_form %}
    <form hx-post="{% url 'lecture:memo_create' lecture.id %}">
        {{ form.media }}
        {{ form.memo }}
        <textarea id="content_memo" name="memo" class="ckeditor-content" hidden></textarea>
        <div class="d-flex justify-content-end mt-2">
            <div class="btn-group">
                <button type="submit" class="btn btn-sm btn-outline-primary ckeditor-submit">
                    {% trans 'Create' %}
                </button>
            </div>
        </div>
    </form>
{% endpartialdef create_form %}

{% partialdef update_form %}
    <form hx-post="{% url 'lecture:memo_update' my_memo.id %}">
        {{ form.media }}
        {{ form.memo }}
        <textarea id="content_memo" name="memo" class="ckeditor-content" hidden></textarea>
        <div class="d-flex justify-content-end mt-2">
            <div class="btn-group">
                <button type="submit" class="btn btn-sm btn-outline-primary ckeditor-submit">
                    {% trans 'Update' %}
                </button>
                <button hx-get="{% url 'lecture:memo_container' lecture.id %}"
                        class="btn btn-sm btn-danger">
                    {% trans 'Cancel' %}
                </button>
            </div>
        </div>
    </form>
{% endpartialdef update_form %}
