{% load static %}
<!doctype html>
<html lang="ko">
<head>

    {# 메타 태그 #}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>{% block title %}{% endblock %}</title>

    {# 부트스트랩 CSS #}
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.css' %}">

    {# 커스텀 폰트 #}
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static 'vendor/fontawesome-free/css/all.css' %}">

    {# 커스텀 스타일 #}
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'vendor/sb-admin-2/css/sb-admin-2.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'vendor/datatables/jquery.dataTables.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'vendor/datatables/responsive.dataTables.css' %}">

</head>

<body class="bg-gradient-primary">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-xl-10 col-lg-12 col-md-9">
                <div class="card o-hidden border-0 shadow-lg my-5">
                    <div class="card-body p-0">
                        <div class="row">
                            {% block main_image %}
                            {% endblock %}

                            {% block main_content %}
                            {% endblock %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {# 부트스트랩 JS #}
    <script src="{% static 'vendor/jquery/jquery-3.5.1.js' %}"></script>
    <script src="{% static 'vendor/bootstrap/js/bootstrap.js' %}"></script>
    <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.js' %}"></script>

    {# 플러그인 JS #}
    <script src="{% static 'vendor/jquery-easing/jquery.easing.js' %}"></script>

    {# 공통 JS #}
    <script src="{% static 'vendor/sb-admin-2/js/sb-admin-2.js' %}"></script>

    {# 페이지 JS #}
    <script src="{% static 'vendor/datatables/jquery.dataTables.js' %}"></script>
    <script src="{% static 'vendor/datatables/dataTables.responsive.js' %}"></script>
    <script src="{% static 'js/datatables.js' %}"></script>

    {# [블록] 유저 JS #}
    {% block page_script %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>
    {% endblock %}

</body>
</html>
