{% extends 'account/base.html' %}
{% load static %}

{% block title %}회원 가입{% endblock %}
{% block main_image %}<div class="col-lg-6 d-none d-lg-block bg-register-image"></div>{% endblock %}

{% block content %}
<div class="text-center">
    <h1 class="h4 text-gray-900 mb-4">회원 가입</h1>
</div>

<form method="post" action="{% url 'signup' %}" class="user">
    {% csrf_token %}
    {% include "form_errors.html" %} {# 오류 메시지 #}

    <div class="form-group">
        <input type="email" class="form-control form-control-user" name="email" id="email"
               value="{{ form.email.value|default_if_none:'' }}" placeholder="이메일을 입력해주세요">
    </div>
    <div class="form-group">
        <input type="text" class="form-control form-control-user" name="username" id="username"
               value="{{ form.username.value|default_if_none:'' }}" placeholder="ID를 입력해주세요">
    </div>
    <div class="form-group row">
        <div class="col-sm-6 mb-3 mb-sm-0">
            <input type="password" class="form-control form-control-user" name="password1" id="password1"
                   value="{{ form.password1.value|default_if_none:'' }}" placeholder="비밀번호 입력">
        </div>
        <div class="col-sm-6">
            <input type="password" class="form-control form-control-user" name="password2" id="password2"
                   value="{{ form.password2.value|default_if_none:'' }}" placeholder="비밀번호 확인">
        </div>
    </div>
    <button type="submit" class="btn btn-primary btn-user btn-block">회원 가입</button>

    {% comment %}
    <hr>
    <a href="index.html" class="btn btn-google btn-user btn-block">
        <i class="fab fa-google fa-fw"></i> Register with Google
    </a>
    <a href="index.html" class="btn btn-facebook btn-user btn-block">
        <i class="fab fa-facebook-f fa-fw"></i> Register with Facebook
    </a>
    {% endcomment %}
</form>
<hr>
{% endblock %}
