{% extends 'score/predict_v1/predict_base.html' %}
{% load static %}
{% load i18n %}
{% load psat_filter %}
{% load partials %}
{% load slippers %}

{% block main %}
{% partialdef index_main inline=True %} {# index_main partial #}
{{ info|json_script:'info' }}
<div class="pagetitle">
    <h1>{{ icon_menu|safe }} {{ title }}
        <span class="fs-6 text-secondary">{{ sub_title }}</span>
        {% if user.is_admin %}
            <a class="btn btn-sm btn-outline-primary ms-2"
               hx-target="#main" hx-swap="innerHTML swap:0.25s" hx-boost="true"
               href="{% url 'predict_admin:index' %}">
                관리자 페이지
            </a>
            <a class="btn btn-sm btn-outline-primary ms-2"
               hx-target="#main" hx-swap="innerHTML swap:0.25s" hx-boost="true"
               href="{% url 'predict_admin:test' %}">
                테스트 페이지
            </a>
        {% endif %}
    </h1>
    {% include 'score/predict_v1/snippets/predict_navigation.html' %}
</div><!-- Page Title End -->

<section class="section htmx-fade-in htmx-fade-out" hx-target="#main" hx-swap="innerHTML swap:0.25s">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title mb-0 text-center">
                        <img src="{% static 'image/prime/2024/exam/title.jpg' %}" class="mw-100" alt="Title"/>
                        <div class="fs-1 fw-bolder">제 {{ round }} 회 성적 예측</div>
                        {% if not student %}
                            <div class="container p-0">
                                <div class="container">
                                    <img src="{% static 'image/prime/2024/exam/message-1.jpg' %}" class="mw-100" alt="Message"/>
                                    <img src="{% static 'image/prime/2024/exam/message-2.jpg' %}" class="mw-100" alt="Message"/>
                                </div>
                            </div>
                        {% endif %}
                        <a class="btn btn-outline-primary ms-auto mt-4" hx-boost="true"
                           href="{% url 'prime:list' %}">
                            메인 페이지로 이동
                        </a>
                    </h5>
                </div>
            </div>
        </div>

        <div class="col-12">
            <div id="info_student" class="card htmx-fade-in htmx-fade-out">
                {% include 'score/predict_v1/snippets/index_info_student.html' %}
            </div>
        </div>

        {% if student %}
            {% if answer_uploaded %}
                <div class="col-12">
                    <div id="sheet_score" class="card htmx-fade-in htmx-fade-out">
                        {% include 'score/predict_v1/snippets/index_sheet_score.html' %}
                    </div>
                </div>
            {% endif %}
            <div class="col-12">
                <div id="info_answer" class="card htmx-fade-in htmx-fade-out">
                    {% include 'score/predict_v1/snippets/index_info_answer.html' %}
                </div>
            </div>
            <div class="col-12">
                <div id="sheet_answer" class="card htmx-fade-in htmx-fade-out">
                    {% include 'score/predict_v1/snippets/index_sheet_answer.html' %}
                </div>
            </div>
        {% endif %}
    </div>
</section>
{% endpartialdef index_main %}
{% endblock main %}
