{% extends 'list.html' %}
{% load static %}
{% load i18n %}
{% load psat_filter %}
{% load partials %}
{% load slippers %}

{% block page_image %}<meta property="og:image" content="{% static 'image/prime/2024/exam/message-1.jpg' %}"/>{% endblock %}

{% block main %}
{% partialdef index_main inline=True %} {# index_main partial #}
{{ info|json_script:'info' }}
<div class="pagetitle">
    <h1>{{ icon_menu|safe }} {{ title }}
        <span class="fs-6 text-secondary">{{ sub_title }}</span>
        {% if user.is_admin %}
            <a class="btn btn-sm btn-outline-primary ms-2"
               hx-target="#main" hx-swap="innerHTML swap:0.25s" hx-boost="true"
               href="{% url 'predict_admin:index' %}">
                관리자 페이지
            </a>
        {% endif %}
    </h1>

    <nav>
        <ol class="breadcrumb" hx-target="#main" hx-swap="innerHTML swap:0.25s" hx-push-url="true">
            <li class="breadcrumb-item">
                <a href="{% url 'index' %}" hx-post="{% url 'index' %}">Home</a>
            </li>
            <li class="breadcrumb-item">Score</li>
            <li class="breadcrumb-item">
                {% if category == 'PSAT' %}
                    <a href="{% url 'score:list' %}" hx-post="{% url 'score:list' %}">PSAT</a>
                {% elif category == 'Prime' %}
                    <a href="{% url 'prime:list' %}" hx-post="{% url 'prime:list' %}">Prime</a>
                {% endif %}
            </li>
            {% if round %}
                <li class="breadcrumb-item">{{ year }}</li>
                <li class="breadcrumb-item active">제{{ round }}회</li>
            {% else %}
                <li class="breadcrumb-item active">{{ year }}</li>
            {% endif %}
        </ol>
    </nav>
</div><!-- Page Title End -->

<section class="section htmx-fade-in htmx-fade-out" hx-swap="innerHTML swap:0.25s">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <h5 class="card-title mb-0 text-center">
                    {% if category == 'Prime' %}
                        <img src="{% static 'image/prime/2024/exam/title.jpg' %}" class="mw-100" alt="Title"/>
                        <div class="fs-1 fw-bolder">제{{ round }}회 성적 예측</div>
                        {% if not student %}
                            <div class="container p-0">
                                <div class="container">
                                    <img src="{% static 'image/prime/2024/exam/message-1.jpg' %}" class="mw-100" alt="Message"/>
                                    <img src="{% static 'image/prime/2024/exam/message-2.jpg' %}" class="mw-100" alt="Message"/>
                                </div>
                            </div>
                        {% endif %}
                    {% endif %}
                </h5>
            </div>
        </div>

        <div class="col-12">
            <div id="student_info" class="card htmx-fade-in htmx-fade-out">
                {% include 'score/predict_v1/snippets/predict_student_info.html' %}
            </div>
        </div>

        {% if student %}
            <div class="col-12">
                <div id="student_info" class="card htmx-fade-in htmx-fade-out">
                    {% include 'score/predict_v1/snippets/predict_answer_student.html' %}
                </div>
            </div>
        {% endif %}

        {% if student %}
            <div class="col-12">
                <div id="student_info" class="card htmx-fade-in htmx-fade-out">
                    {% include 'score/predict_v1/snippets/predict_score_sheet.html' %}
                </div>
            </div>
        {% endif %}
    </div>
</section>
{% endpartialdef index_main %}
{% endblock main %}
