{% extends 'list.html' %}
{% load static %}
{% load psat_filter %}
{% load partials %}
{% load slippers %}

{% block main %}
{% partialdef detail_main inline=True %} {# detail_main partial #}
{{ info|json_script:'info' }}
<div class="pagetitle">
    <h1>{{ icon_menu|safe }} {{ title }}
        <span class="fs-6 text-secondary">{{ sub_title }}</span>
    </h1>

    <nav>
        <ol class="breadcrumb" hx-target="#main" hx-swap="innerHTML swap:0.25s" hx-push-url="true">
            <li class="breadcrumb-item">
                <a href="{% url 'index' %}" hx-post="{% url 'index' %}">Home</a>
            </li>
            <li class="breadcrumb-item">Score</li>
            <li class="breadcrumb-item">
                {% if category == 'PSAT' %}
                    <a href="{% url 'score:list' %}" hx-post="{% url 'score:list' %}">PSAT</a>
                {% elif category == 'Prime' %}
                    <a href="{% url 'prime:list' %}" hx-post="{% url 'prime:list' %}">Prime</a>
                {% endif %}
            </li>
            {% if round %}
                <li class="breadcrumb-item">{{ year }}</li>
                <li class="breadcrumb-item active">제{{ round }}회</li>
            {% else %}
                <li class="breadcrumb-item active">{{ year }}</li>
            {% endif %}
        </ol>
    </nav>
</div><!-- Page Title End -->

<section class="section htmx-fade-in htmx-fade-out"
             hx-target="#main" hx-swap="innerHTML swap:0.25s">
    {% #content_row class1='col-12' %}
        <h5 class="card-title d-flex align-items-center">
            {{ subject }} 답안 입력
            <a class="btn btn-sm btn-outline-primary ms-auto" hx-boost="true"
               href="{% url 'predict:index' %}">
                메인 페이지로 이동
            </a>
        </h5>
        <div class="alert alert-danger alert-dismissible fade show" role="alert">
            <i class="fa-solid fa-circle-exclamation"></i>
                답안 입력 후 제출 버튼을 클릭해주세요.
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        <div class="col-12 d-flex flex-wrap justify-content-center justify-content-md-start">
            <div class="col-md-6 col-lg-4 justify-content-center pb-2">
            {% for problem in answer_student %}
                <div class="col-12 justify-content-center">
                    {% if student %}
                        {% partial form %}
                    {% else %}
                        {% partial no_student %}
                    {% endif %}
                </div>
                {% if forloop.counter|divisibleby:5 %}
            <hr/>
            </div>
                    {% if not forloop.last %}
            <div class="col-md-6 col-lg-4 justify-content-center pb-2">
                    {% endif %}
                {% endif %}
            {% endfor %}
        </div>
        <form class="text-center">
            <input type="text" name="answer_id" value="{{ answer_student.id }}" aria-label="Answer ID" hidden/>
            <button class="btn btn-primary" hx-target="#modalContainer" type="submit"
                    hx-post="{% url 'predict:answer_confirm' sub %}" hx-swap="innerHTML" hx-trigger="click"
                    hx-push-url="false"
                    data-bs-toggle="modal" data-bs-target="#modalContainer">
                답안 제출
            </button>
        </form>
    {% /content_row %}
</section>
{% endpartialdef detail_main %}
{% endblock main %}

{% partialdef form %} {# form partial #}
<form>
    <input type="text" name="number" value="{{ problem.number }}" aria-label="Number" hidden/>
    <input type="text" name="student_id" value="{{ student.id }}" aria-label="Student ID" hidden/>
    <div class="d-flex justify-content-center align-content-center">
        <p class="fw-bold text-secondary text-nowrap my-2 ms-3 me-2">문 {{ problem.number|add_0 }}.</p>
        <div id="p{{ problem.number|add_0 }}_answer" class="d-flex justify-content-center align-content-center me-3"
             hx-post="{% url 'predict:answer_submit' sub %}"
             hx-include="#p{{ problem.number|add_0 }}_answer>input[name='answer']:checked"
             hx-target="this" hx-trigger="change" hx-swap="innerHTML" hx-push-url="false">
            {% with target_answer=problem.answer_student target_problem=problem %}
                {% if subject == 'heonbeob' or sub == '헌법' %}
                    {% for i in '1234' %}

                        {% partialdef answer_buttons inline=True %} {# answer_buttons partial #}
                            <input id="p{{ target_problem.number|add_0 }}_answer{{ i }}" type="radio"
                                   class="btn-check" name="answer" value="{{ i }}"/>
                            <label class="btn btn-circle btn-sm fs-6 mx-1 my-2
                                   {% if i|add:0 == target_answer %}btn-secondary
                                   {% else %} btn-outline-secondary{% endif %}"
                                   for="p{{ target_problem.number|add_0 }}_answer{{ i }}">{{ i }}</label>
                        {% endpartialdef answer_buttons %}

                    {% endfor %}
                {% else %}
                    {% for i in '12345' %}
                        {% partial answer_buttons %}
                    {% endfor %}
                {% endif %}
            {% endwith %}
        </div>
    </div>
</form>
{% endpartialdef form %}

{% partialdef scored_form %} {# scored_form partial #}
    {% with target_answer=scored.answer target_problem=scored.problem %}
        {% if subject == 'heonbeob' or sub == '헌법' %}
            {% for i in '1234' %}
                {% partial answer_buttons %}
            {% endfor %}
        {% else %}
            {% for i in '12345' %}
                {% partial answer_buttons %}
            {% endfor %}
        {% endif %}
    {% endwith %}
{% endpartialdef scored_form %}

{% partialdef no_student %} {# no_student partial #}
    <div class="d-flex justify-content-center align-content-center">
        <p class="fw-bold text-secondary text-nowrap my-2 ms-3 me-2">
            <a href="" hx-get="{% url 'psat:detail' 'problem' problem.id %}" hx-push-url="true">
                문 {{ problem.number|add_0 }}.
            </a>
        </p>
        <div class="d-flex justify-content-center align-content-center me-3">
            {% if subject == 'heonbeob' %}
                {% for i in '1234' %}
                    <div class="btn btn-circle btn-outline-secondary btn-sm fs-6 mx-1 my-2"
                         hx-get="{% url 'score:no_student_modal' year ex %}" hx-swap="innerHTML"
                         hx-target="#modalContainer" data-bs-toggle="modal"
                         data-bs-target="#modalContainer">{{ i }}</div>
                {% endfor %}
            {% else %}
                {% for i in '12345' %}
                    <div class="btn btn-circle btn-outline-secondary btn-sm fs-6 mx-1 my-2"
                         hx-get="{% url 'score:no_student_modal' year ex %}" hx-swap="innerHTML"
                         hx-target="#modalContainer" data-bs-toggle="modal"
                         data-bs-target="#modalContainer">{{ i }}</div>
                {% endfor %}
            {% endif %}
        </div>
    </div>
{% endpartialdef no_student %}
