{% extends 'list.html' %}
{% load static %}
{% load partials %}

{% block head_title %}{{ sub_title }}{% endblock %}
{% block page_image %}<meta property="og:image" content="{% static 'image/prime/2024/exam/message-1.jpg' %}"/>{% endblock %}

{% block main %}
{% partialdef admin_main inline=True %} {# admin_main partial #}
{{ info|json_script:'info' }}
<div class="pagetitle">
    <h1>{{ icon_menu|safe }} {{ title }}
        <span class="fs-6 text-secondary">{{ sub_title }}</span>
    </h1>
    <nav>
        <ol class="breadcrumb" hx-target="#main" hx-swap="innerHTML swap:0.25s" hx-push-url="true">
            <li class="breadcrumb-item">
                <a href="{% url 'index' %}" hx-post="{% url 'index' %}">Home</a>
            </li>
            <li class="breadcrumb-item">Score</li>
            <li class="breadcrumb-item">
                <a href="{% url 'score_old:predict-index' %}" hx-boost="true">Predict</a>
            </li>
            <li class="breadcrumb-item">
                <a href="{% url 'score_old:predict-admin-list' %}" hx-boost="true">Admin</a>
            </li>
            {% if category == 'PSAT' %}
                <li class="breadcrumb-item">PSAT</li>
                <li class="breadcrumb-item">{{ year }}</li>
                <li class="breadcrumb-item active">{{ ex }}</li>
            {% elif category == 'Prime' %}
                <li class="breadcrumb-item">Prime</li>
                <li class="breadcrumb-item">{{ year }}</li>
                <li class="breadcrumb-item active">제{{ round }}회</li>
            {% endif %}
        </ol>
    </nav>
</div><!-- Page Title End -->

<section class="section">
    <div class="row">
        <div class="col-12">
            <div id="statistics" class="card" hx-target="#main" hx-swap="innerHTML swap:0.25s">
                {% include 'score/predict_admin_v1/snippets/detail_statistics.html' %}
            </div>
        </div>

        <div class="col-12">
            <div id="answer_analysis" class="card" hx-target="#main" hx-swap="innerHTML swap:0.25s">
                {% include 'score/predict_admin_v1/snippets/detail_answer_analysis.html' %}
            </div>
        </div>

        <div class="col-12">
            <div id="catalog" class="card htmx-fade-in htmx-fade-out" hx-swap="innerHTML swap:0.25s">
                {% include 'score/predict_admin_v1/snippets/detail_catalog.html' %}
            </div>
        </div>
    </div>
</section>
{% endpartialdef list_main %}
{% endblock main %}
