{% extends 'score/predict_v1/predict_base.html' %}
{% load static %}
{% load psat_filter %}
{% load partials %}
{% load slippers %}
{% load humanize %}

{% block main %}
{% partialdef admin_main inline=True %} {# admin_main partial #}
{{ info|json_script:'info' }}
<div class="pagetitle">
    <h1>{{ icon_menu|safe }} {{ title }}
        <span class="fs-6 text-secondary">{{ sub_title }}</span>
        <a class="btn btn-sm btn-outline-primary ms-2"
           hx-target="#main" hx-swap="innerHTML swap:0.25s" hx-boost="true"
           href="{% url 'predict:index' %}">
            일반 페이지
        </a>
    </h1>
    {% include 'score/predict_v1/snippets/predict_navigation.html' %}
</div><!-- Page Title End -->

<section id="statistics" class="section htmx-fade-in htmx-fade-out"
         hx-target="#main" hx-swap="innerHTML swap:0.25s">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title mb-0">
                        <div class="d-flex align-items-center">
                            성적 통계
                            <div class="btn-group ms-auto">
                                <a class="btn btn-sm btn-outline-secondary" title="업데이트"
                                   hx-confirm="성적 자료를 업데이트하시겠습니까?" href=""
                                   hx-get="{% url 'predict_admin:update_score' %}"
                                   hx-target="#modalContainer" hx-swap="innerHTML" hx-push-url="false"
                                   data-bs-toggle="modal" data-bs-target="#modalContainer">
                                    성적 업데이트
                                </a>
                                <a class="btn btn-sm btn-outline-secondary" title="인쇄하기"
                                   href="{% url 'prime_admin:print' year round %}" target="_blank">
                                    인쇄하기
                                </a>
                                <a class="btn btn-sm btn-outline-secondary" title="Excel로 내보내기"
                                   href="{% url 'prime_admin:export_statistics' year round %}">
                                    Excel로 내보내기
                                </a>
                            </div>
                        </div>
                    </h5>

                    <article class="table-responsive">
                        <table class="table table-bordered table-striped small align-middle m-0">
                            <thead>
                                <tr class="text-center table-warning align-middle">
                                    <th class="text-primary text-nowrap p-2" rowspan="2">직렬</th>
                                    <th class="text-primary text-nowrap p-2" rowspan="2">응시 인원</th>
                                    <th class="text-primary text-nowrap p-2" colspan="4">헌법</th>
                                    <th class="text-primary text-nowrap p-2" colspan="4">언어논리</th>
                                    <th class="text-primary text-nowrap p-2" colspan="4">자료해석</th>
                                    <th class="text-primary text-nowrap p-2" colspan="4">상황판단</th>
                                    <th class="text-primary text-nowrap p-2" colspan="4">PSAT</th>
                                </tr>

                                <tr class="text-center table-warning align-middle">
                                    <th class="text-primary text-nowrap p-2">최고<br/>점수</th>
                                    <th class="text-primary text-nowrap p-2">상위<br/>10%</th>
                                    <th class="text-primary text-nowrap p-2">상위<br/>20%</th>
                                    <th class="text-primary text-nowrap p-2">평균<br/>점수</th>

                                    <th class="text-primary text-nowrap p-2">최고<br/>점수</th>
                                    <th class="text-primary text-nowrap p-2">상위<br/>10%</th>
                                    <th class="text-primary text-nowrap p-2">상위<br/>20%</th>
                                    <th class="text-primary text-nowrap p-2">평균<br/>점수</th>

                                    <th class="text-primary text-nowrap p-2">최고<br/>점수</th>
                                    <th class="text-primary text-nowrap p-2">상위<br/>10%</th>
                                    <th class="text-primary text-nowrap p-2">상위<br/>20%</th>
                                    <th class="text-primary text-nowrap p-2">평균<br/>점수</th>

                                    <th class="text-primary text-nowrap p-2">최고<br/>점수</th>
                                    <th class="text-primary text-nowrap p-2">상위<br/>10%</th>
                                    <th class="text-primary text-nowrap p-2">상위<br/>20%</th>
                                    <th class="text-primary text-nowrap p-2">평균<br/>점수</th>

                                    <th class="text-primary text-nowrap p-2">최고<br/>점수</th>
                                    <th class="text-primary text-nowrap p-2">상위<br/>10%</th>
                                    <th class="text-primary text-nowrap p-2">상위<br/>20%</th>
                                    <th class="text-primary text-nowrap p-2">평균<br/>점수</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% if statistics %}
                                    {% for obj in statistics %}
                                        <tr class="text-center">
                                            <td class="text-nowrap p-2">{{ obj.department }}</td>
                                            <td class="text-nowrap p-2">{{ obj.num_students|intcomma }}</td>

                                            <td class="text-nowrap p-2">{{ obj.max_score_heonbeob|floatformat:1 }}</td>
                                            <td class="text-nowrap p-2">{{ obj.top_score_10_heonbeob|floatformat:1 }}</td>
                                            <td class="text-nowrap p-2">{{ obj.top_score_20_heonbeob|floatformat:1 }}</td>
                                            <td class="text-nowrap p-2">{{ obj.avg_score_heonbeob|floatformat:1 }}</td>

                                            <td class="text-nowrap p-2">{{ obj.max_score_eoneo|floatformat:1 }}</td>
                                            <td class="text-nowrap p-2">{{ obj.top_score_10_eoneo|floatformat:1 }}</td>
                                            <td class="text-nowrap p-2">{{ obj.top_score_20_eoneo|floatformat:1 }}</td>
                                            <td class="text-nowrap p-2">{{ obj.avg_score_eoneo|floatformat:1 }}</td>

                                            <td class="text-nowrap p-2">{{ obj.max_score_jaryo|floatformat:1 }}</td>
                                            <td class="text-nowrap p-2">{{ obj.top_score_10_jaryo|floatformat:1 }}</td>
                                            <td class="text-nowrap p-2">{{ obj.top_score_20_jaryo|floatformat:1 }}</td>
                                            <td class="text-nowrap p-2">{{ obj.avg_score_jaryo|floatformat:1 }}</td>

                                            <td class="text-nowrap p-2">{{ obj.max_score_sanghwang|floatformat:1 }}</td>
                                            <td class="text-nowrap p-2">{{ obj.top_score_10_sanghwang|floatformat:1 }}</td>
                                            <td class="text-nowrap p-2">{{ obj.top_score_20_sanghwang|floatformat:1 }}</td>
                                            <td class="text-nowrap p-2">{{ obj.avg_score_sanghwang|floatformat:1 }}</td>

                                            <td class="text-nowrap p-2">{{ obj.max_score_psat_avg|floatformat:1 }}</td>
                                            <td class="text-nowrap p-2">{{ obj.top_score_10_psat_avg|floatformat:1 }}</td>
                                            <td class="text-nowrap p-2">{{ obj.top_score_20_psat_avg|floatformat:1 }}</td>
                                            <td class="text-nowrap p-2">{{ obj.avg_score_psat_avg|floatformat:1 }}</td>
                                        </tr>
                                    {% endfor %}
                                {% endif %}
                            </tbody>
                        </table>
                    </article>
                </div>
            </div>
        </div>
    </div>
</section>

{% partialdef catalog inline=True %}
<section id="catalog" class="section htmx-fade-in htmx-fade-out"
         hx-target="#catalog" hx-swap="innerHTML swap:0.25s">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title mb-0">
                        <div class="d-flex">
                            <span class="border-top border-bottom border-secondary-subtle fs-6 text-black p-1">
                                성적 일람표
                            </span>
                            <form method="POST" action="{% url 'prime_admin:export_transcript' year round %}"
                                  class="ms-auto">
                                {% csrf_token %}
                                <div class="btn-group">
                                    <a class="btn btn-sm btn-outline-secondary" title="Excel로 내보내기"
                                       href="{% url 'prime_admin:export_scores' year round %}">
                                        Excel로 내보내기
                                    </a>
                                    <input name="student_ids" type="text" aria-label="Student IDs" hidden
                                           value="{% for id in student_ids %}{{ id }}{% if not forloop.last %},{% endif %}{% endfor %}"/>
                                    <button class="btn btn-sm btn-outline-secondary"
                                            title="PDF로 내보내기" type="submit">
                                        PDF로 내보내기
                                    </button>
                                </div>
                            </form>
                        </div>
                    </h5>

                    <div class="d-flex">
                        <form class="d-flex align-items-center">
                            <div class="input-group mb-3">
                                <input id="id_student_name" type="text" name="student_name" class="form-control form-control-sm"
                                       placeholder="학생 이름" title="학생 이름" aria-label="학생 이름">
                                <button type="submit" title="Search" class="btn btn-sm btn-outline-secondary"
                                        hx-post="{% url 'prime_admin:catalog_year_round' year round %}">
                                    {{ icon_search|safe }}
                                </button>
                            </div>
                        </form>
                        <div class="ms-auto">
                            <button id="dropdownCategoryLink" type="button"
                                    class="btn btn-sm btn-outline-primary dropdown-toggle"
                                    data-bs-toggle="dropdown" aria-expanded="false">
                                구분
                            </button>
                            <ul class="dropdown-menu" aria-labelledby="dropdownCategoryLink">
                                <li class="text-center">
                                </li>
                                {% for category in category_list %}
                                    {% if category %}
                                        <li class="text-center">
                                            <a class="dropdown-item {% if category == current_category %}bg-primary-light{% endif %}"
                                               href="" hx-get="{{ base_url }}?category={{ category }}">
                                                {{ category }}
                                            </a>
                                        </li>
                                    {% endif %}
                                {% endfor %}
                            </ul>
                        </div>
                    </div>

                    <article class="table-responsive">
                        <table class="table table-bordered table-striped small align-middle m-0">
                            <thead>
                                <tr class="text-center table-warning align-middle">
                                    <th class="text-primary text-nowrap p-2" rowspan="3">ID</th>
                                    <th class="text-primary text-nowrap p-2" rowspan="3">구분</th>
                                    <th class="text-primary text-nowrap p-2" rowspan="3">등수</th>
                                    <th class="text-primary text-nowrap p-2" rowspan="3">이름</th>
                                    <th class="text-primary text-nowrap p-2" rowspan="3">수험번호</th>
                                    <th class="text-primary text-nowrap p-2" rowspan="3">직렬</th>

                                    <th class="text-primary text-nowrap p-2" colspan="5">헌법</th>
                                    <th class="text-primary text-nowrap p-2" colspan="5">언어논리</th>
                                    <th class="text-primary text-nowrap p-2" colspan="5">자료해석</th>
                                    <th class="text-primary text-nowrap p-2" colspan="5">상황판단</th>
                                    <th class="text-primary text-nowrap p-2" colspan="6">PSAT</th>
                                </tr>

                                <tr class="text-center table-warning align-middle">
                                    <th class="text-primary text-nowrap p-2" rowspan="2">점수</th>
                                    <th class="text-primary text-nowrap p-2" colspan="2">전체 석차</th>
                                    <th class="text-primary text-nowrap p-2" colspan="2">직렬 석차</th>

                                    <th class="text-primary text-nowrap p-2" rowspan="2">점수</th>
                                    <th class="text-primary text-nowrap p-2" colspan="2">전체 석차</th>
                                    <th class="text-primary text-nowrap p-2" colspan="2">직렬 석차</th>

                                    <th class="text-primary text-nowrap p-2" rowspan="2">점수</th>
                                    <th class="text-primary text-nowrap p-2" colspan="2">전체 석차</th>
                                    <th class="text-primary text-nowrap p-2" colspan="2">직렬 석차</th>

                                    <th class="text-primary text-nowrap p-2" rowspan="2">점수</th>
                                    <th class="text-primary text-nowrap p-2" colspan="2">전체 석차</th>
                                    <th class="text-primary text-nowrap p-2" colspan="2">직렬 석차</th>

                                    <th class="text-primary text-nowrap p-2" rowspan="2">총점</th>
                                    <th class="text-primary text-nowrap p-2" rowspan="2">평균</th>
                                    <th class="text-primary text-nowrap p-2" colspan="2">전체 석차</th>
                                    <th class="text-primary text-nowrap p-2" colspan="2">직렬 석차</th>
                                </tr>

                                <tr class="text-center table-warning align-middle">
                                    <th class="text-primary text-nowrap p-2">등</th>
                                    <th class="text-primary text-nowrap p-2">%</th>
                                    <th class="text-primary text-nowrap p-2">등</th>
                                    <th class="text-primary text-nowrap p-2">%</th>

                                    <th class="text-primary text-nowrap p-2">등</th>
                                    <th class="text-primary text-nowrap p-2">%</th>
                                    <th class="text-primary text-nowrap p-2">등</th>
                                    <th class="text-primary text-nowrap p-2">%</th>

                                    <th class="text-primary text-nowrap p-2">등</th>
                                    <th class="text-primary text-nowrap p-2">%</th>
                                    <th class="text-primary text-nowrap p-2">등</th>
                                    <th class="text-primary text-nowrap p-2">%</th>

                                    <th class="text-primary text-nowrap p-2">등</th>
                                    <th class="text-primary text-nowrap p-2">%</th>
                                    <th class="text-primary text-nowrap p-2">등</th>
                                    <th class="text-primary text-nowrap p-2">%</th>

                                    <th class="text-primary text-nowrap p-2">등</th>
                                    <th class="text-primary text-nowrap p-2">%</th>
                                    <th class="text-primary text-nowrap p-2">등</th>
                                    <th class="text-primary text-nowrap p-2">%</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% if page_obj %}
                                    {% for obj in page_obj %}
                                        <tr class="text-center">
                                            <td class="text-nowrap p-2">{{ obj.student.id }}</td>
                                            <td class="text-nowrap p-2">
                                                {% if obj.student.category is not None %}
                                                    {{ obj.student.category }}
                                                {% endif %}
                                            </td>
                                            <td class="text-nowrap p-2">{{ obj.rank_total_psat }}</td>
                                            <td class="text-nowrap p-2">
                                                <a href="{% url 'prime_admin:individual_student_print' year round obj.student.id %}"
                                                   target="score_print">
                                                    {{ obj.student.name }}
                                                </a>
                                            </td>
                                            <td class="text-nowrap p-2">{{ obj.student.serial }}</td>
                                            <td class="text-nowrap p-2">{{ obj.student.department.name }}</td>

                                            <td class="text-nowrap p-2">{{ obj.score_heonbeob|floatformat:1 }}</td>
                                            <td class="text-nowrap p-2">{{ obj.rank_total_heonbeob }}</td>
                                            <td class="text-nowrap p-2">{{ obj.rank_ratio_total_heonbeob|percentage|floatformat:1 }}</td>
                                            <td class="text-nowrap p-2">{{ obj.rank_department_heonbeob }}</td>
                                            <td class="text-nowrap p-2">{{ obj.rank_ratio_department_heonbeob|percentage|floatformat:1 }}</td>

                                            <td class="text-nowrap p-2">{{ obj.score_eoneo|floatformat:1 }}</td>
                                            <td class="text-nowrap p-2">{{ obj.rank_total_eoneo }}</td>
                                            <td class="text-nowrap p-2">{{ obj.rank_ratio_total_eoneo|percentage|floatformat:1 }}</td>
                                            <td class="text-nowrap p-2">{{ obj.rank_department_eoneo }}</td>
                                            <td class="text-nowrap p-2">{{ obj.rank_ratio_department_eoneo|percentage|floatformat:1 }}</td>

                                            <td class="text-nowrap p-2">{{ obj.score_jaryo|floatformat:1 }}</td>
                                            <td class="text-nowrap p-2">{{ obj.rank_total_jaryo }}</td>
                                            <td class="text-nowrap p-2">{{ obj.rank_ratio_total_jaryo|percentage|floatformat:1 }}</td>
                                            <td class="text-nowrap p-2">{{ obj.rank_department_jaryo }}</td>
                                            <td class="text-nowrap p-2">{{ obj.rank_ratio_department_jaryo|percentage|floatformat:1 }}</td>

                                            <td class="text-nowrap p-2">{{ obj.score_sanghwang|floatformat:1 }}</td>
                                            <td class="text-nowrap p-2">{{ obj.rank_total_sanghwang }}</td>
                                            <td class="text-nowrap p-2">{{ obj.rank_ratio_total_sanghwang|percentage|floatformat:1 }}</td>
                                            <td class="text-nowrap p-2">{{ obj.rank_department_sanghwang }}</td>
                                            <td class="text-nowrap p-2">{{ obj.rank_ratio_department_sanghwang|percentage|floatformat:1 }}</td>

                                            <td class="text-nowrap p-2">{{ obj.score_psat|floatformat:1 }}</td>
                                            <td class="text-nowrap p-2">{{ obj.score_psat_avg|floatformat:1 }}</td>
                                            <td class="text-nowrap p-2">{{ obj.rank_total_psat }}</td>
                                            <td class="text-nowrap p-2">{{ obj.rank_ratio_total_psat|percentage|floatformat:1 }}</td>
                                            <td class="text-nowrap p-2">{{ obj.rank_department_psat }}</td>
                                            <td class="text-nowrap p-2">{{ obj.rank_ratio_department_psat|percentage|floatformat:1 }}</td>
                                        </tr>
                                    {% endfor %}
                                {% endif %}
                            </tbody>
                        </table>
                    </article>

                    {% #pagination_nav %}
                        {% if page_obj.has_previous %}
                            {% with page_num=page_obj.number|add:-1 chevron='left' %}

                                {% partialdef pagination_link inline=True %} {# pagination_link partial #}
                                    <li class="page-item {{ status }}"
                                        {% if status == 'active' %}aria-current="page"{% endif %}>
                                        <a class="page-link" href=""
                                            {% if status == 'disabled' %}
                                                tabindex="-1" aria-disabled="true"
                                            {% else %}
                                                hx-get="{{ pagination_url }}&page={{ page_num }}"
                                            {% endif %}>
                                            {% if chevron %}
                                                <i class="fa-solid fa-chevron-{{ chevron }}"></i>
                                            {% else %}
                                                {{ anchor_text }}
                                            {% endif %}
                                        </a>
                                    </li>
                                {% endpartialdef pagination_link %}

                            {% endwith %}
                        {% endif %}

                        {% for number in page_range %}
                            {% with page_num=number anchor_text=number %}
                                {% if number == page_obj.number %}
                                    {% with status='active' %}
                                        {% partial pagination_link %}
                                    {% endwith %}
                                {% elif number == page_obj.paginator.ELLIPSIS %}
                                    {% with status='disabled' %}
                                        {% partial pagination_link %}
                                    {% endwith %}
                                {% else %}
                                    {% partial pagination_link %}
                                {% endif %}
                            {% endwith %}
                        {% endfor %}

                        {% if page_obj.has_next %}
                            {% with page_num=page_obj.number|add:1 chevron='right' %}
                                {% partial pagination_link %}
                            {% endwith %}
                        {% endif %}
                    {% /pagination_nav %}
                </div>
            </div>
        </div>
    </div>
</section>
{% endpartialdef statistics %}
{% endpartialdef list_main %}
{% endblock main %}
