{% extends 'score/predict_v1/predict_base.html' %}
{% load static %}
{% load i18n %}
{% load psat_filter %}
{% load partials %}
{% load slippers %}
{% load humanize %}

{% block main %}
{% partialdef list_main inline=True %} {# list_main partial #}
{{ info|json_script:'info' }}
<div class="pagetitle">
    <h1>{{ icon_menu|safe }} {{ title }}
        <span class="fs-6 text-secondary">성적 예측</span>
        <a class="btn btn-sm btn-outline-primary ms-2"
           hx-target="#main" hx-swap="innerHTML swap:0.25s" hx-boost="true"
           href="{% url 'predict:index' %}">
            일반 페이지
        </a>
    </h1>
    {% with predict=True %}
        {% include 'score/predict_v1/snippets/predict_navigation.html' %}
    {% endwith %}
</div><!-- Page Title End -->

<section class="section htmx-fade-in htmx-fade-out"
         hx-target="#main" hx-swap="innerHTML swap:0.25s" hx-push-url="true">
    <div class="row">
        <div class="col-12">
            <div id="exam_list" class="card" hx-target="#main" hx-swap="innerHTML swap:0.25s" hx-push-url="true">
                {% include 'score/predict_admin_v1/snippets/list_exam_list.html' %}
            </div>
        </div>

        <div class="col-12">
            <div id="student_list" class="card htmx-fade-in htmx-fade-out"
                 hx-target="#student_list" hx-swap="innerHTML swap:0.25s">
                {% include 'score/predict_admin_v1/snippets/list_student_list.html' %}
            </div>
        </div>
    </div>
</section>
{% endpartialdef list_main %}
{% endblock main %}
