{% load i18n %}
{% load partials %}

{# MemoDetailView -> context: memo #}
{# MemoUpdateView -> context: memo #}
{# MemoCreateView -> context: problem #}

<div id="myMemo" class="htmx-fade-in htmx-fade-out">
    <div class="badge bg-success m-2">MEMO</div>
    {% if memo %}
        <div class="d-flex align-items-center mb-2 mx-2">
            <a class="text-secondary me-2" title="{% trans 'Update' %}"
               hx-get="{% url 'psat:memo_update' memo.id %}"
               hx-target="#myMemoContent" hx-swap="innerHTML" href="">
                {{ BOARD_ICON_SET.update|safe }}
            </a>
            <a class="text-danger me-2" title="{% trans 'Delete' %}"
               hx-post="{% url 'psat:memo_delete' memo.id %}"
               hx-confirm="{% trans 'Are you sure you wish to delete your memo?' %}"
               hx-target="#detailMemo" hx-swap="innerHTML" href="">
                {{ BOARD_ICON_SET.delete|safe }}
            </a>
            <div id="myMemoContent" class="flex-fill border-start border-secondary-subtle ps-2">
                <span class="text-secondary fw-bold">{{ memo.content }}</span>
            </div>
        </div>
    {% else %}
        <div class="mb-2 mx-2">
            <form>
                <div class="input-group">
                    {% csrf_token %}
                    <input name="user_id" type="text" value="{{ user.id }}"
                           aria-label="User" hidden/>
                    <input name="problem" type="text" value="{{ problem.id }}"
                           aria-label="Problem" hidden/>
                    <input name="content" type="text" aria-label="Content" required
                           class="form-control form-control-sm"
                           placeholder="{% trans 'Leave memo' %}"/>
                    <button class="btn btn-sm btn-outline-primary" hx-target="#detailMemo"
                            hx-post="{% url 'psat:memo_create' problem.id %}" hx-swap="innerHTML">
                        {% trans 'Create' %}
                    </button>
                </div>
            </form>
        </div>
    {% endif %}
</div><!-- Problem Memo End -->


{% partialdef update %}
    <form>
        <div class="input-group">
            {% csrf_token %}
            <input name="user_id" type="text" value="{{ memo.user_id }}"
                   aria-label="User" hidden/>
            <input name="problem" type="text" value="{{ memo.problem.id }}"
                   aria-label="Problem" hidden/>
            <input name="content" type="text" aria-label="Content" required
                   class="form-control form-control-sm" value="{{ memo.content }}"
                   placeholder="{% trans 'Leave memo' %}"/>
            <button class="btn btn-sm btn-outline-primary" hx-target="#detailMemo"
                    hx-post="{% url 'psat:memo_update' memo.id %}" hx-swap="innerHTML">
                {% trans 'Update' %}
            </button>
        </div>
    </form>
{% endpartialdef %}

