{% load static %}
{% load partials %}
{% load slippers %}
{% load psat_filter %}

<div role="button" aria-label="answer-button">
    <form class="m-1 answer-group" aria-label="Answer Button">
        {% csrf_token %}
        <input type="radio" class="btn-check" name="answer" id="answer1" value="1">
        <label class="btn btn-circle btn-outline-success btn-sm fs-6 m-0" for="answer1">1</label>

        <input type="radio" class="btn-check" name="answer" id="answer2" value="2">
        <label class="btn btn-circle btn-outline-success btn-sm fs-6 m-0" for="answer2">2</label>

        <input type="radio" class="btn-check" name="answer" id="answer3" value="3">
        <label class="btn btn-circle btn-outline-success btn-sm fs-6 m-0" for="answer3">3</label>

        <input type="radio" class="btn-check" name="answer" id="answer4" value="4">
        <label class="btn btn-circle btn-outline-success btn-sm fs-6 m-0" for="answer4">4</label>

        <input type="radio" class="btn-check" name="answer" id="answer5" value="5">
        <label class="btn btn-circle btn-outline-success btn-sm fs-6 m-0" for="answer5">5</label>
    {% if user.is_authenticated %}
        <input type="text" name="icon_id" value="#psatAnswer{{ problem.id }}" aria-label="Input ID" hidden/>
        <input type="text" name="problem_id" value="{{ problem.id }}" aria-label="Problem ID" hidden/>
        <a class="btn btn-circle btn-success btn-sm fs-6"
           hx-post="{% url 'psat:solve_modal' %}?problem_id={{ problem.id }}"
           hx-target="#modalContainer" hx-trigger="click" hx-swap="innerHTML"
           data-bs-toggle="modal" data-bs-target="#modalContainer">
            <i class="fa-solid fa-check"></i>
        </a>
    {% else %}
        <a class="answer-button" href="" data-bs-toggle="modal" data-bs-target="#loginModal">
            <button class="btn btn-circle btn-success btn-sm fs-6">
                <i class="fa-solid fa-check"></i>
            </button>
        </a>
    {% endif %}
    </form>
</div>


{% partialdef answer_modal %}
    {% #modal header='정답 확인' %}
        <input id="solve_answer" type="text" name="answer" value="{{ answer }}"
               hidden aria-label="Answer"/>
        {% if is_correct is None %}
            <h5 class="modal-title fw-bold text-danger">
                정답을 선택해주세요.
            </h5>
        {% else %}
            <h5 class="modal-title mx-auto fw-bold"
                hx-post="{% url 'psat:custom' 'solve' problem_id %}"
                hx-include="#solve_answer" hx-trigger="load"
                hx-target="#psatSolve{{ problem_id }}" hx-swap="innerHTML swap:0.25s">
                {% if is_correct %}
                    <span class="text-success">정답입니다.</span>
                {% else %}
                    <span class="text-danger">오답입니다.</span>
                {% endif %}
            </h5>
            {% if not is_correct %}
                <p class="text-secondary small">다시 풀어보세요.</p>
            {% endif %}
        {% endif %}
    {% /modal %}
{% endpartialdef %}
