{% load i18n %}
{% load taggit_templatetags2_tags %}
{% load partials %}
{% load psat_filter %}

{# context: problem, all_tags #}
<div id="myTags" class="htmx-fade-in htmx-fade-out">
    <div class="badge bg-success m-2">MY TAGS</div>
    <div class="mb-2 mx-2">
        <form>
            <div class="input-group">
                <input name="user_id" type="text" class="tag-info"
                       value="{{ user.id }}" aria-label="User" hidden/>
                <input name="problem" type="text" class="tag-info"
                       value="{{ problem.id }}" aria-label="Problem" hidden/>
                <input name="tags" type="text" aria-label="Tag input" required
                       class="form-control form-control-sm" placeholder="{% trans 'Leave tags' %}"/>
                <button class="btn btn-sm btn-outline-primary" href=""
                        hx-post="{% url 'psat:tag_create' problem.id %}"
                        hx-include=".tag-info" hx-target="#detailTags" hx-swap="innerHTML">
                    {% trans 'Create' %}
                </button>
            </div>
        </form>
    </div>
</div><!-- My Tags End -->
<div id="allTags" class="htmx-fade-in htmx-fade-out">
    <div class="badge bg-success m-2">ALL TAGS</div>
    <div class="d-flex align-items-start mb-2 mx-2">
        {% if all_tags %}
            <div class="border-start border-secondary-subtle ps-2">
                {% for tag in all_tags %}
                <div class="btn-group">
                    <span class="badge rounded-pill bg-primary dropdown-toggle" type="button"
                          data-bs-toggle="dropdown" aria-expanded="false">{{ tag }}</span>
                    <ul class="dropdown-menu">
                        <li>
                            <button class="dropdown-item" title="{% trans 'Tag Cloud' %}" href="">
                                {{ PSAT_ICON_SET.tag|safe }}
                                {% trans 'Tag Cloud' %}
                            </button>
                        </li>
                        <li>
                            <form>
                                <input name="tags" type="text" value="{{ tag }}" aria-label="Tag input"
                                       class="form-control form-control-sm" hidden/>
                                <button class="dropdown-item" href="" hx-include=".tag-info"
                                        hx-post="{% url 'psat:tag_create' problem.id %}"
                                        hx-target="#detailTags" hx-swap="innerHTML">
                                    <i class="fa-solid fa-plus"></i>
                                    {% trans 'Add to my tags' %}
                                </button>
                            </form>
                        </li><!-- Add to My Tags End -->
                    </ul>
                </div>
                {% endfor %}
            </div>
        {% endif %}
    </div>
</div><!-- All Tags End -->
