{% extends 'list.html' %}
{% load static %}
{% load psat_filter %}

{% block head_title %}시험 일정{% endblock head_title %}

{% block main %}
<section id="{{ info.target_id }}">
    <div id="info">{{ info|json_script:info }}</div>
    <div class="pagetitle my-2">
        <h1>{{ info.icon|safe }} {{ info.title }}</h1>
    </div><!-- End Page Title -->

    <section class="section">
        <div class="row">
            <div class="col-12 my-2">
                <div class="card">
                    <div class="card-body p-4">
                        <div class="p-0 my-2 d-flex justify-content-between">
                            <a class="btn btn-outline-primary btn-sm" href="{% url 'schedule:base' %}?{{ prev_month }}">
                                이전 달
                            </a>
                        {% if user.is_admin %}
                            <a class="btn btn-outline-primary btn-sm" href="{% url 'schedule:new' %}">
                                새 일정
                            </a>
                        {% endif %}
                            <a class="btn btn-outline-primary btn-sm" href="{% url 'schedule:base' %}?{{ next_month }}">
                                다음 달
                            </a>
                        </div>
                        {{ calendar }}
                    </div>
                </div>
            </div>
        </div><!-- End Content Row -->
    </section>
</section><!-- End Main Content -->
{% endblock %}

{% block page_script %}
{% endblock %}