{% load slippers %}

{% block main %}
<section>
    <div class="pagetitle my-2">
        <h1>일정 추가</h1>
    </div><!-- End Page Title -->

    <section class="section">
    {% #content_row class3='p-4' %}
        <div class="p-0 my-2 d-flex justify-content-center">
            <form method="post">
                {% csrf_token %}
                <table class="form form-table table table-borderless table-sm align-middle" style="max-width:400px;">
                    {{ form }}
                </table>
                <div class="d-flex justify-content-end py-3 px-0" style="max-width:400px;">
                    <a class="btn btn-outline-primary left" href="{% url 'schedule:base' %}">
                        뒤로
                    </a>
                    <button type="submit" class="btn btn-outline-primary float-right">
                        제출
                    </button>
                </div>
            </form>
        </div>
    {% /content_row %}
    </section>
</section><!-- End Main Content -->
{% endblock %}
