{% load psat_filter %}
{% load partials %}
{% load slippers %}

<nav>
    <div class="nav nav-tabs nav-tabs-colored" id="studentInfoTab" role="tablist">
        {% #nav_tab prefix='my' id='0' %}수험 정보{% /nav_tab %}
    </div>
</nav>

<div class="tab-content" id="studentInfoContent">
    {% #nav_content prefix='info' id='0' %}
        {% #responsive_table %}
            {% if student %}
                <tbody>
                    <tr class="d-table-row d-md-none">
                        <td class="col-3 text-nowrap">수험번호</td>
                        <td>
                            {{ student.serial }}

                            {% partialdef update_student inline=True %} {# update_student partial #}
                                <a class="badge rounded-pill text-bg-warning mx-2"
                                   hx-get="{% url 'score:student_update_modal' student.id %}" href=""
                                   hx-target="#modalContainer" hx-swap="innerHTML" hx-push-url="false"
                                   data-bs-toggle="modal" data-bs-target="#modalContainer">
                                    수정
                                </a>
                            {% endpartialdef update_student %}

                        </td>
                    </tr>
                    <tr class="d-table-row d-md-none">
                        <td>모집단위</td>
                        <td>{{ student.unit_name }} {% partial update_student %}</td>
                    </tr>
                    <tr class="d-table-row d-md-none">
                        <td>직렬</td>
                        <td>{{ student.department_name }} {% partial update_student %}</td>
                    </tr>
                    <tr class="d-none d-md-table-row">
                        <td>
                            수험번호
                            {% if student.serial %}
                                : {{ student.serial }}
                            {% endif %}
                            {% partial update_student %}
                        </td>
                        <td>모집단위 : {{ student.unit_name }} {% partial update_student %}</td>
                        <td>직렬 : {{ student.department_name }} {% partial update_student %}</td>
                    </tr>
                </tbody>
            {% else %}
                <tbody>
                    <tr class="text-center align-middle">
                        <td class="text-danger fs-6 py-4">
                            <a class="badge rounded-pill text-bg-danger"
                               hx-get="{% url 'score:student_create_modal' year ex %}" href=""
                               hx-target="#modalContainer" hx-swap="innerHTML" hx-push-url="false"
                               data-bs-toggle="modal" data-bs-target="#modalContainer">
                                수험 정보를 입력해주세요.
                            </a>
                        </td>
                    </tr>
                </tbody>
            {% endif %}
        {% /responsive_table %}
    {% /nav_content %}
</div>
