{% load psat_filter %}
{% load partials %}

{% with sub='헌법' answer_correct=data_answer_correct.헌법 answer_student=data_answer_student.헌법 %}
    {% partialdef sheet_answer_sub inline=True %}
        {% for answer in answer_correct %}
            <div id="{{ sub }}correct_{{ answer.number }}"
                 class="htmx-fade-up-in delay-{{ forloop.counter|digit_of_one }}"
                 hx-swap-oob="outerHTML:#{{ sub }}correct_{{ answer.number }}">
                {{ answer.rate_correct|floatformat:0 }}
            </div>
        {% endfor %}
        {% for answer in answer_student %}
            <div id="{{ sub }}selection_{{ answer.number }}_before"
                 class="htmx-fade-up-in delay-{{ forloop.counter|digit_of_one }}"
                 hx-swap-oob="outerHTML:#{{ sub }}selection_{{ answer.number }}_before">
                {{ answer.rate_selection|floatformat:0 }}
            </div>
            <div id="{{ sub }}selection_{{ answer.number }}_after"
                 class="htmx-fade-up-in delay-{{ forloop.counter|digit_of_one }}"
                 hx-swap-oob="outerHTML:#{{ sub }}selection_{{ answer.number }}_after">
                {{ answer.rate_selection|floatformat:0 }}
            </div>
        {% endfor %}
    {% endpartialdef sheet_answer_sub %}
{% endwith %}

{% with sub='언어' answer_correct=data_answer_correct.언어 answer_student=data_answer_student.언어 %}
    {% partial sheet_answer_sub %}
{% endwith %}

{% with sub='자료' answer_correct=data_answer_correct.자료 answer_student=data_answer_student.자료 %}
    {% partial sheet_answer_sub %}
{% endwith %}

{% with sub='상황' answer_correct=data_answer_correct.상황 answer_student=data_answer_student.상황 %}
    {% partial sheet_answer_sub %}
{% endwith %}
