{% load psat_filter %}
{% load partials %}
{% load slippers %}

<nav>
    <div class="nav nav-tabs nav-tabs-colored" id="scoreAnswersTab" role="tablist">
        {% #nav_tab prefix='eoneo_answers' id='0' %}{{ icon_subject.언어|safe }} 언어{% /nav_tab %}
        {% #nav_tab prefix='jaryo_answers' id='1' %}{{ icon_subject.자료|safe }} 자료{% /nav_tab %}
        {% #nav_tab prefix='sanghwang_answers' id='2' %}{{ icon_subject.상황|safe }} 상황{% /nav_tab %}
        {% if '헌법' in problem_count %}
            {% #nav_tab prefix='heonbeob_answers' id='3' %}{{ icon_subject.헌법|safe }} 헌법{% /nav_tab %}
        {% endif %}
    </div>
</nav>

<div class="tab-content" id="scoreAnswersContent">
    {% #nav_content prefix='eoneo_answers' id='0' %}
        {% with answers_confirmed=confirmed.언어 answer_rates=all_answer_rates.언어 answers_temporary=temporary.언어 %}
            {% if answers_confirmed %}
                {% #responsive_table %}

                    {% partialdef confirmed_answer_table inline=True %} {# confirmed_answer_table partial #}
                        <tbody>
                            {% with loop_counter=10 loop_min=0 %}

                                {% partialdef answer_table_tr inline=True %} {# answer_table_tr partial #}
                                    <tr class="text-center table-warning">
                                        <td></td>
                                        {% for _ in 'x'|ljust:loop_counter %}
                                            <td class="text-nowrap fw-bold text-secondary">
                                                문 {{ forloop.counter|add:loop_min }}
                                            </td>
                                        {% endfor %}
                                    </tr>
                                    <tr class="text-center">
                                        <td class="text-nowrap align-center">정답</td>
                                        {% for confirmed in answers_confirmed %}
                                            {% if forloop.counter > loop_min and forloop.counter <= loop_min|add:loop_counter %}
                                                <td>
                                                    <button class="btn btn-circle btn-sm fs-6 mx-1 my-2 btn-outline-secondary">
                                                        {{ confirmed.answer_correct }}</button>
                                                </td>
                                            {% endif %}
                                        {% endfor %}
                                    </tr>
                                    <tr class="text-center">
                                        <td class="text-nowrap">제출 답안</td>
                                        {% for confirmed in answers_confirmed %}
                                            {% if forloop.counter > loop_min and forloop.counter <= loop_min|add:loop_counter %}
                                                <td>
                                                    <button class="btn btn-circle btn-sm fs-6 mx-1 my-2
                                                        btn-{% if confirmed.result == 'O' %}success{% else %}danger{% endif %}">
                                                        {{ confirmed.answer_student }}</button>
                                                </td>
                                            {% endif %}
                                        {% endfor %}
                                    </tr>
                                    <tr class="text-center">
                                        <td class="text-nowrap" >정답률(%)</td>
                                        {% for answer_rate in answer_rates %}
                                            {% if forloop.counter > loop_min and forloop.counter <= loop_min|add:loop_counter %}
                                                <td>
                                                    <span data-number="{{ answer_rate.number }}">
                                                        {{ answer_rate.correct|floatformat:0 }}
                                                    </span>
                                                </td>
                                            {% endif %}
                                        {% endfor %}
                                    </tr>
                                {% endpartialdef answer_table_tr %}

                            {% endwith %}
                            {% with loop_counter=10 loop_min=10 %}{% partial answer_table_tr %}{% endwith %}

                            {% if ex == '칠급' or answers|length == 25  %}
                                {% with loop_counter=5 loop_min=20 %}{% partial answer_table_tr %}{% endwith %}
                            {% else %}
                                {% with loop_counter=10 loop_min=20 %}{% partial answer_table_tr %}{% endwith %}
                                {% with loop_counter=10 loop_min=30 %}{% partial answer_table_tr %}{% endwith %}
                            {% endif %}
                        </tbody>
                    {% endpartialdef confirmed_answer_table %}

                {% /responsive_table %}
            {% elif answers_temporary %}

                {% partialdef temporary_answer_table inline=True %} {# temporary_answer_table partial #}
                    <div class="col-12 d-flex align-items-center justify-content-between pt-3 pb-2">

                        {% partialdef submit_button inline=True %} {# submit_button partial #}
                            <form class="ms-auto me-auto">
                                <input type="text" name="year" value="{{ year }}" aria-label="Year" hidden/>
                                <input type="text" name="ex" value="{{ ex }}" aria-label="Exam" hidden/>
                                <input type="text" name="psat_id" value="{{ answers_temporary.0.psat_id }}" aria-label="PSAT ID" hidden/>
                                <button class="btn btn-primary" hx-target="#modalContainer" type="submit"
                                        hx-post="{% url 'score_old:psat-confirm-modal' %}" hx-swap="innerHTML" hx-trigger="click"
                                        hx-push-url="false"
                                        data-bs-toggle="modal" data-bs-target="#modalContainer">
                                    최종 답안 제출
                                </button>
                            </form>
                        {% endpartialdef submit_button %}

                    </div>
                    <div class="col-12 d-flex flex-wrap justify-content-center justify-content-md-start">
                        <div class="col-md-6 col-lg-4 justify-content-center pb-2">
                        {% for problem in answers_temporary %}
                            <div class="col-12 justify-content-center">
                                {% if student %}
                                    {% partial form %}
                                {% else %}
                                    {% partial no_student %}
                                {% endif %}
                            </div>
                            {% if forloop.counter|divisibleby:5 %}
                        <hr/>
                        </div>
                                {% if not forloop.last %}
                        <div class="col-md-6 col-lg-4 justify-content-center pb-2">
                                {% endif %}
                            {% endif %}
                        {% endfor %}
                    </div>
                    <div class="col-12 d-flex align-items-center justify-content-between">
                        {% partial submit_button %}
                    </div>
                {% endpartialdef temporary_answer_table %}

            {% endif %}
        {% endwith %}
    {% /nav_content %}

    {% #nav_content prefix='jaryo_answers' id='1' %}
        {% with answers_confirmed=confirmed.자료 answer_rates=all_answer_rates.자료 answers_temporary=temporary.자료 %}
            {% if answers_confirmed %}
                {% #responsive_table %}
                    {% partial confirmed_answer_table %}
                {% /responsive_table %}
            {% elif answers_temporary %}
                {% partial temporary_answer_table %}
            {% endif %}
        {% endwith %}
    {% /nav_content %}

    {% #nav_content prefix='sanghwang_answers' id='2' %}
        {% with answers_confirmed=confirmed.상황 answer_rates=all_answer_rates.상황 answers_temporary=temporary.상황 %}
            {% if answers_confirmed %}
                {% #responsive_table %}
                    {% partial confirmed_answer_table %}
                {% /responsive_table %}
            {% elif answers_temporary %}
                {% partial temporary_answer_table %}
            {% endif %}
        {% endwith %}
    {% /nav_content %}

    {% with answers_confirmed=confirmed.헌법 answer_rates=all_answer_rates.헌법 answers_temporary=temporary.헌법 sub='헌법' %}
        {% if answers_confirmed or answers_temporary %}
            {% #nav_content prefix='heonbeob_answers' id='3' %}
                {% if answers_confirmed %}
                    {% #responsive_table %}
                        {% partial confirmed_answer_table %}
                    {% /responsive_table %}
                {% elif answers_temporary %}
                    {% partial temporary_answer_table %}
                {% endif %}
            {% /nav_content %}
        {% endif %}
    {% endwith %}
</div>

{% partialdef form %} {# form partial #}
<form>
    <input type="text" name="sub" value="{{ problem.sub }}" aria-label="Subject" hidden/>
    <input type="text" name="number" value="{{ problem.number }}" aria-label="Number" hidden/>
    <input type="text" name="student_id" value="{{ student.id }}" aria-label="Student ID" hidden/>
    <div class="d-flex justify-content-center align-content-center">
        <p class="fw-bold text-secondary text-nowrap my-2 ms-3 me-2">
            <a href="{% url 'psat:detail' 'problem' problem.id %}"
               hx-get="{% url 'psat:detail' 'problem' problem.id %}">
                문 {{ problem.number|add_0 }}.
            </a>
        </p>
        <div id="p{{ problem.id }}_answer" class="d-flex justify-content-center align-content-center me-3"
             hx-post="{% url 'score_old:psat-submit' problem.id %}" hx-swap="innerHTML" hx-push-url="false"
             hx-include="#p{{ problem.id }}_answer>input[name='answer']:checked"
             hx-target="this" hx-trigger="change">
            {% with target_answer=problem.answer_temporary target_problem=problem %}
                {% if subject == 'heonbeob' or sub == '헌법' %}
                    {% for i in '1234' %}

                        {% partialdef answer_buttons inline=True %} {# confirmed_answer_table partial #}
                            <input id="p{{ target_problem.id }}_answer{{ i }}" type="radio"
                                   class="btn-check" name="answer" value="{{ i }}"/>
                            <label class="btn btn-circle btn-sm fs-6 mx-1 my-2
                                   {% if i|add:0 == target_answer %}btn-secondary
                                   {% else %} btn-outline-secondary{% endif %}"
                                   for="p{{ target_problem.id }}_answer{{ i }}">{{ i }}</label>
                        {% endpartialdef answer_buttons %}

                    {% endfor %}
                {% else %}
                    {% for i in '12345' %}
                        {% partial answer_buttons %}
                    {% endfor %}
                {% endif %}
            {% endwith %}
        </div>
    </div>
</form>
{% endpartialdef form %}

{% partialdef scored_form %} {# scored_form partial #}
    {% with target_answer=scored.answer target_problem=scored.problem %}
        {% if subject == 'heonbeob' or sub == '헌법' %}
            {% for i in '1234' %}
                {% partial answer_buttons %}
            {% endfor %}
        {% else %}
            {% for i in '12345' %}
                {% partial answer_buttons %}
            {% endfor %}
        {% endif %}
    {% endwith %}
{% endpartialdef scored_form %}

{% partialdef no_student %} {# no_student partial #}
    <div class="d-flex justify-content-center align-content-center">
        <p class="fw-bold text-secondary text-nowrap my-2 ms-3 me-2">
            <a href="" hx-get="{% url 'psat:detail' 'problem' problem.id %}" hx-push-url="true">
                문 {{ problem.number|add_0 }}.
            </a>
        </p>
        <div class="d-flex justify-content-center align-content-center me-3">
            {% if subject == 'heonbeob' %}
                {% for i in '1234' %}
                    <div class="btn btn-circle btn-outline-secondary btn-sm fs-6 mx-1 my-2"
                         hx-get="{% url 'score_old:psat-no-student-modal' year ex %}" hx-swap="innerHTML"
                         hx-target="#modalContainer" data-bs-toggle="modal"
                         data-bs-target="#modalContainer">{{ i }}</div>
                {% endfor %}
            {% else %}
                {% for i in '12345' %}
                    <div class="btn btn-circle btn-outline-secondary btn-sm fs-6 mx-1 my-2"
                         hx-get="{% url 'score_old:psat-no-student-modal' year ex %}" hx-swap="innerHTML"
                         hx-target="#modalContainer" data-bs-toggle="modal"
                         data-bs-target="#modalContainer">{{ i }}</div>
                {% endfor %}
            {% endif %}
        </div>
    </div>
{% endpartialdef no_student %}
