{% extends 'list.html' %}
{% load static %}
{% load slippers %}
{% load psat_filter %}

{% block main %}
    {% partialdef list_main inline=True %}
        {{ info|json_script:'info' }}
        <div class="pagetitle">
            <h1>{{ icon|safe }} Dashboard
                <span class="fs-6 text-secondary">대쉬보드</span>
            </h1>
            <nav>
                <ol class="breadcrumb" hx-target="#main" hx-swap="innerHTML swap:0.25s" hx-push-url="true">
                    <li class="breadcrumb-item">
                        <a href="{% url 'index' %}" hx-post="{% url 'index' %}">Home</a>
                    </li>
                    <li class="breadcrumb-item active">Dashboard</li>
                </ol>
            </nav>
        </div><!-- Page Title End -->

        <section class="section dashboard" hx-target="#main" hx-swap="innerHTML swap:0.25s">
            <div class="row">
                <div class="col-md-6">
                    <div class="card info-card">
                        <div class="card-body">
                            <h5 class="card-title d-flex align-items-center justify-content-between mb-0">
                                PSAT
                                {% partial unique_toggle_btn %}
                            </h5>
                            <ul class="nav nav-tabs nav-tabs-bordered" id="borderedTab" role="tablist">
                                {% partial tab_list %}
                            </ul>
                            <div class="tab-content pt-2" id="borderedTabContent">
                                {% partial tab_content %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    {% endpartialdef list_main %}
{% endblock %}


{######## partials ########}

{% partialdef unique_toggle_btn %}
    {% if unique %}
        <a class="btn btn-sm btn-secondary" id="uniqueToggleBtn" href=""
           hx-swap="none"
           hx-get="{% url 'dashboard:base' %}?unique=False">
            중복 자료 포함
        </a>
    {% else %}
        <a class="btn btn-sm btn-outline-secondary" id="uniqueToggleBtn" href=""
           hx-swap="none"
           hx-get="{% url 'dashboard:base' %}?unique=True">
            중복 자료 제거
        </a>
    {% endif %}
{% endpartialdef unique_toggle_btn %}

{% partialdef tab_list %}
    {% for i in '123' %}
        {% cycle 'like' 'rate' 'solve' as view_type silent %}
        {% cycle icon_menu.like icon_menu.rate icon_menu.solve as icon silent %}
        <li class="nav-item" role="presentation">
            {% if forloop.first %}
                <button class="nav-link active" id="{{ view_type }}Tab"
                        data-bs-toggle="tab" data-bs-target="#{{ view_type }}Content"
                        type="button" role="tab" aria-controls="{{ view_type }}"
                        aria-selected="true">
                    {{ icon|safe }}
                </button>
            {% else %}
                <button class="nav-link" id="{{ view_type }}Tab"
                        data-bs-toggle="tab" data-bs-target="#{{ view_type }}Content"
                        type="button" role="tab" aria-controls="{{ view_type }}"
                        aria-selected="false" tabindex="-1">
                    {{ icon|safe }}
                </button>
            {% endif %}
        </li>
    {% endfor %}
{% endpartialdef tab_list %}

{% partialdef tab_content %}
    {% for i in '123' %}
        {% cycle 'like' 'rate' 'solve' as view_type silent %}
        {% cycle like_page_obj rate_page_obj solve_page_obj as page_obj silent %}
        {% cycle like_page_range rate_page_range solve_page_range as page_range silent %}
        {% cycle like_pagination_url rate_pagination_url solve_pagination_url as pagination_url silent %}
        {% cycle 'likeContent' 'rateContent' 'solveContent' as target_id silent %}
        {% if forloop.first %}
            <div class="tab-pane fade show active htmx-fade-in htmx-fade-out" id="{{ view_type }}Content"
                 role="tabpanel" aria-labelledby="{{ view_type }}Tab">
                {% include 'dashboard/v2/main_content.html' %}
            </div>
        {% else %}
            <div class="tab-pane fade htmx-fade-in htmx-fade-out" id="{{ view_type }}Content"
                 role="tabpanel" aria-labelledby="{{ view_type }}Tab">
                {% include 'dashboard/v2/main_content.html' %}
            </div>
        {% endif %}
    {% endfor %}
{% endpartialdef tab_content %}

{% partialdef tab_content_swap %}
    <div hx-swap-oob="outerHTML:#uniqueToggleBtn">
        {% partial unique_toggle_btn %}
    </div>
    {% for i in '123' %}
        {% cycle 'like' 'rate' 'solve' as view_type silent %}
        {% cycle like_page_obj rate_page_obj solve_page_obj as page_obj silent %}
        {% cycle like_page_range rate_page_range solve_page_range as page_range silent %}
        {% cycle like_pagination_url rate_pagination_url solve_pagination_url as pagination_url silent %}
        {% cycle 'likeContent' 'rateContent' 'solveContent' as target_id silent %}
        <div hx-swap-oob="innerHTML:#{{ view_type }}Content">
            {% include 'dashboard/v2/main_content.html' %}
        </div>
    {% endfor %}
{% endpartialdef tab_content_swap %}
