{% load static %}
{% load slippers %}
{% load partials %}
{% load psat_filter %}

<div class="htmx-fade-in htmx-fade-out" hx-swap="innerHTML swap:0.25s">
    {% #responsive_table %}
        <tbody>
            {% if page_obj %}
                {% for log in page_obj %}
                    <tr class="text-start">
                        <td class="text-nowrap">
                            <div class="td-div-xxl text-start" aria-label="Reference">
                                <a class="text-decoration-none fw-bold" hx-push-url="true"
                                   href="{% url 'psat:detail' log.problem.id %}"
                                   hx-get="{% url 'psat:detail' log.problem.id %}">
                                    {% with psat=log.problem.psat %}
                                        {{ psat.year }}-{{ psat.exam.abbr }}-{{ psat.subject.abbr }}
                                        {{ log.problem.number|add_0 }}
                                    {% endwith %}
                                </a>
                            </div>
                            {% if view_type == 'like' %}
                                {% partialdef like inline=True %} {# like partial #}
                                    <div class="td-div-xs" aria-label="Like">
                                        {% if log.is_liked %}
                                            {{ icon_like.true|safe }}
                                        {% else %}
                                            {{ icon_like.false|safe }}
                                        {% endif %}
                                    </div>
                                {% endpartialdef %}
                            {% endif %}
                            {% if view_type == 'rate' %}
                                {% partialdef rate inline=True %} {# rate partial #}
                                    <div class="td-div-lg" aria-label="Rate">
                                        {% if log.rating == 1 %}
                                            {{ icon_rate.star1|safe }}
                                        {% elif log.rating == 2 %}
                                            {{ icon_rate.star2|safe }}
                                        {% elif log.rating == 3 %}
                                            {{ icon_rate.star3|safe }}
                                        {% elif log.rating == 4 %}
                                            {{ icon_rate.star4|safe }}
                                        {% elif log.rating == 5 %}
                                            {{ icon_rate.star5|safe }}
                                        {% else %}
                                            {{ icon_rate.star0|safe }}
                                        {% endif %}
                                    </div>
                                {% endpartialdef %}
                            {% endif %}
                            {% if view_type == 'solve' %}
                                {% partialdef solve inline=True %} {# solve partial #}
                                    <div class="td-div-xs" aria-label="Solve">
                                        {% if log.is_correct is True %}
                                            {{ icon_solve.true|safe }}
                                        {% elif log.is_correct is False %}
                                            {{ icon_solve.false|safe }}
                                        {% else %}
                                        {% endif %}
                                    </div>
                                {% endpartialdef %}
                            {% endif %}
                            <div class="ms-5 d-inline-block text-secondary small">
                                {{ log.timestamp|date:'y/m/d' }}({{ log.timestamp|date:'w'|int2kor }})
                            </div>
                            <h3 class="fs-6 small m-0 py-2 d-block text-nowrap">
                                <a class="text-decoration-none text-black" hx-push-url="true"
                                   href="{% url 'psat:detail' log.problem.id %}"
                                   hx-get="{% url 'psat:detail' log.problem.id %}">
                                    {{ log.problem.question|truncatechars:30 }}
                                </a>
                            </h3>
                        </td>
                    </tr>
                {% endfor %}
            {% else %}
                <tr>
                    <td class="text-center text-nowrap px-2" colspan="5">
                        자료가 없습니다.
                    </td>
                </tr>
            {% endif %}
        </tbody>
    {% /responsive_table %}

    {% #pagination_nav %}
        {% if page_obj.has_previous %}
            {% with page_num=page_obj.number|add:-1 chevron='left' %}
                {% partialdef pagination_link inline=True %}
                    <li class="page-item {{ status }}"
                        {% if status == 'active' %}aria-current="page"{% endif %}>
                        <a class="page-link" href="" hx-target="#dashboard-{{ view_type }}"
                            hx-swap="innerHTML swap:0.25s"
                            {% if status == 'disabled' %}
                                tabindex="-1" aria-disabled="true"
                            {% else %}
                                hx-get="{{ pagination_url }}?page={{ page_num }}"
                            {% endif %}>
                            {% if chevron %}
                                <i class="fa-solid fa-chevron-{{ chevron }}"></i>
                            {% else %}
                                {{ anchor_text }}
                            {% endif %}
                        </a>
                    </li>
                {% endpartialdef pagination_link %}
            {% endwith %}
        {% endif %}
        {% for number in page_range %}
            {% with page_num=number anchor_text=number %}
                {% if number == page_obj.number %}
                    {% with status='active' %}{% partial pagination_link %}{% endwith %}
                {% elif number == page_obj.paginator.ELLIPSIS %}
                    {% with status='disabled' %}{% partial pagination_link %}{% endwith %}
                {% else %}
                    {% partial pagination_link %}
                {% endif %}
            {% endwith %}
        {% endfor %}
        {% if page_obj.has_next %}
            {% with page_num=page_obj.number|add:1 chevron='right' %}
                {% partial pagination_link %}
            {% endwith %}
        {% endif %}
    {% /pagination_nav %}
</div>
