{% extends 'list.html' %}
{% load static %}
{% load slippers %}
{% load partials %}
{% load psat_filter %}

{% block head_title %}{{ title }}{% endblock head_title %}

{% block main %}{% partial list_main %}{% endblock %}

{# List main partial #}
{% partialdef list_main %}
    {{ info|json_script:'info' }}
    <div class="pagetitle my-2">
        <h1>{{ icon|safe }} {{ title }}
            <span class="fs-6 text-bg-primary">{{ sub_title }}</span>
        </h1>
    </div><!-- Page Title End -->
            {% partial list_content %}
{% endpartialdef %}


{% partialdef list_content %}
    <section class="section dashboard htmx-fade-in htmx-fade-out"
             hx-target="#main" hx-swap="innerHTML swap:0.25s">
{#        <div class="row">#}
{#            <div class="col-12 my-2">#}
            {#<div class="col-xxl-4 col-md-6">#}
{#                <div class="card info-card">#}
{##}
{#                    <div class="filter">#}
{#                        <a class="icon" href="#" data-bs-toggle="dropdown">#}
{#                            <i class="fa-solid fa-ellipsis-vertical"></i>#}
{#                        </a>#}
{#                        <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">#}
{#                            <li class="dropdown-header text-start">#}
{#                                <h6>Menu</h6>#}
{#                            </li>#}
{##}
{#                            <div class="d-flex align-items-start justify-content-center">#}
{#                                <div class="nav flex-column nav-pills justify-content-center" id="dashboard-tab"#}
{#                                     role="tablist" aria-orientation="vertical">#}
{#                                    <button class="nav-link active" id="dashboard-like-tab"#}
{#                                            data-bs-toggle="pill" data-bs-target="#dashboard-like" type="button" role="tab"#}
{#                                            aria-controls="dashboard-like" aria-selected="true">#}
{#                                        {{ icon_menu.like|safe }} 즐겨찾기#}
{#                                    </button>#}
{#                                    <button class="nav-link" id="dashboard-rate-tab"#}
{#                                            data-bs-toggle="pill" data-bs-target="#dashboard-rate" type="button" role="tab"#}
{#                                            aria-controls="dashboard-rate" aria-selected="false">#}
{#                                        {{ icon_menu.rate|safe }} 난이도#}
{#                                    </button>#}
{#                                    <button class="nav-link" id="dashboard-solve-tab"#}
{#                                            data-bs-toggle="pill" data-bs-target="#dashboard-solve" type="button" role="tab"#}
{#                                            aria-controls="dashboard-solve" aria-selected="false">#}
{#                                        {{ icon_menu.solve|safe }} 정답확인#}
{#                                    </button>#}
{#                                </div>#}
{#                            </div>#}
{#                        </ul>#}
{#                    </div>#}
{##}
{#                    <div class="card-body">#}
{#                        <h5 class="card-title">#}
{#                            PSAT <span>| My Data</span>#}
{#                        </h5>#}
{#                        <div class="tab-content" id="v-pills-tabContent">#}
{#                            <div class="tab-pane fade show active htmx-fade-in htmx-fade-out" id="dashboard-like" role="tabpanel"#}
{#                                 aria-labelledby="dashboard-like-tab" tabindex="0">#}
{#                                {% include 'dashboard/v1/main_content.html' with view_type='like' page_obj=like_page_obj page_range=like_page_range pagination_url=like_pagination_url %}#}
{#                            </div>#}
{#                            <div class="tab-pane fade htmx-fade-in htmx-fade-out" id="dashboard-rate" role="tabpanel"#}
{#                                 aria-labelledby="dashboard-rate-tab" tabindex="0">#}
{#                                {% include 'dashboard/v1/main_content.html' with view_type='rate' page_obj=rate_page_obj page_range=rate_page_range pagination_url=rate_pagination_url %}#}
{#                            </div>#}
{#                            <div class="tab-pane fade htmx-fade-in htmx-fade-out" id="dashboard-solve" role="tabpanel"#}
{#                                 aria-labelledby="dashboard-solve-tab" tabindex="0">#}
{#                                {% include 'dashboard/v1/main_content.html' with view_type='solve' page_obj=solve_page_obj page_range=solve_page_range pagination_url=solve_pagination_url %}#}
{#                            </div>#}
{#                        </div>#}
{#                    </div>#}
{##}
{#                </div>#}
{#            </div>#}
{#        </div>#}
        <div class="row">
            <div class="col-md-6 my-2">
            {#<div class="col-xxl-4 col-md-6">#}
                <div class="card info-card">
                    <div class="card-body">
                        <h5 class="card-title">
                            PSAT <span>| {{ icon_menu.like|safe }} 즐겨찾기</span>
                        </h5>
                        <div class="htmx-fade-in htmx-fade-out" id="dashboard-like">
                            {% include 'dashboard/v1/main_content.html' with view_type='like' page_obj=like_page_obj page_range=like_page_range pagination_url=like_pagination_url %}
                        </div>
                    </div>
                </div>
            </div><!-- End Like Card -->
            <div class="col-6 my-2">
            {#<div class="col-xxl-4 col-md-6">#}
                <div class="card info-card">
                    <div class="card-body">
                        <h5 class="card-title">
                            PSAT <span>| {{ icon_menu.rate|safe }} 난이도</span>
                        </h5>
                        <div class="htmx-fade-in htmx-fade-out" id="dashboard-rate">
                            {% include 'dashboard/v1/main_content.html' with view_type='rate' page_obj=rate_page_obj page_range=rate_page_range pagination_url=rate_pagination_url %}
                        </div>
                    </div>
                </div>
            </div><!-- End Rate Card -->
            <div class="col-6 my-2">
            {#<div class="col-xxl-4 col-md-6">#}
                <div class="card info-card">
                    <div class="card-body">
                        <h5 class="card-title">
                            PSAT <span>| {{ icon_menu.solve|safe }} 정답확인</span>
                        </h5>
                        <div class="htmx-fade-in htmx-fade-out" id="dashboard-solve">
                            {% include 'dashboard/v1/main_content.html' with view_type='solve' page_obj=solve_page_obj page_range=solve_page_range pagination_url=solve_pagination_url %}
                        </div>
                    </div>
                </div>
            </div><!-- End Rate Card -->
        </div>
    </section>
{% endpartialdef content %}
