{% extends 'list.html' %}
{% load static %}

{% block head_title %}{{ config.menu_kor }} {{ config.submenu_title.kor }}{% endblock %}
{#{% block page_image %}#}
{#<meta property="og:image" content="{% static 'image/prime/2025/psat/title.jpg' %}"/>#}
{#{% endblock page_image %}#}

{% block main %}
    {{ config.info|json_script:'info' }}
    <div class="pagetitle">
        <h1>
            {{ config.icon_menu|safe }} {{ config.menu_kor }}
            <span class="fs-6 text-secondary">
                {% if problem %}{{ problem.full_reference }}{% else %}{{ config.submenu_kor }}{% endif %}
            </span>
            {% if user.is_staff %}
                <a class="btn btn-sm btn-outline-primary ms-1" target="admin"
                   href="{{ config.url_admin }}">
                    관리자 페이지
                </a>
            {% endif %}
        </h1>
        <nav>
            <ol class="breadcrumb" hx-target="#main" hx-swap="innerHTML swap:0.25s" hx-boost="true">
                <li class="breadcrumb-item"><a href="{% url 'index' %}">Home</a></li>
                <li class="breadcrumb-item">{{ config.menu_eng|title }}</li>
                {% if config.submenu == 'problem' %}
                    {% if problem %}
                        <li class="breadcrumb-item">
                            <a href="{{ config.url_list }}">{{ config.submenu_eng|title }}</a>
                        </li>
                        <li class="breadcrumb-item">
                            <a href="{{ problem.get_absolute_url }}" class="active">{{ problem.reference }}</a>
                        </li>
                    {% else %}
                        <li class="breadcrumb-item">
                            <a class="active" href="{{ config.url_list }}">{{ config.submenu_eng|title }}</a>
                        </li>
                    {% endif %}
                {% elif config.submenu == 'lecture' %}
                    <li class="breadcrumb-item">
                        <a class="active" href="{{ config.url_list }}">{{ config.submenu_eng|title }}</a>
                    </li>
                {% elif config.submenu == 'predict' %}
                    {% if exam %}
                        <li class="breadcrumb-item">
                            <a href="{{ config.url_list }}">{{ config.submenu_eng|title }}</a>
                        </li>
                        <li class="breadcrumb-item">
                            <a href="{{ exam.get_predict_detail_url }}" class="active">{{ exam.reference }}</a>
                        </li>
                    {% else %}
                        <li class="breadcrumb-item">
                            <a class="active" href="{{ config.url_list }}">{{ config.submenu_eng|title }}</a>
                        </li>
                    {% endif %}
                {% elif config.submenu == 'study' %}
                    {% if student %}
                        <li class="breadcrumb-item">
                            <a href="{{ config.url_list }}">{{ config.submenu_eng|title }}</a>
                        </li>
                        <li class="breadcrumb-item">
                            <a href="{{ exam.get_student_detail_url }}" class="active">{{ exam.reference }}</a>
                        </li>
                    {% else %}
                        <li class="breadcrumb-item">
                            <a class="active" href="{{ config.url_list }}">{{ config.submenu_eng|title }}</a>
                        </li>
                    {% endif %}
                {% elif config.submenu == 'admin' %}
                    {% if psat %}
                        <li class="breadcrumb-item">
                            <a href="{{ config.url_list }}">{{ config.submenu_eng|title }}</a>
                        </li>
                        <li class="breadcrumb-item">
                            <a href="{{ psat.get_admin_detail_url }}" class="active">{{ psat.reference }}</a>
                        </li>
                    {% elif config.study_type == 'category' %}
                        <li class="breadcrumb-item">
                            <a href="{{ config.url_list }}">{{ config.submenu_eng|title }}</a>
                        </li>
                        <li class="breadcrumb-item"><a href="{{ config.url_list }}">Study</a></li>
                        <li class="breadcrumb-item"><a href="{{ config.url_list }}">Category</a></li>
                        <li class="breadcrumb-item">
                            <a href="{{ category.get_admin_study_category_detail_url }}" class="active">{{ category.category_info }}</a>
                        </li>
                    {% elif config.study_type == 'curriculum' %}
                        <li class="breadcrumb-item">
                            <a href="{{ config.url_list }}">{{ config.submenu_eng|title }}</a>
                        </li>
                        <li class="breadcrumb-item"><a href="{{ config.url_list }}">Study</a></li>
                        <li class="breadcrumb-item"><a href="{{ config.url_list }}">Curriculum</a></li>
                        <li class="breadcrumb-item">
                            <a href="{{ curriculum.get_admin_study_curriculum_detail_url }}" class="active">{{ curriculum.curriculum_info }}</a>
                        </li>
                    {% else %}
                        <li class="breadcrumb-item">
                            <a class="active" href="{{ config.url_list }}">{{ config.submenu_eng|title }}</a>
                        </li>
                    {% endif %}
                {% endif %}
            </ol>
        </nav>
    </div><!-- Page Title End -->
    {% block main_content %}
    {% endblock main_content %}
{% endblock main %}
