{% extends 'a_psat/_psat_base.html' %}
{% load static %}
{% load crispy_forms_field %}

{% block main_content %}
    {% if predict_psat %}
        <section class="section">
            <div class="row">
                {% if user.is_admin %}
                    <div class="col-12" aria-label="합격 예측 업데이트">
                        <div class="card" hx-swap="innerHTML swap:0.25s">
                            <div class="card-header">합격 예측 업데이트</div>
                            <div class="card-body">
                                <div class="row g-3">
                                    <div class="col-12">
                                        <form enctype="multipart/form-data"
                                              hx-headers='{"View-Type":"answer_official"}'
                                              hx-target="#modalContainer" hx-swap="innerHTML" hx-push-url="false"
                                              hx-post="{{ config.url_admin_predict_update }}">
                                            <div class="input-group">
                                                <input type="file" name="file" class="form-control" required id="id_file">
                                                <button class="btn btn-outline-secondary prevent_double_click" type="submit"
                                                        data-bs-toggle="modal" data-bs-target="#modalContainer">
                                                    정답 업데이트
                                                </button>
                                            </div>
                                        </form>
                                    </div>

                                    <div class="col-md-6 d-flex justify-content-end"
                                         hx-target="#modalContainer" hx-swap="innerHTML" hx-push-url="false">
                                        <div class="btn-group">
                                            {% include 'a_psat/snippets/admin_detail_predict_button_update.html' with view_type='score' button_name='점수 업데이트' %}
                                            {% include 'a_psat/snippets/admin_detail_predict_button_update.html' with view_type='rank' button_name='등수 업데이트' %}
                                        </div>
                                    </div>

                                    <div class="col-md-6 d-flex justify-content-end"
                                         hx-target="#modalContainer" hx-swap="innerHTML" hx-push-url="false">
                                        <div class="btn-group">
                                            {% include 'a_psat/snippets/admin_detail_predict_button_update.html' with view_type='statistics' button_name='통계 업데이트' %}
                                            {% include 'a_psat/snippets/admin_detail_predict_button_update.html' with view_type='answer_count' button_name='문항분석표 업데이트' %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endif %}

                <div class="col-12" aria-label="성적통계 [예측]">
                    <div class="card" hx-swap="innerHTML swap:0.25s">
                        <div class="card-header">
                            <div class="d-flex align-items-center">
                                <span>{{ psat.year }}년도 {{ psat.exam_name }} | 성적통계 [예측]</span>
                                <div class="d-flex ms-auto">
                                    <div class="btn-group">
                                        <a class="btn btn-outline-secondary" title="목록" hx-target="#main"
                                           href="{{ config.url_list }}" hx-get="{{ config.url_list }}">
                                            목록
                                        </a>
                                        {% include 'a_psat/snippets/admin_detail_predict_button_export.html' with button_name='Excel로 내보내기' export_url=config.url_export_statistics_excel %}
                                        {% include 'a_psat/snippets/admin_detail_predict_button_export.html' with button_name='인쇄하기' export_url=config.url_statistics_print %}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card-body">
                            <div id="statisticsContent" class="htmx-fade-in htmx-fade-out">
                                {% include 'a_psat/snippets/admin_detail_predict_statistics.html' %}
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-12" aria-label="성적일람표 [예측]">
                    <div class="card" hx-swap="innerHTML swap:0.25s">
                        <div class="card-header">
                            <div class="d-flex align-items-center">
                                {{ psat.year }}년도 {{ psat.exam_name }} | 성적일람표 [예측]
                                <div class="d-flex ms-auto">
                                    <div class="btn-group">
                                        {% include 'a_psat/snippets/admin_detail_predict_button_export.html' with button_name='Excel로 내보내기' export_url=config.url_export_catalog_excel %}
    {#                                    {% include 'a_psat/snippets/admin_detail_predict_button_export.html' with button_name='PDF로 내보내기' export_url=config.url_export_statistics_pdf %}#}
                                        {% include 'a_psat/snippets/admin_detail_predict_button_export.html' with button_name='인쇄하기' export_url=config.url_catalog_print %}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card-body">
                            {% include 'a_psat/snippets/admin_detail_predict_search.html' %}
                            <div id="catalogContent" class="htmx-fade-in htmx-fade-out">
                                {% include 'a_psat/snippets/admin_detail_predict_catalog.html' %}
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-12" aria-label="문항분석표 [예측]">
                    <div class="card" hx-swap="innerHTML swap:0.25s">
                        <div class="card-header">
                            <div class="d-flex align-items-center">
                                <span>{{ psat.year }}년도 {{ psat.exam_name }} | 문항분석표 [예측]</span>
                                <div class="d-flex ms-auto">
                                    <div class="btn-group">
                                        {% include 'a_psat/snippets/admin_detail_predict_button_export.html' with button_name='Excel로 내보내기' export_url=config.url_export_answers_excel %}
                                        {% include 'a_psat/snippets/admin_detail_predict_button_export.html' with button_name='인쇄하기' export_url=config.url_answers_print %}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card-body">
                            <nav>
                                <div class="nav nav-tabs nav-tabs-colored" id="answerAnalysisTab" role="tablist">
                                    {% for tab in answer_tab %}
                                        {% #nav_tab prefix='Answer' id=tab.id %}{{ tab.icon|safe }} {{ tab.title }}{% /nav_tab %}
                                    {% endfor %}
                                </div>
                            </nav>
                            <div id="answerAnalysisContent" class="tab-content">
                                {% for tab in answer_tab %}
                                    {% cycle answers_page_obj_group.헌법 answers_page_obj_group.언어 answers_page_obj_group.자료 answers_page_obj_group.상황 as answers silent %}
                                    {% cycle answers_page_range_group.헌법 answers_page_range_group.언어 answers_page_range_group.자료 answers_page_range_group.상황 as answers_page_range silent %}
                                    {% #nav_content prefix='Answer' id=tab.id %}
                                        {% include 'a_psat/snippets/admin_detail_predict_answer_analysis.html' %}
                                    {% /nav_content %}
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    {% endif %}

    <section class="section">
        <div class="row">
            <div class="col-12" aria-label="공식 정답">
                <div id="problemCard" class="card htmx-fade-in"
                     hx-target="#main" hx-swap="innerHTML swap:0.25s show:window:top">
                    {% include 'a_psat/snippets/admin_detail_official_answer.html' %}
                </div>
            </div>
        </div>
    </section>

    <section class="section">
        <div class="row">
            <div class="col-12" aria-label="문제 목록">
                <div id="problemCard" class="card htmx-fade-in"
                     hx-target="#main" hx-swap="innerHTML swap:0.25s show:window:top">
                    <div id="problemCardHeader" class="card-header htmx-fade-in htmx-fade-out">
{#                        {{ sub_title|safe }}#}
                        {{ psat.full_reference }}
                        {% if keyword %}(검색어: {{ keyword }}){% endif %}
                    </div>

                    <div class="card-body">
                        <div class="row flex-column flex-md-row-reverse">
                            <div id="problemFilter"
                                 class="col-12 col-md-4 accordion htmx-fade-in htmx-fade-out">
                                {% partial problem_filter %}
                            </div>

                            <div id="problemContent" class="col-12 col-md-8 htmx-fade-in htmx-fade-out">
                                {% include 'a_psat/problem_list_content.html' %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock main_content %}

{% partialdef problem_filter %}
    <div class="accordion-item">
        <h2 class="accordion-header">
            <button class="accordion-button fw-bold" type="button"
                    data-bs-toggle="collapse" data-bs-target="#collapseOne"
                    aria-expanded="true" aria-controls="collapseOne">
                <i class="fa-solid fa-fw fa-filter me-1"></i>
                문제 필터
            </button>
        </h2>
        <div id="collapseOne" class="accordion-collapse collapse show"
             data-bs-parent="#problemFilter">
            <div class="accordion-body pb-2">
                <form class="row g-2 align-items-center justify-content-center" hx-trigger="change"
                      hx-get="{{ request.path }}">
                    <input id="id_data" type="text" name="keyword"
                           value="{{ keyword }}" hidden title="키워드를 입력하세요.">
                    {% for field in form %}
                        <div class="col-6 col-md-12 col-lg-6">
                            {% if field.errors %}
                                {% crispy_field field 'class' 'form-select is-invalid' %}
                            {% else %}
                                {% if field.value == None or field.value == '' %}
                                    {% crispy_field field 'class' 'form-select' %}
                                {% else %}
                                    {% crispy_field field 'class' 'form-select option-selected' %}
                                {% endif %}
                            {% endif %}
                        </div>
                    {% endfor %}
                    <div class="col-6 col-md-12 col-lg-6">
                        <a type="button" class="btn btn-secondary fw-bold col-12" hx-boost="true"
                           hx-push-url="{{ request.path }}"
                           href="{{ request.path }}?keyword={{ keyword }}">
                            <i class="fa-solid fa-fw fa-filter-circle-xmark"></i>
                            필터 제거
                        </a>
                    </div>
                    <div class="col-6 col-md-12 col-lg-6">
                        <a type="button" class="btn btn-success fw-bold col-12" hx-boost="true"
                           hx-push-url="{{ request.path }}"
                           href="{{ request.path }}">
                            <i class="fa-solid fa-fw fa-layer-group"></i>
                            전체 문제
                        </a>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endpartialdef problem_filter %}
