{% extends 'a_psat/_psat_base.html' %}
{% load crispy_forms_field %}

{% block main_content %}
    <section class="section" aria-label="PSAT 합격 예측 시험 목록">
        <div class="row">
            <div class="col-12">
                <div class="card" hx-target="#main" hx-swap="innerHTML swap:0.25s">
                    <div class="card-header">PSAT 합격 예측 시험 목록</div>
                    <div class="card-body htmx-fade-in htmx-fade-out">
                        <div class="row flex-column flex-md-row-reverse">
                            <div id="predictUpdate"
                                 class="col-12 col-md-4 accordion htmx-fade-in htmx-fade-out">
                                {% partial predict_update_accordion %}
                            </div>

                            <div id="predictExamContent" class="col-12 col-md-8 htmx-fade-in htmx-fade-out">
                                {% partial predict_exam_list %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="section" aria-label="PSAT 시험 목록">
        <div class="row">
            <div class="col-12">
                <div class="card" hx-target="#main" hx-swap="innerHTML swap:0.25s">
                    <div class="card-header">{{ sub_title }} 시험 목록</div>

                    <div class="card-body htmx-fade-in htmx-fade-out">
                        <div class="row flex-column flex-md-row-reverse">
                            <div id="examFilter"
                                 class="col-12 col-md-4 accordion htmx-fade-in htmx-fade-out">
                                {% partial psat_filter_accordion %}
                                {% partial data_update_accordion %}
                                {% partial admin_page_list_accordion %}
                            </div>

                            <div id="examContent" class="col-12 col-md-8 htmx-fade-in htmx-fade-out">
                                {% partial exam_list %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="section" aria-label="PSAT 스터디 카테고리 목록">
        <div class="row">
            <div class="col-12">
                <div class="card" hx-target="#main" hx-swap="innerHTML swap:0.25s">
                    <div class="card-header">PSAT 스터디 카테고리 목록</div>
                    <div class="card-body htmx-fade-in htmx-fade-out">
                        <div class="row flex-column flex-md-row-reverse">
                            <div id="studyPsatUpdate"
                                 class="col-12 col-md-4 accordion htmx-fade-in htmx-fade-out">
                                {% partial study_category_update_accordion %}
                            </div>

                            <div id="studyPsatContent" class="col-12 col-md-8 htmx-fade-in htmx-fade-out">
                                {% partial study_category_list %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="section" aria-label="PSAT 스터디 커리큘럼 목록">
        <div class="row">
            <div class="col-12">
                <div class="card" hx-target="#main" hx-swap="innerHTML swap:0.25s">
                    <div class="card-header">PSAT 스터디 커리큘럼 목록</div>
                    <div class="card-body htmx-fade-in htmx-fade-out">
                        <div class="row flex-column flex-md-row-reverse">
                            <div id="studyCurriculumUpdate"
                                 class="col-12 col-md-4 accordion htmx-fade-in htmx-fade-out">
                                {% partial study_curriculum_update_accordion %}
                            </div>

                            <div id="studyCurriculumContent" class="col-12 col-md-8 htmx-fade-in htmx-fade-out">
                                {% partial study_curriculum_list %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock main_content %}

{% partialdef predict_exam_list %}
    <article class="table-responsive">
        <table class="table table-bordered table-striped align-middle" hx-push-url="true">
            <thead>
                <tr class="text-center table-warning align-middle">
                    <th class="text-primary text-nowrap td-left-no-border">ID</th>
                    <th class="text-primary text-nowrap">연도</th>
                    <th class="text-primary text-nowrap">시험</th>
                    <th class="text-primary text-nowrap">페이지<br/>오픈일</th>
                    <th class="text-primary text-nowrap">시험일</th>
                    <th class="text-primary text-nowrap">시험<br/>시작</th>
                    <th class="text-primary text-nowrap">시험<br/>종료</th>
                    <th class="text-primary text-nowrap">예상 정답<br/>공개</th>
                    <th class="text-primary text-nowrap">공식 정답<br/>공개</th>
                    <th class="text-primary text-nowrap td-right-no-border">합격 예측<br/>종료일</th>
                </tr>
            </thead>
            <tbody>
                {% for obj in predict_page_obj %}
                    <tr class="text-center cursor-pointer" hx-get="{{ obj.psat.get_admin_detail_url }}">
                        <td class="text-nowrap td-left-no-border">{{ obj.id }}</td>
                        <td class="text-nowrap">{{ obj.psat.get_year_display }}</td>
                        <td class="text-nowrap">{{ obj.exam_abbr }}</td>
                        <td class="text-nowrap">{{ obj.page_opened_at|date:'Y.n.j(D)' }}</td>
                        <td class="text-nowrap">{{ obj.exam_started_at|date:'Y.n.j(D)' }}</td>
                        <td class="text-nowrap">{{ obj.exam_started_at|date:'H:i' }}</td>
                        <td class="text-nowrap">{{ obj.exam_finished_at|date:'H:i' }}</td>
                        <td class="text-nowrap">{{ obj.answer_predict_opened_at|date:'H:i' }}</td>
                        <td class="text-nowrap">{{ obj.answer_official_opened_at|date:'H:i' }}</td>
                        <td class="text-nowrap td-right-no-border">{{ obj.predict_closed_at|date:'Y.n.j(D)' }}</td>
                    </tr>
                {% empty %}
                    <tr class="text-center">
                        <td class="text-nowrap" colspan="8">자료가 없습니다.</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </article>

    {% with page_obj=predict_page_obj page_range=predict_page_range %}
        {% include 'a_psat/snippets/pagination.html' with header='predict_exam_list' %}
    {% endwith %}
{% endpartialdef predict_exam_list %}

{% partialdef exam_list %}
    <article class="table-responsive">
        <table class="table table-striped align-middle m-0" hx-push-url="true">
            <thead>
                <tr class="text-center table-warning align-middle">
                    <th class="text-primary text-nowrap">ID</th>
                    <th class="text-primary text-nowrap">연도</th>
                    <th class="text-primary text-nowrap">시험</th>
                    <th class="text-primary text-nowrap">문제 개수</th>
                    <th class="text-primary text-nowrap">이미지 개수</th>
                    <th class="text-primary text-nowrap">활성</th>
                    <th class="text-primary text-nowrap">합격 예측</th>
                </tr>
            </thead>

            <tbody>
                {% for obj in page_obj %}
                    <tr class="text-center cursor-pointer">
                        <td class="text-nowrap" hx-get="{{ obj.get_admin_detail_url }}" aria-label="ID">
                            {{ obj.id }}
                        </td>
                        <td class="text-nowrap" hx-get="{{ obj.get_admin_detail_url }}" aria-label="연도">
                            {{ obj.get_year_display }}
                        </td>
                        <td class="text-nowrap" hx-get="{{ obj.get_admin_detail_url }}" aria-label="시험">
                            {{ obj.exam_name }}
                        </td>
                        <td class="text-nowrap" hx-get="{{ obj.get_admin_detail_url }}" aria-label="문제 개수">
                            {{ obj.problems.count }} / {{ obj.updated_problem_count }}
                        </td>
                        <td class="text-nowrap" hx-get="{{ obj.get_admin_detail_url }}" aria-label="이미지 개수">
                            {{ obj.image_problem_count }}
                        </td>
                        <td class="text-nowrap" aria-label="활성">
                            <form class="d-flex justify-content-center"
                                  hx-trigger="change" hx-swap="none"
                                  hx-post="{{ obj.get_admin_psat_active_url }}">
                                <div class="form-check form-switch">
                                    <input class="form-check-input" type="checkbox" name="is_active" value="true"
                                           aria-label="활성"{% if obj.is_active %} checked{% endif %}>
                                </div>
                            </form>
                        </td>
                        <td class="text-nowrap" aria-label="합격 예측">
                            <div class="form-check form-switch">
                                <input class="form-check-input" type="checkbox" name="is_active" value="true" disabled
                                       aria-label="활성"{% if obj.predict_psat.is_active %} checked{% endif %}>
                            </div>
                        </td>
                    </tr>
                {% empty %}
                    <tr>
                        <td class="text-center text-nowrap px-2" colspan="8">자료가 없습니다.</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </article>

    {% include 'a_psat/snippets/pagination.html' with header='exam_list' %}
{% endpartialdef exam_list %}

{% partialdef study_category_list %}
    <article class="table-responsive">
        <table class="table table-bordered table-striped align-middle" hx-push-url="true">
            <thead>
                <tr class="text-center table-warning align-middle">
                    <th class="text-primary text-nowrap td-left-no-border" rowspan="2">ID</th>
                    <th class="text-primary text-nowrap" rowspan="2">카테고리</th>
                    <th class="text-primary text-nowrap" rowspan="2">총<br/>회차수<br/>(회)</th>
                    <th class="text-primary text-nowrap" rowspan="2">총<br/>학생수<br/>(명)</th>
                    <th class="text-primary text-nowrap td-right-no-border" colspan="5">통계(점)</th>
                </tr>
                <tr class="text-center table-warning align-middle">
                    {% for _ in '12345' %}
                        {% cycle '최고<br/>점수' '상위<br/>10%' '상위<br/>25%' '상위<br/>50%' '평균<br/>점수' as th_title silent %}
                        <th class="text-primary text-nowrap td-left-no-border td-right-no-border">{{ th_title|safe }}</th>
                    {% endfor %}
                </tr>
            </thead>
            <tbody>
                {% for obj in category_page_obj %}
                    <tr class="cursor-pointer" hx-get="{{ obj.get_admin_study_category_detail_url }}">
                        <th class="text-center text-nowrap td-left-no-border">{{ obj.id }}</th>
                        <th class="text-nowrap">
                            {{ obj.category_info }}
                            <span class="small text-primary">[{{ obj.name }}]</span>
                        </th>
                        <td class="text-center text-nowrap">{{ obj.round }}</td>
                        <td class="text-center text-nowrap">{{ obj.student_count }}</td>
                        {% for _ in '12345' %}
                            {% cycle obj.max obj.t10 obj.t25 obj.t50 obj.avg as obj_stat silent %}
                            <td class="text-center text-nowrap td-left-no-border td-right-no-border">{% if obj_stat %}{{ obj_stat }}{% endif %}</td>
                        {% endfor %}
                    </tr>
                {% empty %}
                    <tr class="text-center">
                        <td class="text-nowrap" colspan="8">자료가 없습니다.</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </article>

    {% with page_obj=category_page_obj page_range=category_page_range %}
        {% include 'a_psat/snippets/pagination.html' with header='predict_exam_list' %}
    {% endwith %}
{% endpartialdef study_category_list %}

{% partialdef study_curriculum_list %}
    <article class="table-responsive">
        <table class="table table-bordered table-striped align-middle" hx-push-url="true">
            <thead>
                <tr class="text-center table-warning align-middle">
                    <th class="text-primary text-nowrap td-left-no-border" rowspan="2">ID</th>
                    <th class="text-primary text-nowrap" rowspan="2">커리큘럼 [카테고리]</th>
                    <th class="text-primary text-nowrap" rowspan="2">학생 수<br/>등록/총원<br/>(명)</th>
                    <th class="text-primary text-nowrap td-right-no-border" colspan="5">통계(점)</th>
                </tr>
                <tr class="text-center table-warning align-middle">
                    {% for _ in '12345' %}
                        {% cycle '최고<br/>점수' '상위<br/>10%' '상위<br/>25%' '상위<br/>50%' '평균<br/>점수' as th_title silent %}
                        <th class="text-primary text-nowrap td-left-no-border td-right-no-border">{{ th_title|safe }}</th>
                    {% endfor %}
                </tr>
            </thead>
            <tbody>
                {% for obj in curriculum_page_obj %}
                    <tr class="cursor-pointer" hx-get="{{ obj.get_admin_study_curriculum_detail_url }}">
                        <th class="text-center text-nowrap td-left-no-border">{{ obj.id }}</th>
                        <th class="text-nowrap">
                            <div class=" d-flex justify-content-between">
                                <span>{{ obj.curriculum_info }}</span>
                                <span class="small text-primary ps-2">[{{ obj.category_info }}]</span>
                            </div>
                        </th>
                        <td class="text-center text-nowrap">{{ obj.registered_student_count }} / {{ obj.student_count }}</td>
                        {% for _ in '12345' %}
                            {% cycle obj.max obj.t10 obj.t25 obj.t50 obj.avg as obj_stat silent %}
                            <td class="text-center text-nowrap td-left-no-border td-right-no-border">{% if obj_stat %}{{ obj_stat }}{% endif %}</td>
                        {% endfor %}
                    </tr>
                {% empty %}
                    <tr class="text-center">
                        <td class="text-nowrap" colspan="8">자료가 없습니다.</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </article>

    {% with page_obj=curriculum_page_obj page_range=curriculum_page_range %}
        {% include 'a_psat/snippets/pagination.html' with header='study_curriculum_list' %}
    {% endwith %}
{% endpartialdef study_curriculum_list %}

{% partialdef predict_update_accordion %}
    <div class="accordion-item">
        <h2 class="accordion-header">
            <button class="accordion-button fw-bold" type="button"
                    data-bs-toggle="collapse" data-bs-target="#collapsePredictUpdate"
                    aria-expanded="true" aria-controls="collapsePredictUpdate">
                합격 예측 업데이트
            </button>
        </h2>
        <div id="collapsePredictUpdate" class="accordion-collapse collapse show"
             data-bs-parent="#predictUpdate">
            <div class="accordion-body pb-2" hx-boost="true">
                <div class="row g-2 align-items-center justify-content-start htmx-fade-in htmx-fade-out">
                    <div class="col-6 col-md-12 col-lg-6">
                        <a class="btn btn-primary w-100" href="{{ config.url_predict_create  }}">PSAT 등록</a>
                    </div>
                    <div class="col-6 col-md-12 col-lg-6">
                        <a class="btn btn-primary w-100" href="{{ config.url_problem_update  }}">정답 업데이트</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endpartialdef predict_update_accordion %}

{% partialdef psat_filter_accordion %}
    <div class="accordion-item">
        <h2 class="accordion-header">
            <button class="accordion-button fw-bold" type="button"
                    data-bs-toggle="collapse" data-bs-target="#collapseFilter"
                    aria-expanded="true" aria-controls="collapseFilter">
                <i class="fa-solid fa-fw fa-filter me-1"></i>
                PSAT 필터
            </button>
        </h2>
        <div id="collapseFilter" class="accordion-collapse collapse show"
             data-bs-parent="#examFilter">
            <div class="accordion-body pb-2">
                <form class="row g-2 align-items-center justify-content-start" hx-trigger="change"
                      hx-get="{{ request.path }}">
                    <input id="id_data" type="text" name="keyword"
                           value="{{ keyword }}" hidden title="키워드">
                    <div class="col-6 col-md-12 col-lg-6">
                        <a type="button" class="btn btn-secondary fw-bold w-100" hx-boost="true"
                           hx-push-url="{{ request.path }}"
                           href="{{ request.path }}">
                            <i class="fa-solid fa-fw fa-filter-circle-xmark"></i>
                            필터 제거
                        </a>
                    </div>
                    {% for field in psat_form %}
                        <div class="col-6 col-md-12 col-lg-6">
                            {% if field.errors %}
                                {% crispy_field field 'class' 'form-select is-invalid' %}
                            {% else %}
                                {% if field.value == None or field.value == '' %}
                                    {% crispy_field field 'class' 'form-select' %}
                                {% else %}
                                    {% crispy_field field 'class' 'form-select option-selected' %}
                                {% endif %}
                            {% endif %}
                        </div>
                    {% endfor %}
                </form>
            </div>
        </div>
    </div>
{% endpartialdef psat_filter_accordion %}

{% partialdef data_update_accordion %}
    <div class="accordion-item">
        <h2 class="accordion-header">
            <button class="accordion-button fw-bold" type="button"
                    data-bs-toggle="collapse" data-bs-target="#collapseDataUpdate"
                    aria-expanded="true" aria-controls="collapseDataUpdate">
                자료 업데이트
            </button>
        </h2>
        <div id="collapseDataUpdate" class="accordion-collapse collapse show"
             data-bs-parent="#examFilter">
            <div class="accordion-body pb-2" hx-boost="true">
                <div class="row g-2 align-items-center justify-content-start htmx-fade-in htmx-fade-out">
                    <div class="col-6 col-md-12 col-lg-6">
                        <a class="btn btn-primary w-100" href="{{ config.url_psat_create  }}">PSAT 등록</a>
                    </div>
                    <div class="col-6 col-md-12 col-lg-6">
                        <a class="btn btn-primary w-100" href="{{ config.url_problem_update  }}">문제 업데이트</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endpartialdef data_update_accordion %}

{% partialdef admin_page_list_accordion %}
    <div class="accordion-item">
        <h2 class="accordion-header">
            <button class="accordion-button fw-bold" type="button"
                    data-bs-toggle="collapse" data-bs-target="#collapseAdminPageList"
                    aria-expanded="true" aria-controls="collapseAdminPageList">
                관리자 페이지 목록
            </button>
        </h2>
        <div id="collapseAdminPageList" class="accordion-collapse collapse show"
             data-bs-parent="#examFilter">
            <div class="accordion-body pb-2">
                <div class="row g-2 align-items-center justify-content-start htmx-fade-in htmx-fade-out">
                    <div class="col-6 col-md-12 col-lg-6">
                        <a class="btn btn-primary w-100" target="#admin" href="{{ config.url_admin_psat_list }}">시험 목록</a>
                    </div>
                    <div class="col-6 col-md-12 col-lg-6">
                        <a class="btn btn-primary w-100" target="#admin" href="{{ config.url_admin_problem_list }}">문제 목록</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endpartialdef admin_page_list_accordion %}

{% partialdef study_category_update_accordion %}
    <div class="accordion-item">
        <h2 class="accordion-header">
            <button class="accordion-button fw-bold" type="button"
                    data-bs-toggle="collapse" data-bs-target="#collapseStudyPsatUpdate"
                    aria-expanded="true" aria-controls="collapseStudyPsatUpdate">
                카테고리 업데이트
            </button>
        </h2>
        <div id="collapseStudyPsatUpdate" class="accordion-collapse collapse show"
             data-bs-parent="#studyPsatUpdate">
            <div class="accordion-body pb-2" hx-boost="true">
                <div class="row g-2 align-items-center justify-content-start htmx-fade-in htmx-fade-out">
                    <div class="col-12">
                        <a class="btn btn-primary w-100" href="{{ config.url_study_category_upload  }}">
                            카테고리 자료 업로드
                        </a>
                    </div>
                    <div class="col-6 col-md-12 col-lg-6">
                        <a class="btn btn-primary w-100" href="{{ config.url_study_category_create  }}">
                            카테고리 등록
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endpartialdef study_category_update_accordion %}

{% partialdef study_curriculum_update_accordion %}
    <div class="accordion-item">
        <h2 class="accordion-header">
            <button class="accordion-button fw-bold" type="button"
                    data-bs-toggle="collapse" data-bs-target="#collapseStudyCurriculumUpdate"
                    aria-expanded="true" aria-controls="collapseStudyCurriculumUpdate">
                커리큘럼 업데이트
            </button>
        </h2>
        <div id="collapseStudyCurriculumUpdate" class="accordion-collapse collapse show"
             data-bs-parent="#studyCurriculumUpdate">
            <div class="accordion-body pb-2" hx-boost="true">
                <div class="row g-2 align-items-center justify-content-start htmx-fade-in htmx-fade-out">
                    <div class="col-12">
                        <a class="btn btn-primary w-100" href="{{ config.url_study_curriculum_upload  }}">
                            커리큘럼 자료 업로드
                        </a>
                    </div>
                    <div class="col-12">
                        <a class="btn btn-primary w-100" href="{{ config.url_study_answer_add  }}">
                            커리큘럼 답안 업로드
                        </a>
                    </div>
                    <div class="col-6 col-md-12 col-lg-6">
                        <a class="btn btn-primary w-100" href="{{ config.url_study_organization_create  }}">
                            교육기관 등록
                        </a>
                    </div>
                    <div class="col-6 col-md-12 col-lg-6">
                        <a class="btn btn-primary w-100" href="{{ config.url_study_curriculum_create  }}">
                            커리큘럼 등록
                        </a>
                    </div>
                    <div class="col-6 col-md-12 col-lg-6">
                        <a class="btn btn-primary w-100" href="{{ config.url_study_student_create  }}">
                            학생 등록
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endpartialdef study_curriculum_update_accordion %}
