{% extends 'a_psat/_psat_admin_base.html' %}
{% load crispy_forms_field %}

{% block main_content %}
    <section class="section" aria-label="PSAT 스터디 카테고리 목록">
        <div class="row">
            <div class="col-12">
                <div class="card" hx-target="#main" hx-swap="innerHTML swap:0.25s">
                    <div class="card-header">PSAT 스터디 카테고리 목록</div>
                    <div class="card-body htmx-fade-in htmx-fade-out">
                        <div class="row flex-column flex-md-row-reverse">
                            <div id="studyPsatUpdate"
                                 class="col-12 col-md-4 accordion htmx-fade-in htmx-fade-out">
                                {% partial study_category_update_accordion %}
                            </div>

                            <div id="studyPsatContent" class="col-12 col-md-8 htmx-fade-in htmx-fade-out">
                                {% partial study_category_list %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="section" aria-label="PSAT 스터디 커리큘럼 목록">
        <div class="row">
            <div class="col-12">
                <div class="card" hx-target="#main" hx-swap="innerHTML swap:0.25s">
                    <div class="card-header">PSAT 스터디 커리큘럼 목록</div>
                    <div class="card-body htmx-fade-in htmx-fade-out">
                        <div class="row flex-column flex-md-row-reverse">
                            <div id="studyCurriculumUpdate"
                                 class="col-12 col-md-4 accordion htmx-fade-in htmx-fade-out">
                                {% partial study_curriculum_update_accordion %}
                            </div>

                            <div id="studyCurriculumContent" class="col-12 col-md-8 htmx-fade-in htmx-fade-out">
                                {% partial study_curriculum_list %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock main_content %}

{% partialdef study_category_list %}
    <article class="table-responsive">
        <table class="table table-bordered table-striped align-middle" hx-push-url="true">
            <thead>
                <tr class="text-center table-warning align-middle">
                    <th class="text-primary text-nowrap td-left-no-border" rowspan="2">ID</th>
                    <th class="text-primary text-nowrap" rowspan="2">카테고리</th>
                    <th class="text-primary text-nowrap" rowspan="2">총<br/>회차수<br/>(회)</th>
                    <th class="text-primary text-nowrap" rowspan="2">총<br/>학생수<br/>(명)</th>
                    <th class="text-primary text-nowrap td-right-no-border" colspan="5">통계(점)</th>
                </tr>
                <tr class="text-center table-warning align-middle">
                    {% for _ in '12345' %}
                        {% cycle '최고<br/>점수' '상위<br/>10%' '상위<br/>25%' '상위<br/>50%' '평균<br/>점수' as th_title silent %}
                        <th class="text-primary text-nowrap td-left-no-border td-right-no-border">{{ th_title|safe }}</th>
                    {% endfor %}
                </tr>
            </thead>
            <tbody>
                {% for obj in category_context.page_obj %}
                    <tr class="cursor-pointer" hx-get="{{ obj.get_admin_study_category_detail_url }}">
                        <th class="text-center text-nowrap td-left-no-border">{{ obj.id }}</th>
                        <th class="text-nowrap">
                            {{ obj.category_info }}
                            <span class="small text-primary">[{{ obj.name }}]</span>
                        </th>
                        <td class="text-center text-nowrap">{{ obj.round }}</td>
                        <td class="text-center text-nowrap">{{ obj.student_count }}</td>
                        {% for _ in '12345' %}
                            {% cycle obj.max obj.t10 obj.t25 obj.t50 obj.avg as obj_stat silent %}
                            <td class="text-center text-nowrap td-left-no-border td-right-no-border">{% if obj_stat %}{{ obj_stat }}{% endif %}</td>
                        {% endfor %}
                    </tr>
                {% empty %}
                    <tr class="text-center">
                        <td class="text-nowrap" colspan="8">자료가 없습니다.</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </article>

    {% include 'a_psat/snippets/pagination.html' with page_obj=category_context.page_obj page_range=category_context.page_range header='predict_exam_list' %}
{% endpartialdef study_category_list %}

{% partialdef study_curriculum_list %}
    <article class="table-responsive">
        <table class="table table-bordered table-striped align-middle" hx-push-url="true">
            <thead>
                <tr class="text-center table-warning align-middle">
                    <th class="text-primary text-nowrap td-left-no-border" rowspan="2">ID</th>
                    <th class="text-primary text-nowrap" rowspan="2">커리큘럼 [카테고리]</th>
                    <th class="text-primary text-nowrap" rowspan="2">학생 수<br/>등록/총원<br/>(명)</th>
                    <th class="text-primary text-nowrap td-right-no-border" colspan="5">통계(점)</th>
                </tr>
                <tr class="text-center table-warning align-middle">
                    {% for _ in '12345' %}
                        {% cycle '최고<br/>점수' '상위<br/>10%' '상위<br/>25%' '상위<br/>50%' '평균<br/>점수' as th_title silent %}
                        <th class="text-primary text-nowrap td-left-no-border td-right-no-border">{{ th_title|safe }}</th>
                    {% endfor %}
                </tr>
            </thead>
            <tbody>
                {% for obj in curriculum_context.page_obj %}
                    <tr class="cursor-pointer" hx-get="{{ obj.get_admin_study_curriculum_detail_url }}">
                        <th class="text-center text-nowrap td-left-no-border">{{ obj.id }}</th>
                        <th class="text-nowrap">
                            <div class=" d-flex justify-content-between">
                                <span>{{ obj.curriculum_info }}</span>
                                <span class="small text-primary ps-2">[{{ obj.category_info }}]</span>
                            </div>
                        </th>
                        <td class="text-center text-nowrap">{{ obj.registered_student_count }} / {{ obj.student_count }}</td>
                        {% for _ in '12345' %}
                            {% cycle obj.max obj.t10 obj.t25 obj.t50 obj.avg as obj_stat silent %}
                            <td class="text-center text-nowrap td-left-no-border td-right-no-border">{% if obj_stat %}{{ obj_stat }}{% endif %}</td>
                        {% endfor %}
                    </tr>
                {% empty %}
                    <tr class="text-center">
                        <td class="text-nowrap" colspan="8">자료가 없습니다.</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </article>

        {% include 'a_psat/snippets/pagination.html' with page_obj=curriculum_context.page_obj page_range=curriculum_context.page_range header='study_curriculum_list' %}
{% endpartialdef study_curriculum_list %}

{% partialdef data_update_accordion %}
    <div class="accordion-item">
        <h2 class="accordion-header">
            <button class="accordion-button fw-bold" type="button"
                    data-bs-toggle="collapse" data-bs-target="#collapseDataUpdate"
                    aria-expanded="true" aria-controls="collapseDataUpdate">
                자료 업데이트
            </button>
        </h2>
        <div id="collapseDataUpdate" class="accordion-collapse collapse show"
             data-bs-parent="#examFilter">
            <div class="accordion-body pb-2" hx-boost="true">
                <div class="row g-2 align-items-center justify-content-start htmx-fade-in htmx-fade-out">
                    <div class="col-6 col-md-12 col-lg-6">
                        <a class="btn btn-primary w-100" href="{{ config.url_psat_create  }}">PSAT 등록</a>
                    </div>
                    <div class="col-6 col-md-12 col-lg-6">
                        <a class="btn btn-primary w-100" href="{{ config.url_problem_update  }}">문제 업데이트</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endpartialdef data_update_accordion %}

{% partialdef admin_page_list_accordion %}
    <div class="accordion-item">
        <h2 class="accordion-header">
            <button class="accordion-button fw-bold" type="button"
                    data-bs-toggle="collapse" data-bs-target="#collapseAdminPageList"
                    aria-expanded="true" aria-controls="collapseAdminPageList">
                관리자 페이지 목록
            </button>
        </h2>
        <div id="collapseAdminPageList" class="accordion-collapse collapse show"
             data-bs-parent="#examFilter">
            <div class="accordion-body pb-2">
                <div class="row g-2 align-items-center justify-content-start htmx-fade-in htmx-fade-out">
                    <div class="col-6 col-md-12 col-lg-6">
                        <a class="btn btn-primary w-100" target="#admin" href="{{ config.url_admin_psat_list }}">시험 목록</a>
                    </div>
                    <div class="col-6 col-md-12 col-lg-6">
                        <a class="btn btn-primary w-100" target="#admin" href="{{ config.url_admin_problem_list }}">문제 목록</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endpartialdef admin_page_list_accordion %}

{% partialdef study_category_update_accordion %}
    <div class="accordion-item">
        <h2 class="accordion-header">
            <button class="accordion-button fw-bold" type="button"
                    data-bs-toggle="collapse" data-bs-target="#collapseStudyPsatUpdate"
                    aria-expanded="true" aria-controls="collapseStudyPsatUpdate">
                카테고리 업데이트
            </button>
        </h2>
        <div id="collapseStudyPsatUpdate" class="accordion-collapse collapse show"
             data-bs-parent="#studyPsatUpdate">
            <div class="accordion-body pb-2" hx-boost="true">
                <div class="row g-2 align-items-center justify-content-start htmx-fade-in htmx-fade-out">
                    <div class="col-12">
                        <a class="btn btn-primary w-100" href="{{ config.url_study_category_upload  }}">
                            카테고리 자료 업로드
                        </a>
                    </div>
                    <div class="col-6 col-md-12 col-lg-6">
                        <a class="btn btn-primary w-100" href="{{ config.url_study_category_create  }}">
                            카테고리 등록
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endpartialdef study_category_update_accordion %}

{% partialdef study_curriculum_update_accordion %}
    <div class="accordion-item">
        <h2 class="accordion-header">
            <button class="accordion-button fw-bold" type="button"
                    data-bs-toggle="collapse" data-bs-target="#collapseStudyCurriculumUpdate"
                    aria-expanded="true" aria-controls="collapseStudyCurriculumUpdate">
                커리큘럼 업데이트
            </button>
        </h2>
        <div id="collapseStudyCurriculumUpdate" class="accordion-collapse collapse show"
             data-bs-parent="#studyCurriculumUpdate">
            <div class="accordion-body pb-2" hx-boost="true">
                <div class="row g-2 align-items-center justify-content-start htmx-fade-in htmx-fade-out">
                    <div class="col-12">
                        <a class="btn btn-primary w-100" href="{{ config.url_study_curriculum_upload  }}">
                            커리큘럼 자료 업로드
                        </a>
                    </div>
                    <div class="col-12">
                        <a class="btn btn-primary w-100" href="{{ config.url_study_answer_add  }}">
                            커리큘럼 답안 업로드
                        </a>
                    </div>
                    <div class="col-6 col-md-12 col-lg-6">
                        <a class="btn btn-primary w-100" href="{{ config.url_study_organization_create  }}">
                            교육기관 등록
                        </a>
                    </div>
                    <div class="col-6 col-md-12 col-lg-6">
                        <a class="btn btn-primary w-100" href="{{ config.url_study_curriculum_create  }}">
                            커리큘럼 등록
                        </a>
                    </div>
                    <div class="col-6 col-md-12 col-lg-6">
                        <a class="btn btn-primary w-100" href="{{ config.url_study_student_create  }}">
                            학생 등록
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endpartialdef study_curriculum_update_accordion %}
