{% extends 'list.html' %}
{% load crispy_forms_field %}

{% block main %}
    {% include 'snippets/page_title.html' %}

    <section class="section htmx-fade-in htmx-fade-out"
             hx-target="#main" hx-swap="innerHTML swap:0.25s show:window:top">
        <div class="row">
            <div class="col-12" aria-label="{{ config.menu_title.kor }} 시험">
                <div class="card">
                    <div class="card-header">{{ config.menu_title.kor }} 시험</div>

                    <div class="card-body htmx-fade-in htmx-fade-out">
                        <a class="btn btn-primary" target="#admin" href="{{ config.url_admin_psat_list }}">시험 목록</a>
                        <button class="btn btn-primary" hx-get="{{ config.url_psat_create  }}">PSAT 추가</button>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="section htmx-fade-in htmx-fade-out"
             hx-target="#main" hx-swap="innerHTML swap:0.25s show:window:top">
        <div class="row">
            <div class="col-12" aria-label="{{ config.menu_title.kor }} 문제">
                <div class="card">
                    <div class="card-header">{{ config.menu_title.kor }} 문제</div>

                    <div class="card-body htmx-fade-in htmx-fade-out">
                        <div class="row flex-column flex-md-row-reverse">
                            <div id="examFilter"
                                 class="col-12 col-md-4 accordion htmx-fade-in htmx-fade-out">
                            </div>

                            <div id="examContent" class="col-12 col-md-8 htmx-fade-in htmx-fade-out">
                                <a class="btn btn-primary" target="#admin" href="{{ config.url_admin_problem_list }}">문제 목록</a>
                                <button class="btn btn-primary" hx-get="{{ config.url_problem_update  }}">문제 업데이트</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="section htmx-fade-in htmx-fade-out"
             hx-target="#main" hx-swap="innerHTML swap:0.25s show:window:top">
        <div class="row">
            <div class="col-12" aria-label="시험 목록">
                <div id="examCard" class="card">
                    <div id="examCardHeader" class="card-header">
                        {{ sub_title }}
                    </div>

                    <div class="card-body htmx-fade-in htmx-fade-out">
                        <div class="row flex-column flex-md-row-reverse">
                            <div id="examFilter"
                                 class="col-12 col-md-4 accordion htmx-fade-in htmx-fade-out">
                                {% partial psat_filter %}
                            </div>

                            <div id="examContent" class="col-12 col-md-8 htmx-fade-in htmx-fade-out">
                                {% partial list_content %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock main %}

{% partialdef psat_filter %}
    <div class="accordion-item">
        <h2 class="accordion-header">
            <button class="accordion-button fw-bold" type="button"
                    data-bs-toggle="collapse" data-bs-target="#collapseOne"
                    aria-expanded="true" aria-controls="collapseOne">
                <i class="fa-solid fa-fw fa-filter me-1"></i>
                PSAT 필터
            </button>
        </h2>
        <div id="collapseOne" class="accordion-collapse collapse show"
             data-bs-parent="#problemFilter">
            <div class="accordion-body pb-2">
                <form class="row g-2 align-items-center justify-content-start" hx-trigger="change"
                      hx-get="{{ request.path }}">
                    <input id="id_data" type="text" name="keyword"
                           value="{{ keyword }}" hidden title="키워드">
                    <div class="col-6 col-md-12 col-lg-6">
                        <a type="button" class="btn btn-secondary fw-bold col-12" hx-boost="true"
                           hx-push-url="{{ request.path }}"
                           href="{{ request.path }}">
                            <i class="fa-solid fa-fw fa-filter-circle-xmark"></i>
                            필터 제거
                        </a>
                    </div>
                    {% for field in psat_form %}
                        <div class="col-6 col-md-12 col-lg-6">
                            {% if field.errors %}
                                {% crispy_field field 'class' 'form-select is-invalid' %}
                            {% else %}
                                {% if field.value == None or field.value == '' %}
                                    {% crispy_field field 'class' 'form-select' %}
                                {% else %}
                                    {% crispy_field field 'class' 'form-select option-selected' %}
                                {% endif %}
                            {% endif %}
                        </div>
                    {% endfor %}
                </form>
            </div>
        </div>
    </div>
{% endpartialdef psat_filter %}

{% partialdef list_content %}
    <article class="table-responsive">
        <table class="table align-middle m-0" hx-push-url="true">
            <thead>
                <tr class="text-center table-warning">
                    <th class="text-primary text-nowrap p-2 col-1">ID</th>
                    <th class="text-primary text-nowrap p-2 col-1">연도</th>
                    <th class="text-primary text-nowrap p-2 col-1">시험</th>
                    <th class="text-primary text-nowrap p-2 col-1">문제 개수</th>
                    <th class="text-primary text-nowrap p-2 col-1">이미지 개수</th>
                    <th class="text-primary text-nowrap p-2 col-1">활성</th>
                </tr>
            </thead>

            <tbody>
                {% for exam in page_obj %}
                    <tr class="text-center cursor-pointer">
                        <td class="text-nowrap p-2" hx-get="{{ exam.get_admin_problem_list_url }}">
                            {{ exam.id }}
                        </td>
                        <td class="text-nowrap p-2" hx-get="{{ exam.get_admin_problem_list_url }}">
                            {{ exam.get_year_display }}
                        </td>
                        <td class="text-nowrap p-2" hx-get="{{ exam.get_admin_problem_list_url }}">
                            {{ exam.exam_name }}
                        </td>
                        <td class="text-nowrap p-2" hx-get="{{ exam.get_admin_problem_list_url }}">
                            {{ exam.problems.count }} / {{ exam.updated_problem_count }}
                        </td>
                        <td class="text-nowrap p-2" hx-get="{{ exam.get_admin_problem_list_url }}">
                            {{ exam.image_problem_count }}
                        </td>
                        <td class="text-nowrap p-2">
                            <form class="d-flex justify-content-center"
                                  hx-trigger="change" hx-swap="none"
                                  hx-post="{{ exam.get_admin_psat_active_url }}">
                                <div class="form-check form-switch">
                                    <input class="form-check-input" type="checkbox" name="is_active" value="true"
                                           aria-label="활성"{% if exam.is_active %} checked{% endif %}>
                                </div>
                            </form>
                        </td>
                    </tr>
                {% empty %}
                    <tr>
                        <td class="text-center text-nowrap px-2" colspan="8">자료가 없습니다.</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </article>

    {% if page_obj.has_next or page_obj.has_previous %}
        {% include 'a_psat/snippets/pagination.html' with header='exam_list' %}
    {% endif %}
{% endpartialdef list_content %}

{% partialdef reference %}
    <a class="text-decoration-none fw-bold cursor-pointer"
       hx-get="{% url 'daily:answer-detail' exam.id %}{% querystring %}">
        {{ exam.full_reference }}
    </a>
{% endpartialdef reference %}

{% partialdef question %}
    {% with class='d-md-none' chars=30 %}{% partial link_snippet %}{% endwith %}
    {% with class='d-none d-md-inline d-lg-none' chars=40 %}{% partial link_snippet %}{% endwith %}
    {% with class='d-none d-lg-inline d-xl-none' chars=50 %}{% partial link_snippet %}{% endwith %}
    {% with class='d-none d-xl-inline' chars=60 %}{% partial link_snippet %}{% endwith %}

    {% partialdef link_snippet %}
        <a class="text-decoration-none {{ class }} cursor-pointer"
           hx-get="{% url 'daily:answer-detail' exam.id %}{% querystring %}">
            <h3 class="d-inline-block fs-6 small m-0">
                {{ exam.question|truncatechars:chars }}
            </h3>
        </a>
    {% endpartialdef link_snippet %}
{% endpartialdef question %}
