{% load i18n %}

<article class="table-responsive">
    <table class="table align-middle m-0">
        <tbody hx-target="#main">
            {% for comment in page_obj %}
                <tr>
                    {% with problem_id=comment.problem_id problem=comment %}
                        <td class="text-nowrap p-2 col-1 fs-6" aria-label="Reference">
                            <div class="align-middle d-inline-block fs-6 pe-1">
                                {% include 'a_psat/templatetags/psat_icons.html' %}
                            </div>
                            <div class="align-middle d-inline-block fs-6" hx-push-url="true">
                                {% include 'a_psat/problem_list_content.html#reference' %}
                            </div>
                        </td>
                        <td class="text-nowrap p-2 fs-6" aria-label="Title">
                            <a class="text-decoration-none text-secondary" hx-boost="true"
                               hx-target="#main" hx-swap="innerHTML swap:0.25s"
                               href="{% url 'psat:comment_detail' comment.parent_id|default:comment.id %}">
                                {% if comment.parent %}
                                    <span class="text-primary">{{ icon_board.reply|safe }}</span>
                                {% endif %}
                                {{ comment.title }}
                            </a>
                        </td>
                        <td class="text-nowrap text-end p-2 fs-6" aria-label="Username & Timestamp">
                            {% include 'psat/v4/snippets/username.html' with username=comment.username target_user=comment.user %}
                            <span class="small text-secondary ms-1">
                                {{ comment.timestamp|date:'n/j(D) H:i' }}
                            </span>
                        </td>
                    {% endwith %}
                </tr>
            {% empty %}
                <tr>
                    <td class="text-center text-nowrap px-2" colspan="5">
                        {% trans 'No comments available' %}
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</article>

{% if page_obj.has_next or page_obj.has_previous %}
    {% include 'psat/v4/snippets/pagination.html' with target_id='problemCard' %}
{% endif %}
