{% extends 'list.html' %}
{% load i18n %}

{% block main %}
    {% include 'snippets/page_title.html' %}

    <section class="section">
        <div id="lectureSection" class="row htmx-fade-in" aria-label="강의 목록"
             hx-target="#main" hx-swap="innerHTML swap:0.25s show:window:top">
            {% for lecture in lectures %}
                <div class="col-sm-6 col-md-4 col-lg-3">
                    <div class="card cursor-pointer"
                         hx-target="#main" hx-push-url="true"
                         hx-get="{{ lecture.get_lecture_detail_url }}">
                        <img src="{{ lecture.thumbnail_url }}" class="card-img-top" alt="Thumbnail">
                        <div class="card-body">
                            <h5 class="card-title mb-0">{{ lecture.get_subject_display }}</h5>
                            <p class="card-text">
                                {{ lecture.title }} - {{ lecture.sub_title }}
                            </p>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </section>
{% endblock main %}
