{% extends 'a_psat/_psat_base.html' %}
{% load static %}

{% block main_content %}
    <section class="section htmx-fade-in htmx-fade-out" hx-target="#main" hx-swap="innerHTML swap:0.25s">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="container my-4 text-center">
                        <p>수험생 여러분, 그 동안 수고 많으셨습니다.</p>
                        <p>여러분의 합격을 기원하며 아래와 같이</p>
                        <p><span class="text-bg-success fw-bold">합격예측시스템</span>을 준비했습니다.</p>
                        <p>수험정보 입력 후 과목별 답안을 제출해주시면</p>
                        <p>성적 분포 및 합격 여부를 예측해드립니다.</p>
                        <p>보다 자세한 사항은 아래 링크를 참고해주세요.</p>
                        <p class="text-primary fw-bold fs-5">여러분의 합격을 응원합니다!</p>

                        <div class="d-sm-none">
                            <a class="d-block btn btn-outline-primary mb-3" target="_blank"
                               href="https://paedison.com/notice/15/">
                                서비스 참여 안내
                            </a>
                            {% if not user.is_authenticated %}
                                <a class="d-block btn btn-outline-danger"
                                   hx-target="body" hx-swap="innerHTML swap:0.25s"
                                   hx-get="{% url 'account_login' %}">
                                    로그인이 필요합니다.
                                </a>
                            {% endif %}
                        </div>

                        <div class="d-none d-sm-block">
                            <a class="btn btn-outline-primary" target="_blank"
                               href="https://paedison.com/notice/15/">
                                서비스 참여 안내
                            </a>
                            {% if not user.is_authenticated %}
                                <a class="btn btn-outline-danger ms-4"
                                   hx-target="body" hx-swap="innerHTML swap:0.25s"
                                   hx-get="{% url 'account_login' %}">
                                    로그인이 필요합니다.
                                </a>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-12">
                <div class="card">
                    <div class="card-header">시험 목록</div>

                    <div class="card-body">
                        <article class="table-responsive">
                            <table class="table align-middle">
                                <thead>
                                    <tr class="text-center table-warning">
                                        <th class="text-primary text-nowrap p-2 col-1">연도</th>
                                        <th class="text-primary text-nowrap p-2 col-1">시험</th>
                                        <th class="text-primary text-nowrap p-2 col-1">수험번호</th>
                                        <th class="text-primary text-nowrap p-2 col-1">직렬</th>
                                        <th class="text-primary text-nowrap p-2 col-1">성적표</th>
                                        <th class="text-primary text-nowrap p-2 col-1">헌법</th>
                                        <th class="text-primary text-nowrap p-2 col-1">언어</th>
                                        <th class="text-primary text-nowrap p-2 col-1">자료</th>
                                        <th class="text-primary text-nowrap p-2 col-1">상황</th>
                                        <th class="text-primary text-nowrap p-2 col-1">PSAT 평균</th>
                                    </tr>
                                </thead>

                                <tbody>
                                    {% if page_obj %}
                                        {% for obj in page_obj %}
                                            <tr class="text-center">
                                                <td class="text-nowrap" aria-label="연도">
                                                    {% if obj.student and not obj.is_predict_closed %}
                                                        <a href="{{ obj.get_predict_detail_url }}" hx-boost="true">
                                                            {{ obj.get_year_display }}
                                                        </a>
                                                    {% else %}
                                                        {{ obj.get_year_display }}
                                                    {% endif %}
                                                </td>

                                                <td class="text-nowrap" aria-label="시험">
                                                    {% if obj.student and not obj.is_predict_closed %}
                                                        <a href="{{ obj.get_predict_detail_url }}" hx-boost="true">
                                                            {{ obj.exam_abbr }}
                                                        </a>
                                                    {% else %}
                                                        {{ obj.exam_abbr }}
                                                    {% endif %}
                                                </td>

                                                {% if not user.is_authenticated %}
                                                    <td class="text-nowrap" colspan="8">
                                                        <a class="btn btn-outline-danger"
                                                           hx-boost="true"
                                                           hx-target="body" hx-swap="innerHTML swap:0.25s"
                                                           href="{% url 'account_login' %}?next={{ request.path }}">
                                                            로그인이 필요합니다
                                                        </a>
                                                    </td>
                                                {% else %}
                                                    {% if current_time < obj.page_opened_at %}
                                                        <td class="text-nowrap" colspan="8">
                                                            <a class="badge rounded-pill text-bg-danger" href=""
                                                               hx-headers='{"View-Type":"no_open"}'
                                                               hx-target="#modalContainer" hx-swap="innerHTML" hx-push-url="false"
                                                               data-bs-toggle="modal" data-bs-target="#modalContainer"
                                                               hx-get="{{ obj.get_predict_modal_url }}">
                                                                페이지 오픈 일시 : {{ obj.exam_started_at|date:'n/j(D) H:i' }}
                                                            </a>
                                                        </td>
                                                    {% elif current_time > obj.score_opened_at %}
                                                        <td class="text-nowrap" colspan="8">
                                                            <a class="badge rounded-pill text-bg-danger" href=""
                                                               hx-headers='{"View-Type":"no_predict"}'
                                                               hx-target="#modalContainer" hx-swap="innerHTML" hx-push-url="false"
                                                               data-bs-toggle="modal" data-bs-target="#modalContainer"
                                                               hx-get="{{ obj.get_predict_modal_url }}">
                                                                성적 예측 기간이 지났습니다.
                                                            </a>
                                                        </td>
                                                    {% else %}
                                                        {% partial exam_info %}
                                                    {% endif %}
                                                {% endif %}
                                            </tr>
                                        {% endfor %}
                                    {% endif %}
                                </tbody>
                            </table>
                        </article>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                {% include '_banner/predict_psat_2024_chilgeup.html' %}
            </div>
            <div class="col-md-6">
                {% include '_banner/score_prime_police_2025.html' %}
            </div>
        </div>
    </section>
{% endblock main_content %}

{% partialdef exam_info %}
    <td class="text-nowrap" aria-label="수험번호">
        {% if obj.student %}
            <a href="{{ obj.get_predict_detail_url }}" hx-boost="true">{{ obj.student.serial }}</a>
            {% partialdef delete_student inline=True %}
                {% if user.is_staff %}
                    <a class="badge rounded-pill text-bg-danger"
                       hx-confirm="수험 정보를 삭제하시겠습니까?"
                       href="" hx-post="{{ obj.get_predict_unregister_url }}">
                        삭제
                    </a>
                {% endif %}
            {% endpartialdef delete_student %}
        {% else %}
            {% partialdef input_button inline=True %}
                <a class="badge rounded-pill text-bg-warning" href=""
                   hx-headers='{"View-Type":"student_register"}'
                   hx-target="#modalContainer" hx-swap="innerHTML" hx-push-url="false"
                   data-bs-toggle="modal" data-bs-target="#modalContainer"
                   hx-get="{{ obj.get_predict_modal_url }}">
                    {{ message|default:'입력' }}
                </a>
            {% endpartialdef input_button %}
        {% endif %}
    </td>

    <td class="text-nowrap" aria-label="직렬">
        {% if obj.student %}
            <a href="{{ obj.get_predict_detail_url }}" hx-boost="true">{{ obj.student.category.department }}</a>
            {% partial delete_student %}
        {% else %}
            {% partial input_button %}
        {% endif %}
    </td>

    <td class="text-nowrap" aria-label="성적표">
        {% if obj.student %}
            <a class="badge rounded-pill text-bg-success" hx-boost="true"
               href="{{ obj.get_predict_detail_url }}">
                확인
            </a>
        {% else %}
            <a class="badge rounded-pill text-bg-danger" href=""
               hx-headers='{"View-Type":"student_register"}'
               hx-target="#modalContainer" hx-swap="innerHTML" hx-push-url="false"
               data-bs-toggle="modal" data-bs-target="#modalContainer"
               hx-get="{{ obj.get_predict_modal_url }}">
                미응시
            </a>
        {% endif %}
    </td>

    {% if not obj.student %}
        <td class="text-nowrap" colspan="8">
            {% with message='수험 정보를 입력해주세요.' %}{% partial input_button %}{% endwith %}
        </td>
    {% elif not obj.answer_all_confirmed %}
        <td class="text-nowrap" colspan="8">
            <a class="badge rounded-pill text-bg-warning" hx-boost="true"
               href="{{ obj.get_predict_detail_url }}">
                모든 답안을 제출해주세요.
            </a>
        </td>
    {% else %}
        {% if current_time < obj.exam_finished_at %}
            <td class="text-nowrap" colspan="8">
                <span class="badge rounded-pill text-bg-warning">
                    시험 종료 전입니다.
                </span>
            </td>
        {% elif current_time < obj.answer_official_opened_at %}
            <td class="text-nowrap" colspan="8">
                <span class="badge rounded-pill text-bg-warning">
                    정답 공개 전입니다.
                </span>
            </td>
        {% else %}
            {% for subject in subjects %}
                {% cycle obj.score_0 obj.score_1 obj.score_2 obj.score_3 obj.student.score.average as score silent %}
                <td aria-label="{{ subject.0 }}">
                    {{ score|floatformat:1 }}
                </td>
            {% endfor %}
        {% endif %}
    {% endif %}
{% endpartialdef exam_info %}
