{% extends 'a_psat/_psat_base.html' %}
{% load static %}

{% block main_content %}
    <section class="section htmx-fade-in htmx-fade-out" hx-target="#main" hx-swap="innerHTML swap:0.25s">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header m-0">
                        <div class="d-flex align-items-center">
                            <div>{{ subject }} 답안 입력</div>
                            <a class="btn btn-sm btn-outline-primary ms-auto" hx-boost="true"
                               href="{{ config.url_detail }}">
                                성적 예측 페이지로 이동
                            </a>
                        </div>
                    </div>
                    <div class="card-body p-4">
                        <div class="col-md-6 ms-auto me-auto alert alert-danger alert-dismissible fade show" role="alert">
                            <i class="fa-solid fa-circle-exclamation"></i>
                                답안 선택 후 제출 버튼을 클릭해주세요.
                            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                        </div>

                        <div class="row d-flex mb-3">
                            <div class="col-6">
                                {% for answer in answer_student_list %}
                                    {% if answer_student|length <= 30 %}
                                        {% if forloop.counter <= 15 %}
                                            {% partial form %}
                                        {% endif %}
                                    {% else %}
                                        {% if forloop.counter <= 20 %}
                                            {% partial form %}
                                        {% endif %}
                                    {% endif %}
                                {% endfor %}
                            </div>
                            <div class="col-6">
                                {% for answer in answer_student %}
                                    {% if answer_student|length <= 30 %}
                                        {% if forloop.counter > 15 %}
                                            {% partial form %}
                                        {% endif %}
                                    {% else %}
                                        {% if forloop.counter > 20 %}
                                            {% partial form %}
                                        {% endif %}
                                    {% endif %}
                                {% endfor %}
                            </div>
                        </div>

                        <div class="d-flex align-items-start justify-content-center mb-3">
                            <div>
                                <span class="badge bg-danger"><i class="fa-solid fa-triangle-exclamation"></i> 주의</span><br/>
                                <ol class="text-danger small fw-bold m-0">
                                    <li>선택하신 답안은 '답안 제출' 버튼을 클릭하기 전까지 임시 저장됩니다.</li>
                                    <li>모든 문제의 답안을 선택하셔야 '답안 제출' 버튼을 클릭하실 수 있습니다.</li>
                                    <li>'답안 제출' 버튼을 클릭하기 전까지는 언제든지 답안을 변경하실 수 있습니다.</li>
                                    <li>'답안 제출' 버튼을 클릭하면 더 이상 답안을 변경할 수 없으니 주의하시기 바랍니다.</li>
                                    <li>답안 선택 후 반드시 한 시간 이내에 답안을 제출해주세요. 그 이후로는 답안이 초기화됩니다.</li>
                                </ol>
                            </div>
                        </div>
                        <form class="text-center mb-3">
                            <button class="btn btn-primary prevent_double_click" type="submit"
                                    data-bs-toggle="modal" data-bs-target="#modalContainer"
                                    hx-target="#modalContainer" hx-push-url="false" hx-swap="innerHTML"
                                    hx-get="{{ url_answer_confirm }}">
                                {{ subject }} 답안 제출
                            </button>
                        </form>
                        <div class="text-center">
                            <a class="btn btn-outline-primary" hx-boost="true"
                               href="{{ config.url_detail }}">
                                성적 예측 페이지로 이동
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock main_content %}

{% partialdef form %}
    <form>
        <input type="text" name="number" value="{{ answer.no }}" aria-label="Number" hidden/>
        <div class="d-flex align-items-center justify-content-center py-2">
            <div class="d-inline-block align-items-center fw-bold text-secondary pe-2">{{ forloop.counter|stringformat:'02d' }}.</div>
            <div hx-target="this" hx-swap="innerHTML" hx-push-url="false">
                {% include 'a_prime/snippets/predict_answer_button.html' %}
            </div>
        </div>
    </form>
{% endpartialdef form %}
