{% extends 'a_psat/_psat_base.html' %}

{% block main_content %}
    <section class="section" aria-label="수험정보">
        <div class="row">
            <div class="col-12">
                <div class="card" hx-target="#main" hx-swap="innerHTML swap:0.25s">
                    <div class="card-header">수험정보</div>
                    <div class="card-body">
                        <div id="studentInfoContent" class="htmx-fade-in htmx-fade-out">
                            {% include 'a_psat/snippets/study_detail_student_info.html' %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="section" aria-label="주차별 강의 내용">
        <div class="row">
            <div class="col-12">
                <div class="card" hx-target="#main" hx-swap="innerHTML swap:0.25s" hx-boost="true">
                    <div class="card-header">주차별 강의 내용</div>
                    <div class="card-body">
                        <div id="resultContent" class="htmx-fade-in htmx-fade-out">
                            {% include 'a_psat/snippets/study_detail_lecture.html' %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="section" aria-label="미니테스트 성적">
        <div class="row">
            <div class="col-12">
                <div class="card" hx-target="#main" hx-swap="innerHTML swap:0.25s" hx-boost="true">
                    <div class="card-header">미니테스트 성적</div>
                    <div class="card-body">
                        <div id="resultContent" class="htmx-fade-in htmx-fade-out">
                            {% include 'a_psat/snippets/study_detail_my_result.html' %}
                        </div>
                        <div class="mt-3">
                            <span class="badge bg-success"><i class="fa-regular fa-circle-check"></i> 참고</span><br/>
                            <ol class="text-success small fw-bold m-0">
                                <li>정상적으로 답안을 제출한 경우에만 성적이 표시됩니다.</li>
                                <li>답안을 제출하지 않은 경우에는 경고 메시지만 출력됩니다.</li>
                            </ol>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="section" aria-label="미니테스트 통계">
        <div class="row">
            <div class="col-12">
                <div class="card" hx-target="#main" hx-swap="innerHTML swap:0.25s" hx-boost="true">
                    <div class="card-header">미니테스트 통계</div>
                    <div class="card-body">
                        <div id="resultContent" class="htmx-fade-in htmx-fade-out">
                            {% include 'a_psat/snippets/study_detail_statistics.html' %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="section" aria-label="문항분석표">
        <div class="row">
            <div class="col-12">
                <div class="card" hx-target="#main" hx-swap="innerHTML swap:0.25s">
                    <div class="card-header">미니테스트 문항분석표</div>
                    <div class="card-body htmx-fade-in htmx-fade-out">
                        <div id="answerAnalysisContent" class="htmx-fade-in htmx-fade-out">
                            {% include 'a_psat/snippets/study_detail_answer_analysis.html' %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock main_content %}
