{% extends 'a_psat/_psat_base.html' %}
{% load static %}

{% block main_content %}
    <section class="section" aria-label="커리큘럼 목록">
        <div class="row" hx-boost="true">
            {% for student in students %}
                <div class="col-lg-6">
                    {% partial curriculum_card %}
                </div>
            {% endfor %}
            <div class="col-lg-6">
                {% partial registry_card %}
            </div>
        </div>
    </section>
{% endblock main_content %}

{% partialdef curriculum_card %}
    <div class="card study-card" hx-target="#main" hx-swap="innerHTML swap:0.25s" hx-push-url="true">
        <div class="card-header d-flex justify-content-between align-items-center">
            <div>
                {{ student.curriculum.full_reference }}
                <div class="d-none d-sm-inline">[{{ student.curriculum.name }}]</div>
            </div>
            <div>
                {% if current_time < student.earliest_datetime %}
                    <span class="badge rounded-pill bg-primary fs-6">개강 전</span>
                {% elif current_time > student.latest_datetime %}
                    <span class="badge rounded-pill bg-danger fs-6">종강</span>
                {% else %}
                    <span class="badge rounded-pill bg-success fs-6">강의 진행중</span>
                {% endif %}
            </div>
        </div>
        <div class="card-body">
            <div class="d-flex align-items-center">
                <div class="d-flex flex-column justify-content-center">
                    <div class="rounded-circle d-flex align-items-center justify-content-center">
                        <img src="{{ student.curriculum.organization.logo.url }}" alt="로고" height="100"/>
                    </div>
                    <a class="btn btn-outline-primary" hx-boost="true"
                       href="{{ student.curriculum.get_study_curriculum_detail_url }}">
                        성적 확인
                    </a>
                </div>
                <article class="table-responsive flex-fill ps-3">
                    <table class="table m-0">
                        <tbody>
                            <tr class="d-sm-none d-lg-table-row">
                                <th class="text-nowrap px-0">강의 기간</th>
                                <td class="text-nowrap">
                                    {{ student.earliest_datetime|date:'Y.n.j' }} ~ {{ student.latest_datetime|date:'Y.n.j' }}
                                </td>
                            </tr>
                            <tr class="d-sm-none d-lg-table-row">
                                <th class="text-nowrap px-0">강의 주차수</th>
                                <td class="text-nowrap">
                                    총 <span class="text-success fw-bold">{{ student.study_rounds|stringformat:'02d' }}</span>회
                                </td>
                            </tr>
                            <tr class="d-sm-none d-lg-table-row">
                                <th class="text-nowrap px-0">미니테스트</th>
                                <td>총 <span class="text-success fw-bold">{{ student.curriculum.category.round|stringformat:'02d' }}</span>회</td>
                            </tr>
                            <tr class="d-sm-none d-lg-table-row">
                                <th class="text-nowrap px-0">답안 제출</th>
                                <td>총 <span class="text-success fw-bold">{{ student.score_count|stringformat:'02d' }}</span>회</td>
                            </tr>
                            <tr class="d-none d-sm-table-row d-lg-none">
                                <th class="text-nowrap px-0">강의 기간</th>
                                <td class="text-nowrap">
                                    {{ student.earliest_datetime|date:'Y.n.j' }} ~ {{ student.latest_datetime|date:'Y.n.j' }}
                                </td>
                                <th class="text-nowrap px-0">강의 주차수</th>
                                <td class="text-nowrap">
                                    총 <span class="text-success fw-bold">{{ student.study_rounds|stringformat:'02d' }}</span>회
                                </td>
                            </tr>
                            <tr class="d-none d-sm-table-row d-lg-none">
                                <th class="text-nowrap px-0">미니테스트</th>
                                <td>총 <span class="text-success fw-bold">{{ student.curriculum.category.round|stringformat:'02d' }}</span>회</td>
                                <th class="text-nowrap px-0">답안 제출</th>
                                <td>총 <span class="text-success fw-bold">{{ student.score_count|stringformat:'02d' }}</span>회</td>
                            </tr>
                        </tbody>
                    </table>
                </article>
            </div>
        </div>
    </div>
{% endpartialdef curriculum_card %}

{% partialdef registry_card %}
    <div class="card study-card" hx-target="#main" hx-swap="innerHTML swap:0.25s" hx-push-url="true">
        <div class="card-header">커리큘럼 등록</div>
        <div class="card-body">
            <div class="d-grid d-sm-flex align-items-sm-center">
                {% if not user.is_authenticated %}
                    <div class="d-flex align-items-center justify-content-center">
                        <a class="card-icon rounded-circle d-flex align-items-center justify-content-center"
                           hx-boost="true" hx-target="body"
                           href="{% url 'account_login' %}">
                            <i class="fa-solid fa-pen-to-square"></i>
                        </a>
                    </div>
                    <div class="d-flex align-items-center justify-content-center my-2 ms-sm-4 fw-bold">
                        로그인이 필요합니다.
                    </div>
                    <div class="d-flex align-items-center justify-content-center ms-sm-auto">
                        <a class="btn btn-outline-danger" hx-boost="true" hx-target="body"
                           href="{% url 'account_login' %}">
                            로그인
                        </a>
                    </div>
                {% else %}
                    <div class="d-flex align-items-center justify-content-center">
                        <a class="card-icon rounded-circle d-flex align-items-center justify-content-center"
                           hx-boost="true" href="{{ config.url_study_student_register }}">
                            <i class="fa-solid fa-pen-to-square"></i>
                        </a>
                    </div>
                    <div class="d-flex align-items-center justify-content-center my-2 ms-sm-4 fw-bold">
                        커리큘럼을 등록해주세요.
                    </div>
                    <div class="d-flex align-items-center justify-content-center ms-sm-auto">
                        <a class="btn btn-outline-primary" hx-boost="true" href="{{ config.url_study_student_register }}">
                            커리큘럼 등록
                        </a>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
{% endpartialdef registry_card %}
