
<div class="left-button col-auto px-0">
    <a class="btn btn-circle btn-sm btn-outline-secondary" href="{{ post.get_list_url }}" title="List">{{ LIST_ICON|safe }}</a>
{% if prev_post %}
    <a class="btn btn-circle btn-sm btn-outline-secondary" href="{{ prev_post.get_absolute_url }}" title="Previous">{{ DOWN_ARROW_ICON|safe }}</a>
{% endif %}
{% if next_post %}
    <a class="btn btn-circle btn-sm btn-outline-secondary" href="{{ next_post.get_absolute_url }}" title="Next">{{ UP_ARROW_ICON|safe }}</a>
{%  endif %}
</div>
<div class="right-button">
    <a class="btn btn-circle btn-sm btn-outline-warning" href="{{ info.list_url }}" title="Reply">{{ REPLY_ICON|safe }}</a>
{% if post.user == user %}
    <a class="btn btn-circle btn-sm btn-outline-success" href="{{ post.get_update_url }}" title="Edit">{{ PEN_ICON|safe }}</a>
    <a id="deleteInstance" class="btn btn-circle btn-sm btn-outline-danger" href="{{ post.get_delete_url }}" data-url="{{ post.get_list_url }}" data-text="글을 삭제하시겠습니까?" data-bs-toggle="modal" data-bs-target="#deleteInstanceModal" title="Delete">{{ TRASH_ICON|safe }}</a>
{% endif %}
</div>
