
<div class="left-button col-auto px-0">
    <a class="btn btn-circle btn-sm btn-outline-secondary"
       href="{{ post.get_list_url }}" title="List">
        {{ BOARD_ICON_SET.list|safe }}
    </a>
{% if prev_post %}
    <a class="btn btn-circle btn-sm btn-outline-secondary"
       href="{{ prev_post.get_absolute_url }}" title="Previous">
        {{ BOARD_ICON_SET.previous|safe }}
    </a>
{% endif %}
{% if next_post %}
    <a class="btn btn-circle btn-sm btn-outline-secondary"
       href="{{ next_post.get_absolute_url }}" title="Next">
        {{ BOARD_ICON_SET.next|safe }}
    </a>
{%  endif %}
</div>
<div class="right-button">
    <a class="btn btn-circle btn-sm btn-outline-warning"
       href="{{ post.get_list_url }}" title="Reply">
        {{ BOARD_ICON_SET.reply|safe }}
    </a>
{% if post.user == user %}
    <a class="btn btn-circle btn-sm btn-outline-success"
       href="{{ post.get_update_url }}" title="Update">
        {{ BOARD_ICON_SET.update|safe }}
    </a>
    <a class="btn btn-circle btn-sm btn-outline-danger instance-delete"
       href="{{ post.get_delete_url }}" data-url="{{ post.get_list_url }}"
       data-text="글을 삭제하시겠습니까?" data-bs-toggle="modal"
       data-bs-target="#instanceDeleteModal" title="Delete">
        {{ BOARD_ICON_SET.delete|safe }}
    </a>
{% endif %}
</div>
