{% load psat_filter %}

<td class="text-start text-nowrap px-2">
    {% if post.top_fixed %}
        <span class="text-danger">{{ BOARD_ICON_SET.top_fixed|safe }}</span>
    {% endif %}
    <a class="text-decoration-none link" href="{{ post.get_absolute_url }}">
        {{ post.title|truncatechars:30 }}
    </a>
</td>
<td class="text-center text-nowrap px-0 col-1">{{ post.user.username }}</td>
<td class="text-nowrap px-2 col-1">
    <div class="td-div-md" aria-label="Date">{{ post.created_at|date:'n/j' }}</div>
    <div class="td-div-sm" aria-label="Hit">{{ post.hit }}</div>
    <div class="td-div-sm" aria-label="Comment">{{ post.get_comment_count }}</div>
</td>
