{% load psat_filter %}

    <td class="px-1">
        <span role="textbox" aria-label="post-number">{{ post.id }}</span>
    </td>
    <td class="px-1">
        <span role="textbox" aria-label="post-category">{{ post.get_category_display }}</span>
    </td>
    <td class="text-justify px-1 d-none d-sm-table-cell d-md-none">
        <span role="textbox" aria-label="post-title">
        {% if post.top_fixed %}
            <span class="text-danger">{{ BOARD_ICON_SET.top_fixed|safe }}</span>
        {% endif %}
            <a class="text-decoration-none link" href="{{ post.get_absolute_url }}">
                {{ post.title|truncatechars:30 }}
            </a>
        </span>
    </td>
    <td class="text-justify px-1 d-none d-md-table-cell d-lg-none">
        <span role="textbox" aria-label="post-title">
        {% if post.top_fixed %}
            <span class="text-danger">{{ BOARD_ICON_SET.top_fixed|safe }}</span>
        {% endif %}
            <a class="text-decoration-none link" href="{{ post.get_absolute_url }}">
                {{ post.title|truncatechars:30 }}
            </a>
        </span>
    </td>
    <td class="text-justify px-1 d-none d-lg-table-cell">
        <span role="textbox" aria-label="post-title">
        {% if post.top_fixed %}
            <span class="text-danger">{{ BOARD_ICON_SET.top_fixed|safe }}</span>
        {% endif %}
            <a class="text-decoration-none link" href="{{ post.get_absolute_url }}">
                {{ post.title|truncatechars:30 }}
            </a>
        </span>
    </td>
    <td class="px-1">
        <span role="textbox" aria-label="post-writer">{{ post.user.username }}</span>
    </td>
    <td class="px-1">
        <span role="textbox" aria-label="post-create-datetime">
            {{ post.created_at|date:'Y.m.d' }}({{ post.created_at|date:'w'|int2kor }})
        </span>
    </td>
    <td class="px-1">
        <span role="textbox" aria-label="post-hit-count">{{ post.hit }}</span>
    </td>
    <td class="px-1">
        <span role="textbox" aria-label="post-comment-count">{{ post.get_comment_count }}</span>
    </td>
