{% extends 'list.html' %}

{% block main %}
    {% include 'a_board/snippets/page_title.html' %}

    <section class="section">
        <div class="row">
            <div class="col-12" aria-label="{{ config.title.kor }}">
                <div class="card" hx-target="#main" hx-swap="innerHTML swap:0.25s show:window:top">
                    <div class="card-header bg-warning-subtle text-black fw-bold">
                        {{ config.title.kor }}
                    </div>
                    <div class="card-body htmx-fade-in htmx-fade-out">
                        {% include 'a_board/post_list_content.html' %}
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock main %}
