{% extends 'base.html' %}

{% block google_adsense %}{% endblock %}

{% block main %}
    {% include 'snippets/page_title.html' %}

    <section class="section" hx-target="#main" hx-swap="innerHTML swap:0.25s">
        <div class="row">
            <div class="col-12" aria-label="{{ config.submenu_kor }}">
                <div id="noticeCard" class="card htmx-fade-in"
                     hx-target="#main" hx-swap="innerHTML swap:0.25s show:window:top">
                    <div id="noticeCardHeader" class="card-header">{{ config.submenu_kor }}</div>

                    <div id="noticeCardContent" class="card-body htmx-fade-in htmx-fade-out">
                        <form hx-post="{{ post_url }}">
                            {% csrf_token %}
                        {{ form.errors }}
                            {% if form.errors.content %}
                                <div class="alert alert-danger fade show small py-2 fw-bold" role="alert">
                                    내용을 입력해주세요.
                                </div>
                            {% endif %}

                            <div class="form-floating mb-3">
                                {{ form.title }}
                                <label for="{{ form.title.id_for_label }}">{{ form.title.label }}</label>
                            </div>

                            {{ form.media }}
                            {{ form.content }}
                            <textarea id="post_content" name="content" class="ckeditor-content" aria-label="내용" hidden></textarea>

                            <div class="d-flex align-items-center justify-content-end mt-2">
                                {% if user.is_superuser %}
                                <div class="form-check">
                                    {{ form.is_hidden }}
                                    <label class="form-check-label small me-3" for="{{ form.is_hidden.id_for_label }}">
                                        {{ form.is_hidden.label }}
                                    </label>
                                </div>
                                {% endif %}

                                <div class="form-check">
                                    {{ form.top_fixed }}
                                    <label class="form-check-label small me-3" for="{{ form.top_fixed.id_for_label }}">
                                        {{ form.top_fixed.label }}
                                    </label>
                                </div>

                                <button type="submit" class="ckeditor-submit btn btn-sm btn-outline-primary ms-2" title="{{ message }}">
                                    {{ message }}
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
