{% extends 'list.html' %}
{% load i18n %}

{% block main %}
    {% partialdef list_main inline=True %}
        {{ info|json_script:'info' }}
        <div class="pagetitle">
            <h1>{{ icon_menu|safe }} Lecture
                <span class="fs-6 text-secondary">{{ title }}</span>
            </h1>
            <nav>
                <ol class="breadcrumb" hx-target="#main" hx-swap="innerHTML swap:0.25s" hx-push-url="true">
                    <li class="breadcrumb-item">
                        <a href="{% url 'index' %}" hx-post="{% url 'index' %}">Home</a>
                    </li>
                    <li class="breadcrumb-item active">
                        <a href="{% url 'lecture:base' %}" hx-boost="true">Lecture</a>
                    </li>
                </ol>
            </nav>
        </div><!-- Page Title End -->

        <section class="section">
            <div id="lectureSection" class="row htmx-fade-in" aria-label="강의 목록"
                 hx-target="#main" hx-swap="innerHTML swap:0.25s show:window:top">
                {% include 'lecture/v1/snippets/lecture_list_card.html' %}
            </div>
        </section>
    {% endpartialdef list_main %}
{% endblock main %}


{######## partials ########}
