{% extends 'list.html' %}
{% load static %}
{% load i18n %}
{% load slippers %}
{% load psat_filter %}

{% block main %}
    {% partialdef detail_main inline=True %}
        {{ info|json_script:'info' }}
        {% with p=problem %}{% partial page_title %}{% endwith %}

        <section class="section">
            <div class="row">
                <div class="col-xxl-8">{% partial container_lecture %}</div>
{#                <div class="col-xxl-4">#}
{#                    <div class="row">#}
{#                        <div class="col-md-6 col-xxl-12">{% partial container_memo %}</div>#}
{#                        <div class="col-md-6 col-xxl-12">{% partial container_tag %}</div>#}
{#                    </div>#}
{#                </div>#}
            </div>
{#            <div class="row">#}
{#                <div class="col-12">#}
{#                    {% if user.is_admin %}{% partial container_comment %}{% endif %}#}
{#                    <div hx-target="#collapseComment" hx-swap="innerHTML swap:0.25s"#}
{#                         hx-trigger="load" hx-get="{% url 'psat:comment_container' problem.id %}"></div>#}
{#                </div>#}
{#            </div>#}
        </section>
    {% endpartialdef detail_main %}
{% endblock main %}


{######## partials ########}

{% partialdef page_title %}
    <div class="pagetitle">
        <h1>{{ icon_menu|safe }} Lecture
            <span class="fs-6 text-secondary">{{ sub_title }}</span>
        </h1>
        <nav>
            <ol class="breadcrumb" hx-target="#main" hx-swap="innerHTML swap:0.25s" hx-push-url="true">
                <li class="breadcrumb-item">
                    <a href="{% url 'index' %}" hx-boost="true">Home</a>
                </li>
                <li class="breadcrumb-item">
                    <a href="{% url 'lecture:base' %}" hx-boost="true">Lecture</a>
                </li>
                <li class="breadcrumb-item active">
                    {{ lecture.subject }}
                </li>
            </ol>
        </nav>
    </div><!-- Page Title End -->
{% endpartialdef page_title %}

{% partialdef container_lecture %}
    <div id="containerLecture" class="card htmx-fade-in htmx-fade-out">
        <div class="card-body">
            <div class="card-title mb-0">
                {{ lecture.title }}
            </div>
            <div id="lectureDetail" class="iframe_container htmx-fade-in htmx-fade-out">
                <iframe class="iframe_content" title="{{ lecture.title }}"
                        src="{{ lecture.src }}"
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                        referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
            </div>
        </div>
    </div>
{% endpartialdef container_lecture %}

{% partialdef container_memo %}
    <div id="containerMemo" class="card htmx-fade-in htmx-fade-out">
        <div class="card-body">
            <div id="accordionMemo" class="accordion accordion-flush">
                <div class="accordion-item">
                    <h2 id="headingMemo" class="accordion-header">
                        <button class="accordion-button" type="button"
                                data-bs-toggle="collapse" data-bs-target="#collapseMemo"
                                aria-expanded="true" aria-controls="collapseMemo">
                            <span class="badge bg-warning me-2">{{ icon_memo.white|safe }} 메모</span>
                            <div class="small text-warning fw-bold">
                                나만 볼 수 있는 메모를 남겨보세요.
                            </div>
                        </button>
                    </h2>
                    <hr class="border-secondary mt-0">
                    <div id="collapseMemo"
                         class="accordion-collapse collapse show htmx-fade-in htmx-fade-out"
                         hx-target="#collapseMemo" hx-swap="innerHTML swap:0.25s"
                         aria-labelledby="headingMemo" data-bs-parent="#accordionMemo">
                        {% if user.is_authenticated %}
                            <div hx-trigger="load" hx-get="{% url 'psat:memo_container' problem.id %}"></div>
                        {% else %}
                            {% partial need_login %}
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endpartialdef container_memo %}

{% partialdef container_tag %}
    <div id="containerTag" class="card htmx-fade-in htmx-fade-out">
        <div class="card-body">
            <div id="accordionTag" class="accordion accordion-flush">
                <div class="accordion-item">
                    <h2 id="headingTag" class="accordion-header">
                        <button class="accordion-button" type="button"
                                data-bs-toggle="collapse" data-bs-target="#collapseTag"
                                aria-expanded="true" aria-controls="collapseTag">
                            <span class="badge bg-primary me-2">{{ icon_tag.white|safe }} 태그</span>
                            <div class="small text-primary fw-bold">
                                나만 볼 수 있는 태그를 남겨보세요.
                            </div>
                        </button>
                    </h2>
                    <hr class="border-secondary mt-0">
                    <div id="collapseTag"
                         class="accordion-collapse collapse show htmx-fade-in htmx-fade-out"
                         hx-target="#collapseTag" hx-swap="innerHTML swap:0.25s"
                         aria-labelledby="headingTag" data-bs-parent="#accordionTag">
                        {% if user.is_authenticated %}
                            <div hx-trigger="load" hx-get="{% url 'psat:tag_container' problem.id %}"></div>
                        {% else %}
                            {% partial need_login %}
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endpartialdef container_tag %}

{% partialdef container_comment %}
    <div id="containerComment" class="card htmx-fade-in htmx-fade-out">
        <div class="card-body">
            <div id="accordionComment" class="accordion accordion-flush">
                <div class="accordion-item">
                    <h2 id="headingComment" class="accordion-header">
                        <button class="accordion-button" type="button"
                                data-bs-toggle="collapse" data-bs-target="#collapseComment"
                                aria-expanded="true" aria-controls="collapseComment">
                            <span class="badge bg-success me-2">{{ icon_question.white|safe }} 질문</span>
                            <div class="small text-success fw-bold">
                                문제에 관한 질문이나 댓글을 남겨보세요.
                            </div>
                        </button>
                    </h2>
                    <div class="d-flex justify-content-end mb-3">
                        <div class="btn-group">
                            <button class="btn btn-sm btn-outline-success" title="{% trans 'Reload' %}"
                                    hx-target="#collapseComment" hx-swap="innerHTL swap:0.25s"
                                    hx-get="{{ reload_url }}">
                                <i class="fa-solid fa-rotate-right"></i> 새로고침
                            </button>
                            <button class="btn btn-sm btn-outline-success" title="{% trans 'Comment' %}"
                                    hx-target="#modalContainer" data-bs-toggle="modal" data-bs-target="#modalContainer"
                                    hx-get="{{ create_url }}">
                                {{ icon_question.filter|safe }} 질문하기
                            </button>
                    {#        <button class="btn btn-sm btn-outline-success"#}
                    {#                hx-get="{% url 'psat:comment_container' problem_id %}">#}
                    {#            <i class="fa-regular fa-window-maximize"></i>#}
                    {#            새 창#}
                    {#        </button>#}
                        </div>
                    </div>
                    <hr class="border-secondary"/>
                    <div id="collapseComment"
                         class="accordion-collapse collapse show htmx-fade-in htmx-fade-out"
                         hx-target="#collapseComment" hx-swap="innerHTML swap:0.25s"
                         aria-labelledby="headingComment" data-bs-parent="#accordionComment">
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endpartialdef container_comment %}

{% partialdef modal_image %}
    {% #modal header=sub_title size="modal-xl" %}
        <div class="d-flex justify-content-end fs-6 mb-0 mb-lg-2">
            {% include 'psat/v4/snippets/icon_container.html' %}
        </div>
        <div class="d-flex flex-wrap align-items-start justify-content-start">
            {% with image=problem.get_image_file %}
                <img class="mw-100 col-12 col-lg-6" alt="{{ image.tag1 }}" src="{{ image.name1 }}"/>
                {% if image.name2 %}
                    <img class="mw-100 col-12 col-lg-6" alt="{{ image.tag2 }}" src="{{ image.name2 }}"/>
                {% endif %}
            {% endwith %}
        </div>
    {% /modal %}
{% endpartialdef %}

{% partialdef need_login %}
    <ul class="list-group">
        <li class="list-group-item">
            <a class="text-secondary" hx-target="#main"
               href="{% url 'account_login' %}" hx-boost="true"
               hx-swap="innerHTML swap:0.25s" hx-trigger="click">
                {% trans 'Please login first.' %}
            </a>
        </li>
    </ul>
{% endpartialdef need_login %}
