{% extends 'list.html' %}
{% load static %}
{% load i18n %}
{% load psat_filter %}
{% load partials %}
{% load slippers %}
{% load humanize %}

{% block head_title %}{{ sub_title }}{% endblock %}
{% block page_image %}<meta property="og:image" content="{% static 'image/prime/2024/exam/message-1.jpg' %}"/>{% endblock %}

{% block main %}
{% partialdef list_main inline=True %} {# list_main partial #}
{{ info|json_script:'info' }}
<div class="pagetitle">
    <h1>{{ icon_menu|safe }} {{ title }}
        <span class="fs-6 text-secondary">프라임 모의고사 관리자 페이지</span>
        <a class="btn btn-sm btn-outline-primary ms-2"
           hx-target="#main" hx-swap="innerHTML swap:0.25s" hx-boost="true"
           href="{% url 'prime:list' %}">
            일반 페이지
        </a>
    </h1>
    <nav>
        <ol class="breadcrumb" hx-target="#main" hx-swap="innerHTML swap:0.25s" hx-push-url="true">
            <li class="breadcrumb-item">
                <a href="{% url 'index' %}" hx-post="{% url 'index' %}">Home</a>
            </li>
            <li class="breadcrumb-item">Score</li>
            <li class="breadcrumb-item">
                <a href="{% url 'prime:list' %}" hx-boost="true">Prime</a>
            </li>
            <li class="breadcrumb-item">
                <a class="active" href="{% url 'prime:list' %}" hx-boost="true">Admin</a>
            </li>
        </ol>
    </nav>
</div><!-- Page Title End -->

<section class="section htmx-fade-in htmx-fade-out"
         hx-target="#main" hx-swap="innerHTML swap:0.25s" hx-push-url="true">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header">시험 목록 | 관리자 페이지</div>

                <div class="card-body">
                    <article class="table-responsive col-md-6 ms-auto me-auto">
                        <table class="table table-bordered table-striped small align-middle">
                            <thead>
                                <tr class="text-center table-warning align-middle">
                                    <th class="text-primary text-nowrap p-2" rowspan="2">시험일</th>
                                    <th class="text-primary text-nowrap p-2" rowspan="2">연도</th>
                                    <th class="text-primary text-nowrap p-2" rowspan="2">회차</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% if exam_page_obj %}
                                    {% for obj in exam_page_obj %}
                                        <tr class="text-center">
                                            <td class="text-nowrap p-2">
                                                {{ obj.date|date:'Y.n.j(D)' }}
                                                <a class="btn btn-sm btn-outline-primary" hx-boost="true"
                                                   href="{% url 'prime_admin:detail' obj.year obj.round %}">
                                                    클릭
                                                </a>
                                            </td>
                                            <td class="text-nowrap p-2">{{ obj.year }}</td>
                                            <td class="text-nowrap p-2">
                                                {% if obj.round %}{{ obj.round }}{% endif %}
                                            </td>
                                        </tr>
                                    {% endfor %}
                                {% endif %}
                            </tbody>
                        </table>
                    </article>
                </div>
            </div>
        </div>

        <div class="col-12">
            <div class="card">
                <div class="card-header">참여자 목록 | 관리자 페이지</div>

                <div class="card-body">
                    <article class="table-responsive">
                        <table class="table table-bordered table-striped small align-middle">
                            <thead>
                                <tr class="text-center table-warning align-middle">
                                    <th class="text-primary text-nowrap p-2" rowspan="2">연도</th>
                                    <th class="text-primary text-nowrap p-2" rowspan="2">시험</th>
                                    <th class="text-primary text-nowrap p-2" rowspan="2">회차</th>
                                    <th class="text-primary text-nowrap p-2" rowspan="2">수험번호</th>
                                    <th class="text-primary text-nowrap p-2" rowspan="2">이름</th>
                                    <th class="text-primary text-nowrap p-2" rowspan="2">직렬</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% if student_page_obj %}
                                    {% for obj in student_page_obj %}
                                        <tr class="text-center">
                                            <td class="text-nowrap p-2">{{ obj.year }}</td>
                                            <td class="text-nowrap p-2">{{ obj.exam }}</td>
                                            <td class="text-nowrap p-2">{{ obj.round }}</td>
                                            <td class="text-nowrap p-2">{{ obj.serial }}</td>
                                            <td class="text-nowrap p-2">{{ obj.name }}</td>
                                            <td class="text-nowrap p-2">{{ obj.department_name }}</td>
                                        </tr>
                                    {% endfor %}
                                {% endif %}
                            </tbody>
                        </table>
                    </article>
                </div>
            </div>
        </div>

    </div>
</section>
{% endpartialdef list_main %}
{% endblock main %}
