{% extends 'list.html' %}
{% load static %}
{% load i18n %}
{% load slippers %}
{% load partials %}
{% load psat_filter %}

{% block main %}
{% partialdef detail_main inline=True %}
{{ info|json_script:'info' }}
{% with p=problem %}
    <div class="pagetitle">
        <h1>{{ icon_menu|safe }} PSAT
            <span class="fs-6 text-secondary">{{ sub_title }}</span>
        </h1>
        <nav>
            <ol class="breadcrumb" hx-target="#main" hx-swap="innerHTML swap:0.25s" hx-push-url="true">
                <li class="breadcrumb-item">
                    <a href="{% url 'index' %}" hx-boost="true">Home</a>
                </li>
                <li class="breadcrumb-item">
                    <a href="{% url 'psat:base' %}" hx-boost="true">PSAT</a>
                </li>
                <li class="breadcrumb-item">{{ info.view_type|title }}</li>
                <li class="breadcrumb-item active">
                    {{ p.year }}{{ p.ex|first }}{{ p.sub|first }}-{{ p.number|stringformat:'02d' }}</li>
            </ol>
        </nav>
    </div><!-- Page Title End -->
{% endwith %}

<section class="section">
    <div class="row">
        <div class="col-xxl-8">
            <div id="containerProblem" class="card htmx-fade-in htmx-fade-out">
                <div class="card-body">
                    <div class="card-title mb-0 row">
                        <div class="d-flex align-items-center fs-6">
                            <div class="d-flex align-items-center">
                                {% include 'psat/v4/snippets/navigation_container.html' %}
                            </div>
                        </div>
                        <div class="d-flex align-items-center fs-6">
                            <div class="text-nowrap me-auto">
                                {% include 'psat/v4/snippets/icon_container.html' %}
                            </div>
                            <div class="ms-auto justify-content-end">
                                {% include 'psat/v4/snippets/solve_container.html' %}
                            </div>
                        </div>
                    </div>
                    {% if problem.get_image_file.tag1 == 'Preparing Image' %}
                        <div id="problemQuestion" class="border-top htmx-fade-in htmx-fade-out">
                            <div class="d-flex">
                                <h6 class="lh-base text-nowrap mb-0 me-2 fw-bold text-primary">
                                    문&nbsp;{{ problem.number|add_space }}.
                                </h6>
                                <h6 class="lh-base mb-0 fw-bold text-secondary">
                                    {{ problem.question }}
                                </h6>
                            </div>
                        </div>
                    {% endif %}
                    <div id="problemDetail" class="htmx-fade-in htmx-fade-out">
                        <div class="d-flex flex-wrap align-items-start justify-content-start">
                            {% with image=problem.get_image_file %}
                                {% if image.tag1 == 'Preparing Image' %}
                                    <img class="mw-100 mx-auto" alt="{{ image.tag1 }}" src="{{ image.name1 }}"/>
                                {% else %}
                                    <img class="mw-100 col-12 col-lg-6"
                                         data-bs-toggle="modal" data-bs-target="#modalContainerPsat"
                                         alt="{{ image.tag1 }}" src="{{ image.name1 }}"/>
                                {% endif %}
                                {% if image.name2 %}
                                    <img class="mw-100 col-12 col-lg-6"
                                         data-bs-toggle="modal" data-bs-target="#modalContainerPsat"
                                         alt="{{ image.tag2 }}" src="{{ image.name2 }}"/>
                                {% endif %}
                            {% endwith %}
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-xxl-4" hx-swap="innerHTML swap:0.25s">
            <div id="containerMemo" class="card htmx-fade-in htmx-fade-out">
                <div class="card-body" hx-target="#containerMemo">
                    <div id="accordionMemo" class="accordion accordion-flush">
                        <div class="accordion-item">
                            <h2 id="headingMemo" class="accordion-header">
                                <button class="accordion-button" type="button"
                                        data-bs-toggle="collapse" data-bs-target="#collapseMemo"
                                        aria-expanded="true" aria-controls="collapseMemo">
                                    <span class="badge bg-warning">{{ icon_memo.white|safe }} 메모</span>
                                </button>
                            </h2>
                            <div id="collapseMemo" class="accordion-collapse collapse show"
                                 aria-labelledby="headingMemo" data-bs-parent="#accordionMemo">
                                {% if user.is_authenticated %}
                                    <div hx-trigger="load" hx-get="{% url 'psat:memo_container' problem.id %}"></div>
                                {% else %}
                                    {% partial need_login %}
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div id="containerTag" class="card htmx-fade-in htmx-fade-out">
                <div class="card-body" hx-target="#containerTag">
                    <div id="accordionTag" class="accordion accordion-flush">
                        <div class="accordion-item">
                            <h2 id="headingTag" class="accordion-header">
                                <button class="accordion-button" type="button"
                                        data-bs-toggle="collapse" data-bs-target="#collapseTag"
                                        aria-expanded="true" aria-controls="collapseTag">
                                    <span class="badge bg-primary">{{ icon_tag.white|safe }} 태그</span>
                                </button>
                            </h2>
                            <div id="collapseTag" class="accordion-collapse collapse show"
                                 aria-labelledby="headingTag" data-bs-parent="#accordionTag">
                                {% if user.is_authenticated %}
                                    <div hx-trigger="load" hx-get="{% url 'psat:tag_container' problem.id %}"></div>
                                {% else %}
                                    {% partial need_login %}
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            {% if user.is_admin %}
                <div id="containerComment" class="card htmx-fade-in htmx-fade-out">
                    <div class="card-body">
                        <div id="accordionComment" class="accordion accordion-flush">
                            <div class="accordion-item">
                                <h2 id="headingComment" class="accordion-header">
                                    <button class="accordion-button" type="button"
                                            data-bs-toggle="collapse" data-bs-target="#collapseComment"
                                            aria-expanded="true" aria-controls="collapseComment">
                                        <span class="badge bg-success">{{ icon_question.white|safe }} 질문</span>
                                    </button>
                                </h2>
                                <div id="collapseComment" class="accordion-collapse collapse show"
                                     aria-labelledby="headingComment" data-bs-parent="#accordionComment">
                                    <div id="detailComment" hx-target="#containerComment" hx-trigger="load"
                                         hx-get="{% url 'psat:comment_container' problem.id %}">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {% endif %}
        </div>
    </div>
</section>

<div id="modalContainerPsat" class="modal fade htmx-fade-in htmx-fade-out" style="display: none"
     aria-hidden="true" tabindex="-1" aria-labelledby="modalContainerLabel">
    {% #modal header=sub_title size="modal-xl" %}
        <div class="d-flex flex-wrap align-items-start justify-content-start">
            {% with image=problem.get_image_file %}
                <img class="mw-100 col-12 col-lg-6" alt="{{ image.tag1 }}" src="{{ image.name1 }}"/>
                {% if image.name2 %}
                    <img class="mw-100 col-12 col-lg-6" alt="{{ image.tag2 }}" src="{{ image.name2 }}"/>
                {% endif %}
            {% endwith %}
        </div>
    {% /modal %}
</div><!-- Modal Container: Problem Image -->
{% endpartialdef detail_main %}
{% endblock main %}

{% partialdef need_login %}
    <ul class="list-group">
        <li class="list-group-item">
            <a class="text-secondary" hx-target="#main"
               href="{% url 'account_login' %}" hx-boost="true"
               hx-swap="innerHTML swap:0.25s" hx-trigger="click">
                {% trans 'Please login first.' %}
            </a>
        </li>
    </ul>
{% endpartialdef need_login %}

{% block page_script %}
    <script>
        $(document).on('click', '.ckeditor-submit', function() {
            let button = $(this);
            let ckeditorId = button.closest('form').find('div.django-ckeditor-widget').attr('data-field-id');
            let content = CKEDITOR.instances[ckeditorId].getData();
            button.closest('form').find('textarea.ckeditor-content').text(content);
        });
    </script>
{% endblock %}
