{% extends 'list.html' %}
{% load i18n %}

{% block main %}
    {% partialdef list_main inline=True %}
        {{ info|json_script:'info' }}
        <div class="pagetitle">
            <h1>{{ icon_menu|safe }} PSAT
                <span class="fs-6 text-secondary">{{ title }}</span>
            </h1>
            <nav>
                <ol class="breadcrumb" hx-target="#main" hx-swap="innerHTML swap:0.25s" hx-push-url="true">
                    <li class="breadcrumb-item">
                        <a href="{% url 'index' %}" hx-post="{% url 'index' %}">Home</a>
                    </li>
                    {% if info.view_type %}
                        <li class="breadcrumb-item">PSAT</li>
                        <li class="breadcrumb-item active">{{ info.view_type|title }}</li>
                    {% else %}
                        <li class="breadcrumb-item active">PSAT</li>
                    {% endif %}
                </ol>
            </nav>
        </div><!-- Page Title End -->

        <section class="section">
            <div class="row">
                <div class="col-12" aria-label="문제 목록">
                    <div id="problemCard" class="card htmx-fade-in"
                         hx-target="#main" hx-swap="innerHTML swap:0.25s show:window:top">
                        {% include 'psat/v4/snippets/problem_list_card.html' %}
                    </div>
                </div>
                    {% partial list_buttons %}
            </div>
        </section>
    {% endpartialdef list_main %}
{% endblock main %}


{######## partials ########}

{% partialdef list_buttons %}
    <div aria-label="버튼 모음" hx-target="#problemCard"
         hx-swap="innerHTML swap:0.25s show:window:top">
        <a id="toggleProblemBtn" class="btn btn-success px-2"
           data-bs-toggle="tooltip" data-bs-title="{% trans 'Problem List' %}"
           hx-get="{% url 'psat:list' %}">
            <i class="fa-solid fa-layer-group fa-fw"></i>
        </a>

        <a id="toggleCommentBtn" class="btn btn-success px-2"
           data-bs-toggle="tooltip" data-bs-title="{% trans 'Comment List' %}"
           hx-get="{% url 'psat:comment_list' %}">
            <i class="fa-solid fa-circle-question fa-fw"></i>
        </a>

        <button id="toggleCollectionBtn" class="btn btn-primary px-2"
                data-bs-toggle="tooltip" data-bs-title="{% trans 'Collection List' %}">
            <i class="fa-solid fa-folder-plus fa-fw"></i>
        </button>
    </div>

    <div id="floatingCollection" class="card htmx-fade-in htmx-fade-out"
         hx-swap="innerHTML swap:0.25s show:window:top">
        <div class="card-body">
            <div class="row align-items-center">
                <div class="col-12">
                    <h5 id="floatingCollectionIndicator" class="card-title d-flex" style="cursor: pointer;">
                        <i class="fa-solid fa-folder-plus me-2"></i>
                        {% trans 'Collection List' %}
                        <div class="ms-auto">
                            <i class="fa-solid fa-chevron-right"></i>
                        </div>
                    </h5>
                    {% if user.is_authenticated %}
                        <div id="collectionList" class="htmx-fade-in htmx-fade-out"
                             hx-target="#collectionListForm" hx-swap="innerHTML swap:0.25s" hx-trigger="load"
                             hx-get="{% url 'psat:collection_list' %}">
                            <form id="collectionListForm" class="sortable list-group htmx-fade-out htmx-fade-in"
                                  hx-target="#collectionListForm" hx-swap="innerHTML swap:0.25s"
                                  hx-push-url="false" hx-trigger="end"
                                  hx-post="{% url 'psat:collection_list' %}">
                            </form>
                        </div>
                    {% else %}
                        <div class="text-center">
                            <a class="btn btn-outline-secondary"
                               hx-target="body" hx-swap="innerHTML swap:0.25s"
                               hx-get="{% url 'account_login' %}">
                                로그인이 필요합니다.
                            </a>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endpartialdef list_buttons %}
