{% load static %}

<hero id="hero"
      hx-swap-oob="true"
      class="tw-mt-[60px] tw-grid tw-bg-white tw-text-center tw-bg-cover tw-z-10 tw-relative">
    <div class="tw-col-start-1 tw-row-start-1 tw-py-24 tw-px-10">
        <div class="md:tw-px-10 tw-mx-auto tw-flex tw-flex-col tw-items-center">
            <img src="{% static 'image/predict/cover_psat.jpg' %}" alt="Title"/>
            <img src="{% static 'image/predict/message-1.jpg' %}" alt="Message"/>
            <img src="{% static 'image/predict/message-2.jpg' %}" alt="Message"/>
        </div>
    </div>
</hero>
