{% #modal header=header %}
    <h5 class="modal-title mx-auto fw-bold">
        <div class="py-2">
            {% if is_updated == True %}
                <h5 class="modal-title mx-auto fw-bold" hx-trigger="load delay:0.5s"
                    hx-target="#main" hx-swap="innerHTML swap:0.25s"
                    hx-get="{{ next_url }}">
                    <span class="text-success">{{ message }}</span>
                </h5>
            {% elif is_updated == False %}
                <h5 class="modal-title mx-auto fw-bold">
                    <span class="text-primary">{{ message }}</span>
                </h5>
            {% else %}
                <h5 class="modal-title mx-auto fw-bold">
                    <span class="text-danger">{{ message }}</span>
                </h5>
            {% endif %}
        </div>
    </h5>
{% /modal %}
<script>
    (function () {
        let button = document.querySelector('div.modal-header > .btn-close');
        setTimeout(function () {button.click()}, 1000);
    })()
</script>
