<select id="id_department" class="form-select mt-3 select2-filter-style"
    name="department" aria-label="Select department">
    <option value="" selected>
        {% if departments %}직렬을 선택해주세요.{% else %}모집 단위를 선택해주세요.{% endif %}
    </option>
    {% for department in departments %}
        {% if department.name == form.department.value %}
            <option value="{{ department.name }}" selected>{{ department.get_name_display }}</option>
        {% else %}
            <option value="{{ department.name }}">{{ department.get_name_display }}</option>
        {% endif %}
    {% endfor %}
</select>
