<nav class="pt-3 me-auto ms-auto" aria-label="pagination" data-nothing hx-target="closest div">
    <ul class="pagination pagination-sm justify-content-center m-0">
        {% if page_obj.has_previous %}
            {% with page_num=page_obj.number|add:-1 chevron='left' %}
                {% partial pagination_link %}
            {% endwith %}
        {% endif %}
        {% for number in page_range %}
            {% with page_num=number anchor_text=number %}
                {% if number == page_obj.number %}
                    {% with status='active' %}
                        {% partial pagination_link %}
                    {% endwith %}
                {% elif number == page_obj.paginator.ELLIPSIS %}
                    {% with status='disabled' %}
                        {% partial pagination_link %}
                    {% endwith %}
                {% else %}
                    {% partial pagination_link %}
                {% endif %}
            {% endwith %}
        {% endfor %}
        {% if page_obj.has_next %}
            {% with page_num=page_obj.number|add:1 chevron='right' %}
                {% partial pagination_link %}
            {% endwith %}
        {% endif %}
    </ul>
</nav><!-- Pagination End -->

{% partialdef pagination_link %}
    <li class="page-item {{ status }}"
        {% if status == 'active' %}aria-current="page"{% endif %}>
        <a class="page-link" href=""
            {% if status == 'disabled' %}
                tabindex="-1" aria-disabled="true"
            {% else %}
                hx-get="{{ pagination_url }}&page={{ page_num }}"
                hx-headers='{"Hx-Pagination": "{{ header }}"}'
            {% endif %}>
            {% if chevron %}
                <i class="fa-solid fa-chevron-{{ chevron }}"></i>
            {% else %}
                {{ anchor_text }}
            {% endif %}
        </a>
    </li>
{% endpartialdef pagination_link %}
