{% load i18n %}
{% load partials %}

{# ProblemMemoDetailView -> context: problem_memo #}
{# ProblemMemoUpdateView -> context: problem_memo #}
{# ProblemMemoCreateView -> context: problem #}

{% startpartial update %}
    <form>
        <div class="input-group">
            {% csrf_token %}
            <input name="user" type="text" value="{{ problem_memo.user.id }}"
                   aria-label="User" hidden/>
            <input name="problem" type="text" value="{{ problem_memo.problem.id }}"
                   aria-label="Problem" hidden/>
            <input name="content" type="text" aria-label="Content" required
                   class="form-control form-control-sm" value="{{ problem_memo.content }}"
                   placeholder="{% trans 'Leave memo' %}"/>
            <button class="btn btn-sm btn-outline-primary" hx-target="#detailMemo"
                    hx-post="{% url 'psat:memo_update' problem_memo.id %}" hx-swap="innerHTML">
                {% trans 'Update' %}
            </button>
        </div>
    </form>
{% endpartial %}

<div id="myMemo" class="htmx-fade-in htmx-fade-out">
    <div class="badge bg-success m-2">MEMO</div>
        {% if problem_memo %}
            <div class="d-flex align-items-center mb-2 mx-2">
                <a class="text-secondary me-2" title="{% trans 'Update' %}"
                   hx-get="{% url 'psat:memo_update' problem_memo.id %}"
                   hx-target="#myMemoContent" hx-swap="innerHTML" href="">
                    {{ BOARD_ICON_SET.update|safe }}
                </a>
                <a class="text-danger me-2" title="{% trans 'Delete' %}"
                   hx-post="{% url 'psat:memo_delete' problem_memo.id %}"
                   hx-confirm="{% trans 'Are you sure you wish to delete your memo?' %}"
                   hx-target="#detailMemo" hx-swap="innerHTML" href="">
                    {{ BOARD_ICON_SET.delete|safe }}
                </a>
                <div id="myMemoContent" class="flex-fill border-start border-secondary-subtle ps-2">
                    <span class="text-secondary fw-bold">{{ problem_memo.content }}</span>
                </div>
            </div>
        {% else %}
            <div class="mb-2 mx-2">
                <form>
                    <div class="input-group">
                        {% csrf_token %}
                        <input name="user" type="text" value="{{ user.id }}"
                               aria-label="User" hidden/>
                        <input name="problem" type="text" value="{{ problem.id }}"
                               aria-label="Problem" hidden/>
                        <input name="content" type="text" aria-label="Content" required
                               class="form-control form-control-sm"
                               placeholder="{% trans 'Leave memo' %}"/>
                        <button class="btn btn-sm btn-outline-primary" hx-target="#detailMemo"
                                hx-post="{% url 'psat:memo_create' problem.id %}" hx-swap="innerHTML">
                            {% trans 'Create' %}
                        </button>
                    </div>
                </form>
            </div>
        {% endif %}
    </div>
</div><!-- Problem Memo End -->
