<div class="row mb-3">
    <div class="col-6">
        <a href="{% url 'community:question_create' %}" class="btn btn-outline-primary">질문 등록하기</a>
    </div>
    <div class="col-6">
        <div class="input-group">
            <input type="text" id="search_kw" class="form-control border border-primary" value="{{ kw|default_if_none:'' }}">
            <div class="input-group-append">
                <button class="btn btn-outline-primary" type="button" id="btn_search">찾기</button>
            </div>
        </div>
    </div>
</div>
