<div class="col-12">
    {% if message.tags == 'error' %}
        <div class="alert alert-danger alert-dismissible fade show text-center fw-bold small" role="alert">
            {{ message }}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    {% elif message.tags == 'success' %}
        <div class="alert alert-success alert-dismissible fade show text-center fw-bold small" role="alert">
            {{ message }}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    {% endif %}
    {% if error %}
        <div class="alert alert-danger alert-dismissible fade show text-center fw-bold small" role="alert">
            {{ error }}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    {% endif %}
</div>
