{% load slippers %}

{% fragment as notice_icon %}<i class="fa-solid fa-bullhorn fa-fw"></i>{% endfragment %}
{% fragment as dashboard_icon %}<i class="fa-solid fa-list fa-fw"></i>{% endfragment %}
{% fragment as psat_icon %}<i class="fa-solid fa-layer-group fa-fw"></i>{% endfragment %}
{% fragment as problem_icon %}<i class="fa-file-lines fa-fw fa-regular"></i>{% endfragment %}
{% fragment as like_icon %}<i class="fa-heart fa-fw fa-regular"></i>{% endfragment %}
{% fragment as rate_icon %}<i class="fa-star fa-fw fa-regular"></i>{% endfragment %}
{% fragment as answer_icon %}<i class="fa-circle-check fa-fw fa-regular"></i>{% endfragment %}
{% fragment as schedule_icon %}<i class="fa-regular fa-calendar-days fa-fw"></i>{% endfragment %}
{% fragment as score_icon %}<i class="fa-solid fa-chart-simple fa-fw"></i>{% endfragment %}

<!-- ======= Sidebar ======= -->
<aside id="sidebar" class="sidebar">
    <ul id="sidebar-nav" class="sidebar-nav">
        {% if user.is_authenticated %}
            <li class="nav-item">
                <a id="noticeList" hx-post="/notice/" class="nav-link collapsed"
                   href="" hx-push-url="true" hx-target="#main" hx-swap="innerHTML swap:0.25s">
                    {{ notice_icon|safe }}<span>Notice</span>
                </a>
            </li><!-- Notice Nav End -->

            <li class="nav-item">
                <a id="dashboardList" hx-post="/dashboard/" class="nav-link collapsed"
                   href="" hx-push-url="true" hx-target="#main" hx-swap="innerHTML swap:0.25s">
                    {{ dashboard_icon|safe }}<span>Dashboard</span>
                </a>
            </li><!-- Dashboard Nav End -->

            <li class="nav-item" role="menuitem" aria-label="PSAT Menu">
                <a class="nav-link collapsed" href="" aria-expanded="false"
                   data-bs-target="#psat-nav" data-bs-toggle="collapse">
                    {{ psat_icon|safe }}<span>PSAT</span>
                    <i class="fa-solid fa-chevron-down ms-auto"></i>
                </a>
                <ul id="psat-nav" class="nav-content collapse" data-bs-parent="#sidebar-nav">
                    <li>
                        <a id="problemList" hx-post="/psat/" class="aside-nav-icon"
                           href="" hx-push-url="true" hx-target="#main" hx-swap="innerHTML swap:0.25s">
                            {{ problem_icon|safe }}<span>기출문제</span>
                        </a>
                        <a id="likeList" hx-post="/psat/like/" class="aside-nav-icon"
                           href="" hx-push-url="true" hx-target="#main" hx-swap="innerHTML swap:0.25s">
                            {{ like_icon|safe }}<span>즐겨찾기</span>
                        </a>
                        <a id="rateList" hx-post="/psat/rate/" class="aside-nav-icon"
                           href="" hx-push-url="true" hx-target="#main" hx-swap="innerHTML swap:0.25s">
                            {{ rate_icon|safe }}<span>난이도</span>
                        </a>
                        <a id="answerList" hx-post="/psat/answer/" class="aside-nav-icon"
                           href="" hx-push-url="true" hx-target="#main" hx-swap="innerHTML swap:0.25s">
                            {{ answer_icon|safe }}<span>정답확인</span>
                        </a>
                    </li>
                </ul>
            </li><!-- PSAT Nav End -->

            <li class="nav-item">
                <a id="scheduleList" hx-post="/schedule/" class="nav-link collapsed"
                   href="" hx-push-url="true" hx-target="#main" hx-swap="innerHTML swap:0.25s">
                    {{ schedule_icon|safe }}<span>Schedule</span>
                </a>
            </li><!-- Schedule Nav End -->

            {% if user.is_admin %}
                <li class="nav-item">
                    <a id="scoreList" hx-post="{% url 'score:list' %}" class="nav-link collapsed"
                       href="" hx-push-url="true" hx-target="#main" hx-swap="innerHTML swap:0.25s">
                        {{ score_icon|safe }}<span>Score</span>
                    </a>
                </li><!-- Score Nav End -->
            {% endif %}

        {% else %}
            <li class="nav-item">
                <a id="noticeList" hx-post="/notice/" class="nav-link collapsed"
                   href="" hx-push-url="true" hx-target="#main" hx-swap="innerHTML swap:0.25s">
                    {{ notice_icon|safe }}<span>Notice</span>
                </a>
            </li><!-- Notice Nav End -->
            <li class="nav-item">
                <a id="problemList" hx-post="/psat/" class="nav-link collapsed"
                   href="" hx-push-url="true" hx-target="#main" hx-swap="innerHTML swap:0.25s">
                    {{ psat_icon|safe }}<span>PSAT</span>
                </a>
            </li><!-- PSAT Nav End -->
            <li class="nav-item">
                <a id="scheduleList" hx-post="/schedule/" class="nav-link collapsed"
                   href="" hx-push-url="true" hx-target="#main" hx-swap="innerHTML swap:0.25s">
                    {{ schedule_icon|safe }}<span>Schedule</span>
                </a>
            </li><!-- Schedule Nav End -->
        {% endif %}
    </ul>
    <div class="d-none d-md-block text-center">
        <button id="sidebarToggle" class="rounded-circle border-0"></button>
    </div>
</aside><!-- Sidebar End -->
