{% load slippers %}

{% fragment as notice_icon %}<i class="fa-solid fa-bullhorn fa-fw"></i>{% endfragment %}
{% fragment as dashboard_icon %}<i class="fa-solid fa-list fa-fw"></i>{% endfragment %}
{% fragment as psat_icon %}<i class="fa-solid fa-layer-group fa-fw"></i>{% endfragment %}
{% fragment as predict_icon %}<i class="fa-solid fa-arrows-up-to-line"></i>{% endfragment %}
{% fragment as problem_icon %}<i class="fa-file-lines fa-fw fa-regular"></i>{% endfragment %}
{% fragment as like_icon %}<i class="fa-heart fa-fw fa-regular"></i>{% endfragment %}
{% fragment as rate_icon %}<i class="fa-star fa-fw fa-regular"></i>{% endfragment %}
{% fragment as answer_icon %}<i class="fa-circle-check fa-fw fa-regular"></i>{% endfragment %}
{% fragment as community_icon %}<i class="fa-users-line fa-fw fa-solid"></i>{% endfragment %}
{% fragment as score_icon %}<i class="fa-solid fa-chart-simple fa-fw"></i>{% endfragment %}
{% fragment as prime_icon %}<i class="fa-regular fa-file fa-fw"></i>{% endfragment %}
{% fragment as schedule_icon %}<i class="fa-regular fa-calendar-days fa-fw"></i>{% endfragment %}

<!-- ======= Sidebar ======= -->
<aside id="sidebar" class="sidebar"
       hx-push-url="true" hx-target="#main" hx-swap="innerHTML swap:0.25s">
    <ul id="sidebar-nav" class="sidebar-nav">
        <li class="nav-item">
            <a id="noticeList" class="nav-link collapsed"
               href="{% url 'notice:base' %}" hx-post="{% url 'notice:base' %}">
                {{ notice_icon|safe }}<span>Notice</span>
            </a>
        </li><!-- Notice Nav End -->

        {% if user.is_authenticated %}
            <li class="nav-item">
                <a id="dashboardList" class="nav-link collapsed"
                   href="{% url 'dashboard:base' %}" hx-post="{% url 'dashboard:base' %}">
                    {{ dashboard_icon|safe }}<span>Dashboard</span>
                </a>
            </li><!-- Dashboard Nav End -->
        {% endif %}

        <li class="nav-item">
            <a id="psatList" class="nav-link collapsed"
               href="{% url 'psat:base' %}" hx-post="{% url 'psat:base' %}">
                {{ psat_icon|safe }}<span>PSAT</span>
            </a>
        </li><!-- PSAT Nav End -->

        <li class="nav-item">
            <a id="predictList" class="nav-link collapsed"
               href="{% url 'predict_test:index' %}" hx-post="{% url 'predict_test:index' %}">
                {{ predict_icon|safe }}<span>Predict</span>
            </a>
        </li><!-- Predict Nav End -->

{#            <li class="nav-item">#}
{#                <a id="communityList" class="nav-link collapsed"#}
{#                   href="{% url 'community:base' %}" hx-post="{% url 'community:base' %}">#}
{#                    {{ community_icon|safe }}<span>Community</span>#}
{#                </a>#}
{#            </li><!-- Community Nav End -->#}

        <li class="nav-item" role="menuitem" aria-label="Score Menu">
            <a class="nav-link collapsed" href="" aria-expanded="false"
               data-bs-target="#score-nav" data-bs-toggle="collapse">
                {{ score_icon|safe }}<span>Score</span>
                <i class="fa-solid fa-chevron-down ms-auto"></i>
            </a>
            <ul id="score-nav" class="nav-content collapse" data-bs-parent="#sidebar-nav">
                <li>
                    {% if user.is_admin %}
                        <a id="psatScoreList" class="aside-nav-icon"
                           href="{% url 'score:list' %}"
                           hx-post="{% url 'score:list' %}">
                            {{ problem_icon|safe }}<span>PSAT 기출문제</span>
                        </a>
                    {% endif %}
                    <a id="primeScoreList" class="aside-nav-icon"
                       href="{% url 'prime:list' %}"
                       hx-post="{% url 'prime:list' %}">
                        {{ prime_icon|safe }}<span>프라임 모의고사</span>
                    </a>
                </li>
            </ul>
        </li><!-- Score Nav End -->

        <li class="nav-item">
            <a id="scheduleList" class="nav-link collapsed"
               href="{% url 'schedule:base' %}" hx-post="{% url 'schedule:base' %}">
                {{ schedule_icon|safe }}<span>Schedule</span>
            </a>
        </li><!-- Schedule Nav End -->

    </ul>
    <div class="d-none d-md-block text-center">
        <button id="sidebarToggle" class="rounded-circle border-0"></button>
    </div>
</aside><!-- Sidebar End -->
