{% load static %}
{% load i18n %}
{% load widget_tweaks %}
{% load slippers %}

{% fragment as search_icon %}{{ PSAT_ICON_SET.search|safe }}{% endfragment %}
{% fragment as divider %}<li><hr class="dropdown-divider"></li>{% endfragment %}

<!-- ======= Main Header ======= -->
<header id="header" class="header fixed-top d-flex align-items-center">
    <div class="d-flex align-items-center justify-content-between">
        {% include 'snippets/logo.html' %}
        <i class="fa fa-bars toggle-sidebar-btn"></i>
    </div><!-- Logo End -->

    <div class="search-bar">
        <form class="search-form d-flex align-items-center">
            {% csrf_token %}
            <input id="id_data" type="text" name="data"
                   placeholder="{% trans 'Enter search keyword' %}"
                   title="{% trans 'Enter search keyword' %}">
            <button type="submit" title="Search" hx-swap="innerHtml swap:0.5s"
                    hx-post="{% url 'psat:search' %}" hx-target="#main">
                {{ search_icon }}
            </button>
        </form>
    </div>

    <nav class="header-nav ms-auto">
        <ul class="d-flex align-items-center">
            <li class="nav-item">
                <a class="nav-link search-bar-toggle px-1" href="#">{{ search_icon }}</a>
            </li>
            {% if user.is_authenticated %}
                {% if user.is_admin %}
                    <li class="nav-item dropdown no-arrow">
                        <a class="nav-link px-1" href="{{ MENU_URL_SET.admin }}"
                           target="admin">{{ MENU_ICON_SET.admin|safe }}</a></li>
                {% endif %}
                <li class="nav-item dropdown no-arrow">
                    <a class="nav-link px-1" href="{{ MENU_URL_SET.problem }}">
                        {{ MENU_ICON_SET.problem|safe }}</a></li>
                <li class="nav-item dropdown no-arrow">
                    <a class="nav-link px-1" href="{{ MENU_URL_SET.like }}">
                        {{ MENU_ICON_SET.like|safe }}</a></li>
                <li class="nav-item dropdown no-arrow">
                    <a class="nav-link px-1" href="{{ MENU_URL_SET.rate }}">
                        {{ MENU_ICON_SET.rate|safe }}</a></li>
                <li class="nav-item dropdown no-arrow">
                    <a class="nav-link ps-1" href="{{ MENU_URL_SET.answer }}">
                        {{ MENU_ICON_SET.answer|safe }}</a></li>
                <div class="topbar-divider"></div>
            {% endif %}

            <li class="nav-item dropdown pe-3">
                <a class="nav-link nav-profile d-flex align-items-center pe-0"
                   href="" data-bs-toggle="dropdown">
                    <img src="{% static 'image/undraw_profile.jpg' %}"
                         alt="Profile" class="img-profile rounded-circle">
                    <span class="d-none d-md-block dropdown-toggle ps-2">
                        {{ user.username }}
                    </span>
                </a><!-- Profile Image Icon End -->

                <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow profile">
                    {% if user.is_authenticated %}
                        <li>
                            <a class="dropdown-item d-flex align-items-center"
                               href="{{ MENU_URL_SET.dashboard }}">
                                {{ MENU_ICON_SET.dashboard|safe }} <span>Dashboard</span>
                            </a>
                        </li>
                        {{ divider }}
                        <li>
                            <a class="dropdown-item d-flex align-items-center" href=""
                               hx-get="{% url 'account_logout_modal' %}"
                               hx-target="#modalContainer" hx-trigger="click" hx-swap="innerHTML"
                               data-bs-toggle="modal" data-bs-target="#modalContainer">
                                {{ MENU_ICON_SET.logout|safe }} <span>{% trans 'Logout' %}</span>
                            </a>
                        </li>
                    {% else %}
                        <li>
                            <a class="dropdown-item d-flex align-items-center"
                               href="{% url 'account_login' %}">
                                {{ MENU_ICON_SET.login|safe }} <span>{% trans 'Login' %}</span>
                            </a>
                        </li>
                        {{ divider }}
                        <li>
                            <a class="dropdown-item d-flex align-items-center"
                               href="{% url 'account_signup' %}">
                                {{ MENU_ICON_SET.signup|safe }} <span>{% trans 'Signup' %}</span>
                            </a>
                        </li>
                    {% endif %}
                </ul><!-- Profile Dropdown Items End -->
            </li><!-- Profile Nav End -->
        </ul>
    </nav><!-- Icons Navigation End -->
</header><!-- Main Header End -->
