{% load psat_filter %}
{% load slippers %}
{% load partials %}

{% startpartial login %}
    {% #modal header='로그인이 필요합니다.' %}
        {% #button class='btn btn-secondary' data-bs-dismiss="modal" %}취소{% /button %}
        <a class="btn btn-primary" href="{% url 'account_login' %}">로그인</a>
    {% /modal %}
{% endpartial %}

{% startpartial logout %}
    {% #modal header='로그아웃 하시겠습니까?' %}
        <form action="{% url 'account_logout' %}" method="POST">
            {% csrf_token %}
            {% #button class='btn btn-secondary' data-bs-dismiss="modal" %}취소{% /button %}
            <button class="btn btn-primary" type="submit">로그아웃</button>
        </form>
    {% /modal %}
{% endpartial %}

{% startpartial rate %}
    {% #modal header='문제 난이도를 선택해주세요.' %}
        <form id="rateButton">
        {% csrf_token %}
            <fieldset>
                {% for i in '12345' %}
                    <input type="radio" name="difficulty" id="star{{ i }}"
                           value="{{ i|abstract:6 }}">
                    <label for="star{{ i }}"><i class="fa fa-star"></i></label>
                {% endfor %}
            </fieldset>
            <button class="btn btn-primary m-1" data-bs-dismiss="modal"
                    hx-post="{% url 'psat:rate_detail' problem_id %}"
                    hx-trigger="click" hx-target="#{{ icon_id }}" type="button"
                    hx-swap="innerHTML swap:0.25s">
                입력
            </button>
        </form>
    {% /modal %}
{% endpartial %}

{% startpartial answer %}
    {% #modal header='정답 확인' %}
        <input id="answer" type="text" name="answer" value="{{ answer }}"
               hidden aria-label="Answer"/>
        {% if is_correct is None %}
            <h5 class="modal-title fw-bold text-danger">
                정답을 선택해주세요.
            </h5>
        {% else %}
            {% if is_correct %}
                <h5 class="modal-title mx-auto fw-bold text-success"
                    hx-post="{% url 'psat:answer_detail' problem_id %}"
                    hx-include="#answer" hx-trigger="load delay:0s"
                    hx-target="#psatAnswer{{ problem_id }}" hx-swap="innerHTML swap:0.25s">
                    정답입니다.</h5>
            {% else %}
                <h5 class="modal-title mx-auto fw-bold text-danger"
                    hx-post="{% url 'psat:answer_detail' problem_id %}"
                    hx-include="#answer" hx-trigger="load"
                    hx-target="#psatAnswer{{ problem_id }}" hx-swap="innerHTML swap:0.25s">
                    오답입니다.</h5>
                <p class="text-secondary small">다시 풀어보세요.</p>
            {% endif %}
        {% endif %}
    {% /modal %}
{% endpartial %}

{% startpartial score_confirm %}
    {% #modal header='최종 답안 제출' %}
        {% if all_confirmed %}
            <h5 class="modal-title mx-auto fw-bold text-success"
                hx-get="{% url 'score:confirm' exam_id %}" hx-target="#main"
                hx-trigger="load delay:1s" hx-swap="innerHTML">
                정답이 정상적으로 제출되었습니다.</h5>
        {% else %}
            <h5 class="modal-title mx-auto fw-bold text-danger">
                모든 문제의 정답을 제출해주세요.</h5>
        {% endif %}
    {% /modal %}
{% endpartial %}
