{% load psat_filter %}
{% load slippers %}
{% load partials %}


{% partialdef login %}
    {% #modal header='로그인이 필요합니다.' %}
        {% #button class='btn btn-secondary' data-bs-dismiss="modal" %}취소{% /button %}
        <a class="btn btn-primary"
           hx-target="body" hx-swap="innerHTML swap:0.25s"
           hx-get="{% url 'account_login' %}?next={{ next }}">
            로그인
        </a>
    {% /modal %}
{% endpartialdef %}


{% partialdef logout %}
    {% #modal header='로그아웃 하시겠습니까?' %}
        <form action="{% url 'account_logout' %}" method="POST">
            {% csrf_token %}
            {% #button class='btn btn-secondary' data-bs-dismiss="modal" %}취소{% /button %}
            <input name="next" value="{{ next }}" aria-label="Next Url" hidden/>
            <button class="btn btn-primary" type="submit">로그아웃</button>
        </form>
    {% /modal %}
{% endpartialdef %}


{% partialdef rate %}
    {% #modal header='문제 난이도를 선택해주세요.' %}
        <form id="rateButton">
        {% csrf_token %}
            <fieldset>
                {% for i in '12345' %}
                    <input type="radio" name="difficulty" id="star{{ i }}"
                           value="{{ i|subtract:6 }}">
                    <label for="star{{ i }}"><i class="fa fa-star"></i></label>
                {% endfor %}
            </fieldset>
            <button class="btn btn-primary m-1" data-bs-dismiss="modal"
                    hx-post="{% url 'psat:rate_detail' problem_id %}"
                    hx-trigger="click" hx-target="#{{ icon_id }}" type="button"
                    hx-swap="innerHTML swap:0.25s">
                입력
            </button>
        </form>
    {% /modal %}
{% endpartialdef %}


{% partialdef answer %}
    {% #modal header='정답 확인' %}
        <input id="answer" type="text" name="answer" value="{{ answer }}"
               hidden aria-label="Answer"/>
        {% if is_correct is None %}
            <h5 class="modal-title fw-bold text-danger">
                정답을 선택해주세요.
            </h5>
        {% else %}
            {% if is_correct %}
                <h5 class="modal-title mx-auto fw-bold text-success"
                    hx-post="{% url 'psat:answer_detail' problem_id %}"
                    hx-include="#answer" hx-trigger="load delay:0s"
                    hx-target="#psatAnswer{{ problem_id }}" hx-swap="innerHTML swap:0.25s">
                    정답입니다.</h5>
            {% else %}
                <h5 class="modal-title mx-auto fw-bold text-danger"
                    hx-post="{% url 'psat:answer_detail' problem_id %}"
                    hx-include="#answer" hx-trigger="load"
                    hx-target="#psatAnswer{{ problem_id }}" hx-swap="innerHTML swap:0.25s">
                    오답입니다.</h5>
                <p class="text-secondary small">다시 풀어보세요.</p>
            {% endif %}
        {% endif %}
    {% /modal %}
{% endpartialdef %}


{% partialdef student_create %}
    {% #modal header=header size=" " %}
        <form>
            <input id="id_year" type="text" name="year" value="{{ year }}" aria-label="Year" hidden>
            <div class="form-floating">
                <input id="id_serial" class="form-control form-control-sm"
                       type="text" placeholder="수험번호(선택사항)" name="serial"/>
                <label for="id_serial">수험번호(선택사항)</label>
            </div>
            <select id="id_unit" class="form-select mt-3" name="unit" aria-label="Select unit"
                    hx-get=""
                    hx-trigger="change" hx-target="#student_department">
                <option selected>모집 단위를 선택해주세요.</option>
                {% for unit in units %}
                    <option value="{{ unit.id }}">{{ unit.name }}</option>
                {% endfor %}
            </select>
            <div id="student_department" class="input-group mt-3">
            </div>
        </form>
    {% /modal %}
{% endpartialdef %}


{% partialdef student_department %}
    <select id="id_department" class="form-select" name="department" aria-label="Select department">
        <option selected>직렬을 선택해주세요.</option>
        {% for department in departments %}
            <option value="{{ department.id }}">
                {{ department.name }}
            </option>
        {% endfor %}
    </select>
    <button class="btn btn-outline-secondary" type="submit" data-bs-dismiss="modal"
            hx-post="{% url 'score_old:psat-student-create' %}" hx-target="#main">
        입력
    </button>
{% endpartialdef %}


{% partialdef student_update %}
    {% #modal header=header size=" " %}
        <form>
            <input id="id_year" type="text" name="year" value="{{ student.year }}"
                   aria-label="Year" hidden>
            <div class="form-floating">
                <input id="id_serial" class="form-control form-control-sm"
                       type="text" placeholder="수험번호" name="serial"
                       value="{{ student.serial|default:'' }}"/>
                <label for="id_serial">수험번호(선택사항)</label>
            </div>
            <select id="id_unit" class="form-select mt-3" name="unit" aria-label="Select unit"
                    hx-get=""
                    hx-trigger="change" hx-target="#student_department">
                <option selected>모집 단위를 선택해주세요.</option>
                {% for unit in units %}
                    <option value="{{ unit.id }}"
                            {% if unit == student.department.unit %}selected{% endif %}>
                        {{ unit.name }}
                    </option>
                {% endfor %}
            </select>
            <div id="student_department" class="input-group mt-3">
                <select id="id_department" class="form-select" name="department" aria-label="Select department">
                    <option selected>직렬을 선택해주세요.</option>
                    {% for department in departments %}
                        <option value="{{ department.id }}"
                                {% if department == student.department %}selected{% endif %}>
                            {{ department.name }}
                        </option>
                    {% endfor %}
                </select>
                <button class="btn btn-outline-secondary" type="submit" data-bs-dismiss="modal"
                        hx-post="{% url 'score_old:psat-student-update' student.id %}" hx-target="#main">
                    수정
                </button>
            </div>
        </form>
    {% /modal %}
{% endpartialdef %}


{% partialdef score_confirmed %}
    {% #modal header='최종 답안 제출' %}
        <h5 class="modal-title mx-auto fw-bold">
            {% if all_confirmed %}
                <span class="text-success" hx-trigger="load delay:0.25s"
                    hx-get="" hx-target="#main"
                    hx-swap="innerHTML" hx-push-url="true">{{ message|safe }}</span>
            {% else %}
                <span class="text-danger">{{ message|safe }}</span>
            {% endif %}
        </h5>
    {% /modal %}
{% endpartialdef %}
