{% extends 'a_boardgame_set/_boardgame_set_base.html' %}
{% load static %}

{% block main_content %}
    {{ config.info|json_script:'info' }}

    <section class="section">
        <div class="row">
            <div class="col-12" aria-label="보드게임 세트">
                <div class="card">
                    <div id="game-container"></div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}

{% block page_script %}
    <script src="{% static 'a_boardgame_set/js/phaser.js' %}"></script>
    <script type="module" src="{% static 'a_boardgame_set/js/src/main.js' %}"></script>
{% endblock %}
