{% load psat_filter %}
{% load partials %}

<article class="table-responsive">
    <table class="table small align-middle">
        <thead>
            <tr class="d-table-row d-md-none text-center align-middle table-warning">
                <th class="text-nowrap">과목</th>
                <th class="text-nowrap">내 점수</th>
                <th class="text-nowrap">응시자수</th>
                <th class="text-nowrap">최고<br/>점수</th>
                <th class="text-nowrap">상위<br/>10%</th>
                <th class="text-nowrap">상위<br/>20%</th>
                <th class="text-nowrap">평균<br/>점수</th>
            </tr>
            <tr class="d-none d-md-table-row text-center align-middle table-warning">
                <th class="col-1">과목</th>
                <th class="col-1">내 점수(점)</th>
                <th class="col-1">응시자수</th>
                <th class="col-1">최고 점수(점)</th>
                <th class="col-1">상위 10%(점)</th>
                <th class="col-1">상위 20%(점)</th>
                <th class="col-1">평균 점수(점)</th>
            </tr>
        </thead>
        <tbody>
            {% with score_data=score_student.헌법 stat_data=score_stat.헌법 %}
                {% partial sub_stat_line %}
            {% endwith %}
            {% with score_data=score_student.언어 stat_data=score_stat.언어 %}
                {% partial sub_stat_line %}
            {% endwith %}
            {% with score_data=score_student.자료 stat_data=score_stat.자료 %}
                {% partial sub_stat_line %}
            {% endwith %}
            {% with score_data=score_student.상황 stat_data=score_stat.상황 %}
                {% partial sub_stat_line %}
            {% endwith %}
            {% with score_data=score_student.피셋 stat_data=score_stat.피셋 %}
                {% partial sub_stat_line %}
            {% endwith %}
        </tbody>
    </table>
</article>

{% partialdef sub_stat_line %}
    <tr class="text-center {% if score_data.sub == '피셋' %}table-warning{% endif %}">
        {% if not score_data.is_confirmed %}
            <th class="text-nowrap">
                {{ score_data.icon|safe }} {{ score_data.subject }}
            </th>
            <td colspan="6">
                <span class="badge rounded-pill bg-danger">답안을 제출해주세요.</span>
            </td>
        {% else %}
            <th class="text-nowrap">{{ score_data.icon|safe }} {{ score_data.subject }}</th>
            <td>
                <div id="{{ prefix }}_score_{{ stat_data.sub }}"
                     class="htmx-fade-up-in delay-0">
                    {{ score_data.score|floatformat:1 }}
                </div>
            </td>
            <td>
                <div id="{{ prefix }}_num_students_{{ stat_data.sub }}"
                     class="htmx-fade-up-in delay-1">
                    {{ stat_data.num_students }}
                </div>
            </td>
            <td>
                <div id="{{ prefix }}_max_score_{{ stat_data.sub }}"
                     class="htmx-fade-up-in delay-2">
                    {{ stat_data.max_score|floatformat:1 }}
                </div>
            </td>
            <td>
                <div id="{{ prefix }}_top_score_10_{{ stat_data.sub }}"
                     class="htmx-fade-up-in delay-3">
                    {{ stat_data.top_score_10|floatformat:1 }}
                </div>
            </td>
            <td>
                <div id="{{ prefix }}_top_score_20_{{ stat_data.sub }}"
                     class="htmx-fade-up-in delay-4">
                    {{ stat_data.top_score_20|floatformat:1 }}
                </div>
            </td>
            <td>
                <div id="{{ prefix }}_avg_score_{{ stat_data.sub }}"
                     class="htmx-fade-up-in delay-5">
                    {{ stat_data.avg_score|floatformat:1 }}
                </div>
            </td>
        {% endif %}
    </tr>
{% endpartialdef sub_stat_line %}
