{% extends 'list.html' %}
{% load static %}
{% load slippers %}
{% load partials %}
{% load psat_filter %}
{% load widget_tweaks %}

{% block head_title %}{{ info.title }}{% endblock head_title %}

{% block main %}
    {{ info|json_script:'info' }}
    <div class="pagetitle my-2">
        <h1>{{ info.icon|safe }} {{ info.title }}</h1>
    </div><!-- Page Title End -->
    {% partial content %}
{% endblock %}


{% startpartial content %}
    <section class="section htmx-fade-in htmx-fade-out"
             hx-target="this" hx-swap="outerHTML swap:0.25s">
    {% #content_row class3='p-4' %}
        {% partial form %}
        {% #responsive_table %}
            {% partial table_head %}
            <tbody>
                {% if page_obj %}
                    {% for problem in page_obj %}
                        {% partial list_divider %}
                        <tr>
                            <td class="text-nowrap p-2 col-1">
                                {% partial reference_content %}
                                {% include 'psat/snippets/icon_container.html' %}
                                <div class="d-sm-none pt-2">
                                    {% partial question_content %}
                                </div>
                            </td>
                            <td class="d-none d-sm-table-cell text-start text-nowrap p-2">
                                {% partial question_content %}
                            </td>
                        </tr>
                    {% endfor %}
                {% else %}
                    <tr>
                        <td class="text-center text-nowrap px-2" colspan="5">
                            자료가 없습니다.
                        </td>
                    </tr>
                {% endif %}
            </tbody>
        {% /responsive_table %}
        {% partial pagination %}
    {% /content_row %}
    </section>
{% endpartial %}


{% startpartial form_option %}
    <select class="form-select form-select-sm d-inline-block"
            name="exam__{{ name }}" aria-label="{{ name|title }}">
        <option value="">전체 {{ total }}</option>
        {% for i in target_list %}
            {% if i.0 == current %}<option value="{{ i.0 }}" selected>{{ i.1 }}</option>
            {% else %}<option value="{{ i.0 }}">{{ i.1 }}</option>{% endif %}
        {% endfor %}
    </select>
{% endpartial %}
{% startpartial form %}
    <nav class="mx-auto mb-3 col-md-8 col-lg-6" aria-label="Exam Navigation">
        <form class="htmx-fade-out htmx-fade-in d-flex justify-content-center col-12"
              hx-trigger="change" hx-get="">
            {% with name='year' total='연도' target_list=year_list current=year %}
                {% partial form_option %}
            {% endwith %}
            {% with name='ex' total='시험' target_list=ex_list current=ex %}
                {% partial form_option %}
            {% endwith %}
            {% with name='sub' total='과목' target_list=sub_list current=sub %}
                {% partial form_option %}
            {% endwith %}
        </form>
    </nav>
{% endpartial %}

{% startpartial table_head %}
    <thead>
        <tr class="d-none d-sm-table-row">
            <th class="text-nowrap p-2 col-1">
                <div class="td-div-xl" aria-label="Reference">문제 출처</div>
                <div class="td-div-xs" aria-label="Like">
                    {{ PSAT_ICON_SET.likeTrue|safe }}
                </div>
                <div class="td-div-lg" aria-label="Rate">난이도</div>
                <div class="td-div-xs" aria-label="Answer">
                    {{ PSAT_ICON_SET.answerTrue|safe }}
                </div>
            </th>
            <th class="text-start text-nowrap p-2">문제</th>
        </tr>
    </thead>
{% endpartial %}


{% startpartial list_divider %}
    {% if not search %}
        {% ifchanged %}
            <tr class="table-warning">
                <td class="text-start text-nowrap text-primary p-2" colspan="5">
                    <h2 class="fs-6 fw-bold m-0">
                        {{ problem.year }}년 {{ problem.exam1 }} {{ problem.subject }}
                    </h2>
                </td>
            </tr>
        {% endifchanged %}
    {% endif %}
{% endpartial %}


{% startpartial reference %}
    <a class="text-decoration-none fw-bold" href="{{ url }}">
        {{ problem.year_ex_sub_hyphen }} {{ problem.problem_number|add_0 }}
    </a>
{% endpartial %}
{% startpartial reference_content %}
    <div class="td-div-xl text-start" aria-label="Reference">
        {% if problem_list or search_list %}
            {% with url=problem.get_problem_url %}{% partial reference %}{% endwith %}
        {% endif %}
        {% if like_list or like_dashboard %}
            {% if problem.is_liked %}
                {% with url=problem.get_like_url %}{% partial reference %}{% endwith %}
            {% else %}
                {% with url=problem.get_problem_url %}{% partial reference %}{% endwith %}
            {% endif %}
        {% endif %}
        {% if rate_list or rate_dashboard %}
            {% with url=problem.get_rate_url %}{% partial reference %}{% endwith %}
        {% endif %}
        {% if answer_list or answer_dashboard %}
            {% with url=problem.get_answer_url %}{% partial reference %}{% endwith %}
        {% endif %}
    </div>
{% endpartial %}


{% startpartial q %}
    <h3 class="fs-6 small m-0">
        {{ problem.problem_question|truncatechars:chars }}
    </h3>
{% endpartial %}
{% startpartial question %}
    <a class="text-decoration-none d-md-none" href="{{ url }}">
        {% with chars=30 %}{% partial q %}{% endwith %}
    </a>
    <a class="text-decoration-none d-none d-md-inline d-lg-none" href="{{ url }}">
        {% with chars=40 %}{% partial q %}{% endwith %}
    </a>
    <a class="text-decoration-none d-none d-lg-inline" href="{{ url }}">
        {% with chars=50 %}{% partial q %}{% endwith %}
    </a>
{% endpartial %}
{% startpartial problem_question_content %}
    {% with url=problem.get_problem_url %}{% partial question %}{% endwith %}
{% endpartial %}
{% startpartial like_question_content %}
    {% with url=problem.get_like_url %}{% partial question %}{% endwith %}
{% endpartial %}
{% startpartial rate_question_content %}
    {% with url=problem.get_rate_url %}{% partial question %}{% endwith %}
{% endpartial %}
{% startpartial answer_question_content %}
    {% with url=problem.get_answer_url %}{% partial question %}{% endwith %}
{% endpartial %}
{% startpartial question_content %}
    {% if problem_list or search_list %}
        {% partial problem_question_content %}
    {% endif %}
    {% if like_list or like_dashboard %}
        {% if problem.is_liked %}{% partial like_question_content %}
        {% else %}{% partial problem_question_content %}{% endif %}
    {% endif %}
    {% if rate_list or rate_dashboard %}
        {% partial rate_question_content %}
    {% endif %}
    {% if answer_list or answer_dashboard %}
        {% partial answer_question_content %}
    {% endif %}
{% endpartial %}


{% startpartial pagination_li %}
    <li {% if status == 'active' %}aria-current="page"{% endif %}
        class="page-item {{ status }}">
        <a class="page-link" href=""
           {% if status == 'disabled' %}tabindex="-1" aria-disabled="true"
           {% else %}hx-get="{{ pagination_url }}&page={{ page_num }}"{% endif %}>
            {% if chevron %}<i class="fa-solid fa-chevron-{{ chevron }}"></i>
            {% else %}{{ anchor_text }}{% endif %}
        </a>
    </li>
{% endpartial %}
{% startpartial pagination %}
    {% #pagination_nav %}
        {% if page_obj.has_previous %}
            {% with page_num=page_obj.number|add:-1 chevron='left' %}
                {% partial pagination_li %}
            {% endwith %}
        {% endif %}
        {% for number in page_range %}
            {% with page_num=number anchor_text=number %}
                {% if number == page_obj.number %}
                    {% with status='active' %}{% partial pagination_li %}{% endwith %}
                {% elif number == page_obj.paginator.ELLIPSIS %}
                    {% with status='disabled' %}{% partial pagination_li %}{% endwith %}
                {% else %}
                    {% partial pagination_li %}
                {% endif %}
            {% endwith %}
        {% endfor %}
        {% if page_obj.has_next %}
            {% with page_num=page_obj.number|add:1 chevron='right' %}
                {% partial pagination_li %}
            {% endwith %}
        {% endif %}
    {% /pagination_nav %}
{% endpartial %}
