{% extends 'list.html' %}
{% load static %}
{% load slippers %}
{% load partials %}
{% load psat_filter %}
{% load widget_tweaks %}

{% block head_title %}{{ info.title }}{% endblock head_title %}

{% block main %}
    {% partial list_main %}
{% endblock %}


{% startpartial list_main %}
    {{ info|json_script:'info' }}
    <div class="pagetitle my-2">
        <h1>{{ info.icon|safe }} {{ info.title }}</h1>
    </div><!-- Page Title End -->
    {% partial content %}
{% endpartial %}


{% startpartial content %}
    <section class="section htmx-fade-in htmx-fade-out"
             hx-target="this" hx-swap="outerHTML swap:0.25s">
    {% #content_row class3='p-4' %}
        {% partial form %}
        {% #responsive_table %}
{#            {% partial table_head %}#}
            <tbody>
                {% if page_obj %}
                    {% for problem in page_obj %}
                        {% partial list_divider %}
                        <tr>
                            <td class="text-nowrap p-2 col-1">
                                {% partial reference_content %}
                                {% include 'psat/snippets/icon_container.html' %}
                                <div class="d-sm-none pt-2">
                                    {% partial question_content %}
                                </div>
                            </td>
                            <td class="d-none d-sm-table-cell text-start text-nowrap p-2">
                                {% partial question_content %}
                            </td>
                        </tr>
                    {% endfor %}
                {% else %}
                    <tr>
                        <td class="text-center text-nowrap px-2" colspan="5">
                            자료가 없습니다.
                        </td>
                    </tr>
                {% endif %}
            </tbody>
        {% /responsive_table %}
        {% partial pagination %}
    {% /content_row %}
    </section>
{% endpartial %}


{% startpartial form_option %}
    <select class="form-select form-select-sm d-inline-block"
            name="{{ name }}" aria-label="{{ name|title }}">
        <option value="">{{ total }}</option>
        {% for i in target_option %}
            {% if i.0 == current %}<option value="{{ i.0 }}" selected>{{ i.1 }}</option>
            {% else %}<option value="{{ i.0 }}">{{ i.1 }}</option>{% endif %}
        {% endfor %}
    </select>
{% endpartial %}

{% startpartial form %}
    {% if problem_list %}
        <nav class="mx-auto mb-3 col-md-8 col-lg-6" aria-label="Exam Navigation">
            <form class="htmx-fade-out htmx-fade-in d-flex justify-content-center col-12"
                  hx-trigger="change" hx-get="">
                {% with name='exam__year' total='전체 연도' target_option=info.year_option current=info.year %}
                    {% partial form_option %}
                {% endwith %}
                {% with name='exam__ex' total='전체 시험' target_option=info.ex_option current=info.ex %}
                    {% partial form_option %}
                {% endwith %}
                {% with name='exam__sub' total='전체 과목' target_option=info.sub_option current=info.sub %}
                    {% partial form_option %}
                {% endwith %}
            </form>
        </nav>
    {% endif %}

    {% if like_list %}
        <nav class="mx-auto mb-3 col-md-6 col-lg-4" aria-label="Exam Navigation">
            <form class="htmx-fade-out htmx-fade-in d-flex justify-content-center col-12"
                  hx-trigger="change" hx-get="">
                {% with name='exam__sub' total='전체 과목' target_option=info.sub_option current=info.sub %}
                    {% partial form_option %}
                {% endwith %}
                {% with name='evaluation__is_liked' total='즐겨찾기 전체 문제' target_option=info.like_option current=info.is_liked %}
                    {% if info.is_liked != '' %}
                        <select class="form-select form-select-sm d-inline-block"
                                name="{{ name }}" aria-label="{{ name|title }}">
                            <option value="">{{ total }}</option>
                            {% for i in target_option %}
                                {% if i.0 == current %}<option value="{{ i.0 }}" selected>{{ i.1 }}</option>{% endif %}
                            {% endfor %}
                        </select>
                    {% else %}
                        {% partial form_option %}
                    {% endif %}
                {% endwith %}
            </form>
        </nav>
    {% endif %}

    {% if rate_list %}
        <nav class="mx-auto mb-3 col-md-6 col-lg-4" aria-label="Exam Navigation">
            <form class="htmx-fade-out htmx-fade-in d-flex justify-content-center col-12"
                  hx-trigger="change" hx-get="">
                {% with name='exam__sub' total='전체 과목' target_option=info.sub_option current=info.sub %}
                    {% partial form_option %}
                {% endwith %}
                {% with name='evaluation__difficulty_rated' total='전체 문제' target_option=info.rate_option current=info.difficulty_rated %}
                    {% if info.difficulty_rated != '' %}
                        <select class="form-select form-select-sm d-inline-block"
                                name="{{ name }}" aria-label="{{ name|title }}">
                            <option value="">{{ total }}</option>
                            {% for i in target_option %}
                                {% if i.0 == current %}<option value="{{ i.0 }}" selected>{{ i.1 }}</option>{% endif %}
                            {% endfor %}
                        </select>
                    {% else %}
                        {% partial form_option %}
                    {% endif %}
                {% endwith %}
            </form>
        </nav>
    {% endif %}

    {% if answer_list %}
        <nav class="mx-auto mb-3 col-md-6 col-lg-4" aria-label="Exam Navigation">
            <form class="htmx-fade-out htmx-fade-in d-flex justify-content-center col-12"
                  hx-trigger="change" hx-get="">
                <input type="text" name="evaluation__user" value="{{ user }}" aria-label="User" hidden>
                {% with name='exam__sub' total='전체 과목' target_option=info.sub_option current=info.sub %}
                    {% partial form_option %}
                {% endwith %}
                {% with name='evaluation__is_correct' total='전체 문제' target_option=info.answer_option current=info.is_correct %}
                    {% if info.is_correct != '' %}
                        <select class="form-select form-select-sm d-inline-block"
                                name="{{ name }}" aria-label="{{ name|title }}">
                            <option value="">{{ total }}</option>
                            {% for i in target_option %}
                                {% if i.0 == current %}<option value="{{ i.0 }}" selected>{{ i.1 }}</option>{% endif %}
                            {% endfor %}
                        </select>
                    {% else %}
                        {% partial form_option %}
                    {% endif %}
                {% endwith %}
            </form>
        </nav>
    {% endif %}

    {% if search_list %}
        <nav class="mx-auto mb-3 col-md-8 col-lg-6" aria-label="Exam Navigation">
            <form class="htmx-fade-out htmx-fade-in d-flex justify-content-center col-12"
                  hx-trigger="change" hx-get="{% url 'psat:search' %}">
                <input type="text" name="data" value="{{ info.data }}" aria-label="Data" hidden>
                {% with name='exam__year' total='전체 연도' target_option=info.year_option current=info.year %}
                    {% partial form_option %}
                {% endwith %}
                {% with name='exam__ex' total='전체 시험' target_option=info.ex_option current=info.ex %}
                    {% partial form_option %}
                {% endwith %}
                {% with name='exam__sub' total='전체 과목' target_option=info.sub_option current=info.sub %}
                    {% partial form_option %}
                {% endwith %}
            </form>
        </nav>
    {% endif %}
{% endpartial %}


{% startpartial table_head %}
    <thead>
        <tr class="d-none d-sm-table-row">
            <th class="text-nowrap p-2 col-1">
                <div class="td-div-xl" aria-label="Reference">문제 출처</div>
                <div class="td-div-xs" aria-label="Like">
                    {{ PSAT_ICON_SET.likeTrue|safe }}
                </div>
                <div class="td-div-lg" aria-label="Rate">난이도</div>
                <div class="td-div-xs" aria-label="Answer">
                    {{ PSAT_ICON_SET.answerTrue|safe }}
                </div>
            </th>
            <th class="text-start text-nowrap p-2">문제</th>
        </tr>
    </thead>
{% endpartial %}


{% startpartial list_divider %}
    {% if not search %}{% ifchanged %}
        <tr class="table-warning">
            <td class="text-start text-nowrap text-primary p-2" colspan="5">
                <h2 class="fs-6 fw-bold m-0">
                    <a hx-get="{{ info.base_url }}?exam__year={{ problem.year }}
                        &exam__ex={{ problem.ex }}&exam__sub={{ problem.sub }}" href="">
                        {{ problem.year }}년 {{ problem.exam1 }} {{ problem.subject }}
                    </a>
                </h2>
            </td>
        </tr>
    {% endifchanged %}{% endif %}
{% endpartial %}


{% startpartial reference %}
    <a class="text-decoration-none fw-bold" href="{{ url }}">
        {{ problem.year_ex_sub_hyphen }} {{ problem.problem_number|add_0 }}
    </a>
{% endpartial %}
{% startpartial reference_content %}
    <div class="td-div-xl text-start" aria-label="Reference">
        {% if problem_list or search_list %}
            {% with url=problem.get_problem_url %}{% partial reference %}{% endwith %}
        {% endif %}
        {% if like_list or like_dashboard %}
            {% if problem.is_liked %}
                {% with url=problem.get_like_url %}{% partial reference %}{% endwith %}
            {% else %}
                {% with url=problem.get_problem_url %}{% partial reference %}{% endwith %}
            {% endif %}
        {% endif %}
        {% if rate_list or rate_dashboard %}
            {% with url=problem.get_rate_url %}{% partial reference %}{% endwith %}
        {% endif %}
        {% if answer_list or answer_dashboard %}
            {% with url=problem.get_answer_url %}{% partial reference %}{% endwith %}
        {% endif %}
    </div>
{% endpartial %}


{% startpartial q %}
    <h3 class="fs-6 small m-0">
        {{ problem.problem_question|truncatechars:chars }}
    </h3>
{% endpartial %}

{% startpartial question %}
    <a class="text-decoration-none d-md-none" href="{{ url }}">
        {% with chars=30 %}{% partial q %}{% endwith %}
    </a>
    <a class="text-decoration-none d-none d-md-inline d-lg-none" href="{{ url }}">
        {% with chars=40 %}{% partial q %}{% endwith %}
    </a>
    <a class="text-decoration-none d-none d-lg-inline" href="{{ url }}">
        {% with chars=50 %}{% partial q %}{% endwith %}
    </a>
{% endpartial %}

{% startpartial question_content %}
    {% if problem_list or search_list %}
        {% with url=problem.get_problem_url %}{% partial question %}{% endwith %}
    {% endif %}
    {% if like_list or like_dashboard %}
        {% if problem.is_liked %}
            {% with url=problem.get_like_url %}{% partial question %}{% endwith %}
        {% else %}
            {% with url=problem.get_problem_url %}{% partial question %}{% endwith %}
        {% endif %}
    {% endif %}
    {% if rate_list or rate_dashboard %}
        {% with url=problem.get_rate_url %}{% partial question %}{% endwith %}
    {% endif %}
    {% if answer_list or answer_dashboard %}
        {% with url=problem.get_answer_url %}{% partial question %}{% endwith %}
    {% endif %}
{% endpartial %}


{% startpartial pagination_li %}
    <li {% if status == 'active' %}aria-current="page"{% endif %}
        class="page-item {{ status }}">
        <a class="page-link" href=""
           {% if status == 'disabled' %}tabindex="-1" aria-disabled="true"
           {% else %}hx-get="{{ info.pagination_url }}&page={{ page_num }}"{% endif %}>
            {% if chevron %}<i class="fa-solid fa-chevron-{{ chevron }}"></i>
            {% else %}{{ anchor_text }}{% endif %}
        </a>
    </li>
{% endpartial %}

{% startpartial pagination %}
    {% #pagination_nav %}
        {% if page_obj.has_previous %}
            {% with page_num=page_obj.number|add:-1 chevron='left' %}
                {% partial pagination_li %}
            {% endwith %}
        {% endif %}
        {% for number in page_range %}
            {% with page_num=number anchor_text=number %}
                {% if number == page_obj.number %}
                    {% with status='active' %}{% partial pagination_li %}{% endwith %}
                {% elif number == page_obj.paginator.ELLIPSIS %}
                    {% with status='disabled' %}{% partial pagination_li %}{% endwith %}
                {% else %}
                    {% partial pagination_li %}
                {% endif %}
            {% endwith %}
        {% endfor %}
        {% if page_obj.has_next %}
            {% with page_num=page_obj.number|add:1 chevron='right' %}
                {% partial pagination_li %}
            {% endwith %}
        {% endif %}
    {% /pagination_nav %}
{% endpartial %}
