{% load static %}
{% load psat_filter %}
{% load partials %}

<section class="htmx-fade-in htmx-fade-out">
    {{ info|json_script:'info' }}
    <div class="table-responsive">
        <table class="table small">
            <thead>
                {% include 'psat/snippets/list_table_header.html' %}
            </thead>
            <tbody>
            {% if page_obj %}
                {% for problem in page_obj %}
                    {% if info.view_type != 'search' %}
                        {% ifchanged %}
                            <tr class="table-warning">{% partial reference %}</tr>
                        {% endifchanged %}
                    {% endif %}
                    {% include 'psat/snippets/list_table_body.html' %}
                {% endfor %}
            {% else %}
                {% if info.view_type == 'search' %}
                    <tr>
                        <td class="text-center text-nowrap px-2" colspan="5">
                            검색된 자료가 없습니다.
                        </td>
                    </tr>
                {% endif %}
            {% endif %}
            </tbody>
        </table>
    </div>
    {% include 'psat/snippets/list_footer.html' %}
</section>


{% startpartial reference %}
    <td class="text-start text-nowrap text-primary fw-bold p-2" colspan="5">
        {{ problem.year }}년 {{ problem.exam1 }} {{ problem.subject }}
    </td>
{% endpartial %}
