{% extends 'list.html' %}
{% load static %}
{% load psat_filter %}
{% load partials %}
{% load taggit_templatetags2_tags %}

{% block head_title %}{{ info.title }}{% endblock head_title %}

{% block main %}
<section>
{#    {{ info|json_script:'info' }}#}
    <div class="pagetitle my-2">
        <h1>
            {{ info.icon|safe }}
            {{ info.title }}
        </h1>
    </div><!-- Page Title End -->

    <section class="section htmx-fade-out">
        <div class="row">
            <div class="col-12 my-2">
                <div class="card m-0">
                    <div class="card-body">
                        <h5 class="card-title">My Tags</h5>
                        <nav>
                            <div class="nav nav-tabs" id="nav-myTab" role="tablist">
                                <button id="navMyCategory0" class="nav-link p-2 active" type="button" role="tab"
                                        data-bs-toggle="tab" data-bs-target="#navMyContent0"
                                        aria-controls="navMyContent0" aria-selected="true">
                                    <span class="fw-bold small text-primary">
                                        {{ PSAT_ICON_SET.all|safe }} 전체
                                    </span>
                                </button>
                                <button id="navMyCategory1" class="nav-link p-2" type="button" role="tab"
                                        data-bs-toggle="tab" data-bs-target="#navMyContent1"
                                        aria-controls="navMyContent1" aria-selected="false">
                                    <span class="fw-bold small text-primary">
                                        {{ PSAT_ICON_SET.eoneo|safe }} 언어
                                    </span>
                                </button>
                                <button id="navMyCategory2" class="nav-link p-2" type="button" role="tab"
                                        data-bs-toggle="tab" data-bs-target="#navMyContent2"
                                        aria-controls="navMyContent2" aria-selected="false">
                                    <span class="fw-bold small text-primary">
                                        {{ PSAT_ICON_SET.jaryo|safe }} 자료
                                    </span>
                                </button>
                                <button id="navMyCategory3" class="nav-link p-2" type="button" role="tab"
                                        data-bs-toggle="tab" data-bs-target="#navMyContent3"
                                        aria-controls="navMyContent3" aria-selected="false">
                                    <span class="fw-bold small text-primary">
                                        {{ PSAT_ICON_SET.sanghwang|safe }} 상황
                                    </span>
                                </button>
                            </div>
                        </nav><!-- Navigation End -->
                        <div class="tab-content" id="nav-myTabContent">
                            <div id="navMyContent0" class="tab-pane fade show active htmx-fade-out"
                                 role="tabpanel" aria-labelledby="navMyCategory0">
                                {% for tag in total_my_tags %}
                                    <span class="tag-{{ tag.weight|floatformat:0 }}">
                                    <a href="">
                                        {{ tag.name }}({{ tag.num_times }})</a>
                                </span>
                                {% endfor %}
                            </div><!-- All Subject Tab End -->
                            <div id="navMyContent1" class="tab-pane fade htmx-fade-out"
                                 role="tabpanel" aria-labelledby="navMyCategory1">
                                {% for tag in eoneo_my_tags %}
                                    <span class="tag-{{ tag.weight|floatformat:0 }}">
                                    <a href="">
                                        {{ tag.name }}({{ tag.num_times }})</a>
                                </span>
                                {% endfor %}
                            </div><!-- Eoneo Tab End -->
                            <div id="navMyContent2" class="tab-pane fade htmx-fade-out"
                                 role="tabpanel" aria-labelledby="navMyCategory2">
                                {% for tag in jaryo_my_tags %}
                                    <span class="tag-{{ tag.weight|floatformat:0 }}">
                                    <a href="">
                                        {{ tag.name }}({{ tag.num_times }})</a>
                                </span>
                                {% endfor %}
                            </div><!-- Jaryo Tab End -->
                            <div id="navMyContent3" class="tab-pane fade htmx-fade-out"
                                 role="tabpanel" aria-labelledby="navMyCategory3">
                                {% for tag in sanghwang_my_tags %}
                                    <span class="tag-{{ tag.weight|floatformat:0 }}">
                                    <a href="">
                                        {{ tag.name }}({{ tag.num_times }})</a>
                                </span>
                                {% endfor %}
                            </div><!-- Sanghwang Tab End -->
                        </div>
                    </div>
                </div>
            </div>
        </div><!-- Content Row End -->
        <div class="row">
            <div class="col-12 my-2">
                <div class="card m-0">
                    <div class="card-body">
                        <h5 class="card-title">All Tags</h5>
                        <nav>
                            <div class="nav nav-tabs" id="nav-allTab" role="tablist">
                                <button id="navAllCategory0" class="nav-link p-2 active" type="button" role="tab"
                                        data-bs-toggle="tab" data-bs-target="#navAllContent0"
                                        aria-controls="navAllContent0" aria-selected="true">
                                    <span class="fw-bold small text-primary">
                                        {{ PSAT_ICON_SET.all|safe }} 전체
                                    </span>
                                </button>
                                <button id="navAllCategory1" class="nav-link p-2" type="button" role="tab"
                                        data-bs-toggle="tab" data-bs-target="#navAllContent1"
                                        aria-controls="navAllContent1" aria-selected="false">
                                    <span class="fw-bold small text-primary">
                                        {{ PSAT_ICON_SET.eoneo|safe }} 언어
                                    </span>
                                </button>
                                <button id="navAllCategory2" class="nav-link p-2" type="button" role="tab"
                                        data-bs-toggle="tab" data-bs-target="#navAllContent2"
                                        aria-controls="navAllContent2" aria-selected="false">
                                    <span class="fw-bold small text-primary">
                                        {{ PSAT_ICON_SET.jaryo|safe }} 자료
                                    </span>
                                </button>
                                <button id="navAllCategory3" class="nav-link p-2" type="button" role="tab"
                                        data-bs-toggle="tab" data-bs-target="#navAllContent3"
                                        aria-controls="navAllContent3" aria-selected="false">
                                    <span class="fw-bold small text-primary">
                                        {{ PSAT_ICON_SET.sanghwang|safe }} 상황
                                    </span>
                                </button>
                            </div>
                        </nav><!-- Navigation End -->
                        <div class="tab-content" id="nav-allTabContent">
                            <div id="navAllContent0" class="tab-pane fade show active htmx-fade-out"
                                 role="tabpanel" aria-labelledby="navAllCategory0">
                                {% for tag in total_my_tags %}
                                    <span class="tag-{{ tag.weight|floatformat:0 }}">
                                    <a href="">
                                        {{ tag.name }}({{ tag.num_times }})</a>
                                </span>
                                {% endfor %}
                            </div><!-- All Subject Tab End -->
                            <div id="navAllContent1" class="tab-pane fade htmx-fade-out"
                                 role="tabpanel" aria-labelledby="navAllCategory1">
                                {% for tag in eoneo_my_tags %}
                                    <span class="tag-{{ tag.weight|floatformat:0 }}">
                                    <a href="">
                                        {{ tag.name }}({{ tag.num_times }})</a>
                                </span>
                                {% endfor %}
                            </div><!-- Eoneo Tab End -->
                            <div id="navAllContent2" class="tab-pane fade htmx-fade-out"
                                 role="tabpanel" aria-labelledby="navAllCategory2">
                                {% for tag in jaryo_my_tags %}
                                    <span class="tag-{{ tag.weight|floatformat:0 }}">
                                    <a href="">
                                        {{ tag.name }}({{ tag.num_times }})</a>
                                </span>
                                {% endfor %}
                            </div><!-- Jaryo Tab End -->
                            <div id="navAllContent3" class="tab-pane fade htmx-fade-out"
                                 role="tabpanel" aria-labelledby="navAllCategory3">
                                {% for tag in sanghwang_my_tags %}
                                    <span class="tag-{{ tag.weight|floatformat:0 }}">
                                    <a href="">
                                        {{ tag.name }}({{ tag.num_times }})</a>
                                </span>
                                {% endfor %}
                            </div><!-- Sanghwang Tab End -->
                        </div>
                    </div>
                </div>
            </div>
        </div><!-- Content Row End -->
    </section>
</section><!-- Main Content End -->
{% endblock %}

{% block page_script %}
    <script type="module" src="{% static 'js/psat.js' %}"></script>
{% endblock %}
