{% extends 'list.html' %}
{% load static %}
{% load psat_filter %}
{% load partials %}
{% load slippers %}

{% block head_title %}{{ info.title }}{% endblock head_title %}

{% startpartial tag_cloud %}
    {% for tag in tags %}
        <span class="tag-{{ tag.weight|floatformat:0 }}">
            <a href="">{{ tag.name }}({{ tag.num_times }})</a>
        </span>
    {% endfor %}
{% endpartial %}

{% block main %}
    <section>
        {{ info|json_script:'info' }}
        <div class="pagetitle my-2">
            <h1>
                {{ info.icon|safe }}
                {{ info.title }}
            </h1>
        </div><!-- Page Title End -->

        <section class="section htmx-fade-out">
        {% #content_row %}
            <h5 class="card-title">My Tags</h5>
            <nav>
                <div class="nav nav-tabs" id="nav-tabMy" role="tablist">
                    {% #nav_tab prefix='My' id='0' %}
                        {{ PSAT_ICON_SET.all|safe }} 전체
                    {% /nav_tab %}
                    {% #nav_tab prefix='My' id='1' %}
                        {{ PSAT_ICON_SET.eoneo|safe }} 언어
                    {% /nav_tab %}
                    {% #nav_tab prefix='My' id='2' %}
                        {{ PSAT_ICON_SET.jaryo|safe }} 자료
                    {% /nav_tab %}
                    {% #nav_tab prefix='My' id='3' %}
                        {{ PSAT_ICON_SET.sanghwang|safe }} 상황
                    {% /nav_tab %}
                </div>
            </nav><!-- Navigation End -->
            <div class="tab-content" id="nav-contentMy">
                {% #nav_content prefix='My' id='0' %}
                    {% with my_total_tags as tags %}{% partial tag_cloud %}{% endwith %}
                {% /nav_content %}<!-- All Subject Tab End -->

                {% #nav_content prefix='My' id='1' %}
                    {% with my_eoneo_tags as tags %}{% partial tag_cloud %}{% endwith %}
                {% /nav_content %}<!-- Eoneo Tab End -->

                {% #nav_content prefix='My' id='2' %}
                    {% with my_jaryo_tags as tags %}{% partial tag_cloud %}{% endwith %}
                {% /nav_content %}<!-- Jaryo Tab End -->

                {% #nav_content prefix='My' id='3' %}
                    {% with my_sanghwang_tags as tags %}{% partial tag_cloud %}{% endwith %}
                {% /nav_content %}<!-- Sanghwang Tab End -->
            </div>
        {% /content_row %}

        {% #content_row %}
            <h5 class="card-title">All Tags</h5>
            <nav>
                <div class="nav nav-tabs" id="nav-tabAll" role="tablist">
                    {% #nav_tab prefix='All' id='0' %}
                        {{ PSAT_ICON_SET.all|safe }} 전체
                    {% /nav_tab %}
                    {% #nav_tab prefix='All' id='1' %}
                        {{ PSAT_ICON_SET.eoneo|safe }} 언어
                    {% /nav_tab %}
                    {% #nav_tab prefix='All' id='2' %}
                        {{ PSAT_ICON_SET.jaryo|safe }} 자료
                    {% /nav_tab %}
                    {% #nav_tab prefix='All' id='3' %}
                        {{ PSAT_ICON_SET.sanghwang|safe }} 상황
                    {% /nav_tab %}
                </div>
            </nav><!-- Navigation End -->
            <div class="tab-content" id="nav-contentAll">
                {% #nav_content prefix='All' id='0' %}
                    {% with all_total_tags as tags %}{% partial tag_cloud %}{% endwith %}
                {% /nav_content %}<!-- All Subject Tab End -->

                {% #nav_content prefix='All' id='1' %}
                    {% with all_eoneo_tags as tags %}{% partial tag_cloud %}{% endwith %}
                {% /nav_content %}<!-- Eoneo Tab End -->

                {% #nav_content prefix='All' id='2' %}
                    {% with all_jaryo_tags as tags %}{% partial tag_cloud %}{% endwith %}
                {% /nav_content %}<!-- Jaryo Tab End -->

                {% #nav_content prefix='All' id='3' %}
                    {% with all_sanghwang_tags as tags %}{% partial tag_cloud %}{% endwith %}
                {% /nav_content %}<!-- Sanghwang Tab End -->
            </div>
        {% /content_row %}
        </section>
    </section><!-- Main Content End -->
{% endblock %}

{% block page_script %}
    <script type="module" src="{% static 'js/psat.js' %}"></script>
{% endblock %}
