{% load static %}
{% load psat_filter %}

<section id="{{ info.target_id }}">
    {{ info|json_script:'info' }}
    <div class="table-responsive">
        <table class="table">
            <thead>
                {% include 'psat/snippets/list_table_header.html' %}
            </thead>
            <tbody>
            {% if page_obj %}
                {% for problem in page_obj %}
                    {% ifchanged %}
                        <tr class="table-warning small">
                            <td class="text-center text-nowrap text-primary fw-bold p-2" colspan="5">
                                {{ problem.year }}년 {{ problem.exam1 }} {{ problem.subject }}
                            </td>
                        </tr>
                    {% endifchanged %}
                    <tr>
                        <td class="text-nowrap p-2 col-1">
                            {% include 'psat/snippets/problem_reference.html' %}
                            {% include 'psat/snippets/icon_container.html' %}
                            <div class="d-sm-none pt-2">
                                {% include 'psat/snippets/list_table_problem.html' %}
                            </div>
                        </td>
                        <td class="d-none d-sm-table-cell text-start text-nowrap p-2">
                            {% include 'psat/snippets/list_table_problem.html' %}
                        </td>
                    </tr>
                {% endfor %}
            {% else %}
                <tr>
                    <td class="text-center text-nowrap px-2" colspan="5">
                        {% if info.category == 'search' %}검색{% else %}추가{% endif %}된 자료가 없습니다.
                    </td>
                </tr>
            {% endif %}
            </tbody>
        </table>
    </div>
    {% if info.category == 'search' %}
        <section class="col-sm-8 col-md-6 col-lg-5 my-4 ms-auto me-auto"
                 data-target="#{{ info.target_id }}">
            {% include 'psat/snippets/search_form.html' %}
        </section>
    {% endif %}
    <section class="d-flex align-items-center flex-wrap justify-content-center text-sm"
             data-target="#{{ info.target_id }}">
        <div class="p-2 me-auto ms-auto">
            {% include 'board/snippets/../board/list_pagination.html' %}
        </div>
    {% if info.category != 'search' %}
        <div class="p-2">
            {% include 'psat/snippets/list_filter_container.html' %}
        </div>
    {% endif %}
    </section>
</section>
