{% extends 'list.html' %}
{% load static %}
{% load psat_filter %}

{% block head_title %}{{ info.title }}{% endblock head_title %}

{% block main %}
<section id="{{ info.target_id }}">
    <div id="info">{{ info|json_script:info }}</div>
    <div class="pagetitle my-2">
        <h1>
            {{ info.icon|safe }}
            {{ info.title }}
        </h1>
    </div><!-- End Page Title -->

    <section class="section">
        <div class="row">
            <div class="col-12 my-2">
                <div class="card m-0">
                    <div class="card-body p-4">
                        <nav>
                            <div class="nav nav-tabs" id="nav-tab" role="tablist">
                                <button class="nav-link active p-2" id="nav-all-tab" type="button"
                                        data-bs-toggle="tab" data-bs-target="#nav-all" role="tab"
                                        aria-controls="nav-all" aria-selected="true">
                                    <span class="fw-bold small text-primary">
                                        {{ PSAT_ICON_SET.all|safe }} 전체
                                    </span>
                                </button>
                                <button class="nav-link p-2" id="nav-eoneo-tab" type="button"
                                        data-bs-toggle="tab" data-bs-target="#nav-eoneo" role="tab"
                                        aria-controls="nav-eoneo" aria-selected="false">
                                    <span class="fw-bold small text-primary">
                                        {{ PSAT_ICON_SET.eoneo|safe }} 언어
                                    </span>
                                </button>
                                <button class="nav-link p-2" id="nav-jaryo-tab" type="button"
                                        data-bs-toggle="tab" data-bs-target="#nav-jaryo" role="tab"
                                        aria-controls="nav-jaryo" aria-selected="false">
                                    <span class="fw-bold small text-primary">
                                        {{ PSAT_ICON_SET.jaryo|safe }} 자료
                                    </span>
                                </button>
                                <button class="nav-link p-2" id="nav-sanghwang-tab" type="button"
                                        data-bs-toggle="tab" data-bs-target="#nav-sanghwang" role="tab"
                                        aria-controls="nav-sanghwang" aria-selected="false">
                                    <span class="fw-bold small text-primary">
                                        {{ PSAT_ICON_SET.sanghwang|safe }} 상황
                                    </span>
                                </button>
                            {% if info.category == 'problem' %}
                                <button class="nav-link p-2" id="nav-search-tab" type="button"
                                        data-bs-toggle="tab" data-bs-target="#nav-search" role="tab"
                                        aria-controls="nav-search" aria-selected="false">
                                    <span class="fw-bold small text-primary">
                                        {{ PSAT_ICON_SET.search|safe }} 검색
                                    </span>
                                </button>
                            {% endif %}
                            </div>
                        </nav><!-- End Navigation -->

                        <div class="tab-content" id="nav-tabContent">
                            <div class="tab-pane fade show active" id="nav-all" role="tabpanel"
                                 aria-labelledby="nav-all-tab">
                                {{ all|safe }}
                            </div><!-- End All Subject Tab -->

                            <div class="tab-pane fade" id="nav-eoneo" role="tabpanel"
                                 aria-labelledby="nav-eoneo-tab">
                                {{ eoneo|safe }}
                            </div><!-- End Eoneo Tab -->

                            <div class="tab-pane fade" id="nav-jaryo" role="tabpanel"
                                 aria-labelledby="nav-jaryo-tab">
                                {{ jaryo|safe }}
                            </div><!-- End Jaryo Tab -->

                            <div class="tab-pane fade" id="nav-sanghwang" role="tabpanel"
                                 aria-labelledby="nav-sanghwang-tab">
                                {{ sanghwang|safe }}
                            </div><!-- End Sanghwang Tab -->

                        {% if info.category == 'problem' %}
                            <div class="tab-pane fade" id="nav-search" role="tabpanel"
                                 aria-labelledby="nav-search-tab">
                                {{ search|safe }}
                            </div><!-- End Search Tab -->
                        {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div><!-- End Content Row -->
    </section>
</section><!-- End Main Content -->
{% endblock %}

{% block page_script %}
{#    <script type="module" src="{% static 'js/list.js' %}"></script>#}
    <script type="module" src="{% static 'js/psat.js' %}"></script>
{% endblock %}
