{% load static %}

<section id="{{ info.target_id }}">
    <div id="info" style="display: none;">{{ info|json_script:info }}</div>
{% if info.category == 'search' %}
    <section class="col-12 col-sm-8 col-md-6 col-lg-5 mt-4 ml-auto mr-auto" data-target="#{{ info.target_id }}">
        {% include 'psat/snippets/search_form.html' %}
    </section>
{% endif %}
    <table class="table small mb-4">
        <thead>
            <tr class="align-middle text-center text-nowrap">
                <th class="col-1 px-1">번호</th>
                <th class="col-1 px-1">{{ PSAT_ICON_SET.likeTrue|safe }}</th>
                <th class="col-1 px-1">난이도</th>
                <th class="col-1 px-1">{{ PSAT_ICON_SET.answerTrue|safe }}</th>
                <th class="px-1 d-none d-sm-table-cell d-md-none">문제</th>
                <th class="px-1 d-none d-md-table-cell d-lg-none">문제</th>
                <th class="px-1 d-none d-lg-table-cell">문제</th>
            </tr>
        </thead>
        <tbody>
    {% if page_obj %}
        {% for problem in page_obj %}
            {% ifchanged %}
            <tr class="table-warning align-middle text-center text-nowrap">
                <td class="px-1" colspan="7">
                    <span role="textbox" aria-label="reference">
                        <a class="text-decoration-none link" href="{% url 'psat:problem_list' problem.year problem.ex problem.sub %}">
                            {{ problem.year }}년 {{ problem.exam1 }} {{ problem.subject }}
                        </a>
                    </span>
                </td>
            </tr>
            {% endifchanged %}
            <tr class="align-middle text-center text-nowrap">
                <td class="px-1">
                    <div role="textbox" aria-label="problem-number">
                        {{ problem.problem_number }}
                    </div>
                </td>
                <td class="px-1">
                    {% include 'psat/snippets/icon_like.html' %}
                </td>
                <td class="px-1">
                    {% include 'psat/snippets/icon_rate.html' %}
                </td>
                <td class="px-1">
                    {% include 'psat/snippets/icon_answer.html' %}
                </td>
                <td class="text-justify px-1 d-none d-sm-table-cell d-md-none">
                    {% include 'psat/snippets/list_table_problem.html' %}
                </td>
                <td class="text-justify px-1 d-none d-md-table-cell d-lg-none">
                    {% include 'psat/snippets/list_table_problem.html' %}
                </td>
                <td class="text-justify px-1 d-none d-lg-table-cell">
                    {% include 'psat/snippets/list_table_problem.html' %}
                </td>
            </tr>
            <tr class="align-middle text-center text-nowrap">
                <td class="px-1 d-sm-none" colspan="4" style="border-top:none;">
                    {% include 'psat/snippets/list_table_problem.html' %}
                </td>
            </tr>
        {% endfor %}
    {% else %}
            <tr class="text-center">
                <td colspan="8">
                    <span role="textbox" aria-label="empty-data">
                    {% if info.category == 'search' %}
                        검색된 자료가 없습니다.
                    {% else %}
                        추가된 자료가 없습니다.
                    {% endif %}
                    </span>
                </td>
            </tr>
    {% endif %}
        </tbody>
    </table>
    <section class="d-flex align-items-center justify-content-center text-sm" data-target="#{{ info.target_id }}">
        {% include 'board/snippets/list_pagination.html' %}
    {% if info.category != 'search' %}
        <div class="d-inline-block ml-auto">
            {% include 'psat/snippets/list_filter_container.html' %}
        </div>
    {% endif %}
    </section>
</section>
