{% extends 'list.html' %}
{% load static %}
{% load i18n %}
{% load slippers %}
{% load partials %}
{% load psat_filter %}

{% block main %}
{% partialdef detail_main inline=True %} {# detail_main partial #}
{{ info|json_script:'info' }}
<div class="pagetitle">
    <h1>{{ icon_menu|safe }} PSAT
        <span class="fs-6 text-secondary">{{ problem.year }}년 {{ problem.exam }}
            {{ problem.subject }} {{ problem.number }}번</span>
    </h1>
    <nav>
        <ol class="breadcrumb" hx-target="#main" hx-swap="innerHTML swap:0.25s" hx-push-url="true">
            <li class="breadcrumb-item">
                <a href="{% url 'index' %}" hx-boost="true">Home</a>
            </li>
            <li class="breadcrumb-item">
                <a href="{% url 'psat:base' %}" hx-boost="true">PSAT</a>
            </li>
            <li class="breadcrumb-item">{{ info.view_type|title }}</li>
            <li class="breadcrumb-item active">
                {{ problem.year }}{{ problem.ex|first }}{{ problem.sub|first }}{{ problem.number|add_0 }}</li>
        </ol>
    </nav>
</div><!-- Page Title End -->

<section class="section">
    <div class="row">
        <div class="col-xxl-8">
            <div id="containerProblem" class="card htmx-fade-in htmx-fade-out">
                {% include 'psat/v3/snippets/problem_container.html' %}
            </div>
        </div>

        <div class="col-xxl-4">
            <div id="containerMemo" class="card htmx-fade-in htmx-fade-out">
                <div class="card-body">
                    <div class="card-title mb-0">
                        <div class="badge bg-warning">{{ icon_memo.white|safe }} 메모</div>
                    </div>
                    {% if user.is_authenticated %}
                        <div id="detailMemo" hx-trigger="load"
                            {% if memo is None %}
                                hx-get="{% url 'psat:memo_create' problem.id %}"
                            {% else %}
                                hx-get="{% url 'psat:memo_detail' memo.id %}"
                            {% endif %}
                                hx-swap="innerHTML">
                        </div>
                    {% else %}
                        {% partialdef need_login inline=True %}
                            <ul class="list-group">
                                <li class="list-group-item">
                                    <a class="text-secondary"
                                       hx-target="#main"
                                       href="{% url 'account_login' %}" hx-boost="true"
                                       hx-swap="innerHTML swap:0.25s" hx-trigger="click">
                                        {% trans 'Please login first.' %}
                                    </a>
                                </li>
                            </ul>
                        {% endpartialdef need_login %}
                    {% endif %}
                </div>
            </div>

            <div id="containerTag" class="card htmx-fade-in htmx-fade-out">
                <div class="card-body">
                    <div class="card-title mb-0">
                        <div class="badge bg-primary">{{ icon_tag.white|safe }} 태그</div>
                    </div>
                    {% if user.is_authenticated %}
                        <div id="detailTags" hx-trigger="load"
                            {% if my_tag is None %}
                                hx-get="{% url 'psat:tag_create' problem.id %}"
                            {% else %}
                                hx-post="{% url 'psat:tag_container' my_tag.id %}"
                            {% endif %}
                                hx-swap="innerHTML">
                        </div>
                    {% else %}
                        {% partial need_login %}
                    {% endif %}
                </div>
            </div>

            {% if user.is_superuser %}
                <div id="containerComment" class="card htmx-fade-in htmx-fade-out">
                    <div class="card-body">
                        <div class="card-title mb-0">
                            <div class="badge bg-success">{{ icon_question.white|safe }} 질문</div>
                        </div>
                        {% if user.is_authenticated %}
                            <div id="detailComments" hx-trigger="load"
                                 hx-get="{% url 'psat:comment_list' problem.id %}"
                                 hx-swap="innerHTML">
                            </div>
                        {% else %}
                            {% partial need_login %}
                        {% endif %}
                    </div>
                </div>
            {% endif %}
        </div>
    </div>
</section>
{% endpartialdef detail_main %}
{% endblock main %}
