{% extends 'list.html' %}
{% load static %}
{% load i18n %}
{% load slippers %}
{% load partials %}
{% load psat_filter %}

{% block main %}
{% partialdef list_main inline=True %} {# list_main partial #}
{{ info|json_script:'info' }}
<div class="pagetitle">
    <h1>{{ icon_menu|safe }} PSAT
        <span class="fs-6 text-secondary">{{ title }}</span>
    </h1>
    <nav>
        <ol class="breadcrumb" hx-target="#main" hx-swap="innerHTML swap:0.25s" hx-push-url="true">
            <li class="breadcrumb-item">
                <a href="{% url 'index' %}" hx-post="{% url 'index' %}">Home</a>
            </li>
            {% if info.view_type %}
                <li class="breadcrumb-item">PSAT</li>
                <li class="breadcrumb-item active">{{ info.view_type|title }}</li>
            {% else %}
                <li class="breadcrumb-item active">PSAT</li>
            {% endif %}
        </ol>
    </nav>
</div><!-- Page Title End -->

<section class="section" hx-target="#main" hx-swap="innerHTML swap:0.25s">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header">{{ sub_title|safe }}</div>

                <div class="card-body">
                    <div class="row gy-2 mb-3">
                        <div class="col-12 col-sm-6 dropdown text-center text-sm-start text-nowrap">
                            {% if user.is_authenticated and info.view_type != 'search' %}
                                {% with option=like_option %}{% partial filter_snippet %}{% endwith %}
                                {% with option=solve_option %}{% partial filter_snippet %}{% endwith %}
                                {% with option=memo_option %}{% partial filter_snippet %}{% endwith %}
                                {% with option=tag_option %}{% partial filter_snippet %}{% endwith %}
                                {% with option=rate_option %}{% partial filter_snippet %}{% endwith %}
                            {% endif %}
                        </div>
                        <div class="col-12 col-sm-6 dropdown text-center text-sm-end text-nowrap">
                            {% if info.view_type == 'search' %}
                                <a type="button" class="btn btn-sm btn-primary"
                                   href="/psat/search?data={{ search_data }}" hx-boost="true">전체</a>
                            {% else %}
                                <a type="button" class="btn btn-sm btn-primary" href="/psat/" hx-boost="true">전체</a>
                            {% endif %}

                            {% with option=year_option %}{% partial filter_snippet %}{% endwith %}
                            {% with option=ex_option %}{% partial filter_snippet %}{% endwith %}
                            {% with option=sub_option %}{% partial filter_snippet %}{% endwith %}
                        </div>
                    </div>

                    {% #responsive_table %}
                        <tbody>
                            {% if page_obj %}
                                {% for problem in page_obj %}
                                    {% ifchanged %}
                                        {% #list_divider %}
                                            {% if info.view_type == 'problem' %}
                                                <a href="{% url 'psat:list' 'problem' %}?year={{ problem.year }}&ex={{ problem.ex }}&sub={{ problem.sub }}"
                                                   hx-boost="true" hx-push-url="false">
                                                    {{ problem.year }}년 {{ problem.exam }} {{ problem.subject }}
                                                </a>
                                            {% else %}
                                                {{ problem.year }}년 {{ problem.exam }} {{ problem.subject }}
                                            {% endif %}
                                        {% /list_divider %}
                                    {% endifchanged %}
                                    <tr>
                                        <td class="text-nowrap p-2 col-1">
                                            <div class="d-inline-block d-sm-none me-1" hx-push-url="true">
                                                {% partial reference %}
                                            </div>
                                            {% include 'psat/v3/snippets/icon_container.html' %}
                                            <div class="d-none d-sm-inline-block td-div-lg text-start ps-1" hx-push-url="true">
                                                {% partial reference %}
                                            </div>
                                            <div class="d-sm-none pt-2" hx-push-url="true">

                                                {% partialdef question inline=True %} {# question partial #}
                                                    {% if like_list and not problem|get_status:like_data %}

                                                        {% with view_type='problem' %}

                                                            {% partialdef question_link inline=True %} {# question_link partial #}
                                                                {% with class='d-md-none' chars=30 %}
                                                                    {% partial link_snippet %} {# link_snippet partial #}
                                                                {% endwith %}

                                                                {% with class='d-none d-md-inline d-lg-none' chars=40 %}
                                                                    {% partial link_snippet %}
                                                                {% endwith %}

                                                                {% with class='d-none d-lg-inline d-xl-none' chars=50 %}
                                                                    {% partial link_snippet %}
                                                                {% endwith %}

                                                                {% with class='d-none d-xl-inline' chars=60 %}
                                                                    {% partial link_snippet %}
                                                                {% endwith %}
                                                            {% endpartialdef question_link %}

                                                        {% endwith %}

                                                    {% elif search_list %}
                                                        {% with view_type='problem' %}
                                                            {% partial question_link %}
                                                        {% endwith %}
                                                    {% else %}
                                                        {% with view_type=info.view_type %}
                                                            {% partial question_link %}
                                                        {% endwith %}
                                                    {% endif %}
                                                {% endpartialdef question %}

                                            </div>
                                        </td>
                                        <td class="d-none d-sm-table-cell text-start text-nowrap p-2" hx-push-url="true">
                                            {% partial question %}
                                        </td>
                                    </tr>
                                {% endfor %}
                            {% else %}
                                <tr>
                                    <td class="text-center text-nowrap px-2" colspan="5">자료가 없습니다.</td>
                                </tr>
                            {% endif %}
                        </tbody>
                    {% /responsive_table %}

                    {% #pagination_nav %}
                        {% if page_obj.has_previous %}
                            {% with page_num=page_obj.number|add:-1 chevron='left' %}

                                {% partialdef pagination_link inline=True %} {# pagination_link partial #}
                                    <li class="page-item {{ status }}"
                                        {% if status == 'active' %}aria-current="page"{% endif %}>
                                        <a class="page-link" href=""
                                            {% if status == 'disabled' %}
                                                tabindex="-1" aria-disabled="true"
                                            {% else %}
                                                hx-get="{{ pagination_url }}&page={{ page_num }}"
                                            {% endif %}>
                                            {% if chevron %}
                                                <i class="fa-solid fa-chevron-{{ chevron }}"></i>
                                            {% else %}
                                                {{ anchor_text }}
                                            {% endif %}
                                        </a>
                                    </li>
                                {% endpartialdef pagination_link %}

                            {% endwith %}
                        {% endif %}

                        {% for number in page_range %}
                            {% with page_num=number anchor_text=number %}
                                {% if number == page_obj.number %}
                                    {% with status='active' %}
                                        {% partial pagination_link %}
                                    {% endwith %}
                                {% elif number == page_obj.paginator.ELLIPSIS %}
                                    {% with status='disabled' %}
                                        {% partial pagination_link %}
                                    {% endwith %}
                                {% else %}
                                    {% partial pagination_link %}
                                {% endif %}
                            {% endwith %}
                        {% endfor %}

                        {% if page_obj.has_next %}
                            {% with page_num=page_obj.number|add:1 chevron='right' %}
                                {% partial pagination_link %}
                            {% endwith %}
                        {% endif %}
                    {% /pagination_nav %}
                </div>
            </div>
        </div>
    </div>
</section>
{% endpartialdef list_main %}
{% endblock main %}

{% partialdef filter_snippet %} {# filter_snippet partial #}
    <button id="dropdown{{ option.var|title }}Link" type="button"
            class="btn btn-sm btn-outline-primary dropdown-toggle"
            data-bs-toggle="dropdown" aria-expanded="false">
        {{ option.text|safe }}
    </button>
    <ul class="dropdown-menu" aria-labelledby="dropdown{{ option.var|title }}Link">
        {% for opt in option.options %}
            {% if option.var != 'year' and option.var != 'ex' and option.var != 'sub' and forloop.last %}
                <li><hr class="dropdown-divider"></li>
            {% endif %}
            <li class="text-center">
                <a class="dropdown-item {% if opt.0 == option.current %}bg-primary-light{% endif %}"
                   href="" hx-get="
{% if option.var != 'year' and option.var != 'ex' and option.var != 'sub' %}
{{ opt.2 }}
{% else %}
{{ base_url }}?year={% if option.var == 'year' %}{{ opt.0 }}{% else %}{{ year }}{% endif %}
&ex={% if option.var == 'ex' %}{{ opt.0 }}{% else %}{{ ex }}{% endif %}
&sub={% if option.var == 'sub' %}{{ opt.0 }}{% else %}{{ sub }}{% endif %}
&is_liked={{ is_liked }}&rating={{ rating }}&is_correct={{ is_correct }}
&has_memo={{ has_memo }}&has_tag={{ has_tag }}&data={{ search_data }}&date={{ search_date }}
{% endif %}
">
                    {{ opt.1|safe }}
                </a>
            </li>
        {% endfor %}
    </ul>
{% endpartialdef filter_snippet %}

{% partialdef reference %}
    {% if search_list %}
        {% with view_type='problem' %}
            {% partialdef reference_link inline=True %}
                <a class="text-decoration-none fw-bold"
                   href="{% url 'psat:detail' view_type problem.id %}"
                   hx-push-url="true" hx-boost="true">
                    {{ problem.year }}{{ problem.ex|first }}{{ problem.sub|first }}-{{ problem.number|add_0 }}
                </a>
            {% endpartialdef reference_link %}
        {% endwith %}
    {% elif info.view_type == 'like' and problem|get_status:like_data %}
        {% with view_type=info.view_type %}{% partial reference_link %}{% endwith %}
    {% elif info.view_type == 'rate' and problem|get_status:rate_data is not None %}
        {% with view_type=info.view_type %}{% partial reference_link %}{% endwith %}
    {% elif info.view_type == 'solve' and problem|get_status:solve_data is not None %}
        {% with view_type=info.view_type %}{% partial reference_link %}{% endwith %}
    {% elif info.view_type == 'memo' and problem|get_status:memo_data is not None %}
        {% with view_type=info.view_type %}{% partial reference_link %}{% endwith %}
    {% elif info.view_type == 'tag' and problem|get_status:tag_data is not None %}
        {% with view_type=info.view_type %}{% partial reference_link %}{% endwith %}
    {% else %}
        {% with view_type='problem' %}{% partial reference_link %}{% endwith %}
    {% endif %}
{% endpartialdef reference %}

{#{% partialdef reference %}#}
{#    {% if like_list and not problem|get_status:like_data %}#}
{#        {% with view_type='problem' %}#}
{#            {% partialdef reference_link inline=True %}#}
{#                <a class="text-decoration-none fw-bold"#}
{#                   href="{% url 'psat:detail' view_type problem.id %}"#}
{#                   hx-push-url="true" hx-boost="true">#}
{#                    {{ problem.year }}{{ problem.ex|first }}{{ problem.sub|first }}-{{ problem.number|add_0 }}#}
{#                </a>#}
{#            {% endpartialdef reference_link %}#}
{#        {% endwith %}#}
{#    {% elif search_list %}#}
{#        {% with view_type='problem' %}#}
{#            {% partial reference_link %}#}
{#        {% endwith %}#}
{#    {% else %}#}
{#        {% with view_type=info.view_type %}#}
{#            {% partial reference_link %}#}
{#        {% endwith %}#}
{#    {% endif %}#}
{#{% endpartialdef reference %}#}

{% partialdef link_snippet %}
    <a class="text-decoration-none {{ class }}"
{#       href="{% url 'psat:detail' view_type problem.id %}"#}
       hx-push-url="{% url 'psat:detail' view_type problem.id %}" hx-boost="true"
       href="
{% url 'psat:detail' info.view_type problem.id %}?year={{ year }}&ex={{ ex }}&sub={{ sub }}
&is_liked={{ is_liked }}&rating={{ rating }}&is_correct={{ is_correct }}
&has_memo={{ has_memo }}&has_tag={{ has_tag }}&data={{ search_data }}
">
        <h3 class="fs-6 small m-0">
            {{ problem.question|truncatechars:chars }}
        </h3>
    </a>
{% endpartialdef link_snippet %}

