{% load psat_filter %}
{% load partials %}
{% load slippers %}


<div class="card-body">
    <h5 class="card-title">성적 확인</h5>
    <nav>
        <div class="nav nav-tabs nav-tabs-colored" id="scoreSheetTab" role="tablist">
            {% #nav_tab prefix='my' id='0' class='' %}내 성적{% /nav_tab %}
            {% #nav_tab prefix='all' id='1' class='' %}전체 기준{% /nav_tab %}
            {% #nav_tab prefix='department' id='2' class='' %}직렬 기준{% /nav_tab %}
        </div>
    </nav>

    <div class="tab-content" id="scoreSheetContent">
        {% #nav_content prefix='my' id='0' %}
            {% #responsive_table %}
                <thead>
                    <tr class="d-table-row d-md-none text-center align-middle table-warning">
                        <th class="text-nowrap" rowspan="2">과목</th>
                        <th class="text-nowrap" rowspan="2">내 점수<br/>(점)</th>
                        <th class="p-1" colspan="2">전체 석차</th>
                        <th class="p-1" colspan="2">직렬 석차</th>
                    </tr>
                    <tr class="d-table-row d-md-none text-center align-middle table-warning">
                        <th class="p-1">(등)</th>
                        <th class="p-1">(%)</th>
                        <th class="p-1">(등)</th>
                        <th class="p-1">(%)</th>
                    </tr>

                    <tr class="d-none d-md-table-row text-center align-middle table-warning">
                       <th class="col-1">과목</th>
                       <th class="col-1">내 점수(점)</th>
                       <th class="col-1">전체 석차(등)</th>
                       <th class="col-1">전체 석차(%)</th>
                       <th class="col-1">직렬 석차(등)</th>
                       <th class="col-1">직렬 석차(%)</th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="text-center">
                        <th class="text-nowrap">헌법</th>
                        <td>{{ student_score.score_heonbeob|floatformat:1 }}</td>
                        <td>{{ student_score.rank_total_heonbeob }}</td>
                        <td>{{ student_score.rank_ratio_total_heonbeob|percentage|floatformat:1 }}</td>
                        <td>{{ student_score.rank_department_heonbeob }}</td>
                        <td>{{ student_score.rank_ratio_department_heonbeob|percentage|floatformat:1 }}</td>
                    </tr>
                    <tr class="text-center">
                        <th class="text-nowrap">언어논리</th>
                        <td>{{ student_score.score_eoneo|floatformat:1 }}</td>
                        <td>{{ student_score.rank_total_eoneo }}</td>
                        <td>{{ student_score.rank_ratio_total_eoneo|percentage|floatformat:1 }}</td>
                        <td>{{ student_score.rank_department_eoneo }}</td>
                        <td>{{ student_score.rank_ratio_department_eoneo|percentage|floatformat:1 }}</td>
                    </tr>
                    <tr class="text-center">
                        <th class="text-nowrap">자료해석</th>
                        <td>{{ student_score.score_jaryo|floatformat:1 }}</td>
                        <td>{{ student_score.rank_total_jaryo }}</td>
                        <td>{{ student_score.rank_ratio_total_jaryo|percentage|floatformat:1 }}</td>
                        <td>{{ student_score.rank_department_jaryo }}</td>
                        <td>{{ student_score.rank_ratio_department_jaryo|percentage|floatformat:1 }}</td>
                    </tr>
                    <tr class="text-center">
                        <th class="text-nowrap">상황판단</th>
                        <td>{{ student_score.score_sanghwang|floatformat:1 }}</td>
                        <td>{{ student_score.rank_total_sanghwang }}</td>
                        <td>{{ student_score.rank_ratio_total_sanghwang|percentage|floatformat:1 }}</td>
                        <td>{{ student_score.rank_department_sanghwang }}</td>
                        <td>{{ student_score.rank_ratio_department_sanghwang|percentage|floatformat:1 }}</td>
                    </tr>
                    <tr class="text-center table-warning">
                        <th class="text-nowrap">PSAT 평균</th>
                        <td>{{ student_score.score_psat_avg|floatformat:1 }}</td>
                        <td>{{ student_score.rank_total_psat }}</td>
                        <td>{{ student_score.rank_ratio_total_psat|percentage|floatformat:1 }}</td>
                        <td>{{ student_score.rank_department_psat }}</td>
                        <td>{{ student_score.rank_ratio_department_psat|percentage|floatformat:1 }}</td>
                    </tr>
                </tbody>
            {% /responsive_table %}
        {% /nav_content %}

        {% #nav_content prefix='all' id='1' %}
            {% #responsive_table %}
                {% with stat=stat_total %}

                    {% partialdef score_thead2 inline=True %} {# score_thead2 partial #}
                        <thead>
                            <tr class="d-table-row d-md-none text-center align-middle table-warning">
                                <th class="text-nowrap">과목</th>
                                <th class="text-nowrap">내 점수</th>
                                <th class="text-nowrap">응시자수</th>
                                <th class="text-nowrap">최고<br/>점수</th>
                                <th class="text-nowrap">상위<br/>10%</th>
                                <th class="text-nowrap">상위<br/>20%</th>
                                <th class="text-nowrap">평균<br/>점수</th>
                            </tr>

                            <tr class="d-none d-md-table-row text-center align-middle table-warning">
                                <th class="col-1">과목</th>
                                <th class="col-1">내 점수(점)</th>
                                <th class="col-1">응시자수</th>
                                <th class="col-1">최고 점수(점)</th>
                                <th class="col-1">상위 10%(점)</th>
                                <th class="col-1">상위 20%(점)</th>
                                <th class="col-1">평균 점수(점)</th>
                            </tr>
                        </thead>
                    {% endpartialdef score_thead2 %}

                    {% partialdef score_statistics inline=True %}
                        <tbody>
                            <tr class="text-center">
                                <th class="text-nowrap">언어논리</th>
                                <td>{{ student_score.score_eoneo|floatformat:1 }}</td>
                                <td>{{ stat.num_students }}</td>
                                <td>{{ stat.max_score_eoneo|floatformat:1 }}</td>
                                <td>{{ stat.top_score_10_eoneo|floatformat:1 }}</td>
                                <td>{{ stat.top_score_20_eoneo|floatformat:1 }}</td>
                                <td>{{ stat.avg_score_eoneo|floatformat:1 }}</td>
                            </tr>
                            <tr class="text-center">
                                <th class="text-nowrap">자료해석</th>
                                <td>{{ student_score.score_jaryo|floatformat:1 }}</td>
                                <td>{{ stat.num_students }}</td>
                                <td>{{ stat.max_score_jaryo|floatformat:1 }}</td>
                                <td>{{ stat.top_score_10_jaryo|floatformat:1 }}</td>
                                <td>{{ stat.top_score_20_jaryo|floatformat:1 }}</td>
                                <td>{{ stat.avg_score_jaryo|floatformat:1 }}</td>
                            </tr>
                            <tr class="text-center">
                                <th class="text-nowrap">상황판단</th>
                                <td>{{ student_score.score_sanghwang|floatformat:1 }}</td>
                                <td>{{ stat.num_students }}</td>
                                <td>{{ stat.max_score_sanghwang|floatformat:1 }}</td>
                                <td>{{ stat.top_score_10_sanghwang|floatformat:1 }}</td>
                                <td>{{ stat.top_score_20_sanghwang|floatformat:1 }}</td>
                                <td>{{ stat.avg_score_sanghwang|floatformat:1 }}</td>
                            </tr>
                            <tr class="text-center table-warning">
                                <th class="text-nowrap">PSAT 평균</th>
                                <td>{{ student_score.score_psat_avg|floatformat:1 }}</td>
                                <td>{{ stat.num_students }}</td>
                                <td>{{ stat.max_score_psat_avg|floatformat:1 }}</td>
                                <td>{{ stat.top_score_10_psat_avg|floatformat:1 }}</td>
                                <td>{{ stat.top_score_20_psat_avg|floatformat:1 }}</td>
                                <td>{{ stat.avg_score_psat_avg|floatformat:1 }}</td>
                            </tr>
                            {% if heonbeob_answer or heonbeob_temporary %}
                                <tr class="text-center">
                                    <th class="text-nowrap">헌법</th>
                                    <td>{{ student_score.score_heonbeob|floatformat:1 }}</td>
                                    <td>{{ stat.num_students }}</td>
                                    <td>{{ stat.max_score_heonbeob|floatformat:1 }}</td>
                                    <td>{{ stat.top_score_10_heonbeob|floatformat:1 }}</td>
                                    <td>{{ stat.top_score_20_heonbeob|floatformat:1 }}</td>
                                    <td>{{ stat.avg_score_heonbeob|floatformat:1 }}</td>
                                </tr>
                            {% endif %}
                        </tbody>
                    {% endpartialdef score_statistics %}
                {% endwith %}
            {% /responsive_table %}
        {% /nav_content %}

        {% #nav_content prefix='department' id='2' %}
            {% #responsive_table %}
                {% with stat=stat_department %}
                    {% partial score_thead2 %}
                    {% partial score_statistics %}
                {% endwith %}
            {% /responsive_table %}
        {% /nav_content %}
    </div>
</div>