{% load static %}
{% load psat_filter %}
{% load partials %}
{% load slippers %}

<div class="card-body">
    <h5 class="card-title">수험정보</h5>
        <table class="table">
            <tbody>
                <tr>
                    <th scope="row">수험번호</th>
                    <td>{{ student.serial }}</td>
                </tr>
                <tr>
                    <th scope="row">직렬</th>
                    <td>{{ student.department_name }}</td>
                </tr>
                <tr>
                    <th scope="row">이름</th>
                    <td>{{ student.name }}</td>
                </tr>
            </tbody>
        </table>
</div>
