{% load static %}
{% load partials %}
{% load slippers %}

<div class="card-header">성적 분포 차트</div>

<div class="card-body">
    {% if is_confirmed %}
        {% partialdef chart_canvas inline=True %}
            <div class="mt-4 chart-container {{ print_class }} ms-auto me-auto">
                <canvas id="scoreChart"></canvas>
                {% partial chart_contents %}
            </div>
            <div class="mt-4 chart-container {{ print_class }} ms-auto me-auto">
                {{ frequency_score.psat_avg|json_script:'psat_avg' }}
                {{ frequency_score.psat_avg_point|json_script:'psat_avg_point' }}
                <canvas id="scoreChartTotal"></canvas>
                {% partial chart_contents_total %}
            </div>
        {% endpartialdef chart_canvas %}
    {% else %}
        {% #responsive_table %}
            <tbody>
                <tr class="text-center align-middle">
                   <th colspan="6" class="text-danger fs-6 py-4">
                       모든 과목의 답안을 입력해주세요.
                   </th>
                </tr>
            </tbody>
        {% /responsive_table %}
    {% endif %}
</div>

{% partialdef chart_contents %}
<script type="text/javascript">
    screenWidth = window.innerWidth;
    my_score = [
        {{ student_score.score_heonbeob|floatformat:1 }},
        {{ student_score.score_eoneo|floatformat:1 }},
        {{ student_score.score_jaryo|floatformat:1 }},
        {{ student_score.score_sanghwang|floatformat:1 }},
        {{ student_score.score_psat_avg|floatformat:1 }},
    ]
    department_average = [
        {{ stat_department.avg_score_heonbeob|floatformat:1 }},
        {{ stat_department.avg_score_eoneo|floatformat:1 }},
        {{ stat_department.avg_score_jaryo|floatformat:1 }},
        {{ stat_department.avg_score_sanghwang|floatformat:1 }},
        {{ stat_department.avg_score_psat_avg|floatformat:1 }},
    ]
    total_average = [
        {{ stat_total.avg_score_heonbeob|floatformat:1 }},
        {{ stat_total.avg_score_eoneo|floatformat:1 }},
        {{ stat_total.avg_score_jaryo|floatformat:1 }},
        {{ stat_total.avg_score_sanghwang|floatformat:1 }},
        {{ stat_total.avg_score_psat_avg|floatformat:1 }},
    ]
    department_score_20 = [
        {{ stat_department.top_score_20_heonbeob|floatformat:1 }},
        {{ stat_department.top_score_20_eoneo|floatformat:1 }},
        {{ stat_department.top_score_20_jaryo|floatformat:1 }},
        {{ stat_department.top_score_20_sanghwang|floatformat:1 }},
        {{ stat_department.top_score_20_psat_avg|floatformat:1 }},
    ]
    total_score_20 = [
        {{ stat_total.top_score_20_heonbeob|floatformat:1 }},
        {{ stat_total.top_score_20_eoneo|floatformat:1 }},
        {{ stat_total.top_score_20_jaryo|floatformat:1 }},
        {{ stat_total.top_score_20_sanghwang|floatformat:1 }},
        {{ stat_total.top_score_20_psat_avg|floatformat:1 }},
    ]
    department_score_10 = [
        {{ stat_department.top_score_10_heonbeob|floatformat:1 }},
        {{ stat_department.top_score_10_eoneo|floatformat:1 }},
        {{ stat_department.top_score_10_jaryo|floatformat:1 }},
        {{ stat_department.top_score_10_sanghwang|floatformat:1 }},
        {{ stat_department.top_score_10_psat_avg|floatformat:1 }},
    ]
    total_score_10 = [
        {{ stat_total.top_score_10_heonbeob|floatformat:1 }},
        {{ stat_total.top_score_10_eoneo|floatformat:1 }},
        {{ stat_total.top_score_10_jaryo|floatformat:1 }},
        {{ stat_total.top_score_10_sanghwang|floatformat:1 }},
        {{ stat_total.top_score_10_psat_avg|floatformat:1 }},
    ]
    department_top = [
        {{ stat_department.max_score_heonbeob|floatformat:1 }},
        {{ stat_department.max_score_eoneo|floatformat:1 }},
        {{ stat_department.max_score_jaryo|floatformat:1 }},
        {{ stat_department.max_score_sanghwang|floatformat:1 }},
        {{ stat_department.max_score_psat_avg|floatformat:1 }},
    ]
    total_top = [
        {{ stat_total.max_score_heonbeob|floatformat:1 }},
        {{ stat_total.max_score_eoneo|floatformat:1 }},
        {{ stat_total.max_score_jaryo|floatformat:1 }},
        {{ stat_total.max_score_sanghwang|floatformat:1 }},
        {{ stat_total.max_score_psat_avg|floatformat:1 }},
    ]
    chart_datasets = [
        {label: '내 점수', borderWidth: 1, data: my_score},
        {label: '직렬 평균', borderWidth: 1, data: department_average},
        {label: '전체 평균', borderWidth: 1, data: total_average},
        {label: '직렬 상위 20%', borderWidth: 1, data: department_score_20, hidden: true},
        {label: '전체 상위 20%', borderWidth: 1, data: total_score_20, hidden: true},
        {label: '직렬 상위 10%', borderWidth: 1, data: department_score_10},
        {label: '전체 상위 10%', borderWidth: 1, data: total_score_10},
        {label: '직렬 최고', borderWidth: 1, data: department_top, hidden: true},
        {label: '전체 최고', borderWidth: 1, data: total_top, hidden: true},
    ]

    chart_data = {
        type: 'bar',
        data: {
            labels: ['헌법', '언어논리', '자료해석', '상황판단', 'PSAT 평균'],
            datasets: chart_datasets,
        },
        options: {
            indexAxis: (screenWidth < 768) ? 'y' : 'x',
            responsive: true,
            maintainAspectRatio: false,
            plugins: {
                legend: {
                    position: 'bottom',
                },
                datalabels: {
                    align: 'end',
                    color: 'black',
                    font: {
                        weight: 'bold',
                    }
                }
            },
            scales: {
                y: {ticks: {font: {weight: 'bold'}}},
                x: {ticks: {font: {weight: 'bold'}}},
            },
            elements: {
                bar: {
                    barPercentage: 0.5,
                },
            },
        }
    }

    if (typeof chart_canvas === 'undefined') {
        const chart_canvas = document.getElementById('scoreChart');
        new Chart(chart_canvas, chart_data);
    } else {
        chart_canvas.chart.destroy();
        new Chart(chart_canvas, chart_data);
    }
</script>
{% endpartialdef chart_contents %}

{% partialdef chart_contents_total %}
<script type="text/javascript">
    psat_avg = JSON.parse(document.getElementById('psat_avg').textContent);
    psat_avg_point = JSON.parse(document.getElementById('psat_avg_point').textContent);

    chart_datasets_total = [
        {
            label: 'PSAT 평균',
            data: Object.values(psat_avg),
            borderWidth: 2,
            tension: 0.4,
            pointBackgroundColor: psat_avg_point,
        },
    ]

    chart_data_total = {
        type: 'line',
        data: {
            labels: Object.keys(psat_avg),
            datasets: chart_datasets_total,
        },
        options: {
            indexAxis: (screenWidth < 768) ? 'y' : 'x',
            responsive: true,
            maintainAspectRatio: false,
            plugins: {
                legend: {
                    position: 'bottom',
                },
                datalabels: {
                    align: 'end',
                    color: 'black',
                    font: {
                        weight: 'bold',
                    }
                },
            },
            scales: {
                y: {ticks: {font: {weight: 'bold'}}},
                x: {ticks: {font: {weight: 'bold'}}},
            },
        }
    }

    if (typeof chart_canvas_total === 'undefined') {
        const chart_canvas_total = document.getElementById('scoreChartTotal');
        new Chart(chart_canvas_total, chart_data_total);
    } else {
        chart_canvas_total.chart.destroy();
        new Chart(chart_canvas_total, chart_data_total);
    }
</script>
{% endpartialdef chart_contents %}
