{% load slippers %}
{% load partials %}

{% partialdef no_open_modal %} {# no_open_modal partial #}
    {% #modal header='시험 결과 안내' %}
        <h5 class="modal-title mx-auto fw-bold">
            <span class="text-secondary">
                제{{ exam.round }}회 모의고사 성적은<br/>
                <span class="text-danger">{{ exam.opened_at|date:'n/j(D)' }}</span>
                이후 공개됩니다.
            </span>
        </h5>
    {% /modal %}
{% endpartialdef no_student_modal %}

{% partialdef no_student_modal %} {# no_student_modal partial #}
    {% #modal header='수험 정보 오류' %}
        <h5 class="modal-title mx-auto fw-bold">
            <span class="text-danger">수험 정보를 입력해주세요.</span>
        </h5>
    {% /modal %}
{% endpartialdef no_student_modal %}

{% partialdef student_connect %} {# student_connect partial #}
    {% #modal header=header size=" " %}
        {% partialdef student_info inline=True %}
            {% if user_verified %}
                <div class="py-4">
                    <h5 class="modal-title mx-auto fw-bold" hx-trigger="load delay:0.5s"
                        hx-target="#main" hx-swap="innerHTML swap:0.25s" hx-push-url="true"
                        hx-get="{% url 'prime:detail_year_round' year round %}">
                        <span class="text-success">수험 정보가 입력되었습니다.</span>
                    </h5>
                </div>
                <script>
                    let button = document.querySelector('.btn-close');
                    if (button) {
                        setTimeout(function () {
                                button.click();
                            }, 1000);
                    } else {
                        console.log('button not found');
                    }
                </script>
            {% else %}
                <form id="student_info">
                    {% if no_student %}
                        <div class="alert alert-danger alert-dismissible fade show" role="alert">
                            수험 정보를 다시 확인해주세요.
                            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                        </div>
                    {% endif %}

                    <input id="id_year" type="text" name="year" value="{{ year }}" aria-label="Year" hidden>
                    <input id="id_round" type="text" name="round" value="{{ round }}" aria-label="Round" hidden>

                    <div class="form-floating">
                        <input id="id_serial" class="form-control form-control-sm"
                               type="text" placeholder="수험번호" name="serial" value="{{ form.serial.value }}"/>
                        <label for="id_serial">수험번호</label>
                    </div>
                    {% if form.errors.serial %}
                        <div class="text-danger text-start fw-bold">
                            수험번호를 입력해주세요.
                        </div>
                    {% endif %}

                    <div class="form-floating mt-3">
                        <input id="id_name" class="form-control form-control-sm"
                               type="text" placeholder="이름" name="name" value="{{ form.name.value }}"/>
                        <label for="id_name">이름</label>
                    </div>
                    {% if form.errors.name %}
                        <div class="text-danger text-start fw-bold">
                            이름을 입력해주세요.
                        </div>
                    {% endif %}

                    <div class="input-group mt-3">
                        <div class="form-floating">
                            <input id="id_password" class="form-control form-control-sm"
                                   type="text" placeholder="이름" name="password" value="{{ form.password.value }}"/>
                            <label for="id_password">비밀번호</label>
                        </div>
                        <button class="btn btn-outline-secondary" type="submit"
                                hx-swap="outerHTML swap:0.25s" hx-target="#student_info"
                                hx-post="{% url 'prime:student_connect' year round %}">
                            입력
                        </button>
                    </div>
                    {% if form.errors.password %}
                        <div class="text-danger text-start fw-bold">
                             비밀번호를 입력해주세요.
                        </div>
                    {% endif %}
                </form>
            {% endif %}
        {% endpartialdef student_info %}
    {% /modal %}
{% endpartialdef student_connect %}
