{% for i in '1234' %}{% partial answer_button %}{% endfor %}
{% if subject_field != 'heonbeob' %}
    {% with i='5' %}{% partial answer_button %}{% endwith %}
{% endif %}

{% partialdef answer_button %}
    <input id="p{{ answer.no|stringformat:'02d' }}_answer{{ i }}"
           type="radio" class="btn-check prevent_double_click" name="answer" value="{{ i }}"
           hx-trigger="change" hx-patch=""/>
    <label class="btn btn-circle btn-sm fs-6
           {% if i|to_int == answer.ans %}btn-primary
           {% else %}btn-outline-secondary{% endif %}"
           for="p{{ answer.no|stringformat:'02d' }}_answer{{ i }}">
        {{ i }}</label>
{% endpartialdef answer_button %}
