{% if exam.is_not_page_open %}
    <div class="alert alert-danger alert-dismissible fade show mb-0" role="alert">
        <i class="fa-solid fa-circle-exclamation"></i>
            수험정보는 {{ exam.page_opened_at|date:'n/d(D) H:i' }}부터 입력 가능합니다.
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
{% else %}
    <div class="alert alert-danger alert-dismissible fade show mb-0" role="alert">
        <i class="fa-solid fa-circle-exclamation"></i>
            {{ exam.get_exam_display }}{% if exam.exam == '경위' %}(일반 직렬){% endif %} 수험정보를 입력해주세요.
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>

    <form method="post">
        {% csrf_token %}
        <input name="password" value="0" aria-label="Password" hidden/>
        <input name="id_prime_id" value="" aria-label="Prime ID" hidden/>

        {% if exam.exam == '경위' %}
            <input name="id_unit" value="경위" aria-label="Unit" hidden/>
            <input name="id_department" value="일반" aria-label="Department" hidden/>
            <select id="id_selection" class="form-select mt-3 select2-filter-style"
                name="selection" aria-label="Select subject">
                <option value="" selected>선택과목을 선택해주세요.</option>
                {% for selection in selection_choice %}
                    <option value="{{ selection.field }}">{{ selection.name }}</option>
                {% endfor %}
            </select>
        {% else %}
            <div class="row">
                <div class="col-6">
                    <select id="id_unit" class="form-select mt-3 select2-filter-style"
                            name="unit" aria-label="Select unit"
                            hx-push-url="false" hx-trigger="change"
                            hx-target="#id_department" hx-swap="outerHTML"
                            hx-headers='{"select-department":true}' hx-get="">
                        <option value="">모집 단위를 선택해주세요.</option>
                        {% for unit in units %}
                            {% if unit == form.unit.value %}
                                <option value="{{ unit }}" selected>{{ unit }}</option>
                            {% else %}
                                <option value="{{ unit }}">{{ unit }}</option>
                            {% endif %}
                        {% endfor %}
                    </select>
                </div>
                <div class="col-6">
                    {% include 'a_predict/snippets/department_list.html' %}
                </div>
            </div>
            {{ form.errors.department }}
        {% endif %}

        <div class="form-floating mt-3">
            {{ form.serial }}
            {{ form.serial.label_tag }}
        </div>
        {{ form.errors.serial }}

        <div class="input-group mt-3">
            <div class="form-floating">
                {{ form.name }}
                {{ form.name.label_tag }}
            </div>
            <button class="btn btn-outline-secondary prevent_double_click" type="submit">
                입력
            </button>
        </div>
        {{ form.errors.name }}
    </form>
    <div class="d-flex align-items-start mt-3">
        <div class="badge bg-danger me-2"><i class="fa-regular fa-circle-check"></i> 참고</div>
        <div class="text-danger small fw-bold">
            입력하신 수험정보는 변경할 수 없으니 주의하시기 바랍니다.
        </div>
    </div>
{% endif %}
