{% load psat_filter %}
{% load slippers %}

<div class="card-header">
    예상 정답
    <a class="text-decoration-none ms-2" href="" hx-swap="none" hx-indicator="#answer_predict_spinner"
       hx-headers='{"Hx-Update":"answer_predict"}' hx-get="">
        <span class="badge rounded-pill text-bg-warning">업데이트</span>
    </a>
    <div id="answer_predict_spinner" role="status"
         class="htmx-indicator spinner-border text-warning spinner-border-sm">
        <span class="visually-hidden">Loading...</span>
    </div>
</div>

<div class="card-body">
    <nav>
        <div class="nav nav-tabs nav-tabs-colored" id="scoreAnswerPredictTab" role="tablist">
            {% for id in exam_vars.answer_tab.id %}
                {% cycle exam_vars.sub_list.0 exam_vars.sub_list.1 exam_vars.sub_list.2 exam_vars.sub_list.3 exam_vars.sub_list.4 as tab_title silent %}
                {% cycle exam_vars.icon_subject.0|safe exam_vars.icon_subject.1|safe exam_vars.icon_subject.2|safe exam_vars.icon_subject.3|safe exam_vars.icon_subject.4|safe as icon silent %}
                {% #nav_tab prefix='AnswerPredict' id=id %}{{ icon }} {{ tab_title }}{% /nav_tab %}
            {% endfor %}
        </div>
    </nav>

    <div class="tab-content" id="scoreAnswerPredictContent">
        {% for id in exam_vars.answer_tab.id %}
            {% cycle data_answer_predict.0 data_answer_predict.1 data_answer_predict.2 data_answer_predict.3 data_answer_predict.4 as answer_predict silent %}
            {% cycle exam_vars.subject_fields.0 exam_vars.subject_fields.1 exam_vars.subject_fields.2 exam_vars.subject_fields.3 exam_vars.subject_fields.4 as field silent %}
            {% cycle exam_vars.url_answer_input_list.0 exam_vars.url_answer_input_list.1 exam_vars.url_answer_input_list.2 exam_vars.url_answer_input_list.3 exam_vars.url_answer_input_list.4 as url_answer_input silent %}
            {% cycle answer_confirmed.0 answer_confirmed.1 answer_confirmed.2 answer_confirmed.3 as is_confirmed silent %}
            {% #nav_content prefix='AnswerPredict' id=id %}{% partial answer_table %}{% /nav_content %}
        {% endfor %}
    </div>
    <div>
        <span class="badge bg-success"><i class="fa-regular fa-circle-check"></i> 참고</span><br/>
        <ol class="text-success small fw-bold m-0">
            {% if exam.is_collecting_answer %}
                <li>예상 정답은 {{ exam.answer_predict_opened_at|date:'G시 i분' }}부터
                    {{ exam.answer_official_opened_at|date:'G시 i분' }}까지만 공개됩니다.</li>
            {% endif %}
            {% if exam.is_answer_predict_opened %}
                <li>{{ current_time|date:'Y년 n월 j일 G:i' }} 기준 예상 정답입니다.</li>
            {% endif %}
            <li>가장 많은 분들이 선택한 답안을 예상 정답으로 제시합니다.</li>
            <li>정확도 = 예상 정답 선택 응시생 수 / 답안 제출 완료 응시생 수</li>
        </ol>
    </div>
</div>

{% partialdef answer_table %}
    <article class="table-responsive">
        <table class="table align-middle">
            <tbody>
                {% if not is_confirmed %}
                    <tr class="text-center">
                        <th>
                            <a class="btn btn-outline-danger my-4" hx-boost="true"
                               href="{{ url_answer_input }}">
                                답안을 제출해주세요.
                            </a>
                        </th>
                    </tr>
                {% else %}
                    {% if exam.is_collecting_answer %}
                        <tr class="text-center">
                            <th class="fw-bold text-bg-warning">
                                <div class="fs-5 my-4">답안 수집중입니다.</div>
                            </th>
                        </tr>
                    {% elif exam.is_answer_predict_opened %}
                        {% if answer_predict|length == 25  %}
                            {% for _ in '012' %}
                                {% cycle 10 10 5 as loop_counter silent %}
                                {% cycle 0 10 20 as loop_min silent %}
                                {% partial answer_table_tr %}
                            {% endfor %}
                        {% else %}
                            {% for _ in '0123' %}
                                {% cycle 10 10 10 10 as loop_counter silent %}
                                {% cycle 0 10 20 30 as loop_min silent %}
                                {% partial answer_table_tr %}
                            {% endfor %}
                        {% endif %}
                    {% endif %}
                        {% if answer_predict|length == 25  %}
                            {% for _ in '012' %}
                                {% cycle 10 10 5 as loop_counter silent %}
                                {% cycle 0 10 20 as loop_min silent %}
                                {% partial answer_table_tr %}
                            {% endfor %}
                        {% else %}
                            {% for _ in '0123' %}
                                {% cycle 10 10 10 10 as loop_counter silent %}
                                {% cycle 0 10 20 30 as loop_min silent %}
                                {% partial answer_table_tr %}
                            {% endfor %}
                        {% endif %}
                {% endif %}
            </tbody>
        </table>
    </article>
{% endpartialdef answer_table %}

{% partialdef answer_table_tr %}
    <tr class="text-center table-warning" aria-label="문제 번호">
        <th class="text-nowrap" scope="row">문제 번호</th>
        {% for _ in 'x'|ljust:loop_counter %}
            <th>{{ forloop.counter|add:loop_min }}</th>
        {% endfor %}
    </tr>
    <tr class="text-center" aria-label="예상 정답">
        <th class="text-nowrap td-no-border" scope="row">예상 정답</th>
        {% for answer in answer_predict %}
            {% if forloop.counter > loop_min and forloop.counter <= loop_min|add:loop_counter %}
                <td class="td-no-border">
                    <button data-number="{{ answer.no }}"
                            {% if exam.is_answer_predict_opened %}
                            class="btn btn-circle btn-sm fs-6 mx-1 my-2 btn-success"
                            {% else %}
                            class="btn btn-circle btn-sm fs-6 mx-1 my-2 {% if answer.prediction_is_correct %}btn-success{% else %}btn-danger{% endif %}"
                            {% endif %}>
                        <div id="{{ prefix }}_{{ answer.no }}"
                             class="htmx-fade-up-in delay-{{ forloop.counter|digit_of_one }}">
                            {{ answer.ans }}
                        </div>
                    </button>
                </td>
            {% endif %}
        {% endfor %}
    </tr>
    <tr class="text-center" aria-label="정확도">
        <th class="text-nowrap" scope="row">정확도(%)</th>
        {% for answer in answer_predict %}
            {% if forloop.counter > loop_min and forloop.counter <= loop_min|add:loop_counter %}
                <td>
                    <div data-number="{{ answer.no }}"
                         class="fw-bold {% if answer.prediction_is_correct %}text-success{% else %}text-danger{% endif %}">
                        <div id="{{ prefix }}_accuracy_{{ answer.no }}"
                             class="htmx-fade-up-in delay-{{ forloop.counter|digit_of_one }}">
                            {{ answer.rate_accuracy|floatformat:0 }}
                        </div>
                    </div>
                </td>
            {% endif %}
        {% endfor %}
    </tr>
{% endpartialdef answer_table_tr %}
