{% load psat_filter %}
{% load slippers %}

<div class="card-header">
    정답 확인
    <a class="text-decoration-none ms-2" href="" hx-swap="none" hx-indicator="#sheet_answer_spinner"
       hx-get="">
        <span class="badge rounded-pill text-bg-warning">업데이트</span>
    </a>
    <div id="sheet_answer_spinner" role="status"
         class="htmx-indicator spinner-border text-warning spinner-border-sm">
        <span class="visually-hidden">Loading...</span>
    </div>
</div>

<div class="card-body">
    <nav>
        <div class="nav nav-tabs nav-tabs-colored" id="scoreAnswersTab" role="tablist">
            {% if exam.exam == '칠급' %}
                {% for id in '012' %}
                    {% cycle '언어' '자료' '상황' as sub silent %}
                    {% cycle 'eoneo_submit' 'jaryo_submit' 'sanghwang_submit' as prefix silent %}
                    {% cycle icon_subject.언어|safe icon_subject.자료|safe icon_subject.상황|safe as icon silent %}
                    {% #nav_tab prefix=prefix id=id %}{{ icon }} {{ sub }}{% /nav_tab %}
                {% endfor %}
            {% else %}
                {% for id in '0123' %}
                    {% cycle '헌법' '언어' '자료' '상황' as sub silent %}
                    {% cycle 'heonbeob_submit' 'eoneo_submit' 'jaryo_submit' 'sanghwang_submit' as prefix silent %}
                    {% cycle icon_subject.헌법|safe icon_subject.언어|safe icon_subject.자료|safe icon_subject.상황|safe as icon silent %}
                    {% #nav_tab prefix=prefix id=id %}{{ icon }} {{ sub }}{% /nav_tab %}
                {% endfor %}
            {% endif %}
        </div>
    </nav>

    <div class="tab-content" id="scoreAnswersContent">
        {% if exam.exam == '칠급' %}
            {% for id in '012' %}
                {% cycle 'eoneo_submit' 'jaryo_submit' 'sanghwang_submit' as prefix silent %}
                {% cycle data_answer_official.eoneo data_answer_official.jaryo data_answer_official.sanghwang as answer_official silent %}
                {% cycle data_answer_student.eoneo data_answer_student.jaryo data_answer_student.sanghwang as answer_student silent %}
                {% cycle info_answer_student.eoneo info_answer_student.jaryo info_answer_student.sanghwang as info_answer silent %}
                {% #nav_content prefix=prefix id=id %}{% partial answer_table %}{% /nav_content %}
            {% endfor %}
        {% else %}
            {% for id in '0123' %}
                {% cycle 'heonbeob_submit' 'eoneo_submit' 'jaryo_submit' 'sanghwang_submit' as prefix silent %}
                {% cycle data_answer_official.heonbeob data_answer_official.eoneo data_answer_official.jaryo data_answer_official.sanghwang as answer_official silent %}
                {% cycle data_answer_student.heonbeob data_answer_student.eoneo data_answer_student.jaryo data_answer_student.sanghwang as answer_student silent %}
                {% cycle info_answer_student.heonbeob info_answer_student.eoneo info_answer_student.jaryo info_answer_student.sanghwang as info_answer silent %}
                {% #nav_content prefix=prefix id=id %}{% partial answer_table %}{% /nav_content %}
            {% endfor %}
        {% endif %}
    </div>
    <div>
        <span class="badge bg-success"><i class="fa-regular fa-circle-check"></i> 참고</span><br/>
        <ol class="text-success small fw-bold m-0">
            {% if exam.is_collecting_answer or exam.is_answer_predict_opened %}
                <li>정답 및 정답률은 공식 정답 공개 후 {{ exam.answer_official_opened_at|date:'G시 i분' }}에 확인 가능합니다.</li>
            {% endif %}
            {% if exam.is_answer_official_opened %}
                <li>정답률 = 정답을 선택한 응시생 수 / 답안 제출을 완료한 전체 응시생 수</li>
            {% endif %}
            <li>선택률 = 본인과 같은 정답을 선택한 응시생 수 / 답안 제출을 완료한 전체 응시생 수</li>
        </ol>
    </div>
</div>

{% partialdef answer_table %}
    <article class="table-responsive">
        <table class="table small align-middle">
            <tbody>
                {% if not info_answer.is_confirmed %}
                    <tr class="text-center">
                        <th>
                            <a class="btn btn-outline-danger my-4" hx-boost="true"
                               href="{% url 'predict_new:answer-input' info_answer.field %}">
                                답안을 제출해주세요.
                            </a>
                        </th>
                    </tr>
                {% else %}
                    {% if answer_student|length == 25  %}
                        {% for _ in '012' %}
                            {% cycle 10 10 5 as loop_counter silent %}
                            {% cycle 0 10 20 as loop_min silent %}
                            {% partial answer_table_tr %}
                        {% endfor %}
                    {% else %}
                        {% for _ in '0123' %}
                            {% cycle 10 10 10 10 as loop_counter silent %}
                            {% cycle 0 10 20 30 as loop_min silent %}
                            {% partial answer_table_tr %}
                        {% endfor %}
                    {% endif %}
                {% endif %}
            </tbody>
        </table>
    </article>
{% endpartialdef answer_table %}

{% partialdef answer_table_tr %}
    <tr class="text-center table-warning" aria-label="문제 번호">
        <th class="text-nowrap" scope="row">문제 번호</th>
        {% for _ in 'x'|ljust:loop_counter %}
            <th>{{ forloop.counter|add:loop_min }}</th>
        {% endfor %}
    </tr>

    {# answer_official #}
    {% if not exam.is_answer_official_opened %}
        <tr class="text-center" aria-label="공식 정답">
            <td colspan="{{ loop_counter|add:1 }}" class="fw-bold text-bg-success">
                <div class="tw-py-4">정답 공개전입니다.</div>
            </td>
        </tr>
    {% else %}
        <tr class="text-center" aria-label="공식 정답">
            <th class="text-nowrap td-no-border" scope="row">정답</th>
            {% for answer in answer_official %}
                {% if forloop.counter > loop_min and forloop.counter <= loop_min|add:loop_counter %}
                    <td class="td-no-border">
                        {% if answer.ans_list %}
                            {% if answer.ans == 1234 or answer.ans == 12345 %}
                                <span data-number="{{ forloop.counter }}"
                                      class="badge rounded-pill text-bg-secondary">
                                    전체 정답
                                </span>
                            {% else %}
                                {% for ans in answer.ans_number_list %}
                                    <button data-number="{{ forloop.counter }}"
                                            class="btn btn-circle btn-sm fs-6 my-2 btn-success">
                                        {{ ans }}
                                    </button>
                                {% endfor %}
                            {% endif %}
                        {% else %}
                            <button data-number="{{ forloop.counter }}"
                                    class="btn btn-circle btn-sm fs-6 mx-1 my-2 btn-success">
                                {{ answer.ans }}
                            </button>
                        {% endif %}
                    </td>
                {% endif %}
            {% endfor %}
        </tr>
        <tr class="text-center" aria-label="정답률">
            <th class="text-nowrap" scope="row">정답률(%)</th>
            {% for answer in answer_official %}
                {% if forloop.counter > loop_min and forloop.counter <= loop_min|add:loop_counter %}
                    <td>
                        <div data-number="{{ forloop.counter }}" class="fw-bold text-success">
                            <div id="{{ prefix }}_correct_{{ forloop.counter }}"
                                 class="htmx-fade-up-in delay-{{ forloop.counter|digit_of_one }}">
                                {{ answer.rate_correct|floatformat:0 }}
                            </div>
                        </div>
                    </td>
                {% endif %}
            {% endfor %}
        </tr>
    {% endif %}

    {# answer_student #}
    <tr class="text-center" aria-label="선택 답안">
        <th class="text-nowrap td-no-border" scope="row">선택 답안</th>
        {% for answer in answer_student %}
            {% if forloop.counter > loop_min and forloop.counter <= loop_min|add:loop_counter %}
                <td class="td-no-border">
                    {% if not exam.is_answer_official_opened %}
                        <button data-number="{{ forloop.counter }}"
                                class="btn btn-circle btn-sm btn-primary fs-6 mx-1 my-2">
                            {{ answer.ans }}
                        </button>
                    {% else %}
                        <button data-number="{{ forloop.counter }}"
                                class="btn btn-circle btn-sm fs-6 mx-1 my-2 {% if answer.result_real %}btn-success{% else %}btn-danger{% endif %}">
                            {{ answer.ans }}
                        </button>
                    {% endif %}
                </td>
            {% endif %}
        {% endfor %}
    </tr>
    <tr class="text-center" aria-label="선택률">
        <th class="text-nowrap" scope="row">선택률(%)</th>
        {% for answer in answer_student %}
            {% if forloop.counter > loop_min and forloop.counter <= loop_min|add:loop_counter %}
                <td>
                    {% if not exam.is_answer_official_opened %}
                        <div data-number="{{ forloop.counter }}" class="fw-bold text-primary">
                            <div id="{{ prefix }}_selection_{{ forloop.counter }}_before"
                                 class="htmx-fade-up-in delay-{{ forloop.counter|digit_of_one }}">
                                {{ answer.rate_selection|floatformat:0 }}
                            </div>
                        </div>
                    {% else %}
                        <div data-number="{{ forloop.counter }}"
                             class="fw-bold {% if answer.result_real %}text-success{% else %}text-danger{% endif %}">
                            <div id="{{ prefix }}_selection_{{ forloop.counter }}_after"
                                 class="htmx-fade-up-in delay-{{ forloop.counter|digit_of_one }}">
                                {{ answer.rate_selection|floatformat:0 }}
                            </div>
                        </div>
                    {% endif %}
                </td>
            {% endif %}
        {% endfor %}
    </tr>
{% endpartialdef answer_table_tr %}
