<article class="table-responsive">
    <table class="table small align-middle">
        <thead>
            <tr class="d-table-row d-md-none text-center align-middle table-warning">
                <th class="text-nowrap" rowspan="2">과목</th>
                <th class="text-nowrap" rowspan="2">내 점수<br/>(점)</th>
                <th class="p-1" colspan="2">전체 석차</th>
                <th class="p-1" colspan="2">직렬 석차</th>
            </tr>
            <tr class="d-table-row d-md-none text-center align-middle table-warning">
                <th class="p-1">(등)</th>
                <th class="p-1">(%)</th>
                <th class="p-1">(등)</th>
                <th class="p-1">(%)</th>
            </tr>
            <tr class="d-none d-md-table-row text-center align-middle table-warning">
               <th class="col-1">과목</th>
               <th class="col-1">내 점수(점)</th>
               <th class="col-1">전체 석차(등)</th>
               <th class="col-1">전체 석차(%)</th>
               <th class="col-1">직렬 석차(등)</th>
               <th class="col-1">직렬 석차(%)</th>
            </tr>
        </thead>
        <tbody>
            {% for _ in exam_vars.info_tab_id %}
                {% cycle stat_total.0 stat_total.1 stat_total.2 stat_total.3 stat_total.4 as stat_tot silent %}
                {% cycle stat_department.0 stat_department.1 stat_department.2 stat_department.3 stat_department.4 as stat_dep silent %}
                {% if stat_tot %}{% partial sub_score_line %}{% endif %}
            {% endfor %}
        </tbody>
    </table>
</article>

{% partialdef sub_score_line %}
    <tr class="text-center {% if stat_tot.field == 'psat_avg' %}table-warning{% endif %}">
        <th class="text-nowrap" aria-label="과목">
            {% if stat_tot.is_confirmed or stat_tot.field == 'psat_avg' %}
                {{ stat_tot.icon|safe }} {{ stat_tot.subject }}
            {% else %}
                <a class="text-decoration-none"
                   href="" hx-boost="true">
                    {{ stat_tot.icon|safe }} {{ stat_tot.subject }}
                </a>
            {% endif %}
        </th>

        {% if not stat_tot.is_confirmed %}
            <td colspan="5">
                {% if stat_tot.field == 'psat_avg' %}
                    <span class="badge rounded-pill bg-danger">답안을 제출해주세요.</span>
                {% else %}
                    <a hx-boost="true"
                       href="">
                        <span class="badge rounded-pill bg-danger">답안을 제출해주세요.</span>
                    </a>
                {% endif %}
            </td>
        {% else %}
            <td>
                <div id="{{ prefix }}_my_score_{{ stat_tot.field }}"
                     class="htmx-fade-up-in delay-0 text-success fw-bold">
                    {{ stat_tot.score|floatformat:1 }}
                </div>
            </td>
            <td>
                <div id="{{ prefix }}_rank_total_{{ stat_tot.field }}"
                     class="htmx-fade-up-in delay-1">
                    {{ stat_tot.rank }} / {{ stat_tot.participants }}
                </div>
            </td>
            <td>
                <div id="{{ prefix }}_rank_ratio_total_{{ stat_tot.field }}"
                     class="htmx-fade-up-in delay-2">
                    {{ stat_tot.rank|percentageby:stat_tot.participants|floatformat:1 }}
                </div>
            </td>
            <td>
                <div id="{{ prefix }}_rank_department_{{ stat_tot.field }}"
                     class="htmx-fade-up-in delay-3">
                    {{ stat_dep.rank }} / {{ stat_dep.participants }}
                </div>
            </td>
            <td>
                <div id="{{ prefix }}_rank_ratio_department_{{ stat_tot.field }}"
                     class="htmx-fade-up-in delay-4">
                    {{ stat_dep.rank|percentageby:stat_dep.participants|floatformat:1 }}
                </div>
            </td>
        {% endif %}
    </tr>
{% endpartialdef sub_score_line %}
