{% load slippers %}
{% load humanize %}

<div class="card-header">
    답안 제출 현황
    <a class="text-decoration-none ms-2" href="" hx-swap="none" hx-indicator="#info_answer_spinner"
       hx-get="">
        <span class="badge rounded-pill text-bg-warning">업데이트</span>
    </a>
    <div id="info_answer_spinner" role="status"
         class="htmx-indicator spinner-border text-warning spinner-border-sm">
        <span class="visually-hidden">Loading...</span>
    </div>
</div>

<div class="card-body">
    <article class="table-responsive">
        <table class="table small align-middle">
            <thead>
                <tr class="text-center align-middle table-warning">
                    <th rowspan="2" aria-label="과목">과목</th>
                    <th class="text-nowrap" aria-label="점수">
                        {% if exam.is_answer_official_opened %}
                            <span class="d-sm-none">내 점수<br/>(점)</span>
                            <span class="d-none d-sm-inline">내 점수(점)</span>
                        {% else %}
                            <span class="d-sm-none">예상 점수<br/>(점)</span>
                            <span class="d-none d-sm-inline">예상 점수(점)</span>
                        {% endif %}
                    </th>
                    <th class="text-nowrap" aria-label="총 참여자수">
                        <span class="d-sm-none">총 참여자수<br/>(명)</span>
                        <span class="d-none d-sm-inline">총 참여자수(명)</span>
                    </th>
                    <th class="text-nowrap" aria-label="선택 답안수">
                        <span class="d-sm-none">선택 답안수<br/>(문제)</span>
                        <span class="d-none d-sm-inline">선택 답안수(문제)</span>
                    </th>
                </tr>
            </thead>
            <tbody>
                {% for _ in '01234' %}
                    {% cycle '헌법' '언어논리' '자료해석' '상황판단' 'PSAT 평균' as subject silent %}
                    {% cycle info_answer_student.heonbeob info_answer_student.eoneo info_answer_student.jaryo info_answer_student.sanghwang info_answer_student.psat_avg as info_answer silent %}
                    {% if info_answer %}{% partial sub_answer_line %}{% endif %}
                {% endfor %}
            </tbody>
        </table>
        <div>
            <span class="badge bg-success"><i class="fa-regular fa-circle-check"></i> 참고</span>
            <ol class="text-success small fw-bold m-0">
                {% if exam.is_not_finished %}
                    <li>예상 점수는 시험이 종료된 후에 공개됩니다.</li>
                {% endif %}
                <li>총 참여자수는 과목별로 답안 제출을 완료한 응시생수입니다.</li>
                <li>선택 답안수는 과목별로 답안을 선택한 문제수 및 총 문제수입니다.</li>
                <li>최종 제출한 답안만 통계에 포함되니 답안 제출을 완료해주세요.</li>
                <li>최종 제출한 답안은 변경 및 삭제가 불가하니 주의하시기 바랍니다.</li>
            </ol>
        </div>
    </article>
</div>

{% partialdef sub_answer_line %}
    <tr class="text-center {% if info_answer.field == 'psat_avg' %}table-warning{% endif %}">
        <th class="text-nowrap" aria-label="과목">
            {% if info_answer.is_confirmed or info_answer.field == 'psat_avg' %}
                {{ info_answer.icon|safe }} {{ info_answer.subject }}
            {% else %}
                <a class="text-decoration-none"
                   href="" hx-boost="true">
                    {{ info_answer.icon|safe }} {{ info_answer.subject }}
                </a>
            {% endif %}
        </th>

        <td aria-label="점수">
            {% if not info_answer.is_confirmed %}
                {% if info_answer.field == 'psat_avg' %}
                    <span class="badge rounded-pill text-bg-danger">답안을 제출해주세요.</span>
                {% else %}
                    <a href="{% url 'predict_new:answer-input' info_answer.field %}" hx-boost="true">
                        <span class="badge rounded-pill text-bg-danger">답안을 제출해주세요.</span>
                    </a>
                {% endif %}
            {% else %}
                {% if exam.is_not_finished %} {# 시험 종료 이전 #}
                    <span class="badge rounded-pill text-bg-danger">시험 종료전입니다.</span>
                {% elif exam.is_collecting_answer %} {# 시험 종료 이후 ~ 예상 정답 공개 이전 #}
                    <span class="badge rounded-pill text-bg-warning">답안 수집중입니다.</span>
                {% elif exam.is_answer_predict_opened %} {# 예상 정답 공개 이후 ~ 공식 정답 공개 이전 #}
                    <div id="{{ info_answer.sub }}_score_virtual" class="htmx-fade-up-in delay-1 text-primary fw-bold">
                        {{ info_answer.score_predict|floatformat:1|default:'' }}
                    </div>
                {% elif exam.is_answer_official_opened %} {# 공식 정답 공개 이후 #}
                    <div id="{{ info_answer.sub }}_score_real" class="htmx-fade-up-in delay-1 text-success fw-bold">
                        {{ info_answer.score_real|floatformat:1|default:'' }}
                    </div>
                {% endif %}
            {% endif %}
        </td>

        <td aria-label="총 참여자수">
            <div id="{{ info_answer.sub }}_participants" class="htmx-fade-up-in delay-2">
                {{ info_answer.participants|default:0 }}
            </div>
        </td>

        <td class="text-nowrap" aria-label="선택 답안수">
            {% if info_answer.is_confirmed %}
                {{ info_answer.answer_count|default:0 }} / {{ info_answer.problem_count }}
                <span class="badge rounded-pill text-bg-success">제출 완료</span>
            {% else %}
                {% if info_answer.field == 'psat_avg' %}
                    {{ info_answer.answer_count|default:0 }} / {{ info_answer.problem_count }}
                    <span class="badge rounded-pill text-bg-danger">미제출</span>
                {% else %}
                    <a class="text-decoration-none"
                       href="{% url 'predict_new:answer-input' info_answer.field %}" hx-boost="true">
                        {{ info_answer.answer_count|default:0 }} / {{ info_answer.problem_count }}
                        <span class="badge rounded-pill text-bg-danger">미제출</span>
                    </a>
                {% endif %}
            {% endif %}
        </td>
    </tr>
{% endpartialdef sub_answer_line %}
