{% load psat_filter %}
{% load partials %}

{% for id in exam_vars.answer_tab.id %}
    {% cycle exam_vars.answer_tab.prefix_predict.0 exam_vars.answer_tab.prefix_predict.1 exam_vars.answer_tab.prefix_predict.2 exam_vars.answer_tab.prefix_predict.3 as prefix silent %}
    {% cycle data_answer_predict.0 data_answer_predict.1 data_answer_predict.2 data_answer_predict.3 as answer_predict silent %}
    {% cycle answer_confirmed.0 answer_confirmed.1 answer_confirmed.2 answer_confirmed.3 as is_confirmed silent %}

    {% for answer in answer_predict %}
        <div id="{{ prefix }}_{{ answer.no }}"
             class="htmx-fade-up-in delay-{{ forloop.counter|digit_of_one }}" hx-swap-oob="true">
            {{ answer.ans }}
        </div>
        <div id="{{ prefix }}_accuracy_{{ answer.no }}" aria-label="정확도"
             class="htmx-fade-up-in delay-{{ forloop.counter|digit_of_one }}" hx-swap-oob="true">
            {{ answer.rate_accuracy|floatformat:0 }}
        </div>
    {% endfor %}
{% endfor %}
