{% load static %}
{% load partials %}

{% startpartial thead %}
    <tr>
        <th class="text-center text-nowrap px-2">ID</th>
        <th class="text-center text-nowrap px-2">응시번호</th>
        <th class="text-center text-nowrap px-0">이름</th>
        <th class="text-center text-nowrap px-0">직렬</th>
        <th class="text-center text-nowrap px-0">Copy ID</th>
    </tr>
{% endpartial %}

{% startpartial tbody %}
    <tr onclick="window.location.href='{% url 'analysis:detail' post.id %}'"
        style="cursor: pointer"
    >
        <td class="text-center text-nowrap px-2">
            {{ post.id }}
        </td>
        <td class="text-center text-nowrap px-0">
            {{ post.student_number }}
        </td>
        <td class="text-center text-nowrap px-0">
            {{ post.student_name }}
        </td>
        <td class="text-center text-nowrap px-0">
            {{ post.department }}
        </td>
        <td class="text-center text-nowrap px-0">
            {{ post.copy_id }}
        </td>
    </tr>
{% endpartial %}

<section class="htmx-fade-in">
    {{ info|json_script:'info' }}
    <div class="table-responsive" hx-boost="true" hx-target="section .section"
         hx-swap="outerHTML swap:0.25s">
        <table class="table small">
            <thead>{% partial thead %}</thead>
            <tbody>
                {% if page_obj %}
                    {% for post in page_obj %}
                        {% partial tbody %}
                    {% endfor %}
                {% else %}
                    <tr>
                        <td class="text-center text-nowrap px-2" colspan="5">
                            추가된 자료가 없습니다.
                        </td>
                    </tr>
                {% endif %}
            </tbody>
        </table>
    </div>
    <section class="d-flex flex-wrap">
        <div class="p-2 me-auto ms-auto">
            {% include 'analysis/list_pagination.html' %}
        </div>
    </section>
</section>
