{% extends 'list.html' %}

{% block main %}
    <section id="{{ info.target_id }}">
        <div class="pagetitle my-2">
            <h1>제1회 전국모의고사</h1>
        </div><!-- Page Title End -->
    <section class="section htmx-fade-out">
        {{ info|json_script:'info' }}
        <div class="row">
            <div class="col-12 my-2">
                <div class="card m-0">
                    <div class="card-body">
                        <nav class="mt-4">
                            <div class="nav nav-tabs" id="nav-tab" role="tablist">
                                <button id="navCategory0" class="nav-link p-2 active" type="button" role="tab"
                                        data-bs-toggle="tab" data-bs-target="#navContent0"
                                        aria-controls="navContent0" aria-selected="true">
                                    <span class="fw-bold small text-primary">전체</span>
                                </button>
                            </div>
                        </nav><!-- Navigation End -->
                        <div class="tab-content" id="nav-tabContent">
                            <div id="navContent0" class="tab-pane fade show active"
                                 role="tabpanel" aria-labelledby="navCategory0">
                                {% include 'analysis/list_content.html' %}
                            </div><!-- Category0 End -->
                        </div><!-- Category End -->
                    </div>
                </div>
            </div>
        </div><!-- Content Row End -->
    </section>
    </section><!-- Main Content End -->

{% endblock %}