{% load static %}
{% load psat_filter %}
{% load slippers %}

{% fragment as prev_icon %}{{ PSAT_ICON_SET.prev_prob|safe }}{% endfragment %}
{% fragment as next_icon %}{{ PSAT_ICON_SET.next_prob|safe }}{% endfragment %}

<a id="problem_list" href="javascript:history.back()"
   class="btn btn-circle btn-sm btn-{{ info.color }}">
    {{ PSAT_ICON_SET.left_arrow|safe }}
</a>
{% if prev_prob %}
    {% if info.type == 'problemDetail' %}
        <a class="btn btn-circle btn-sm btn-{{ info.color }}"
           href="{{ prev_prob.get_problem_url }}">{{ prev_icon }}</a>
    {% elif info.type == 'likeDetail' %}
        <a class="btn btn-circle btn-sm btn-{{ info.color }}"
           href="{{ prev_prob.get_like_url }}">{{ prev_icon }}</a>
    {% elif info.type == 'rateDetail' %}
        <a class="btn btn-circle btn-sm btn-{{ info.color }}"
           href="{{ prev_prob.get_rate_url }}">{{ prev_icon }}</a>
    {% elif info.type == 'answerDetail' %}
        <a class="btn btn-circle btn-sm btn-{{ info.color }}"
           href="{{ prev_prob.get_answer_url }}">{{ prev_icon }}</a>
    {% endif %}
{% else %}
    <a class="btn btn-circle btn-sm btn-{{ info.color }}"></a>
{% endif %}

{% if next_prob %}
    {% if info.type == 'problemDetail' %}
        <a class="btn btn-circle btn-sm btn-{{ info.color }}"
           href="{{ next_prob.get_problem_url }}">{{ next_icon }}</a>
    {% elif info.type == 'likeDetail' %}
        <a class="btn btn-circle btn-sm btn-{{ info.color }}"
           href="{{ next_prob.get_like_url }}">{{ next_icon }}</a>
    {% elif info.type == 'rateDetail' %}
        <a class="btn btn-circle btn-sm btn-{{ info.color }}"
           href="{{ next_prob.get_rate_url }}">{{ next_icon }}</a>
    {% elif info.type == 'answerDetail' %}
        <a class="btn btn-circle btn-sm btn-{{ info.color }}"
           href="{{ next_prob.get_answer_url }}">{{ next_icon }}</a>
    {% endif %}
{% else %}
    <a class="btn btn-circle btn-sm btn-{{ info.color }}"></a>
{% endif %}
