{% load i18n %}

<div class="memo-update m-2">
    <form method="post" class="memo-update-form">
        {% csrf_token %}
        <label for="user_id" hidden>User</label>
        <input type="text" id="user_id" name="user_id" value="{{ problem_memo.user.id }}" hidden/>

        <label for="problem_id" hidden>Problem</label>
        <input type="text" id="problem_id" name="problem_id" value="{{ problem_memo.problem.id }}" hidden/>

        <div class="input-group">
            <label for="content" hidden>Content</label>
            <textarea id="content" name="content" rows="1" required
                      class="form-control form-control-sm memo-form"
                      placeholder="{% trans 'Leave memo' %}">{{ problem_memo.content }}</textarea>
            <button class="btn btn-sm btn-outline-primary memo-update-button"
                    type="submit" data-memo-id="{{ problem_memo.id }}"
                    data-url="{% url 'psat:memo_update' problem_memo.id %}">
                {% trans 'Update' %}
            </button>
        </div>
    </form>
</div>