{% load static %}
{% load psat_filter %}

<div role="button" aria-label="answer-button">
    <form class="m-1 answer-group" aria-label="Answer Button">
        {% csrf_token %}
        <input type="radio" class="btn-check" name="answer" id="answer1" value="1">
        <label class="btn btn-circle btn-outline-success btn-sm fs-6 m-0" for="answer1">1</label>

        <input type="radio" class="btn-check" name="answer" id="answer2" value="2">
        <label class="btn btn-circle btn-outline-success btn-sm fs-6 m-0" for="answer2">2</label>

        <input type="radio" class="btn-check" name="answer" id="answer3" value="3">
        <label class="btn btn-circle btn-outline-success btn-sm fs-6 m-0" for="answer3">3</label>

        <input type="radio" class="btn-check" name="answer" id="answer4" value="4">
        <label class="btn btn-circle btn-outline-success btn-sm fs-6 m-0" for="answer4">4</label>

        <input type="radio" class="btn-check" name="answer" id="answer5" value="5">
        <label class="btn btn-circle btn-outline-success btn-sm fs-6 m-0" for="answer5">5</label>
    {% if user.is_authenticated %}
        <input type="text" name="icon_id" value="#psatAnswer{{ problem.prob_id }}"
               aria-label="Input ID" hidden/>
        <a class="btn btn-circle btn-success btn-sm fs-6"
           hx-post="{% url 'psat:answer_detail_modal' problem.prob_id %}"
           hx-target="#modalContainer" hx-trigger="click" hx-swap="innerHTML"
           data-bs-toggle="modal" data-bs-target="#modalContainer">
            {{ PSAT_ICON_SET.answerCheck|safe }}
        </a>
    {% else %}
        <a class="answer-button" href="" data-bs-toggle="modal" data-bs-target="#loginModal">
            <button class="btn btn-circle btn-success btn-sm fs-6">
                {{ PSAT_ICON_SET.answerCheck|safe }}
            </button>
        </a>
    {% endif %}
    </form>
</div>