{% load static %}
{% load psat_filter %}

<div role="button" aria-label="answer-button">
    <form class="m-1 answer-group" aria-label="Answer Button">
        {% csrf_token %}
        <input type="radio" class="btn-check" name="answer" id="answer1" value="1">
        <label class="btn btn-circle btn-outline-success btn-sm fs-6 m-0" for="answer1">1</label>
        <input type="radio" class="btn-check" name="answer" id="answer2" value="2">
        <label class="btn btn-circle btn-outline-success btn-sm fs-6 m-0" for="answer2">2</label>
        <input type="radio" class="btn-check" name="answer" id="answer3" value="3">
        <label class="btn btn-circle btn-outline-success btn-sm fs-6 m-0" for="answer3">3</label>
        <input type="radio" class="btn-check" name="answer" id="answer4" value="4">
        <label class="btn btn-circle btn-outline-success btn-sm fs-6 m-0" for="answer4">4</label>
        <input type="radio" class="btn-check" name="answer" id="answer5" value="5">
        <label class="btn btn-circle btn-outline-success btn-sm fs-6 m-0" for="answer5">5</label>
    {% if user.is_authenticated %}
        <a class="answer-button" href="{% url 'psat:answer_detail' problem.problem_id %}" data-bs-toggle="modal" data-bs-target="#answerModal" data-target="#psatAnswer{{ problem.problem_id }}">
            <button class="btn btn-circle btn-success btn-sm fs-6">
                {{ CHECK_ICON|safe }}
            </button>
        </a>
    {% else %}
        <a class="answer-button" href="" data-bs-toggle="modal" data-bs-target="#loginModal">
            <button class="btn btn-circle btn-success btn-sm fs-6">
                {{ CHECK_ICON|safe }}
            </button>
        </a>
    {% endif %}
    </form>
</div>