{% load i18n %}
{% load taggit_templatetags2_tags %}

{% for tag in all_tag %}
    <div class="btn-group">
        <span class="badge rounded-pill bg-primary dropdown-toggle"
              type="button" data-bs-toggle="dropdown" aria-expanded="false">
            {{ tag }}
        </span>
        <ul class="dropdown-menu">
            <li>
                <a class="dropdown-item" title="{% trans 'Delete' %}"
                   href="#">
                    <i class="fa-solid fa-tag"></i>태그 모음
                </a>
            </li>
            {% if not my_tag_list %}
                <li>
                    <form method="post" action="{% url 'psat:tag_create' %}">
                        <div class="input-group">
                            <label for="tags" hidden>Tags</label>
                            <input id="tags" name="tags" type="text"
                                   class="form-control form-control-sm tag-form"
                                   value="{{ tag }}" hidden/>
                            <button class="dropdown-item tag-create-button"
                                    data-url="{% url 'psat:tag_create' %}"
                                    data-user-id="{{ user.id }}"
                                    data-problem-id="{{ problem.prob_id }}"
                                    data-info-target="#detailTags" type="submit">
                                <i class="fa-solid fa-plus"></i>{% trans 'Add to my tags' %}
                            </button>
                            {% csrf_token %}
                        </div>
                    </form>
                </li><!-- Add to My Tags End -->
            {% elif my_tag_list and tag not in my_tag_list %}
                <li>
                    <form method="post" action="{% url 'psat:tag_add' my_tag.id %}">
                        <div class="input-group">
                            <label for="tags" hidden>Tags</label>
                            <input id="tags" name="tags" type="text"
                                   class="form-control form-control-sm tag-form"
                                   value="{{ tag }}" hidden/>
                            <button class="dropdown-item tag-create-button"
                                    data-url="{% url 'psat:tag_add' my_tag.id %}"
                                    data-user-id="{{ user.id }}"
                                    data-problem-id="{{ problem.prob_id }}"
                                    data-info-target="#detailTags" type="submit">
                                <i class="fa-solid fa-plus"></i>{% trans 'Add to my tags' %}
                            </button>
                            {% csrf_token %}
                        </div>
                    </form>
                </li><!-- Add to My Tags End -->
            {% endif %}
        </ul>
    </div>
{% endfor %}
