{% load i18n %}

<div id="accordionDetailInfo" class="accordion accordion-flush">
    <div class="accordion-item">
        <h2 id="headingMemo" class="accordion-header">
            <button class="accordion-button p-2" type="button" data-bs-toggle="collapse"
                    data-bs-target="#collapseMemo" aria-expanded="true" aria-controls="collapseMemo">
                <div class="badge bg-success">MEMO</div>
            </button>
        </h2>
        <div id="collapseMemo" class="accordion-collapse collapse show" aria-labelledby="headingMemo">
            <div id="detailMemo" class="accordion-body p-0 small">
                {% if problem_memo %}
                    {% include 'psat/snippets/detail_memo_content.html' %}
                {% else %}
                    {% include 'psat/snippets/detail_memo_create.html' %}
                {% endif %}
            </div>
        </div>
    </div>
    <div class="accordion-item">
        <h2 id="headingMyTag" class="accordion-header">
            <button class="accordion-button p-2 collapsed" type="button" data-bs-toggle="collapse"
                    data-bs-target="#collapseMyTag" aria-expanded="false" aria-controls="collapseMyTag">
                <div class="badge bg-success">MY TAG</div>
            </button>
        </h2>
        <div id="collapseMyTag" class="accordion-collapse collapse" aria-labelledby="headingMyTag">
            <div id="detailMyTag" class="accordion-body">

            </div>
        </div>
    </div>
    <div class="accordion-item">
        <h2 id="headingOtherTag" class="accordion-header">
            <button class="accordion-button p-2 collapsed" type="button" data-bs-toggle="collapse"
                    data-bs-target="#collapseOtherTag" aria-expanded="false" aria-controls="collapseOtherTag">
                <div class="badge bg-success">OTHER TAG</div>
            </button>
        </h2>
        <div id="collapseOtherTag" class="accordion-collapse collapse" aria-labelledby="headingOtherTag">
            <div id="detailOtherTag" class="accordion-body">

            </div>
        </div>
    </div>
</div>
