{% load i18n %}
{% load taggit_templatetags2_tags %}
{% get_tags_for_object my_tag as "tags" %}

<div class="tag-add mb-2 mx-2">
    <form method="post" action="{% url 'psat:tag_add' my_tag.id %}">
        {% csrf_token %}
        <label for="user_id" hidden>User</label>
        <input id="user_id" name="user_id" type="text"
               value="{{ my_tag.user.id }}" hidden/>

        <label for="problem_id" hidden>Problem</label>
        <input id="problem_id" name="problem_id" type="text"
               value="{{ my_tag.problem.id }}" hidden/>

        <div class="input-group">
            <label for="tags" hidden>Tags</label>
            <input id="tags" name="tags" type="text"
                   class="form-control form-control-sm tag-form"
                   placeholder="{% trans 'Leave tags' %}"
                   aria-label="Tag input" required/>
            <button class="btn btn-sm btn-outline-primary tag-create-button"
                    type="submit" data-url="{% url 'psat:tag_add' my_tag.id %}"
                    data-info-target="#detailTags">
                {% trans 'Add' %}
            </button>
        </div>
    </form>
</div><!-- Tag Input End -->

{% if tags %}
<div class="d-flex align-items-start mb-2 mx-2">
    <div class="border-start border-secondary-subtle ps-2">
        {% for tag in tags %}
            <div class="btn-group">
                <span class="badge rounded-pill bg-primary dropdown-toggle"
                      type="button" data-bs-toggle="dropdown" aria-expanded="false">
                    {{ tag.name }}
                </span>
                <ul class="dropdown-menu">
                    <li>
                        <a class="dropdown-item" title="{% trans 'Tag Cloud' %}"
                           href="#">
                            <i class="fa-solid fa-tag"></i>{% trans 'Tag Cloud' %}
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item tag-delete" data-info-target="#detailTags"
                           href="{% url 'psat:tag_delete' my_tag.id tag.name %}"
                           data-text="태그를 삭제하시겠습니까?" data-tag-name="{{ tag.name }}"
                           data-bs-toggle="modal" data-bs-target="#tagDeleteModal"
                           title="{% trans 'Delete' %}">
                            <i class="fa-solid fa-xmark"></i>{% trans 'Delete' %}
                        </a>
                    </li>
                </ul>
            </div>
        {% endfor %}
    </div>
</div><!-- My Tags List End -->
{% endif %}