{% load i18n %}
{% load taggit_templatetags2_tags %}
{% get_tags_for_object problem_tag as "tags" %}

<div class="memo-update m-2">
    <form method="post" class="memo-update-form">
        {% csrf_token %}
        <label for="user_id" hidden>User</label>
        <input type="text" id="user_id" name="user_id" value="{{ problem_tag.user.id }}" hidden/>

        <label for="problem_id" hidden>Problem</label>
        <input type="text" id="problem_id" name="problem_id" value="{{ problem_tag.problem.id }}" hidden/>

        <div class="input-group">
            <label for="tags" hidden>Content</label>
            <textarea id="tags" name="tags" rows="1" required
                      class="form-control form-control-sm tag-form"
                      placeholder="{% trans 'Leave tags' %}"
            >{% for tag in tags %}{{ tag.name }}{% if not forloop.last %},{% endif %}{% endfor %}</textarea>
            <button class="btn btn-sm btn-outline-primary tag-update-button"
                    type="submit" data-url="{% url 'psat:tag_update' problem_tag.id %}"
                    data-info-target="#detailMyTag" data-info-type="tags">
                {% trans 'Update' %}
            </button>
        </div>
    </form>
</div>