{% load i18n %}
{% load taggit_templatetags2_tags %}
{% get_tags_for_object problem_tag as "tags" %}

{% include 'psat/snippets/detail_tag_add.html' %}
<div class="d-flex align-items-start mb-2 mx-2">
    <div class="border-start border-secondary-subtle ps-2">
        {% for tag in tags %}
            <div class="btn-group">
                <span class="badge rounded-pill bg-primary dropdown-toggle"
                      type="button" data-bs-toggle="dropdown" aria-expanded="false">
                    {{ tag.name }}
                </span>
                <ul class="dropdown-menu">
                    <li>
                        <a class="dropdown-item" title="{% trans 'Delete' %}"
                           href="{% url 'psat:tag_delete' problem_tag.id tag.name %}">
                            <i class="fa-solid fa-tag"></i>태그 모음
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item tag-delete" data-info-target="#detailMyTag"
                           href="{% url 'psat:tag_delete' problem_tag.id tag.name %}"
                           data-text="태그를 삭제하시겠습니까?" data-tag-name="{{ tag.name }}"
                           data-bs-toggle="modal" data-bs-target="#tagDeleteModal"
                           title="{% trans 'Delete' %}">
                            <i class="fa-solid fa-xmark"></i>{% trans 'Delete' %}
                        </a>
                    </li>
                </ul>
            </div>
        {% endfor %}
{#        <span class="badge rounded-pill bg-secondary-light tag-name">#}
{#            <a class="text-white tag-create" href="{% url 'psat:tag_create' %}"#}
{#               data-target="#detailMyTag"#}
{#               title="{% trans 'Add' %}">#}
{#                ADD +#}
{#            </a>#}
{#        </span>#}
    </div>
</div>