{% load static %}
{% load psat_filter %}

            <div class="container no-gutters justify-content-center p-0" style="min-width: 300px;">
        {% for data in list_data %}
            {% if forloop.counter0|divisibleby:5 %}
                </div>
            {% ifchanged %}
                {% if forloop.counter0 != 0 %}
                <hr class="m-2">
                {% endif %}
                <div class="row justify-content-center p-2 text-primary fw-bold">
                    {{ data.exam_name }}
                </div>
            {% endifchanged %}
                <div class="row justify-content-center">
                {% endif %}
            {% if data %}
                <div class="col-2 text-center p-0">
                    <a href="{{ data.problem_url }}"
                       class="p-1 dropdown-item text-nowrap text-center{% if num == data.problem_number %} active{% endif %}">
                        {{ data.problem_number }}번
                    </a>
                </div>
            {% else %}
                <div class="col-2 text-center p-0"> </div>
            {% endif %}
        {% endfor %}
            </div>
