{% load i18n %}

{{ form.errors }}
<form method="post" action="{% url 'psat:tag_create' %}">
    <div class="input-group">
        <label for="tags" hidden>Tags</label>
        <input id="tags" name="tags" type="text"
               class="form-control form-control-sm tag-form"
               placeholder="{% trans 'Leave tags' %}"
               aria-label="Tag input" required/>
        <button class="btn btn-sm btn-outline-primary tag-create-button"
                data-url="{% url 'psat:tag_create' %}"
                data-user-id="{{ user.id }}"
                data-problem-id="{{ problem.prob_id }}"
                data-info-target="#detailTags" type="submit">
            {% trans 'Create' %}
        </button>
        {% csrf_token %}
    </div>
</form>
