{% load i18n %}

<div class="tag-create mb-2 mx-2">
    <form method="post" action="{% url 'psat:tag_create' %}">
        {% csrf_token %}
        <label for="user_id" hidden>User</label>
        <input type="text" id="user_id" name="user_id" value="{{ user.id }}" hidden/>

        <label for="problem_id" hidden>Problem</label>
        <input type="text" id="problem_id" name="problem_id" value="{{ problem.prob_id }}" hidden/>

        <div class="input-group">
            <label for="tags" hidden>Tags</label>
            <textarea id="tags" name="tags" rows="1" required
                      class="form-control form-control-sm tag-form"
                      placeholder="{% trans 'Leave tags' %}"></textarea>
            <button class="btn btn-sm btn-outline-primary tag-create-button"
                    type="submit" data-url="{% url 'psat:tag_create' %}"
                    data-info-target="#detailMyTag" data-info-type="tags">
                {% trans 'Create' %}
            </button>
        </div>
    </form>
</div>