{% load static %}
{% load psat_filter %}

{% if user.is_authenticated %}
    <a class="like-button" href="{% url 'psat:like_detail' problem.problem_id %}" id="psatLike{{ problem.problem_id }}" data-target="#psatLike{{ problem.problem_id }}">
        <span role="button" aria-label="like-button">{{ problem.like_icon|safe }}</span>
    </a>
{% else %}
    <a href="" data-bs-toggle="modal" data-bs-target="#loginModal">
        <span role="button" aria-label="like-button">{{ EMPTY_HEART_ICON|safe }}</span>
    </a>
{% endif %}
