{% load partials %}

{% startpartial like %}
    {% if user.is_authenticated %}
        <div>
            <a hx-post="{% url 'psat:like_detail' problem.prob_id %}"
               hx-target="closest div" hx-swap="outerHTML"
               hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'>
                {{ problem.like_icon|safe }}
            </a>
        </div>
    {% else %}
        <a href="" data-bs-toggle="modal" data-bs-target="#loginModal">
            {{ PSAT_ICON_SET.likeNone|safe }}
        </a>
    {% endif %}
{% endpartial %}

{% startpartial rate %}
    {% if user.is_authenticated %}
        <a id="psatRate{{ problem.prob_id }}{{ info.sub_code }}" class="rate-button"
           href="{% url 'psat:rate_detail' problem.prob_id %}"
           data-bs-toggle="modal" data-bs-target="#rateModal">
            {{ problem.rate_icon|safe }}
        </a>
    {% else %}
        <a href="" data-bs-toggle="modal" data-bs-target="#loginModal">
            {{ PSAT_ICON_SET.starNone|safe }}
        </a>
    {% endif %}
{% endpartial %}

{% startpartial answer %}
    {% if user.is_authenticated %}
        <a id="psatAnswer{{ problem.prob_id }}{{ info.sub_code }}" href="">
            {{ problem.answer_icon|safe }}
        </a>
    {% endif %}
{% endpartial %}

<div class="td-div-xs small" aria-label="Like">
    {% partial like %}
</div>
<div class="td-div-lg small" aria-label="Rate">
    {% partial rate %}
</div>
<div class="td-div-xs small" aria-label="Answer">
    {% partial answer %}
</div>

