{% load static %}
{% load psat_filter %}

    <a class="btn btn-sm btn-outline-primary dropdown-toggle" href="" role="button" id="dropdownYearLink{{ info.sub_code }}" data-bs-toggle="dropdown" aria-expanded="false">
        {{ PSAT_ICON_SET.filter|safe }}
    </a>
    <ul class="dropdown-menu" aria-labelledby="dropdownYearLink{{ info.sub_code }}">
        <div class="d-flex col-12 col-lg-4 flex-wrap justify-content-start" style="min-width: 300px;">
        {% if url.year == '전체' %}
            <li class="col-3 p-0">
                <a class="p-1 dropdown-item list-filter text-nowrap text-center active" href="{% url 'psat:problem_list' year='전체' ex='전체' sub=url.sub %}">전체 연도</a>
            </li>
        {% else %}
            <li class="col-3 p-0">
                <a class="p-1 dropdown-item list-filter text-nowrap text-center" href="{% url 'psat:problem_list' year='전체' ex='전체' sub=url.sub %}">전체 연도</a>
            </li>
        {% endif %}
        {% for t in TOTAL.year_list %}
            {% if t == url.year %}
            <li class="col-3 p-0">
                <a class="p-1 dropdown-item list-filter text-nowrap text-center active" href="{% url 'psat:problem_list' year=t ex='전체' sub=url.sub %}">{{ t }}년</a>
            </li>
            {% else %}
            <li class="col-3 p-0">
                <a class="p-1 dropdown-item list-filter text-nowrap text-center" href="{% url 'psat:problem_list' year=t ex='전체' sub=url.sub %}">{{ t }}년</a>
            </li>
            {% endif %}
        {% endfor %}
        </div>
    </ul>

    <a class="btn btn-outline-primary btn-sm dropdown-toggle" href="" role="button" id="dropdownExamLink{{ info.sub_code }}" data-bs-toggle="dropdown" aria-expanded="false">
        {{ PSAT_ICON_SET.filter|safe }}
    </a>
    <ul class="dropdown-menu" aria-labelledby="dropdownExamLink{{ info.sub_code }}">
        <div class="d-flex col-12 col-lg-4 flex-wrap justify-content-start" style="min-width: 300px;">
        {% if url.ex == '전체' %}
            <li class="col-6 p-0">
                <a class="p-1 dropdown-item list-filter text-nowrap text-center active" href="{% url  'psat:problem_list' year='전체' ex='전체' sub=url.sub %}">전체 연도</a>
            </li>
        {% else %}
            <li class="col-6 p-0">
                <a class="p-1 dropdown-item list-filter text-nowrap text-center" href="{% url  'psat:problem_list' year='전체' ex='전체' sub=url.sub %}">전체 연도</a>
            </li>
        {% endif %}
        {% for t in TOTAL.exam_list %}
            {% if t.ex == url.ex %}
            <li class="col-6 p-0">
                <a class="p-1 dropdown-item list-filter text-nowrap text-center active" href="{% url 'psat:problem_list' year='전체' ex=t.ex sub=url.sub %}">{{ t.exam2 }}</a>
            </li>
            {% else %}
            <li class="col-6 p-0">
                <a class="p-1 dropdown-item list-filter text-nowrap text-center" href="{% url 'psat:problem_list' year='전체' ex=t.ex sub=url.sub %}">{{ t.exam2 }}</a>
            </li>
            {% endif %}
        {% endfor %}
        </div>
    </ul>
