{% load static %}

{% if info.type == 'problemList' or info.type == 'searchList' %}
    <a class="text-decoration-none link small d-md-none"
       href="{{ problem.get_problem_url }}">
        {{ problem.problem_question|truncatechars:30 }}
    </a>
    <a class="text-decoration-none link small d-none d-md-block d-lg-none"
       href="{{ problem.get_problem_url }}">
        {{ problem.problem_question|truncatechars:40 }}
    </a>
    <a class="text-decoration-none link small d-none d-lg-block"
       href="{{ problem.get_problem_url }}">
        {{ problem.problem_question|truncatechars:50 }}
    </a>
{% elif info.type == 'likeList' or info.type == 'likeDashboard' %}
    {% if problem.is_liked %}
        <a class="text-decoration-none link small d-md-none"
           href="{{ problem.get_like_url }}">
            {{ problem.problem_question|truncatechars:30 }}
        </a>
        <a class="text-decoration-none link small d-none d-md-block d-lg-none"
           href="{{ problem.get_like_url }}">
            {{ problem.problem_question|truncatechars:40 }}
        </a>
        <a class="text-decoration-none link small d-none d-lg-block"
           href="{{ problem.get_like_url }}">
            {{ problem.problem_question|truncatechars:50 }}
        </a>
    {% else %}
        <a class="text-decoration-none link small d-md-none"
           href="{{ problem.get_problem_url }}">
            {{ problem.problem_question|truncatechars:30 }}
        </a>
        <a class="text-decoration-none link small d-none d-md-block d-lg-none"
           href="{{ problem.get_problem_url }}">
            {{ problem.problem_question|truncatechars:40 }}
        </a>
        <a class="text-decoration-none link small d-none d-lg-block"
           href="{{ problem.get_problem_url }}">
            {{ problem.problem_question|truncatechars:50 }}
        </a>
    {% endif %}
{% elif info.type == 'rateList' or info.type == 'rateDashboard' %}
    <a class="text-decoration-none link small d-md-none"
       href="{{ problem.get_rate_url }}">
        {{ problem.problem_question|truncatechars:30 }}
    </a>
    <a class="text-decoration-none link small d-none d-md-block d-lg-none"
       href="{{ problem.get_rate_url }}">
        {{ problem.problem_question|truncatechars:40 }}
    </a>
    <a class="text-decoration-none link small d-none d-lg-block"
       href="{{ problem.get_rate_url }}">
        {{ problem.problem_question|truncatechars:50 }}
    </a>
{% elif info.type == 'answerList' or info.type == 'answerDashboard' %}
    <a class="text-decoration-none link small d-md-none"
       href="{{ problem.get_answer_url }}">
        {{ problem.problem_question|truncatechars:30 }}
    </a>
    <a class="text-decoration-none link small d-none d-md-block d-lg-none"
       href="{{ problem.get_answer_url }}">
        {{ problem.problem_question|truncatechars:40 }}
    </a>
    <a class="text-decoration-none link small d-none d-lg-block"
       href="{{ problem.get_answer_url }}">
        {{ problem.problem_question|truncatechars:50 }}
    </a>
{% endif %}
