{% load static %}
{% load psat_filter %}

        <a class="btn btn-primary btn-sm dropdown-toggle" href="" role="button" id="dropdownAnswerLink" data-bs-toggle="dropdown" aria-expanded="false">
            {{ FILTER_ICON|safe }}
        </a>
        <ul class="dropdown-menu dropdown-menu" aria-labelledby="dropdownAnswerLink">
            <li>
                <a class="list-filter dropdown-item text-center{% if info.is_correct is None %} active{% endif %}" href="{{ info.url_answer_all }}">
                    <i class="fa-regular fa-file-lines mr-2"></i>전체 문제
                </a>
            </li>
            <li>
                <a class="list-filter dropdown-item text-center{% if info.is_correct == 1 %} active{% endif %}" href="{{ info.url_answer_correct }}">
                    <i class="fa-solid fa-circle-check mr-2"></i>맞힌 문제
                </a>
            </li>
            <li>
                <a class="list-filter dropdown-item text-center{% if info.is_correct == 0 %} active{% endif %}" href="{{ info.url_answer_wrong }}">
                    <i class="fa-solid fa-circle-xmark mr-2"></i>틀린 문제
                </a>
            </li>
        </ul>
