{% load static %}
{% load psat_filter %}

<!-- List Filter Start -->
<div class="input-group dropdown" role="option">
{% if info.type == 'problemList' %}
    {% include 'psat/snippets/list_filter_for_problem.html' %}
{% elif info.type == 'likeList' %}
    {% include 'psat/snippets/list_filter_for_like.html' %}
{% elif info.type == 'rateList' %}
    {% include 'psat/snippets/list_filter_for_rate.html' %}
{% elif info.type == 'answerList' %}
    {% include 'psat/snippets/list_filter_for_answer.html' %}
{% endif %}
</div>
<!-- List Filter End -->
