{% load static %}

<span role="textbox" aria-label="question">
{% if info.type == 'problemList' %}
    <a class="text-decoration-none link" href="{{ problem.get_problem_url }}" target="detailWindow">
        {{ problem.problem_question|truncatechars:30 }}
    </a>
{% elif info.type == 'likeList' or info.type == 'dashboardLike' %}
    {% if problem.is_liked %}
    <a class="text-decoration-none link" href="{{ problem.get_like_url }}" target="detailWindow">
        {{ problem.problem_question|truncatechars:30 }}
    </a>
    {% else %}
    <a class="text-decoration-none link" href="{{ problem.get_problem_url }}" target="detailWindow">
        {{ problem.problem_question|truncatechars:30 }}
    </a>
    {% endif %}
{% elif info.type == 'rateList' or info.type == 'dashboardRate' %}
    <a class="text-decoration-none link" href="{{ problem.get_rate_url }}" target="detailWindow">
        {{ problem.problem_question|truncatechars:30 }}
    </a>
{% elif info.type == 'answerList' or info.type == 'dashboardAnswer' %}
    <a class="text-decoration-none link" href="{{ problem.get_answer_url }}" target="detailWindow">
        {{ problem.problem_question|truncatechars:30 }}
    </a>
{% endif %}
</span>
