
<!-- Navigation Tab Start -->
<nav>
    <div class="nav nav-tabs" id="nav-tab" role="tablist">
        <button class="nav-link active text-primary font-weight-bold small p-2" id="nav-all-tab" data-bs-toggle="tab" data-bs-target="#nav-all" type="button" role="tab" aria-controls="nav-all" aria-selected="true">
            <i class="fa-solid fa-bars fa-fw"></i> 전 과목
        </button>
        <button class="nav-link text-primary font-weight-bold small p-2" id="nav-eoneo-tab" data-bs-toggle="tab" data-bs-target="#nav-eoneo" type="button" role="tab" aria-controls="nav-eoneo" aria-selected="false">
            <i class="fa-solid fa-language fa-fw"></i> 언어논리
        </button>
        <button class="nav-link text-primary font-weight-bold small p-2" id="nav-jaryo-tab" data-bs-toggle="tab" data-bs-target="#nav-jaryo" type="button" role="tab" aria-controls="nav-jaryo" aria-selected="false">
            <i class="fa-solid fa-table-cells-large fa-fw"></i> 자료해석
        </button>
        <button class="nav-link text-primary font-weight-bold small p-2" id="nav-sanghwang-tab" data-bs-toggle="tab" data-bs-target="#nav-sanghwang" type="button" role="tab" aria-controls="nav-sanghwang" aria-selected="false">
            <i class="fa-solid fa-scale-balanced fa-fw"></i> 상황판단
        </button>
    </div>
</nav>
<!-- Navigation Tab End -->
