{% load static %}
{% load psat_filter %}

    <div class="card border-left-primary shadow h-100 py-2">
        <div class="card-body">
            <div class="row no-gutters align-items-center">
                <div class="col mr-2">
                    <div class="text-sm font-weight-bold text-primary text-uppercase mb-1">
                        <a class="text-decoration-none" href="{% url 'psat:base' %}">
                            <div class="d-inline-block text-center mr-2" style="width: 1rem;">
                                <i class="fas fa-file-lines"></i>
                            </div>
                            PSAT 기출문제
                        </a>
                    </div>
                    <table class="table small my-4">
                        <tbody>
                            <tr>
                                <th class="align-middle text-center px-0" style="min-width:4rem;">5급공채/<br/>행정고시</th>
                                <td>
                            {% for exam in total.list %}
                                {% if exam.ex == '행시' %}
                                    <a class="p-1 d-inline-block text-decoration-none link"
                                       href="{% url 'psat:problem_list' url_year=exam.year url_ex=exam.ex url_sub='전체' %}">
                                        {{ exam.year }}년
                                    </a>
                                {% endif %}
                            {% endfor %}
                                </td>
                            </tr>

                            <tr>
                                <th class="align-middle text-center px-0">7급공채</th>
                                <td>
                        {% for exam in total.list %}
                            {% if exam.ex == '칠급' %}
                                {% if exam.year == 2020 %}
                                    <a class="p-1 d-inline-block text-decoration-none link"
                                       href="{% url 'psat:problem_list' url_year=exam.year url_ex=exam.ex url_sub='전체' %}">
                                        {{ exam.year }}년(모의고사/예시문제)
                                    </a>
                                {% else %}
                                    <a class="p-1 d-inline-block text-decoration-none link"
                                        href="{% url 'psat:problem_list' url_year=exam.year url_ex=exam.ex url_sub='전체' %}">
                                        {{ exam.year }}년
                                    </a>
                                {% endif %}
                            {% endif %}
                        {% endfor %}
                                </td>
                            </tr>

                            <tr>
                                <th class="align-middle text-center px-0">민간경력</th>
                                <td>
                            {% for exam in total.list %}
                                {% if exam.ex == '민경' %}
                                    <a class="p-1 d-inline-block text-decoration-none link"
                                       href="{% url 'psat:problem_list' url_year=exam.year url_ex=exam.ex url_sub='전체' %}">
                                        {{ exam.year }}년
                                    </a>
                                {% endif %}
                            {% endfor %}
                                </td>
                            </tr>

                            <tr>
                                <th class="align-middle text-center px-0">외교원/<br/>외무고시</th>
                                <td>
                            {% for exam in total.list %}
                                {% if exam.ex == '외시' %}
                                    <a class="p-1 d-inline-block text-decoration-none link"
                                       href="{% url 'psat:problem_list' url_year=exam.year url_ex=exam.ex url_sub='전체' %}">
                                        {{ exam.year }}년
                                    </a>
                                {% endif %}
                            {% endfor %}
                                </td>
                            </tr>

                            <tr>
                                <th class="align-middle text-center px-0">견습</th>
                                <td>
                            {% for exam in total.list %}
                                {% if exam.ex == '견습' %}
                                    <a class="p-1 d-inline-block text-decoration-none link"
                                       href="{% url 'psat:problem_list' url_year=exam.year url_ex=exam.ex url_sub='전체' %}">
                                        {{ exam.year }}년
                                    </a>
                                {% endif %}
                            {% endfor %}
                                </td>
                            </tr>

                            <tr>
                                <th class="align-middle text-center px-0">입법고시</th>
                                <td>
                            {% for exam in total.list %}
                                {% if exam.ex == '입시' %}
                                    <a class="p-1 d-inline-block text-decoration-none link"
                                       href="{% url 'psat:problem_list' url_year=exam.year url_ex=exam.ex url_sub='전체' %}">
                                        {{ exam.year }}년
                                    </a>
                                {% endif %}
                            {% endfor %}
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
