{% load static %}
{% load psat_filter %}

    <div class="card border-left-{{ info.color }} shadow h-100 py-2">
        <div class="card-body">
            <div class="d-flex align-items-center justify-content-between text-sm font-weight-bold text-primary text-uppercase mb-1">
                <a class="text-decoration-none" href="{{ info.url }}">
                    <h6 class="font-weight-bold text-primary col-12 m-0 p-0">
                        <div class="d-inline-block text-center mr-1" style="width: 1rem;">
                            {{ info.icon|safe }}
                        </div>
                        {{ info.title }}
                    </h6>
                </a>
                <div class="d-inline-block ml-auto dropdown" role="option" data-target="{{ info.target }}">
                    {% include 'common/card_snippet/card_filter_container.html' %}
                </div>
            </div>
            <table class="table small my-4">
                <thead>
                    <tr>
                        <th class="align-middle text-center text-nowrap px-1">
                            <div role="textbox" aria-label="reference">
                                문제 출처
                            </div>
                        </th>
                        <th class="align-middle text-center text-nowrap px-1">
                            <div role="button" aria-label="like-button">
                                <i class="fa-solid fa-heart"></i>
                            </div>
                        </th>
                        <th class="align-middle text-center text-nowrap px-1">
                            <div role="button" aria-label="rate-button">
                                난이도
                            </div>
                        </th>
                        <th class="align-middle text-center text-nowrap px-1">
                            <div role="figure" aria-label="answer-icon">
                                <i class="fa-solid fa-circle-check"></i>
                            </div>
                        </th>
                        <th class="align-middle text-center text-nowrap px-1 d-none d-sm-table-cell d-md-none">
                            <div role="textbox" aria-label="question">
                                발문
                            </div>
                        </th>
                        <th class="align-middle text-center text-nowrap px-1 d-none d-md-table-cell d-lg-none">
                            <div role="textbox" aria-label="question">
                                발문
                            </div>
                        </th>
                        <th class="align-middle text-center text-nowrap px-1 d-none d-lg-table-cell">
                            <div role="textbox" aria-label="question">
                                발문
                            </div>
                        </th>
                    </tr>
                </thead>
                <tbody class="text-center">
            {% if page_obj %}
                {% for problem in page_obj %}
                    {% ifchanged %}
                    <tr>
                        <td class="table-warning align-middle text-center text-nowrap px-1" colspan="7">
                            <div role="textbox" aria-label="date" class="text-primary">
                                {% if info.type == 'dashboard_like' %}
                                    {{ problem.liked_at|date:'Y.m.d' }}({{ problem.liked_at|date:'w'|int2kor }})
                                {% elif info.type == 'dashboard_rate' %}
                                    {{ problem.rated_at|date:'Y.m.d' }}({{ problem.rated_at|date:'w'|int2kor }})
                                {% elif info.type == 'dashboard_answer' %}
                                    {{ problem.answered_at|date:'Y.m.d' }}({{ problem.answered_at|date:'w'|int2kor }})
                                {% endif %}
                            </div>
                        </td>
                    </tr>
                    {% endifchanged %}
                    <tr>
                        <td class="align-middle text-center text-nowrap px-1">
                            <div role="textbox" aria-label="reference">
                                <a class="text-decoration-none link text-nowrap" href="{{ problem.get_absolute_url }}" target="problem_detail">
                                    {{ problem.year_ex_sub_hyphen }} {{ problem.number|add_0 }}번
                                </a>
                            </div>
                        </td>
                        <td class="align-middle text-center text-nowrap px-1">
                            <div role="button" aria-label="like-button">
                                {% include 'psat/icon_snippet/../psat/snippets/icon_like.html' %}
                            </div>
                        </td>
                        <td class="align-middle text-center text-nowrap px-1">
                            <div role="button" aria-label="rate-button">
                                {% include 'psat/icon_snippet/../psat/snippets/icon_rate.html' %}
                            </div>
                        </td>
                        <td class="align-middle text-center text-nowrap px-1">
                            <div role="figure" aria-label="answer-icon">
                                {% include 'psat/icon_snippet/../psat/snippets/icon_answer.html' %}
                            </div>
                        </td>
                        <td class="align-middle text-justify text-nowrap px-1 d-none d-sm-table-cell d-md-none">
                            <div role="textbox" aria-label="question" class="px-1 question-sentence" style="max-width: 100px;">
                            {% if problem.is_liked %}
                                <a class="text-decoration-none link" href="{% url 'psat:like_detail' problem.id %}" target="problem_detail">
                                    {{ problem.problem_question }}
                                </a>
                            {% else %}
                                <a class="text-decoration-none link" href="{% url 'psat:problem_detail' problem.id %}" target="problem_detail">
                                    {{ problem.problem_question }}
                                </a>
                            {% endif %}
                            </div>
                        </td>
                        <td class="align-middle text-justify text-nowrap px-1 d-none d-md-table-cell d-lg-none">
                            <div role="textbox" aria-label="question" class="px-1 question-sentence" style="max-width: 200px;">
                            {% if problem.is_liked %}
                                <a class="text-decoration-none link" href="{% url 'psat:like_detail' problem.id %}" target="problem_detail">
                                    {{ problem.problem_question }}
                                </a>
                            {% else %}
                                <a class="text-decoration-none link" href="{% url 'psat:problem_detail' problem.id %}" target="problem_detail">
                                    {{ problem.problem_question }}
                                </a>
                            {% endif %}
                            </div>
                        </td>
                        <td class="align-middle text-justify text-nowrap px-1 d-none d-lg-table-cell">
                            <div role="textbox" aria-label="question" class="px-1 question-sentence" style="max-width: 400px;">
                            {% if problem.is_liked %}
                                <a class="text-decoration-none link" href="{% url 'psat:like_detail' problem.id %}" target="problem_detail">
                                    {{ problem.problem_question }}
                                </a>
                            {% else %}
                                <a class="text-decoration-none link" href="{% url 'psat:problem_detail' problem.id %}" target="problem_detail">
                                    {{ problem.problem_question }}
                                </a>
                            {% endif %}
                            </div>
                        </td>
                    </tr>
                {% endfor %}
            {% endif %}
                </tbody>
            </table>
            {% include 'board/snippets/list_pagination.html' %}
            </div>
        </div>
    </div>
