{% load static %}

<div class="card-header">성적 분포 차트</div>

<div class="card-body">
    {% if is_confirmed %}
        {% partialdef chart_canvas inline=True %}
            <div class="mt-4 chart-container {{ print_class }} ms-auto me-auto">
                <canvas id="scoreChart"></canvas>
                {% partial chart_contents %}
            </div>
            <div class="mt-4 chart-container {{ print_class }} ms-auto me-auto">
                {{ frequency_score.score_points|json_script:'score_points' }}
                {{ frequency_score.score_colors|json_script:'score_colors' }}
                <canvas id="scoreChartTotal"></canvas>
                {% partial chart_contents_total %}
            </div>
        {% endpartialdef chart_canvas %}
    {% else %}
        {% #responsive_table %}
            <tbody>
                <tr class="text-center align-middle">
                   <th colspan="6" class="text-danger fs-6 py-4">
                       모든 과목의 답안을 입력해주세요.
                   </th>
                </tr>
            </tbody>
        {% /responsive_table %}
    {% endif %}
</div>

{% partialdef chart_contents %}
<script type="text/javascript">
    screenWidth = window.innerWidth;
    my_score = [
        {{ student.score.hyeongsa|floatformat:1 }},
        {{ student.score.heonbeob|floatformat:1 }},
        {{ student.score.gyeongchal|floatformat:1 }},
        {{ student.score.beomjoe|floatformat:1 }},
        {{ student.score.minbeob|floatformat:1 }},
        {{ student.score.sum|floatformat:1 }},
    ]
    department_average = [
        {{ stat_department.hyeongsa.avg_score|floatformat:1 }},
        {{ stat_department.heonbeob.avg_score|floatformat:1 }},
        {{ stat_department.gyeongchal.avg_score|floatformat:1 }},
        {{ stat_department.beomjoe.avg_score|floatformat:1 }},
        {{ stat_department.minbeob.avg_score|floatformat:1 }},
        {{ stat_department.sum.avg_score|floatformat:1 }},
    ]
    total_average = [
        {{ stat_total.hyeongsa.avg_score|floatformat:1 }},
        {{ stat_total.heonbeob.avg_score|floatformat:1 }},
        {{ stat_total.gyeongchal.avg_score|floatformat:1 }},
        {{ stat_total.beomjoe.avg_score|floatformat:1 }},
        {{ stat_total.minbeob.avg_score|floatformat:1 }},
        {{ stat_total.sum.avg_score|floatformat:1 }},
    ]
    department_score_20 = [
        {{ stat_department.hyeongsa.top_score_20|floatformat:1 }},
        {{ stat_department.heonbeob.top_score_20|floatformat:1 }},
        {{ stat_department.gyeongchal.top_score_20|floatformat:1 }},
        {{ stat_department.beomjoe.top_score_20|floatformat:1 }},
        {{ stat_department.minbeob.top_score_20|floatformat:1 }},
        {{ stat_department.sum.top_score_20|floatformat:1 }},
    ]
    total_score_20 = [
        {{ stat_total.hyeongsa.top_score_20|floatformat:1 }},
        {{ stat_total.heonbeob.top_score_20|floatformat:1 }},
        {{ stat_total.gyeongchal.top_score_20|floatformat:1 }},
        {{ stat_total.beomjoe.top_score_20|floatformat:1 }},
        {{ stat_total.minbeob.top_score_20|floatformat:1 }},
        {{ stat_total.sum.top_score_20|floatformat:1 }},
    ]
    department_score_10 = [
        {{ stat_department.hyeongsa.top_score_10|floatformat:1 }},
        {{ stat_department.heonbeob.top_score_10|floatformat:1 }},
        {{ stat_department.gyeongchal.top_score_10|floatformat:1 }},
        {{ stat_department.beomjoe.top_score_10|floatformat:1 }},
        {{ stat_department.minbeob.top_score_10|floatformat:1 }},
        {{ stat_department.sum.top_score_10|floatformat:1 }},
    ]
    total_score_10 = [
        {{ stat_total.hyeongsa.top_score_10|floatformat:1 }},
        {{ stat_total.heonbeob.top_score_10|floatformat:1 }},
        {{ stat_total.gyeongchal.top_score_10|floatformat:1 }},
        {{ stat_total.beomjoe.top_score_10|floatformat:1 }},
        {{ stat_total.minbeob.top_score_10|floatformat:1 }},
        {{ stat_total.sum.top_score_10|floatformat:1 }},
    ]
    department_top = [
        {{ stat_department.hyeongsa.max_score|floatformat:1 }},
        {{ stat_department.heonbeob.max_score|floatformat:1 }},
        {{ stat_department.gyeongchal.max_score|floatformat:1 }},
        {{ stat_department.beomjoe.max_score|floatformat:1 }},
        {{ stat_department.minbeob.max_score|floatformat:1 }},
        {{ stat_department.sum.max_score|floatformat:1 }},
    ]
    total_top = [
        {{ stat_total.hyeongsa.max_score|floatformat:1 }},
        {{ stat_total.heonbeob.max_score|floatformat:1 }},
        {{ stat_total.gyeongchal.max_score|floatformat:1 }},
        {{ stat_total.beomjoe.max_score|floatformat:1 }},
        {{ stat_total.minbeob.max_score|floatformat:1 }},
        {{ stat_total.sum.max_score|floatformat:1 }},
    ]
    chart_datasets = [
        {label: '내 점수', borderWidth: 1, data: my_score},
        {label: '직렬 평균', borderWidth: 1, data: department_average},
        {label: '전체 평균', borderWidth: 1, data: total_average},
        {label: '직렬 상위 20%', borderWidth: 1, data: department_score_20, hidden: true},
        {label: '전체 상위 20%', borderWidth: 1, data: total_score_20, hidden: true},
        {label: '직렬 상위 10%', borderWidth: 1, data: department_score_10},
        {label: '전체 상위 10%', borderWidth: 1, data: total_score_10},
        {label: '직렬 최고', borderWidth: 1, data: department_top, hidden: true},
        {label: '전체 최고', borderWidth: 1, data: total_top, hidden: true},
    ]

    chart_data = {
        type: 'bar',
        data: {
            labels: ['형사법', '헌법', '경찰학', '범죄학', '민법총칙', '총점'],
            datasets: chart_datasets,
        },
        options: {
            indexAxis: (screenWidth < 768) ? 'y' : 'x',
            responsive: true,
            maintainAspectRatio: false,
            plugins: {
                legend: {
                    position: 'bottom',
                },
                datalabels: {
                    align: 'end',
                    color: 'black',
                    font: {
                        weight: 'bold',
                    }
                }
            },
            scales: {
                y: {ticks: {font: {weight: 'bold'}}},
                x: {ticks: {font: {weight: 'bold'}}},
            },
            elements: {
                bar: {
                    barPercentage: 0.5,
                },
            },
        }
    }

    if (typeof chart_canvas === 'undefined') {
        const chart_canvas = document.getElementById('scoreChart');
        new Chart(chart_canvas, chart_data);
    } else {
        chart_canvas.chart.destroy();
        new Chart(chart_canvas, chart_data);
    }
</script>
{% endpartialdef chart_contents %}

{% partialdef chart_contents_total %}
<script type="text/javascript">
    score_points = JSON.parse(document.getElementById('score_points').textContent);
    score_colors = JSON.parse(document.getElementById('score_colors').textContent);

    chart_datasets_total = [
        {
            label: '총점',
            data: Object.values(score_points),
            borderWidth: 2,
            tension: 0.4,
            pointBackgroundColor: score_colors,
        },
    ]

    chart_data_total = {
        type: 'line',
        data: {
            labels: Object.keys(score_points),
            datasets: chart_datasets_total,
        },
        options: {
            indexAxis: (screenWidth < 768) ? 'y' : 'x',
            responsive: true,
            maintainAspectRatio: false,
            plugins: {
                legend: {
                    position: 'bottom',
                },
                datalabels: {
                    align: 'end',
                    color: 'black',
                    font: {
                        weight: 'bold',
                    }
                },
            },
            scales: {
                y: {ticks: {font: {weight: 'bold'}}},
                x: {ticks: {font: {weight: 'bold'}}},
            },
        }
    }

    if (typeof chart_canvas_total === 'undefined') {
        const chart_canvas_total = document.getElementById('scoreChartTotal');
        new Chart(chart_canvas_total, chart_data_total);
    } else {
        chart_canvas_total.chart.destroy();
        new Chart(chart_canvas_total, chart_data_total);
    }
</script>
{% endpartialdef chart_contents %}
