{% load psat_filter %}

<div class="card-header">성적 확인</div>

<div class="card-body">
    <nav>
        <div class="nav nav-tabs nav-tabs-colored" id="scoreSheetTab" role="tablist">
            {% #nav_tab prefix='my' id='0' %}내 성적{% /nav_tab %}
        </div>
    </nav>

    <div class="tab-content" id="scoreSheetContent">
        {% #nav_content prefix='my' id='0' %}{% partial sheet_score_table %}{% /nav_content %}
    </div>
</div>

{% partialdef sheet_score_table %}
    <article class="table-responsive">
        <table class="table small align-middle">
            <thead>
                <tr class="d-none d-md-table-row text-center align-middle table-warning">
                    <th class="col-1">과목</th>
                    <th class="col-1">내 점수(점)</th>
                    <th class="col-1">전체 석차(등)</th>
                    <th class="col-1">전체 석차(%)</th>
                    <th class="col-1">최고 점수(점)</th>
                    <th class="col-1">상위 10%(점)</th>
                    <th class="col-1">상위 20%(점)</th>
                    <th class="col-1">평균 점수(점)</th>
                </tr>
            </thead>
            <tbody>
                {% for _ in '012345' %}
                    {% cycle stat_total.hyeongsa stat_total.heonbeob stat_total.gyeongchal stat_total.beomjoe stat_total.selection stat_total.sum as stat_tot silent %}
                    {% if stat_tot %}{% partial sub_score_line %}{% endif %}
                {% endfor %}
            </tbody>
        </table>
    </article>
{% endpartialdef %}

{% partialdef sub_score_line %}
    <tr class="text-center {% if stat_tot.field == 'sum' %}table-warning{% endif %}">
        <th class="text-nowrap" aria-label="과목">
            {% if stat_tot.field == 'selection' %}
                선택과목<br/>({{ stat_tot.subject }})
            {% else %}
                {{ stat_tot.subject }}
            {% endif %}
        </th>

        {% if not stat_tot.is_confirmed %}
            <td colspan="5">
                {% if stat_tot.field == 'sum' %}
                    <span class="badge rounded-pill bg-danger">답안을 제출해주세요.</span>
                {% else %}
                    <a hx-boost="true"
                       href="">
                        <span class="badge rounded-pill bg-danger">답안을 제출해주세요.</span>
                    </a>
                {% endif %}
            </td>
        {% else %}
            <td>
                <div id="{{ prefix }}my_score_{{ stat_tot.field }}"
                     class="htmx-fade-up-in delay-0 text-success fw-bold">
                    {{ stat_tot.score|floatformat:1 }}
                </div>
            </td>
            <td>
                <div id="{{ prefix }}rank_total_{{ stat_tot.field }}"
                     class="htmx-fade-up-in delay-1">
                    {{ stat_tot.rank }} / {{ stat_tot.participants }}
                </div>
            </td>
            <td>
                <div id="{{ prefix }}rank_ratio_total_{{ stat_tot.field }}"
                     class="htmx-fade-up-in delay-2">
                    {{ stat_tot.rank|percentageby:stat_tot.participants|floatformat:1 }}
                </div>
            </td>
            <td>
                <div id="{{ prefix }}_max_score_{{ stat_tot.field }}"
                     class="htmx-fade-up-in delay-2">
                    {{ stat_tot.max_score|floatformat:1 }}
                </div>
            </td>
            <td>
                <div id="{{ prefix }}_top_score_10_{{ stat_tot.field }}"
                     class="htmx-fade-up-in delay-3">
                    {{ stat_tot.top_score_10|floatformat:1 }}
                </div>
            </td>
            <td>
                <div id="{{ prefix }}_top_score_20_{{ stat_tot.field }}"
                     class="htmx-fade-up-in delay-4">
                    {{ stat_tot.top_score_20|floatformat:1 }}
                </div>
            </td>
            <td>
                <div id="{{ prefix }}_avg_score_{{ stat_tot.field }}"
                     class="htmx-fade-up-in delay-5">
                    {{ stat_tot.avg_score|floatformat:1 }}
                </div>
            </td>
        {% endif %}
    </tr>
{% endpartialdef %}
