{% load i18n %}
{% load psat_filter %}

<div class="card-header">답안 확인</div>

<div class="card-body">
    <nav>
        <div class="nav nav-tabs nav-tabs-colored" id="scoreAnswersTab" role="tablist">
            {% for id in '01234' %}
                {% if student.selection == 'minbeob' %}
                    {% cycle '형사법' '헌법' '경찰학' '범죄학' '민법' as sub silent %}
                    {% cycle 'answer_hyeongsa' 'answer_heonbeob' 'answer_gyeongchal' 'answer_beomjoe' 'answer_minbeob' as prefix silent %}
                {% else %}
                    {% cycle '형사법' '헌법' '경찰학' '범죄학' '행정학' as sub silent %}
                    {% cycle 'answer_hyeongsa' 'answer_heonbeob' 'answer_gyeongchal' 'answer_beomjoe' 'answer_haenghag' as prefix silent %}
                {% endif %}
                {% #nav_tab prefix=prefix id=id %}{{ icon }} {{ sub }}{% /nav_tab %}
            {% endfor %}
        </div>
    </nav>

    <div class="tab-content" id="scoreAnswersContent">
        {% for id in '01234' %}
            {% if student.selection == 'minbeob' %}
                {% cycle 'answer_hyeongsa' 'answer_heonbeob' 'answer_gyeongchal' 'answer_beomjoe' 'answer_minbeob' as prefix silent %}
                {% cycle data_answer_official.hyeongsa data_answer_official.heonbeob data_answer_official.gyeongchal data_answer_official.beomjoe data_answer_official.minbeob as answer_official silent %}
                {% cycle data_answer_student.hyeongsa data_answer_student.heonbeob data_answer_student.gyeongchal data_answer_student.beomjoe data_answer_student.minbeob as answer_student silent %}
            {% else %}
                {% cycle 'answer_hyeongsa' 'answer_heonbeob' 'answer_gyeongchal' 'answer_beomjoe' 'answer_haenghag' as prefix silent %}
                {% cycle data_answer_official.hyeongsa data_answer_official.heonbeob data_answer_official.gyeongchal data_answer_official.beomjoe data_answer_official.haenghag as answer_official silent %}
                {% cycle data_answer_student.hyeongsa data_answer_student.heonbeob data_answer_student.gyeongchal data_answer_student.beomjoe data_answer_student.haenghag as answer_student silent %}
                {% endif %}
            {% #nav_content prefix=prefix id=id %}{% partial answer_table %}{% /nav_content %}
        {% endfor %}
    </div>
</div>

{% partialdef answer_table %}
    {% #responsive_table %}
        <tbody>
            {% for _ in '0123' %}
                {% cycle 10 10 10 10 as loop_counter silent %}
                {% cycle 0 10 20 30 as loop_min silent %}
                {% partial answer_table_tr %}
            {% endfor %}
        </tbody>
    {% /responsive_table %}
    <div class="my-3">
        <span class="badge bg-success"><i class="fa-regular fa-circle-check"></i> 참고</span><br/>
        <ol class="text-success small fw-bold">
            <li>정답률은 전체 응시생 중 정답을 맞힌 학생의 비율을 의미합니다.</li>
            <li>선택률은 전체 응시생 중 본인과 같은 정답을 선택한 학생의 비율을 의미합니다.</li>
        </ol>
    </div>
{% endpartialdef confirmed_answer_table %}

{% partialdef answer_table_tr %}
    <tr class="text-center table-warning" aria-label="문제 번호">
        <th class="text-nowrap" scope="row">문제 번호</th>
        {% for _ in 'x'|ljust:loop_counter %}
            <th>{{ forloop.counter|add:loop_min }}</th>
        {% endfor %}
    </tr>

    {# answer_official #}
    <tr class="text-center" aria-label="정답">
        <th class="text-nowrap td-no-border" scope="row">정답</th>
        {% for answer in answer_official %}
            {% if forloop.counter > loop_min and forloop.counter <= loop_min|add:loop_counter %}
                <td class="td-no-border">
                    {% if answer.ans <= 5 %}
                        <button data-number="{{ answer.no }}"
                                class="btn btn-circle btn-sm fs-6 mx-1 my-2 btn-success">
                            {{ answer.ans }}</button>
                    {% elif answer.ans == 12345 %}
                        <span data-number="{{ answer.no }}"
                              class="badge rounded-pill text-bg-secondary">
                            전체 정답
                        </span>
                    {% else %}
                        {% for ans in answer.ans %}
                            <button data-number="{{ answer.no }}"
                                    class="btn btn-circle btn-sm fs-6 my-2 btn-success">
                                {{ ans }}</button>
                        {% endfor %}
                    {% endif %}
                </td>
            {% endif %}
        {% endfor %}
    </tr>
    <tr class="text-center" aria-label="정답률">
        <th class="text-nowrap" scope="row">정답률(%)</th>
        {% for answer in answer_official %}
            {% if forloop.counter > loop_min and forloop.counter <= loop_min|add:loop_counter %}
                <td>
                    <span data-number="{{ answer.no }}" class="fw-bold text-success">
                        {{ answer.rate_correct|floatformat:0 }}
                    </span>
                </td>
            {% endif %}
        {% endfor %}
    </tr>

    {# answer_student #}
    <tr class="text-center" aria-label="선택 답안">
        <th class="text-nowrap td-no-border" scope="row">선택 답안</th>
        {% for answer in answer_student %}
            {% if forloop.counter > loop_min and forloop.counter <= loop_min|add:loop_counter %}
                <td class="td-no-border">
                    <button data-number="{{ answer.no }}"
                            class="btn btn-circle btn-sm fs-6 mx-1 my-2
                        btn-{% if answer.result %}success{% else %}danger{% endif %}">
                        {% if answer.ans > 0 and answer.ans < 6 %}
                            {{ answer.ans }}
                        {% endif %}
                    </button>
                </td>
            {% endif %}
        {% endfor %}
    </tr>

    {# rate_selection #}
    <tr class="text-center">
        <th class="text-nowrap" scope="row">선택률(%)</th>
        {% for answer in answer_student %}
            {% if forloop.counter > loop_min and forloop.counter <= loop_min|add:loop_counter %}
                <td>
                    <span data-number="{{ answer.no }}"
                          class="fw-bold
                          text-{% if answer.result %}success{% else %}danger{% endif %}">
                        {{ answer.rate_selection|floatformat:0 }}
                    </span>
                </td>
            {% endif %}
        {% endfor %}
    </tr>
{% endpartialdef answer_table_tr %}
