<article class="table-responsive">
    <table class="table table-bordered table-striped align-middle m-0">
        <thead>
            <tr class="text-center table-warning align-middle">
                <th class="text-primary text-nowrap td-left-no-border" rowspan="2">ID</th>
                <th class="text-primary text-nowrap" rowspan="2">문제 출처 및 정답</th>
                <th class="text-primary text-nowrap" rowspan="2">전체<br/>정답률(%)</th>
                <th class="text-primary text-nowrap" rowspan="2">상위권<br/>정답률(%)</th>
                <th class="text-primary text-nowrap" rowspan="2">중위권<br/>정답률(%)</th>
                <th class="text-primary text-nowrap" rowspan="2">하위권<br/>정답률(%)</th>
                <th class="text-primary text-nowrap" rowspan="2">변별도</th>
                <th class="text-primary text-nowrap" colspan="5">답안 선택수(명)-전체</th>
                <th class="text-primary text-nowrap" colspan="5">답안 선택률(%)-전체</th>
                <th class="text-primary text-nowrap" colspan="5">답안 선택수(명)-상위권</th>
                <th class="text-primary text-nowrap" colspan="5">답안 선택률(%)-상위권</th>
                <th class="text-primary text-nowrap" colspan="5">답안 선택수(명)-중위권</th>
                <th class="text-primary text-nowrap" colspan="5">답안 선택률(%)-중위권</th>
                <th class="text-primary text-nowrap" colspan="5">답안 선택수(명)-하위권</th>
                <th class="text-primary text-nowrap td-right-no-border" colspan="5">답안 선택률(%)-하위권</th>
            </tr>
            <tr class="text-center table-warning align-middle">
                {% for _ in '12345678' %}
                    <th class="text-primary text-nowrap td-right-no-border">①</th>
                    <th class="text-primary text-nowrap td-left-no-border td-right-no-border">②</th>
                    <th class="text-primary text-nowrap td-left-no-border td-right-no-border">③</th>
                    {% if tab.title == '헌법' %}
                        <th class="text-primary text-nowrap td-left-no-border">④</th>
                    {% else %}
                        <th class="text-primary text-nowrap td-left-no-border td-right-no-border">④</th>
                        <th class="text-primary text-nowrap td-left-no-border td-right-no-border">⑤</th>
                    {% endif %}
                {% endfor %}
            </tr>
        </thead>
        <tbody>
            {% for answer in answer_page_obj %}
                <tr class="text-center">
                    <th class="text-nowrap td-left-no-border">{{ answer.id }}</th>
                    <th class="text-nowrap" hx-target="#main">
                        {% partial reference %}
                    </th>
                    {% for _ in '12345' %}
                        {% cycle answer.rate_correct answer.rate_correct_top answer.rate_correct_mid answer.rate_correct_low answer.rate_gap as rate_correct silent %}
                        <td>
                            {% if rate_correct %}{{ rate_correct|floatformat:1 }}{% endif %}
                        </td>
                    {% endfor %}

                    {% for _ in '1234' %}
                        {% cycle answer.count_1_all answer.count_1_top answer.count_1_mid answer.count_1_low as count_1 silent %}
                        {% cycle answer.count_2_all answer.count_2_top answer.count_2_mid answer.count_2_low as count_2 silent %}
                        {% cycle answer.count_3_all answer.count_3_top answer.count_3_mid answer.count_3_low as count_3 silent %}
                        {% cycle answer.count_4_all answer.count_4_top answer.count_4_mid answer.count_4_low as count_4 silent %}
                        {% cycle answer.count_5_all answer.count_5_top answer.count_5_mid answer.count_5_low as count_5 silent %}
                        {% cycle answer.count_sum_all answer.count_sum_top answer.count_sum_mid answer.count_sum_low as count_sum silent %}

                        <td class="td-right-no-border">{{ count_1|default:'' }}</td>
                        <td class="td-left-no-border td-right-no-border">{{ count_2|default:'' }}</td>
                        <td class="td-left-no-border td-right-no-border">{{ count_3|default:'' }}</td>
                        {% if tab.title == '헌법' %}
                            <td class="td-left-no-border">{{ count_4|default:'' }}</td>
                        {% else %}
                            <td class="td-left-no-border td-right-no-border">{{ count_4|default:'' }}</td>
                            <td class="td-left-no-border">{{ count_5|default:'' }}</td>
                        {% endif %}

                        <td class="td-right-no-border">{{ count_1|percentageby:count_sum|floatformat:1|default:'' }}</td>
                        <td class="td-left-no-border td-right-no-border">{{ count_2|percentageby:count_sum|floatformat:1|default:'' }}</td>
                        <td class="td-left-no-border td-right-no-border">{{ count_3|percentageby:count_sum|floatformat:1|default:'' }}</td>
                        {% if tab.title == '헌법' %}
                            <td class="td-left-no-border">{{ count_4|percentageby:count_sum|floatformat:1|default:'' }}</td>
                        {% else %}
                            <td class="td-left-no-border td-right-no-border">{{ count_4|percentageby:count_sum|floatformat:1|default:'' }}</td>
                            <td class="td-left-no-border td-right-no-border">{{ count_5|percentageby:count_sum|floatformat:1|default:'' }}</td>
                        {% endif %}
                    {% endfor %}
                </tr>
            {% empty %}
                <tr class="text-center">
                    <td class="text-nowrap td-left-no-border td-right-no-border" colspan="40">자료가 없습니다.</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</article>

{% with page_obj=answer_page_obj page_range=answer_page_range %}
    {% include 'a_prime/snippets/pagination.html' with header='answer_list' %}
{% endwith %}

{% partialdef reference %}
    <span class="fw-bold">{{ answer.problem_info }} |</span>
    <a class="text-decoration-none fw-bold cursor-pointer" hx-boost="true"
       href="{{ answer.problem.get_absolute_url }}{% querystring %}">
        {{ answer.problem.reference }}
    </a>
    {% if answer.problem.images.name1 == 'Preparing Image' %}
        {{ icon_image.False|safe }}
    {% else %}
        <a class="text-decoration-none" href=""
           data-bs-toggle="modal" data-bs-target="#modalContainer"
           hx-push-url="false"
           hx-target="#modalContainer"
           hx-headers='{"View-Type":"image"}'
           hx-get="{% url 'psat:problem-detail' answer.problem_id %}">
            {{ icon_image.True|safe }}
        </a>
    {% endif %}
    {% if user.is_admin %}
        <span class="badge bg-warning-subtle border border-warning-subtle text-warning-emphasis rounded-pill">
            정답 {{ answer.problem.get_answer_display }}
        </span>
        <a class="badge bg-info-subtle border border-info-subtle text-info-emphasis rounded-pill"
           target="#admin" href="{{ answer.problem.get_admin_change_url }}">
            수정
        </a>
    {% endif %}
{% endpartialdef reference %}
