{% load psat_filter %}
{% load humanize %}

<article class="table-responsive">
    <table class="table table-bordered table-striped small align-middle m-0">
        <thead>
            <tr class="text-center table-warning align-middle">
                <th class="text-primary text-nowrap p-2" rowspan="2">문제<br/>번호</th>
                <th class="text-primary text-nowrap p-2" rowspan="2">공식<br/>정답</th>
                <th class="text-primary text-nowrap p-2" rowspan="2">예상<br/>정답</th>
                <th class="text-primary text-nowrap p-2" rowspan="2">전체<br/>정답률(%)</th>
                <th class="text-primary text-nowrap p-2" rowspan="2">상위권<br/>정답률(%)</th>
                <th class="text-primary text-nowrap p-2" rowspan="2">중위권<br/>정답률(%)</th>
                <th class="text-primary text-nowrap p-2" rowspan="2">하위권<br/>정답률(%)</th>
                <th class="text-primary text-nowrap p-2" rowspan="2">변별도</th>
                <th class="text-primary text-nowrap p-2" colspan="{{ tab.answer_count }}">답안 선택수(명)-전체</th>
                <th class="text-primary text-nowrap p-2" colspan="{{ tab.answer_count }}">답안 선택률(%)-전체</th>
                <th class="text-primary text-nowrap p-2" colspan="{{ tab.answer_count }}">답안 선택수(명)-상위권</th>
                <th class="text-primary text-nowrap p-2" colspan="{{ tab.answer_count }}">답안 선택률(%)-상위권</th>
                <th class="text-primary text-nowrap p-2" colspan="{{ tab.answer_count }}">답안 선택수(명)-중위권</th>
                <th class="text-primary text-nowrap p-2" colspan="{{ tab.answer_count }}">답안 선택률(%)-중위권</th>
                <th class="text-primary text-nowrap p-2" colspan="{{ tab.answer_count }}">답안 선택수(명)-하위권</th>
                <th class="text-primary text-nowrap p-2" colspan="{{ tab.answer_count }}">답안 선택률(%)-하위권</th>
            </tr>
            <tr class="text-center table-warning align-middle">
                {% for _ in '12345678' %}
                    <th class="text-primary text-nowrap p-2 td-right-no-border">①</th>
                    <th class="text-primary text-nowrap p-2 td-left-no-border td-right-no-border">②</th>
                    <th class="text-primary text-nowrap p-2 td-left-no-border td-right-no-border">③</th>
                    {% if tab.title == '헌법' %}
                        <th class="text-primary text-nowrap p-2 td-left-no-border">④</th>
                    {% else %}
                        <th class="text-primary text-nowrap p-2 td-left-no-border td-right-no-border">④</th>
                        <th class="text-primary text-nowrap p-2 td-left-no-border">⑤</th>
                    {% endif %}
                {% endfor %}
            </tr>
        </thead>
        <tbody>
            {% for answer in answers %}
                <tr class="text-center">
                    <td>{{ answer.no }}</td>
                    <td>
                        {% if answer.ans_list %}
                            {% if answer.ans_official == 1234 or answer.ans_official == 12345 %}
                                <span class="fw-bold text-success">전체<br/> 정답</span>
                            {% else %}
                                {% for ans in answer.ans_list %}
                                    <button class="btn btn-circle btn-sm fs-6 my-2 btn-success">
                                        {{ ans }}
                                    </button>
                                {% endfor %}
                            {% endif %}
                        {% else %}
                            <button class="btn btn-circle btn-sm fs-6 btn-success">
                                {{ answer.ans_official }}
                            </button>
                        {% endif %}
                    </td>
                    <td>
                        {% if answer.ans_predict %}
                            {% if answer.ans_predict == answer.ans_official %}
                                <button class="btn btn-circle btn-sm fs-6 btn-success">
                                    {{ answer.ans_predict }}
                                </button>
                            {% else %}
                                <button class="btn btn-circle btn-sm fs-6 btn-danger">
                                    {{ answer.ans_predict }}
                                </button>
                            {% endif %}
                        {% endif %}
                    </td>
                    {% for _ in '12345' %}
                        {% cycle answer.rate_correct answer.rate_correct_top answer.rate_correct_mid answer.rate_correct_low answer.rate_gap as rate_correct silent %}
                        <td>
                            {% if rate_correct %}{{ rate_correct|floatformat:1 }}{% endif %}
                        </td>
                    {% endfor %}

                    {% for _ in '1234' %}
                        {% cycle answer.count_1_all answer.count_1_top answer.count_1_mid answer.count_1_low as count_1 silent %}
                        {% cycle answer.count_2_all answer.count_2_top answer.count_2_mid answer.count_2_low as count_2 silent %}
                        {% cycle answer.count_3_all answer.count_3_top answer.count_3_mid answer.count_3_low as count_3 silent %}
                        {% cycle answer.count_4_all answer.count_4_top answer.count_4_mid answer.count_4_low as count_4 silent %}
                        {% cycle answer.count_5_all answer.count_5_top answer.count_5_mid answer.count_5_low as count_5 silent %}
                        {% cycle answer.count_sum_all answer.count_sum_top answer.count_sum_mid answer.count_sum_low as count_sum silent %}

                        <td class="td-right-no-border">{{ count_1|default:'' }}</td>
                        <td class="td-left-no-border td-right-no-border">{{ count_2|default:'' }}</td>
                        <td class="td-left-no-border td-right-no-border">{{ count_3|default:'' }}</td>
                        {% if tab.title == '헌법' %}
                            <td class="td-left-no-border">{{ count_4|default:'' }}</td>
                        {% else %}
                            <td class="td-left-no-border td-right-no-border">{{ count_4|default:'' }}</td>
                            <td class="td-left-no-border">{{ count_5|default:'' }}</td>
                        {% endif %}

                        <td class="td-right-no-border">{{ count_1|percentageby:count_sum|floatformat:1|default:'' }}</td>
                        <td class="td-left-no-border td-right-no-border">{{ count_2|percentageby:count_sum|floatformat:1|default:'' }}</td>
                        <td class="td-left-no-border td-right-no-border">{{ count_3|percentageby:count_sum|floatformat:1|default:'' }}</td>
                        {% if tab.title == '헌법' %}
                            <td class="td-left-no-border">{{ count_4|percentageby:count_sum|floatformat:1|default:'' }}</td>
                        {% else %}
                            <td class="td-left-no-border td-right-no-border">{{ count_4|percentageby:count_sum|floatformat:1|default:'' }}</td>
                            <td class="td-left-no-border">{{ count_5|percentageby:count_sum|floatformat:1|default:'' }}</td>
                        {% endif %}
                    {% endfor %}
                </tr>
            {% empty %}
                <tr class="text-center">
                    <td class="text-nowrap p-2" colspan="40">자료가 없습니다.</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</article>

{% with page_obj=answers page_range=answers_page_range %}
    {% if page_obj.has_next or page_obj.has_previous %}
        {% include 'a_prime/snippets/pagination.html' with header='answer_list' %}
    {% endif %}
{% endwith %}
