{% load psat_filter %}
{% load humanize %}

<article class="table-responsive htmx-fade-in htmx-fade-out">
    <table class="table table-bordered align-middle m-0">
        <thead>
            <tr class="text-center table-warning align-middle">
                <th class="text-primary text-nowrap td-left-no-border" rowspan="2">ID</th>
                <th class="text-primary text-nowrap" rowspan="2">수험정보</th>
                <th class="text-primary text-nowrap" rowspan="2">사용자<br/>ID</th>
                <th class="text-primary text-nowrap" rowspan="2">답안<br/>제출횟수</th>
                <th class="text-primary text-nowrap td-right-no-border" colspan="{{ category.round|add:1 }}">회차별 성적(점수/등수)</th>
            </tr>

            <tr class="text-center table-warning align-middle">
                <th class="text-primary text-nowrap">전체</th>
                {% for _ in study_rounds %}
                    <th class="text-primary td-right-no-border">{{ forloop.counter }}</th>
                {% endfor %}
            </tr>
        </thead>
        <tbody>
            {% for obj in catalog_page_obj %}
                <tr class="text-center small">
                    <th class="td-left-no-border">{{ obj.id }}</th>
                    <th>
                        <a href="{{ obj.get_admin_study_student_detail_url }}" target="score_print">
                            {{ obj.name }}<br/>({{ obj.serial }})
                        </a>
                    </th>
                    <td>{{ obj.user_id|default:'' }}</td>
                    <td>{{ obj.result_count|default:'' }}</td>
                    <td>
                        <div class="d-flex justify-content-center">
                            <div class="text-end">
                                {{ obj.score_total|default:'' }}<br/>
                                <span class="text-primary">{{ obj.rank_total|default:'' }}</span>
                            </div>
                        </div>
                    </td>

                    {% for result in obj.result_list %}
                        <td class="td-right-no-border">
                            <div class="d-flex justify-content-center">
                                <div class="text-end">
                                    {{ result.score|default:'' }}<br/>
                                    <span class="text-primary">{{ result.rank|default:'' }}</span>
                                </div>
                            </div>
                        </td>
                    {% endfor %}
                </tr>
            {% empty %}
                <tr>
                    <td class="td-left-no-border td-right-no-border" colspan="{{ category.round|add:5 }}">자료가 없습니다.</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</article>

{% with page_obj=catalog_page_obj page_range=catalog_page_range %}
    {% include 'a_prime/snippets/pagination.html' with header='catalog_list' %}
{% endwith %}
