{% if all_confirmed %}
    {% partialdef chart_canvas inline=True %}
        <div class="mt-4 chart-container {{ print_class }} ms-auto me-auto">
            <canvas id="scoreChart"></canvas>
            {% partial chart_contents %}
        </div>
        <div>
            <span class="badge bg-success"><i class="fa-regular fa-circle-check"></i> 참고</span><br/>
            <ol class="text-success small fw-bold m-0">
                <li>전체 응시생 및 직렬별 응시생을 대상으로 조사한 결과입니다.</li>
                <li>막대 그래프를 클릭하시면 정확한 점수를 확인하실 수 있습니다.</li>
                <li>범례 항목을 클릭하시면 그래프에 표시하거나 제거할 수 있습니다.</li>
            </ol>
        </div>
        <hr/>
        <div class="mt-4 chart-container chart-container-small {{ print_class }} ms-auto me-auto">
            <canvas id="scoreChartTotal"></canvas>
            {% partial chart_contents_total %}
        </div>
        <div>
            <span class="badge bg-success"><i class="fa-regular fa-circle-check"></i> 참고</span><br/>
            <ol class="text-success small fw-bold m-0">
                <li>50점 이상 응시생을 대상으로 조사한 결과입니다.</li>
                <li>'75~80' 구간은 '75점 이상 80점 미만'을 의미합니다.</li>
                <li>막대 그래프를 클릭하시면 정확한 인원을 확인하실 수 있습니다.</li>
                <li>본인이 속한 구간은 붉은색 사각형으로 표시됩니다.</li>
            </ol>
        </div>
    {% endpartialdef chart_canvas %}
{% else %}
    <article class="table-responsive">
        <table class="table align-middle">
            <tbody>
                <tr class="text-center align-middle">
                   <th colspan="6" class="text-danger fs-6 py-4">
                       모든 과목의 답안을 입력해주세요.
                   </th>
                </tr>
            </tbody>
        </table>
    </article>
{% endif %}

{% partialdef chart_contents %}
<script type="text/javascript">
    screenWidth = window.innerWidth;
    chart_datasets = [
        {label: '내 점수',       borderWidth: 1, data: {{ stat_chart.my_score }}},
        {label: '직렬 평균',     borderWidth: 1, data: {{ stat_chart.dep_avg }}},
        {label: '직렬 상위 20%', borderWidth: 1, data: {{ stat_chart.dep_t20 }}},
        {label: '직렬 상위 10%', borderWidth: 1, data: {{ stat_chart.dep_t10 }}},
        {label: '직렬 최고',     borderWidth: 1, data: {{ stat_chart.dep_max }}},
        {label: '전체 평균',     borderWidth: 1, data: {{ stat_chart.all_avg }}, hidden: true},
        {label: '전체 상위 20%', borderWidth: 1, data: {{ stat_chart.all_t20 }}, hidden: true},
        {label: '전체 상위 10%', borderWidth: 1, data: {{ stat_chart.all_t10 }}, hidden: true},
        {label: '전체 최고',     borderWidth: 1, data: {{ stat_chart.all_max }}, hidden: true},
    ]
    index_property = {ticks: {font: {weight: 'bold'}}}
    value_property = {
        title: {
            display: true,
            text: '점수(점)',
            font: {size: 14, weight: 'bold'},
        },
        ticks: {font: {weight: 'bold'}}
    }

    chart_data = {
        type: 'bar',
        data: {
            labels: [{% if stat_chart.all_avg|length > 4 %}'헌법', {% endif %}'언어논리', '자료해석', '상황판단', 'PSAT 평균'],
            datasets: chart_datasets,
        },
        options: {
            indexAxis: (screenWidth < 768) ? 'y' : 'x',
            responsive: true,
            maintainAspectRatio: false,
            plugins: {
                title: {
                    display: true,
                    text: '전체 통계',
                    font: {
                        size: 18
                    },
                    padding: {
                        top: 10,
                        bottom: 30
                    },
                    align: 'center',
                },
                legend: {
                    position: 'bottom',
                },
                datalabels: {
                    align: 'end',
                    color: 'black',
                    font: {
                        weight: 'bold',
                    }
                }
            },
            scales: {
                x: (screenWidth < 768) ? value_property : index_property,
                y: (screenWidth < 768) ? index_property : value_property,
            },
            elements: {
                bar: {
                    barPercentage: 0.5,
                },
            },
        }
    }

    if (typeof chart_canvas === 'undefined') {
        const chart_canvas = document.getElementById('scoreChart');
        new Chart(chart_canvas, chart_data);
    } else {
        chart_canvas.chart.destroy();
        new Chart(chart_canvas, chart_data);
    }
</script>
{% endpartialdef chart_contents %}

{% partialdef chart_contents_total %}
<script type="text/javascript">
    chart_datasets_total = [
        {
            label: 'PSAT 평균',
            data: {{ stat_frequency.score_data|safe }},
            borderWidth: 2,
            tension: 0.4,
            backgroundColor: {{ stat_frequency.score_color|safe }},
        },
    ]
    index_property = {ticks: {font: {weight: 'bold'}}}
    value_property = {
        beginAtZero: true,
        title: {
            display: true,
            text: '인원(명)',
            font: {size: 14, weight: 'bold'},
        },
        ticks: {
            font: {weight: 'bold'},
            callback: function (value) {
                return Math.floor(value);
            }
        },
    }

    chart_data_total = {
        type: 'bar',
        data: {
            labels: {{ stat_frequency.score_label|safe }},
            datasets: chart_datasets_total,
        },
        options: {
            indexAxis: (screenWidth < 768) ? 'y' : 'x',
            responsive: true,
            maintainAspectRatio: false,
            plugins: {
                title: {
                    display: true,
                    text: '도수분포그래프 (PSAT 평균 기준)',
                    font: {
                        size: 18
                    },
                    padding: {
                        top: 10,
                        bottom: 30
                    },
                    align: 'center',
                },
                legend: {
                    position: 'bottom',
                },
                datalabels: {
                    align: 'end',
                    color: 'black',
                    font: {
                        weight: 'bold',
                    }
                },
            },
            scales: {
                x: (screenWidth < 768) ? value_property : index_property,
                y: (screenWidth < 768) ? index_property : value_property,
            },
        }
    }

    if (typeof chart_canvas_total === 'undefined') {
        const chart_canvas_total = document.getElementById('scoreChartTotal');
        new Chart(chart_canvas_total, chart_data_total);
    } else {
        chart_canvas_total.chart.destroy();
        new Chart(chart_canvas_total, chart_data_total);
    }
</script>
{% endpartialdef chart_contents_total %}
