<article class="table-responsive">
    <table class="table align-middle">
        <thead>
            <tr class="d-table-row d-md-none text-center align-middle table-warning">
                <th class="text-nowrap" rowspan="2">과목</th>
                <th class="text-nowrap" rowspan="2">내 점수<br/>(점)</th>
                <th class="p-1" colspan="2">전체 석차</th>
                <th class="p-1" colspan="2">직렬 석차</th>
            </tr>
            <tr class="d-table-row d-md-none text-center align-middle table-warning">
                <th class="p-1">(등)</th>
                <th class="p-1">(%)</th>
                <th class="p-1">(등)</th>
                <th class="p-1">(%)</th>
            </tr>
            <tr class="d-none d-md-table-row text-center align-middle table-warning">
               <th class="col-1">과목</th>
               <th class="col-1">내 점수(점)</th>
               <th class="col-1">전체 석차(등)</th>
               <th class="col-1">전체 석차(%)</th>
               <th class="col-1">직렬 석차(등)</th>
               <th class="col-1">직렬 석차(%)</th>
            </tr>
        </thead>
        <tbody>
            {% for stat_tot in stat_total %}
                {% cycle stat_department.0 stat_department.1 stat_department.2 stat_department.3 stat_department.4 as stat_dep silent %}
                {% if stat_tot %}{% partial sub_score_line %}{% endif %}
            {% endfor %}
        </tbody>
    </table>
</article>

{% partialdef sub_score_line %}
    <tr class="text-center {% if stat_tot.field == exam_vars.final_field %}table-warning{% endif %}">
        <th class="text-nowrap" aria-label="과목">
            {% if stat_tot.is_confirmed or stat_tot.field == exam_vars.final_field %}
                {% if exam_vars.exam_type == 'psat' %}{{ stat_tot.icon|safe }}{% endif %}
                {{ stat_tot.subject }}
            {% else %}
                <a class="text-decoration-none"
                   href="{{ stat_tot.url_answer_input }}" hx-boost="true">
                    {{ stat_tot.icon|safe }} {{ stat_tot.subject }}
                </a>
            {% endif %}
        </th>

        {% if not stat_tot.is_confirmed %}
            <td colspan="5">
                {% if stat_tot.field == exam_vars.final_field %}
                    <span class="badge rounded-pill bg-danger">답안을 제출해주세요.</span>
                {% else %}
                    <a hx-boost="true"
                       href="{{ stat_tot.url_answer_input }}">
                        <span class="badge rounded-pill bg-danger">답안을 제출해주세요.</span>
                    </a>
                {% endif %}
            </td>
        {% else %}
            {% if exam.is_not_finished %}
                <td colspan="5">
                    {% if exam.is_not_started %}
                        <span class="badge rounded-pill bg-primary">시험 시작 전입니다.</span>
                    {% elif exam.is_going_on %}
                        <span class="badge rounded-pill bg-primary">시험 진행 중입니다.</span>
                    {% endif %}
                </td>
            {% else %}
                {% if not exam.is_answer_official_opened %}
                    <td colspan="5">
                        <span class="badge rounded-pill bg-danger">공식 정답 공개 전입니다.</span>
                    </td>
                {% else %}
                    <td>
                        <div id="{{ tab.prefix }}Score{{ stat_tot.field|title }}"
                             class="htmx-fade-up-in delay-0 text-success fw-bold">
                            {{ stat_tot.score|floatformat:1 }}
                        </div>
                    </td>
                    <td>
                        <div id="{{ tab.prefix }}RankTotal{{ stat_tot.field|title }}"
                             class="htmx-fade-up-in delay-1">
                            {{ stat_tot.rank }} / {{ stat_tot.participants }}
                        </div>
                    </td>
                    <td>
                        <div id="{{ tab.prefix }}RankRatioTotal{{ stat_tot.field|title }}"
                             class="htmx-fade-up-in delay-2">
                            {{ stat_tot.rank|percentageby:stat_tot.participants|floatformat:1 }}
                        </div>
                    </td>
                    <td>
                        <div id="{{ tab.prefix }}RankDepartment{{ stat_tot.field|title }}"
                             class="htmx-fade-up-in delay-3">
                            {{ stat_dep.rank }} / {{ stat_dep.participants }}
                        </div>
                    </td>
                    <td>
                        <div id="{{ tab.prefix }}RankRatioDepartment{{ stat_tot.field|title }}"
                             class="htmx-fade-up-in delay-4">
                            {% if stat_dep.participants %}
                                {{ stat_dep.rank|percentageby:stat_dep.participants|floatformat:1 }}
                            {% endif %}
                        </div>
                    </td>
                {% endif %}
            {% endif %}
        {% endif %}
    </tr>
{% endpartialdef sub_score_line %}
