{% #modal header='문제 난이도를 선택해주세요.' %}
    <a class="d-block mb-2 fw-bold text-primary"
       href="{{ problem.get_absolute_url }}">
        {{ problem.full_reference }}
    </a>

    <form class="rate_button"
          hx-target="#psatRate{{ problem.id }}" hx-swap="innerHTML swap:0.25s">
    {% csrf_token %}
        <fieldset>
            {% for i in '12345' %}
                <input type="radio" name="rating" id="star{{ i }}"
                       value="{{ i|subtract:6 }}" data-bs-dismiss="modal"
                       hx-post="{{ problem.get_rate_url }}">
                <label for="star{{ i }}"><i class="fa fa-star"></i></label>
            {% endfor %}
        </fieldset>
    </form>
{% /modal %}
