{% load humanize %}

<article class="table-responsive">
    <table class="table table-bordered table-striped align-middle m-0">
        <thead>
            <tr class="text-center table-warning align-middle">
                <th class="text-primary text-nowrap">회차</th>
                <th class="text-primary text-nowrap">응시 인원(명)</th>
                <th class="text-primary text-nowrap">최고 점수(점)</th>
                <th class="text-primary text-nowrap">상위 10%(점)</th>
                <th class="text-primary text-nowrap">상위 25%(점)</th>
                <th class="text-primary text-nowrap">상위 50%(점)</th>
                <th class="text-primary text-nowrap">평균 점수(점)</th>
            </tr>
        </thead>
        <tbody>
            <tr class="text-center">
                <td class="text-nowrap">전체</td>
                <td class="text-nowrap">{{ category_stat.participants|intcomma }}</td>
                <td class="text-nowrap">{{ category_stat.max|default_if_none:'' }}</td>
                <td class="text-nowrap">{{ category_stat.t10|default_if_none:'' }}</td>
                <td class="text-nowrap">{{ category_stat.t25|default_if_none:'' }}</td>
                <td class="text-nowrap">{{ category_stat.t50|default_if_none:'' }}</td>
                <td class="text-nowrap">{{ category_stat.avg|floatformat:1 }}</td>
            </tr>
            <tr class="text-center">
                <td class="text-nowrap" colspan="7"></td>
            </tr>
            {% for psat in qs_psat %}
                {% if config.current_time >= psat.schedule.homework_end_datetime %}
                    <tr class="text-center">
                        <td class="text-nowrap">{{ psat.get_round_display }}</td>
                        <td class="text-nowrap">{{ psat.statistics.participants|intcomma }}</td>
                        <td class="text-nowrap">{{ psat.statistics.max|default_if_none:'' }}</td>
                        <td class="text-nowrap">{{ psat.statistics.t10|default_if_none:'' }}</td>
                        <td class="text-nowrap">{{ psat.statistics.t25|default_if_none:'' }}</td>
                        <td class="text-nowrap">{{ psat.statistics.t50|default_if_none:'' }}</td>
                        <td class="text-nowrap">{{ psat.statistics.avg|floatformat:1 }}</td>
                    </tr>
                {% else %}
                {% endif %}
            {% empty %}
                <tr class="text-center">
                    <td class="text-nowrap" colspan="22">자료가 없습니다.</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</article>
