{% load humanize %}

<article class="table-responsive">
    <table class="table table-bordered table-striped align-middle m-0">
        <thead>
            <tr class="text-center table-warning align-middle">
                <th class="text-primary text-nowrap td-left-no-border" rowspan="2">문제 출처</th>
                <th class="text-primary text-nowrap" rowspan="2">정답</th>
                <th class="text-primary text-nowrap" rowspan="2">제출<br/>답안</th>
                <th class="text-primary text-nowrap" colspan="5">정답률(%)</th>
                <th class="text-primary text-nowrap" colspan="5">답안 선택수(명)-전체</th>
                <th class="text-primary text-nowrap" colspan="5">답안 선택률(%)-전체</th>
                <th class="text-primary text-nowrap" colspan="5">답안 선택수(명)-상위권</th>
                <th class="text-primary text-nowrap" colspan="5">답안 선택률(%)-상위권</th>
                <th class="text-primary text-nowrap" colspan="5">답안 선택수(명)-중위권</th>
                <th class="text-primary text-nowrap" colspan="5">답안 선택률(%)-중위권</th>
                <th class="text-primary text-nowrap" colspan="5">답안 선택수(명)-하위권</th>
                <th class="text-primary text-nowrap td-right-no-border" colspan="5">답안 선택률(%)-하위권</th>
            </tr>
            <tr class="text-center table-warning align-middle">
                <th class="text-primary text-nowrap">전체</th>
                <th class="text-primary text-nowrap">상위권</th>
                <th class="text-primary text-nowrap">중위권</th>
                <th class="text-primary text-nowrap">하위권</th>
                <th class="text-primary text-nowrap">변별도</th>
                {% for _ in '12345678' %}
                    <th class="text-primary text-nowrap td-right-no-border">①</th>
                    <th class="text-primary text-nowrap td-left-no-border td-right-no-border">②</th>
                    <th class="text-primary text-nowrap td-left-no-border td-right-no-border">③</th>
                    {% if tab.title == '헌법' %}
                        <th class="text-primary text-nowrap td-left-no-border">④</th>
                    {% else %}
                        <th class="text-primary text-nowrap td-left-no-border td-right-no-border">④</th>
                        <th class="text-primary text-nowrap td-left-no-border td-right-no-border">⑤</th>
                    {% endif %}
                {% endfor %}
            </tr>
        </thead>
        <tbody>
            {% for obj in answer_page_obj %}
                {% if not obj.ans_student and current_time < obj.schedule.homework_end_datetime %}
                    <tr>
                        <td class="text-nowrap td-left-no-border" hx-target="#main">
                            {% partial reference %}
                        </td>
                        <td class="text-wrap" colspan="47">
                            <span class="badge rounded-pill text-bg-danger">
                                {{ obj.schedule.homework_end_datetime|date:'n/j(D)' }}까지 답안을 제출해주세요.
                            </span>
                        </td>
                    </tr>
                {% else %}
                    <tr class="text-center">
                        <td class="text-nowrap td-left-no-border" hx-target="#main">
                            {% partial reference %}
                        </td>
                        <td class="text-wrap">
                            <button class="btn btn-circle btn-sm fs-6 btn-success">
                                {{ obj.ans_official }}
                            </button>
                        </td>
                        <td>
                            {% if obj.ans_student %}
                                <button class="btn btn-circle btn-sm fs-6
                                    btn-{% if obj.is_correct %}success{% else %}danger{% endif %}">
                                    {{ obj.ans_student }}
                                </button>
                            {% endif %}
                        </td>
                        {% for _ in '12345' %}
                            {% cycle obj.rate_correct obj.rate_correct_top obj.rate_correct_mid obj.rate_correct_low obj.rate_gap as rate_correct silent %}
                            <td>
                                {% if rate_correct %}{{ rate_correct|floatformat:1 }}{% endif %}
                            </td>
                        {% endfor %}

                        {% for _ in '1234' %}
                            {% cycle obj.count_1_all obj.count_1_top obj.count_1_mid obj.count_1_low as count_1 silent %}
                            {% cycle obj.count_2_all obj.count_2_top obj.count_2_mid obj.count_2_low as count_2 silent %}
                            {% cycle obj.count_3_all obj.count_3_top obj.count_3_mid obj.count_3_low as count_3 silent %}
                            {% cycle obj.count_4_all obj.count_4_top obj.count_4_mid obj.count_4_low as count_4 silent %}
                            {% cycle obj.count_5_all obj.count_5_top obj.count_5_mid obj.count_5_low as count_5 silent %}
                            {% cycle obj.count_sum_all obj.count_sum_top obj.count_sum_mid obj.count_sum_low as count_sum silent %}

                            <td class="td-right-no-border">{{ count_1|default:'' }}</td>
                            <td class="td-left-no-border td-right-no-border">{{ count_2|default:'' }}</td>
                            <td class="td-left-no-border td-right-no-border">{{ count_3|default:'' }}</td>
                            {% if tab.title == '헌법' %}
                                <td class="td-left-no-border">{{ count_4|default:'' }}</td>
                            {% else %}
                                <td class="td-left-no-border td-right-no-border">{{ count_4|default:'' }}</td>
                                <td class="td-left-no-border">{{ count_5|default:'' }}</td>
                            {% endif %}

                            <td class="td-right-no-border">{{ count_1|percentageby:count_sum|floatformat:1|default:'' }}</td>
                            <td class="td-left-no-border td-right-no-border">{{ count_2|percentageby:count_sum|floatformat:1|default:'' }}</td>
                            <td class="td-left-no-border td-right-no-border">{{ count_3|percentageby:count_sum|floatformat:1|default:'' }}</td>
                            {% if tab.title == '헌법' %}
                                <td class="td-left-no-border">{{ count_4|percentageby:count_sum|floatformat:1|default:'' }}</td>
                            {% else %}
                                <td class="td-left-no-border td-right-no-border">{{ count_4|percentageby:count_sum|floatformat:1|default:'' }}</td>
                                <td class="td-left-no-border">{{ count_5|percentageby:count_sum|floatformat:1|default:'' }}</td>
                            {% endif %}
                        {% endfor %}
                    </tr>
                {% endif %}
            {% empty %}
                <tr class="text-center">
                    <td class="text-nowrap td-left-no-border td-right-no-border" colspan="48">자료가 없습니다.</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</article>

{% with page_obj=answer_page_obj page_range=answer_page_range %}
    {% include 'a_psat/snippets/pagination.html' with header='answer_analysis' %}
{% endwith %}

{% partialdef reference %}
    <span class="fw-bold">
        {{ obj.psat.get_round_display }} {{ obj.get_number_display }} |
    </span>
    <a class="text-decoration-none fw-bold cursor-pointer" hx-boost="true"
       href="{{ obj.problem.get_absolute_url }}{% querystring %}">
        {{ obj.problem.reference }}
    </a>
    {% if obj.problem.images.name1 == 'Preparing Image' %}
        {{ icon_image.False|safe }}
    {% else %}
        <a class="text-decoration-none" href=""
           data-bs-toggle="modal" data-bs-target="#modalContainer"
           hx-push-url="false"
           hx-target="#modalContainer"
           hx-headers='{"View-Type":"image"}'
           hx-get="{% url 'psat:problem-detail' obj.problem_id %}">
            {{ icon_image.True|safe }}
        </a>
    {% endif %}
    {% if user.is_admin %}
        <span class="badge bg-warning-subtle border border-warning-subtle text-warning-emphasis rounded-pill">
            정답 {{ obj.problem.get_answer_display }}
        </span>
        <a class="badge bg-info-subtle border border-info-subtle text-info-emphasis rounded-pill"
           target="#admin" href="{{ obj.problem.get_admin_change_url }}">
            수정
        </a>
    {% endif %}
{% endpartialdef reference %}
