<article class="table-responsive">
    <table class="table table-bordered table-striped align-middle m-0">
        <thead>
            <tr class="text-center table-warning align-middle">
                <th class="text-primary text-nowrap td-left-no-border" rowspan="2">문제 출처</th>
                <th class="text-primary text-nowrap" rowspan="2">정답</th>
                <th class="text-primary text-nowrap" rowspan="2">제출<br/>답안</th>
                <th class="text-primary text-nowrap" colspan="2">정답률(%)</th>
                <th class="text-primary text-nowrap" colspan="5">[전체] 답안 선택 현황</th>
                <th class="text-primary text-nowrap" colspan="5">[상위권] 답안 선택 현황</th>
                <th class="text-primary text-nowrap" colspan="5">[중위권] 답안 선택 현황</th>
                <th class="text-primary text-nowrap td-right-no-border" colspan="5">[하위권] 답안 선택 현황</th>
            </tr>
            <tr class="text-center table-warning align-middle">
                <th class="text-primary text-nowrap">전체[상/중/하]</th>
                <th class="text-primary text-nowrap">변별도</th>
                {% for _ in '1234' %}
                    <th class="text-primary td-right-no-border">①</th>
                    <th class="text-primary td-left-no-border td-right-no-border">②</th>
                    <th class="text-primary td-left-no-border td-right-no-border">③</th>
                    {% if tab.title == '헌법' %}
                        <th class="text-primary td-left-no-border">④</th>
                    {% else %}
                        <th class="text-primary td-left-no-border td-right-no-border">④</th>
                        <th class="text-primary td-left-no-border td-right-no-border">⑤</th>
                    {% endif %}
                {% endfor %}
            </tr>
        </thead>
        <tbody>
            {% for obj in answer_page_obj %}
                {% if not obj.ans_student and current_time < obj.schedule.homework_end_datetime %}
                    <tr class="small">
                        <th class="text-nowrap td-left-no-border" hx-target="#main">
                            {% partial reference %}
                        </th>
                        <td class="text-nowrap fs-6" colspan="25">
                            <span class="badge rounded-pill text-bg-danger">
                                {{ obj.schedule.homework_end_datetime|date:'n/j(D)' }}까지 답안을 제출해주세요.
                            </span>
                        </td>
                    </tr>
                {% else %}
                    <tr class="text-center small">
                        <th class="text-nowrap td-left-no-border" hx-target="#main">{% partial reference %}</th>
                        <th class="fs-6 text-success">{{ obj.ans_official_circle|default:'' }}</th>
                        <th class="fs-6 text-{% if obj.is_correct %}success{% else %}danger{% endif %}">
                            {{ obj.ans_student_circle|default:'' }}
                        </th>
                        <td class="text-nowrap">
                            {% if obj.rate_correct %}
                                <span class="fw-bold text-primary">{{ obj.rate_correct|floatformat:1 }}</span><br/>[
                                {{ obj.rate_correct_top|floatformat:1|default:'-' }} /
                                {{ obj.rate_correct_mid|floatformat:1|default:'-' }} /
                                {{ obj.rate_correct_low|floatformat:1|default:'-' }} ]
                            {% endif %}
                        </td>
                        <td>{{ obj.rate_gap|floatformat:1 }}</td>

                        {% for _ in '1234' %}
                            {% cycle obj.count_1_all obj.count_1_top obj.count_1_mid obj.count_1_low as count_1 silent %}
                            {% cycle obj.count_2_all obj.count_2_top obj.count_2_mid obj.count_2_low as count_2 silent %}
                            {% cycle obj.count_3_all obj.count_3_top obj.count_3_mid obj.count_3_low as count_3 silent %}
                            {% cycle obj.count_4_all obj.count_4_top obj.count_4_mid obj.count_4_low as count_4 silent %}
                            {% cycle obj.count_5_all obj.count_5_top obj.count_5_mid obj.count_5_low as count_5 silent %}
                            {% cycle obj.count_sum_all obj.count_sum_top obj.count_sum_mid obj.count_sum_low as count_sum silent %}

                            <td class="td-right-no-border">
                                {{ count_1|default:'' }}<br/>
                                <span class="text-primary">{{ count_1|percentageby:count_sum|floatformat:1|default:'' }}</span>
                            </td>
                            <td class="td-left-no-border td-right-no-border">
                                {{ count_2|default:'' }}<br/>
                                <span class="text-primary">{{ count_2|percentageby:count_sum|floatformat:1|default:'' }}</span>
                            </td>
                            <td class="td-left-no-border td-right-no-border">
                                {{ count_3|default:'' }}<br/>
                                <span class="text-primary">{{ count_3|percentageby:count_sum|floatformat:1|default:'' }}</span>
                            </td>
                            {% if tab.title == '헌법' %}
                                <td class="td-left-no-border td-right-no-border">
                                    {{ count_4|default:'' }}<br/>
                                    <span class="text-primary">{{ count_4|percentageby:count_sum|floatformat:1|default:'' }}</span>
                                </td>
                            {% else %}
                                <td class="td-left-no-border td-right-no-border">
                                    {{ count_4|default:'' }}<br/>
                                    <span class="text-primary">{{ count_4|percentageby:count_sum|floatformat:1|default:'' }}</span>
                                </td>
                                <td class="td-left-no-border td-right-no-border">
                                    {{ count_5|default:'' }}<br/>
                                    <span class="text-primary">{{ count_5|percentageby:count_sum|floatformat:1|default:'' }}</span>
                                </td>
                            {% endif %}
                        {% endfor %}
                    </tr>
                {% endif %}
            {% empty %}
                <tr class="text-center">
                    <td class="text-nowrap td-left-no-border td-right-no-border" colspan="25">자료가 없습니다.</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</article>

{% with page_obj=answer_page_obj page_range=answer_page_range %}
    {% include 'a_psat/snippets/pagination.html' with header='answer_analysis' %}
{% endwith %}

{% partialdef reference %}
    <div class="text-start">
        <div>
            {{ obj.psat.get_round_display }} {{ obj.get_number_display }}
        </div>
        <a class="text-decoration-none cursor-pointer" hx-boost="true"
           href="{{ obj.problem.get_absolute_url }}{% querystring %}">
            {{ obj.problem.reference }}
        </a>
        {% if obj.problem.images.name1 == 'Preparing Image' %}
            {{ icon_image.False|safe }}
        {% else %}
            <a class="text-decoration-none" href=""
               data-bs-toggle="modal" data-bs-target="#modalContainer"
               hx-push-url="false"
               hx-target="#modalContainer"
               hx-headers='{"View-Type":"image"}'
               hx-get="{% url 'psat:problem-detail' obj.problem_id %}">
                {{ icon_image.True|safe }}
            </a>
        {% endif %}
    </div>
{% endpartialdef reference %}
