<article class="table-responsive">
    <table class="table d-sm-none align-middle m-0">
        <tbody>
            {% for obj in lecture_context.page_obj %}
                <tr{% if obj.color_code %} class="table-{{ obj.color_code }}"{% endif %}>
                    <td class="text-nowrap">
                        <div class="fw-bold small mb-2">
                            {{ obj.lecture_number }}주차 - {{ obj.lecture_datetime|date:'n/j(D)' }}
                            {% if obj.lecture_round %}
                                <span class="text-primary">미니테스트 {{ obj.lecture_round }}회차</span>
                                {% if current_time > obj.lecture_open_datetime and current_time <= obj.homework_end_datetime %}
                                    <a class="btn btn-sm btn-outline-primary"
                                       href="{% url 'psat:study-answer-input-redirect' obj.curriculum.organization.name obj.curriculum.semester obj.lecture_round %}">
                                        답안 제출
                                    </a>
                                {% endif %}
                            {% endif %}
                        </div>
                        <div class="d-flex align-items-center">
                            <span class="fw-bold small">[{{ obj.get_lecture_theme_display }}]</span>
                            {% if obj.url_lecture %}
                                <a class="btn btn-sm btn-outline-primary ms-2" href="{{ obj.url_lecture }}">온라인 강의</a>
                            {% endif %}
                            {% if obj.url_lecture_list %}
                                <span class="text-primary fw-bold small ms-2">온라인 강의</span>
                                    {% for lecture_link in obj.url_lecture_list %}
                                        <a class="btn btn-sm btn-outline-primary ms-2" href="{{ lecture_link }}">#{{ forloop.counter }}</a>
                                    {% endfor %}
                            {% endif %}
                        </div>
                        <ul class="list-group list-group-flush">
                            {% for topic in obj.lecture_topic %}
                                {% if topic.0 %}
                                    <li class="list-group-item bg-transparent px-0 border-0">
                                        <span class="badge rounded-pill bg-{{ obj.color_code|default_if_none:'success' }}{% if obj.color_code == 'warning' %} text-dark{% endif %}">
                                            {{ topic.0 }}
                                        </span>
                                        <span class="small">{{ topic.1 }}</span>
                                    </li>
                                {% endif %}
                            {% endfor %}
                        </ul>
                    </td>
                </tr>
            {% empty %}
                <tr class="text-center">
                    <td class="text-nowrap" colspan="22">자료가 없습니다.</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <table class="table table-bordered d-none d-sm-table align-middle m-0">
        <thead>
            <tr class="text-center table-warning align-middle">
                <th class="text-primary text-nowrap td-left-no-border">주차</th>
                <th class="text-primary text-nowrap">미니테스트</th>
                <th class="text-primary text-nowrap td-right-no-border">강의 주제 및 토픽</th>
            </tr>
        </thead>
        <tbody>
            {% for obj in lecture_context.page_obj %}
                <tr{% if obj.color_code %} class="table-{{ obj.color_code }}"{% endif %}>
                    <th class="text-nowrap text-center small td-left-no-border">
                        {{ obj.lecture_number }}주차<br/>
                        {{ obj.lecture_datetime|date:'n/j(D)' }}
                    </th>
                    <th class="text-nowrap text-center small">
                        {% if obj.lecture_round %}
                            {{ obj.lecture_round }}회차<br/>
                            {% if current_time > obj.lecture_open_datetime and current_time <= obj.homework_end_datetime %}
                                <a class="btn btn-sm btn-outline-primary"
                                   href="{% url 'psat:study-answer-input-redirect' obj.curriculum.organization.name obj.curriculum.semester obj.lecture_round %}">
                                    답안 제출
                                </a>
                            {% endif %}
                        {% endif %}
                    </th>
                    <td class="text-nowrap td-right-no-border">
                        <div class="d-flex align-items-center">
                            <span class="fw-bold small">[{{ obj.get_lecture_theme_display }}]</span>
                            {% if obj.url_lecture %}
                                <a class="btn btn-sm btn-outline-primary ms-2" href="{{ obj.url_lecture }}">온라인 강의</a>
                            {% endif %}
                            {% if obj.url_lecture_list %}
                                <span class="text-primary fw-bold small ms-2">온라인 강의</span>
                                    {% for lecture_link in obj.url_lecture_list %}
                                        <a class="btn btn-sm btn-outline-primary ms-2" href="{{ lecture_link }}">#{{ forloop.counter }}</a>
                                    {% endfor %}
                            {% endif %}
                        </div>
                        <ul class="list-group list-group-flush">
                            {% for topic in obj.lecture_topic %}
                                {% if topic.0 %}
                                    <li class="list-group-item bg-transparent px-0 border-0">
                                        <span class="badge rounded-pill bg-{{ obj.color_code|default_if_none:'success' }}{% if obj.color_code == 'warning' %} text-dark{% endif %}">
                                            {{ topic.0 }}
                                        </span>
                                        <span class="small">{{ topic.1 }}</span>
                                    </li>
                                {% endif %}
                            {% endfor %}
                        </ul>
                    </td>
                </tr>
            {% empty %}
                <tr class="text-center">
                    <td class="text-nowrap" colspan="22">자료가 없습니다.</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</article>

{% with page_obj=lecture_context.page_obj page_range=lecture_context.page_range %}
    {% include 'a_psat/snippets/pagination.html' with header='lecture_list' %}
{% endwith %}
