.tool-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #FFFFFF;
  border: solid 2px #EEEEEE;
  border-radius: 25px;
  width: 36px;
  height: 36px;
  padding: 8px;
  cursor: pointer;
  color: #333333; /* 기본 아이콘 색상 */
  transition: background-color 0.2s ease, color 0.2s ease;
}

.tool-btn:hover {
  background-color: #EEEEEE;
  color: #000000;
}

.tool-btn.active[data-annotate-style="eraser"] {
  background: #007BFF;
  color: #FFFFFF;
}


.color-btn {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 3px solid rgba(0, 0, 0, 0.1);
  cursor: pointer;
  position: relative;
  transition: box-shadow 0.3s ease;
}

[data-annotate-color="black"] {
  background: rgba(0, 0, 0, 0.4);
  color: #FFFFFF;
}

[data-annotate-color="red"] {
  background: rgba(255, 0, 0, 0.4);
  color: #FFFFFF;
}

[data-annotate-color="blue"] {
  background: rgba(0, 0, 255, 0.4);
  color: #FFFFFF;
}

[data-annotate-color="green"] {
  background: rgba(0, 128, 0, 0.4);
  color: #FFFFFF;
}

[data-annotate-color="yellow"] {
  background: rgba(255, 255, 0, 0.4);
  color: #000000;
}

.color-btn.active {
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.8);
}

.color-btn.active::after {
  content: "✔";
  color: white;
  font-size: 10px;
  font-weight: bold;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.color-btn[data-annotate-color="yellow"].active::after {
  color: #333333;
}

/* 스위치 컨테이너 */
.switch {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 25px;
}

/* 체크박스 숨기기 */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* 슬라이더 스타일 */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: 0.4s;
  border-radius: 25px;
}

/* 슬라이더 내부 원 */
.slider::before {
  content: "";
  position: absolute;
  height: 18px;
  width: 18px;
  left: 4px;
  bottom: 3.5px;
  background-color: #FFFFFF;
  transition: 0.4s;
  border-radius: 50%;
}

/* 체크되었을 때 스타일 */
input:checked + .slider.slider-drawing {
  background-color: #4CAF50;
}

input:checked + .slider.slider-line {
  background-color: #143ACC;
}

input:checked + .slider.slider-eraser {
  background-color: #B01E1E;
}

input:checked + .slider.slider-highlighter {
  background-color: #F3F308;
}

input:checked + .slider::before {
  transform: translateX(25px);
}

/* 필기 상태 표시 */
.drawing-btn {
  transition: 0.4s;
}
.drawing-btn.active {
  color: #4CAF50;
}

.action-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #FFFFFF;
  border: solid 2px #EEEEEE;
  border-radius: 25px;
  width: 36px;
  height: 36px;
  padding: 8px;
  cursor: pointer;
  color: #333333; /* 기본 아이콘 색상 */
  transition: background-color 0.2s ease, color 0.2s ease;
}

.action-btn:disabled {
  opacity: 0.4;
  cursor: not-allowed;
}

.action-btn[data-annotate-action="clear"] {
  background-color: rgba(255, 0, 0, 0.4);
  color: #FFFFFF;
}
