{% load static %}
{% load psat_filter %}
{% load partials %}

{% startpartial reference %}
    <td class="text-start text-nowrap text-primary fw-bold p-2" colspan="5">
        {{ problem.year }}년 {{ problem.exam1 }} {{ problem.subject }}
    </td>
{% endpartial %}

<section class="htmx-fade-in htmx-fade-out">
    {{ info|json_script:'info' }}
    <div class="table-responsive">
        <table class="table small">
            <thead>
                <tr class="d-none d-sm-table-row">
                    <th class="text-nowrap p-2 col-1">
                        <div class="td-div-xl" aria-label="Reference">문제 출처</div>
                        <div class="td-div-xs" aria-label="Like">{{ PSAT_ICON_SET.likeTrue|safe }}</div>
                        <div class="td-div-lg" aria-label="Rate">난이도</div>
                        <div class="td-div-xs" aria-label="Answer">{{ PSAT_ICON_SET.answerTrue|safe }}</div>
                    </th>
                    <th class="text-start text-nowrap p-2">문제</th>
                </tr>
            </thead>
            <tbody>
            {% if page_obj %}
                {% for problem in page_obj %}
                    {% include 'psat/snippets/list_table_body.html' %}
                {% endfor %}
            {% else %}
                <tr>
                    <td class="text-center text-nowrap px-2" colspan="5">
                        추가된 자료가 없습니다.
                    </td>
                </tr>
            {% endif %}
            </tbody>
        </table>
    </div>
    {% include 'psat/snippets/list_footer.html' %}
</section>
