{% extends 'list.html' %}
{% load static %}
{% load i18n %}
{% load psat_filter %}
{% load partials %}
{% load slippers %}

{% block head_title %}{{ info.title }}{% endblock head_title %}

{% block main %}
    <section>
        {{ info|json_script:'info' }}
        <div class="pagetitle my-2">
            <h1>
                {{ info.icon|safe }}
                {{ info.title }}
            </h1>
        </div><!-- Page Title End -->
        <section class="section">
        {% #content_row class3='p-4' %}
            <div class="col-12 d-flex flex-wrap justify-content-around">
                <div class="col-md-6 justify-content-center">
                {% for problem in problems %}
{#                    {% if forloop.counter0|divisibleby:5 %}#}
{#                        <hr>#}
{#                    {% endif %}#}
                    <div class="col-md-12 justify-content-center">
                        <form method="post">
                            <div class="d-flex justify-content-center align-content-center">
                            {% csrf_token %}
                                <p class="fw-bold text-secondary text-nowrap m-2">문 {{ problem.number|add_0 }}.</p>
                                <div class="d-flex justify-content-center align-content-center">
                                    {% for i in '12345' %}
                                        <input type="radio" class="btn-check" name="p{{ problem.id }}"
                                               id="p{{ problem.id }}_answer{{ i }}" value="{{ i }}">
                                        <label class="btn btn-circle btn-outline-secondary btn-sm fs-6 mx-1 my-2"
                                               for="p{{ problem.id }}_answer{{ i }}">{{ i }}</label>
                                    {% endfor %}
                                </div>
                            </div>
                        </form>
                    </div>
                    {% if forloop.counter|divisibleby:5 %}
                </div>
                        {% if not forloop.last %}
                <div class="col-md-6 justify-content-center">
                        {% endif %}
                    {% endif %}
                {% endfor %}
        {% /content_row %}
        </section>
    </section><!-- Main Content End -->
{% endblock %}

{% block page_script %}
    <script type="module" src="{% static 'js/psat.js' %}"></script>
{% endblock %}
