{% extends 'list.html' %}
{% load static %}
{% load i18n %}
{% load psat_filter %}
{% load partials %}
{% load slippers %}

{% block head_title %}{{ info.title }}{% endblock head_title %}

{% block main %}
    {% partial detail_content %}
{% endblock %}


{% startpartial detail_content %}
    <section class="htmx-fade-in htmx-fade-out">
        {{ info|json_script:'info' }}
        <div class="pagetitle my-2">
            <h1>
                {{ info.icon|safe }}
                {{ info.title }}
            </h1>
        </div><!-- Page Title End -->
        <section class="section">
        {% #content_row class3='p-4' %}
            <div class="col-12 d-flex justify-content-between pb-2">
                <a class="btn btn-circle btn-sm btn-outline-secondary" href=""
                   hx-post="{% url 'score:list' %}" hx-target="#main"
                   hx-swap="innerHTML swap:0.25s" hx-push-url="true" title="Score List">
                    {{ BOARD_ICON_SET.list|safe }}
                </a>
                <button class="btn btn-primary" hx-target="#modalContainer"
                        hx-post="{% url 'score:confirm' info.exam_id %}" hx-swap="innerHTML"
                        data-bs-toggle="modal" data-bs-target="#modalContainer">
                    최종 답안 제출
                </button>
            </div>
            <div class="col-12 d-flex flex-wrap justify-content-center justify-content-md-start">
                <div class="col-md-6 col-lg-4 justify-content-center pb-2">
                {% for problem in problems %}

                    {% partial score_form %}

                    {% if forloop.counter|divisibleby:5 %}
                <hr/>
                </div>
                        {% if not forloop.last %}
                <div class="col-md-6 col-lg-4 justify-content-center pb-2">
                        {% endif %}
                    {% endif %}

                {% endfor %}
                <div id="result"></div>
        {% /content_row %}
        </section>
    </section><!-- Main Content End -->
{% endpartial %}


{% startpartial score_form %}
    <div class="col-12 justify-content-center">
        <form>
            {% csrf_token %}
            <div class="d-flex justify-content-center align-content-center">
                <p class="fw-bold text-secondary text-nowrap my-2 ms-3 me-2">
                    문 {{ problem.number|add_0 }}.</p>
                <div class="d-flex justify-content-center align-content-center me-3"
                     hx-post="{% url 'score:submit' problem.id %}"
                     hx-include="input[name='answer']:checked" hx-target="this" hx-swap="innerHTML"
                     hx-vals='{"problem": {{ problem.id }}}' hx-trigger="change">
                    {% for i in '12345' %}
                        {% with target_answer=problem.submitted_answer target_problem=problem %}
                            {% partial answer_buttons %}
                        {% endwith %}
                    {% endfor %}
                </div>
            </div>
        </form>
    </div>
{% endpartial %}


{% startpartial answer_buttons %}
    <input id="p{{ target_problem.id }}_answer{{ i }}" type="radio"
           class="btn-check" name="answer" value="{{ i }}"/>
    {% if i|add:0 == target_answer %}
        {% if target_answer == target_problem.answer %}
            <label class="btn btn-circle btn-success btn-sm fs-6 mx-1 my-2"
                   for="p{{ target_problem.id }}_answer{{ i }}">{{ i }}</label>
        {% else %}
            <label class="btn btn-circle btn-danger btn-sm fs-6 mx-1 my-2"
                   for="p{{ target_problem.id }}_answer{{ i }}">{{ i }}</label>
        {% endif %}
    {% else %}
        <label class="btn btn-circle btn-outline-secondary btn-sm fs-6 mx-1 my-2"
               for="p{{ target_problem.id }}_answer{{ i }}">{{ i }}</label>
    {% endif %}
{% endpartial %}


{% startpartial scored_problem %}
    {% for i in '12345' %}
        {% with target_answer=scored.answer target_problem=scored.problem %}
            {% partial answer_buttons %}
        {% endwith %}
    {% endfor %}
{% endpartial %}
