{% extends 'list.html' %}
{% load static %}
{% load psat_filter %}
{% load slippers %}
{% load partials %}

{% block head_title %}{{ info.title }}{% endblock head_title %}

{% block main %}
    {% partial list_main %}
{% endblock %}


{% startpartial list_main %}
    <section class="htmx-fade-in htmx-fade-out">
        {{ info|json_script:'info' }}
        <div class="pagetitle my-2">
            <h1>
                {{ info.icon|safe }}
                {{ info.title }}
            </h1>
        </div><!-- Page Title End -->
        <section class="section htmx-fade-out">
        {% #content_row class3='p-4' %}
            <nav>
                <div class="nav nav-tabs" id="nav-tab" role="tablist">
                    {% #nav_tab id='0' %}
                        {{ PSAT_ICON_SET.all|safe }} 전체
                    {% /nav_tab %}
                </div>
            </nav><!-- Navigation End -->
            <div class="tab-content" id="nav-tabContent">
                {% #nav_content id='0' %}
                    {% partial list_content %}
                {% /nav_content id='0' %}<!-- All Subject Tab End -->
            </div>
        {% /content_row %}
        </section>
    </section><!-- Main Content End -->
{% endpartial %}


{% startpartial list_content %}
<section class="htmx-fade-in htmx-fade-out">
        {{ info|json_script:'info' }}
        <div class="table-responsive">
            <table class="table small">
                <thead>
                    <tr class="text-center table-warning">
                        <th class="text-primary text-nowrap p-2 col-1">연도</th>
                        <th class="text-primary text-nowrap p-2 col-1">시험</th>
                        <th class="text-primary text-nowrap p-2 col-1">
                            {{ PSAT_ICON_SET.eoneo|safe }} 언어논리
                        </th>
                        <th class="text-primary text-nowrap p-2 col-1">
                            {{ PSAT_ICON_SET.jaryo|safe }} 자료해석
                        </th>
                        <th class="text-primary text-nowrap p-2 col-1">
                            {{ PSAT_ICON_SET.sanghwang|safe }} 상황판단
                        </th>
                    </tr>
                </thead>
                <tbody>
                {% if page_obj %}
                    {% for obj in page_obj %}
                        <tr class="text-center">
                            <td class="text-nowrap p-2 col-1">{{ obj.year }}년</td>
                            <td class="text-nowrap p-2 col-1">{{ obj.exam2 }}</td>
                            <td class="text-nowrap p-2 col-1">
                                {% with target=obj.eoneo %}
                                    {% partial process_badge %}
                                {% endwith %}
                            </td>
                            <td class="text-nowrap p-2 col-1">
                                {% with target=obj.jaryo %}
                                    {% partial process_badge %}
                                {% endwith %}
                            </td>
                            <td class="text-nowrap p-2 col-1">
                                {% with target=obj.sanghwang %}
                                    {% partial process_badge %}
                                {% endwith %}
                            </td>
                        </tr>
                    {% endfor %}
                {% endif %}
                </tbody>
            </table>
        </div>
        {% include 'psat/snippets/list_footer.html' %}
    </section>
{% endpartial %}


{% startpartial process_badge %}
    {% if target.status is None %}
        <a class="badge rounded-pill text-bg-primary" href=""
           hx-get="{% url 'score:detail' target.exam_id %}"
           hx-target="#main" hx-swap="innerHTML swap:0.25s" hx-push-url="true">
            작성 전
        </a>
    {% elif target.status is False %}
        <a class="badge rounded-pill text-bg-warning" href=""
           hx-get="{% url 'score:detail' target.exam_id %}"
           hx-target="#main" hx-swap="innerHTML swap:0.25s" hx-push-url="true">
            작성 중
        </a>
    {% elif target.status is True %}
        <a class="badge rounded-pill text-bg-success" href=""
           hx-get="{% url 'score:confirm' target.exam_id %}"
           hx-target="#main" hx-swap="innerHTML swap:0.25s" hx-push-url="true">
            제출 완료
        </a>
    {% else %}
    {% endif %}
{% endpartial %}
