{% extends 'list.html' %}
{% load static %}
{% load i18n %}
{% load psat_filter %}
{% load partials %}
{% load slippers %}

{% block head_title %}{{ info.title }}{% endblock head_title %}

{% block main %}{% partial content %}{% endblock %}


{% startpartial content %}
    <section class="htmx-fade-in htmx-fade-out">
        {{ info|json_script:'info' }}
        <div class="pagetitle my-2">
            <h1>
                {{ info.icon|safe }}
                {{ info.title }}
            </h1>
        </div><!-- Page Title End -->
        <section class="section">
        {% #content_row class3='p-4' %}
            <div class="col-12 d-flex justify-content-between pb-2">
                <a class="btn btn-circle btn-sm btn-outline-secondary" href=""
                   hx-post="{% url 'score:list' %}" hx-target="#main"
                   hx-swap="innerHTML swap:0.25s" hx-push-url="true" title="Score List">
                    {{ BOARD_ICON_SET.list|safe }}
                </a>
                <form>
                    {% csrf_token %}
                    <input type="text" name="exam" value="{{ info.exam_id }}" aria-label="Exam ID" hidden/>
                    <button class="btn btn-primary" hx-target="#modalContainer" type="submit"
                            hx-post="{% url 'score:modal' %}" hx-swap="innerHTML" hx-trigger="click"
                            data-bs-toggle="modal" data-bs-target="#modalContainer">
                        최종 답안 제출
                    </button>
                </form>
            </div>
            <div class="col-12 d-flex flex-wrap justify-content-center justify-content-md-start">
                <div class="col-md-6 col-lg-4 justify-content-center pb-2">
                {% for problem in problems %}
                    <div class="col-12 justify-content-center">{% partial form %}</div>
                    {% if forloop.counter|divisibleby:5 %}
                <hr/>
                </div>
                        {% if not forloop.last %}
                <div class="col-md-6 col-lg-4 justify-content-center pb-2">
                        {% endif %}
                    {% endif %}
                {% endfor %}
                <div id="result"></div>
        {% /content_row %}
        </section>
    </section><!-- Main Content End -->
{% endpartial %}


{% startpartial form %}
    <form>
        {% csrf_token %}
        <div class="d-flex justify-content-center align-content-center">
            <p class="fw-bold text-secondary text-nowrap my-2 ms-3 me-2">
                문 {{ problem.number|add_0 }}.</p>
            <div class="d-flex justify-content-center align-content-center me-3" hx-target="this"
                 hx-post="{% url 'score:submit' problem.id %}" hx-swap="innerHTML"
                 hx-include="input[name='answer']:checked input[name='problem']" hx-trigger="change">
                <input id="p{{ target_problem.id }}" type="text" name="problem"
                       value="{{ problem.id }}" aria-label="Problem ID" hidden/>
                {% partial initial_form %}
            </div>
        </div>
    </form>
{% endpartial %}


{% startpartial initial_form %}
    {% with target_answer=problem.submitted_answer target_problem=problem %}
        {% for i in '12345' %}
            {% partial answer_buttons %}
        {% endfor %}
    {% endwith %}
{% endpartial %}


{% startpartial scored_form %}
    {% with target_answer=scored.answer target_problem=scored.problem %}
        {% for i in '12345' %}
            {% partial answer_buttons %}
        {% endfor %}
    {% endwith %}
{% endpartial %}


{% startpartial answer_buttons %}
    <input id="p{{ target_problem.id }}_answer{{ i }}" type="radio"
           class="btn-check" name="answer" value="{{ i }}"/>
    <label class="btn btn-circle btn-sm fs-6 mx-1 my-2
        {% if i|add:0 == target_answer %}
           {% if target_answer == target_problem.answer %}btn-success{% else %}btn-danger{% endif %}
        {% else %} btn-outline-secondary{% endif %}"
           for="p{{ target_problem.id }}_answer{{ i }}">{{ i }}</label>
{% endpartial %}
