{% extends 'list.html' %}
{% load static %}
{% load psat_filter %}

{% block head_title %}페이지를 찾을 수 없습니다.{% endblock head_title %}

{% block main %}
<div class="container">
    <section class="section error-404 min-vh-100 d-flex flex-column align-items-center justify-content-center">
        <h1>404</h1>
        <h2>페이지를 찾을 수 없습니다.</h2>
        <a class="btn" href="/">홈으로 가기</a>
{#        <img src="assets/img/not-found.svg" class="img-fluid py-5" alt="Page Not Found">#}
    </section>
</div>
{% endblock %}
