<!doctype html>{% load static %}{% load psat_filter %}{% lineless %}
<html lang="ko">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="역대 PSAT 기출문제 데이터를 공유합니다. 나만을 위한 맞춤형 PSAT 기출문제집을 만들어보세요!" />
    <meta name="author" content="paedison" />
    <meta name="keywords" content="PSAT, 기출문제, 5급, 행정고시, 7급, 입법고시, 외교원, 외교관, 외무고시, 지역인재, 민간경력, 공무원" />
{#    <meta name="robots" content="noindex, nofollow" />#}
    <title>
        {% block head_title %}{% endblock head_title %}
    </title>

    {# Favicon #}
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'favicon/apple-touch-icon.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'favicon/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'favicon/favicon-16x16.png' %}">
    <link rel="manifest" href="{% static 'favicon/site.webmanifest' %}">

    {# Bootstrap CSS #}
    <link rel="stylesheet" type="text/css" href="{% static 'vendor/bootstrap/css/bootstrap.css' %}">

    {# Custom Font #}
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static 'vendor/fontawesome-free/css/all.css' %}">
    <!--    <script src="https://kit.fontawesome.com/6c271d7b52.js" crossorigin="anonymous"></script>-->

    {# Custom Styles #}
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/schedule.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'vendor/sb-admin-2/css/sb-admin-2.css' %}">

    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-3543306443016219" crossorigin="anonymous"></script>

    {% block extra_head %}{% endblock extra_head %}

</head>
{% block html_body %}
<!-- Page Top Start -->
<body id="page-top"> {# [00] Page Top Start #}
    <!-- Page Wrapper Start -->
    <div id="wrapper"> {# [01] Page Wrapper Start #}
        {% block aside %}{% endblock aside %} {# [02] Sidebar #}
        <!-- Content Wrapper Start -->
        <div id="content-wrapper" class="d-flex flex-column"> {# [02] Content Wrapper Start #}
            <!-- Content Start -->
            <div id="content">  {# [03] Main Content Start #}
                {% block header %}{% endblock header %} {# [04] Main Header #}
                <!-- Main Container Start -->
                <main class="container-fluid main-container p-0"> {# [04] Main Container Start #}
                    {% block main %}{% endblock main %} {# [05] Main Content #}
                    {% block hashtag %}{% endblock hashtag %} {# [05] Main Hashtag #}
                </main> {# [04] Main Container End #}
                <!-- Main Container End -->
            </div> {# [03] Content End #}
            <!-- Content End -->
            {% block footer %}{% endblock footer %} {# [03] Footer End #}
        </div> {# [02] Content Wrapper End #}
        <!-- Content Wrapper End -->

        {% include 'snippets/modal.html' %} {# Login / Logout Modal #}

        <!-- Scroll Button -->
        {# Scroll Button #}
        <a class="scroll-to-top rounded" href="#page-top"><i class="fas fa-angle-up"></i></a>

    </div> {# [01] Page Wrapper End #}
    <!-- Page Wrapper End -->

    {# Bootstrap JS #}
    <script src="{% static 'vendor/jquery/jquery-3.5.1.js' %}"></script>
    <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.js' %}"></script>

    {# Plugin JS #}
    <script src="{% static 'vendor/jquery-easing/jquery.easing.js' %}"></script>
{#    <script type="module" src="{% static 'vendor/chart.js/chart.js' %}"></script>#}

    {# Common JS #}
    <script src="{% static 'vendor/sb-admin-2/js/sb-admin-2.js' %}"></script>
    <script type="module" src="{% static 'js/common.js' %}"></script>

    {# Page JS #}
    {% block page_script %}
        <!--    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"-->
        <!--            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"-->
        <!--            crossorigin="anonymous"></script>-->
    {% endblock page_script %}
    {# [00] Page Top End #}
</body>
<!-- Page Top End -->
{% endblock html_body %}
</html>
{% endlineless %}
