{% load static %}
{% load psat_filter %}
{% lineless %}

{% if not request.htmx %}
<!doctype html>
<html lang="ko">
<head>
<meta charset="utf-8"/>
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
<meta name="description" content="오직 나만을 위한 맞춤형 PSAT 기출노트를 만들어보세요!"/>
<meta name="author" content="Paedison"/>
<meta name="keywords" content="PSAT, 기출문제, 5급, 행정고시, 7급, 입법고시, 외교원, 외교관, 외무고시, 지역인재, 민간경력, 공무원"/>
<meta name="google-site-verification" content="jv9Vpec7TB34EdIig5UYbDqQ_ueu3uNlLM_FbIzwWWM"/>
<meta property="og:type" content="website"/>
<meta property="og:url" content="{% block page_url %}{{ request.build_absolute_uri }}{% endblock %}"/>
<meta property="og:title" content="{% block page_title %}PSAT 기출노트 플랫폼{% endblock %}"/>
<meta property="og:description" content="{% block page_description %}나만의 PSAT 기출노트 세상!{% endblock %}"/>
{% block page_image %}
    <meta property="og:image" content="{% static 'favicon/logo_typo.png' %}"/>
{% endblock %}
<title>{% block head_title %}PSAT 기출노트 플랫폼{% endblock %}</title>

<!-- Favicons -->
<link rel="apple-touch-icon" sizes="180x180" href="{% static 'favicon/apple-touch-icon.png' %}"/>
<link rel="icon" type="image/png" sizes="16x16" href="{% static 'favicon/favicon-16x16.png' %}"/>
<link rel="icon" type="image/png" sizes="32x32" href="{% static 'favicon/favicon-32x32.png' %}"/>
<link rel="manifest" href="{% static 'favicon/site.webmanifest' %}"/>

<!-- Google Fonts -->
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2
?family=Black+Han+Sans
&family=Noto+Sans+KR:wght@100;200;300;400;500;600;700;800;900
&family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;0,1000;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900;1,1000
&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800
&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900
&display=swap" rel="stylesheet">

<!-- Vendor CSS Files -->
<link rel="stylesheet" type="text/css" href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}"/>
<link rel="stylesheet" type="text/css" href="{% static 'vendor/fontawesome-free/css/all.min.css' %}"/>
<link rel="stylesheet" type="text/css" href="{% static 'vendor/nice-admin/css/style.css' %}"/>
<link rel="stylesheet" type="text/css" href="{% static 'vendor/tagify/tagify.css' %}"/>

<!-- Template Main CSS File -->
<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}"/>
<link rel="stylesheet" type="text/css" href="{% static 'css/schedule.css' %}"/>

{% block google_adsense %}
<!-- Google AdSense -->
<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-3543306443016219"
        crossorigin="anonymous"></script>
{% endblock %}

<!-- Vendor JS Files -->
<script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
<script src="{% static 'vendor/jquery-easing/jquery.easing.min.js' %}"></script>
<script src="{% static 'vendor/sortable/Sortable.min.js' %}"></script>
<script src="{% static 'vendor/sortable/jquery-sortable.js' %}"></script>
<script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}" defer></script>
<script src="{% static 'vendor/nice-admin/js/main.js' %}" defer></script>
<script src="{% static 'vendor/htmx/htmx.min.js' %}" defer></script>
<script src="{% static 'vendor/htmx/ext/debug.js' %}" defer></script>
<script src="{% static 'vendor/htmx/ext/event-header.js' %}" defer></script>
<script src="{% static 'vendor/chart.js/chart.umd.js' %}"></script>
<script src="{% static 'vendor/tagify/tagify.js' %}"></script>
<script type="text/javascript" src="https://unpkg.com/paper@0.12.15/dist/paper-full.min.js"></script>

<!-- Template Main JS File -->
<script src="{% static 'js/sidebar_menu.js' %}" defer></script>
<script src="{% static 'js/common.js' %}" defer></script>
<script src="{% static 'js/functions.js' %}" defer></script>
<script src="{% static 'js/annotation.js' %}" defer></script>

{% block extra_head %}{% endblock extra_head %}
</head>
{% endif %}

{% block html_body %}
{% if not request.htmx %}
<body class="htmx-fade-in htmx-fade-out"
{#      hx-ext="debug, event-header"#}
      hx-ext="event-header"
      hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'>

{% block header %}{% endblock header %}
{% block aside %}{% endblock aside %}

<main id="main" class="main htmx-fade-in htmx-fade-out">
{% endif %}

    {% block main %}{% endblock main %}

{% if not request.htmx %}
</main><!-- Main End -->

{% block footer %}{% endblock footer %}
<div id="modalContainer" class="modal fade htmx-fade-in htmx-fade-out" style="display: none"
     aria-hidden="true" tabindex="-1" aria-labelledby="modalContainerLabel">
    <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
        <div class="modal-content"></div>
    </div>
</div><!-- Modal Container -->

<a href="#" class="back-to-top d-flex align-items-center justify-content-center">
    <i class="fas fa-angle-up"></i>
</a>

<!-- Page Javascript File -->
{% block page_script %}{% endblock page_script %}

</body>
{% endif %}
{% endblock html_body %}

{% if not request.htmx %}
</html>
{% endif %}
{% endlineless %}
