{% extends 'list.html' %}

{% block main %}
    {% if config.info %}{{ config.info|json_script:'info' }}{% endif %}
    <div class="pagetitle">
        <h1>
            <i class="fa-solid fa-triangle-exclamation"></i> 페이지 오류
        </h1>
        <nav>
            <ol class="breadcrumb" hx-target="#main" hx-swap="innerHTML swap:0.25s" hx-boost="true">
                <li class="breadcrumb-item"><a href="{% url 'index' %}">Home</a></li>
                <li class="breadcrumb-item">Redirect</li>
            </ol>
        </nav>
    </div><!-- Page Title End -->

    <section class="section" aria-label="오류">
        <div class="row">
            <div class="col-12" hx-trigger="load delay:1s"
                 hx-target="#main" hx-swap="innerHTML swap:0.25s" hx-push-url="true"
                 hx-get="{{ next_url }}">
                {% for message in messages %}
                    <div class="alert {{ message.extra_tags }} alert-dismissible fade show fw-bold" role="alert">
                        {{ message }}
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                {% endfor %}
            </div>
        </div>
    </section>
{% endblock %}
