{% #modal header=header size=" " %}
    {% partialdef student_info inline=True %}
        {% if user_verified %}
            <div class="py-4">
                <h5 class="modal-title mx-auto fw-bold" hx-trigger="load delay:0.5s"
                    hx-target="#main" hx-swap="innerHTML swap:0.25s" hx-push-url="true"
                    hx-get="{{ exam.get_score_detail_url }}">
                    <span class="text-success">수험 정보가 입력되었습니다.</span>
                </h5>
            </div>
            <script>
                (function () {
                    let button = document.querySelector('div.modal-header > .btn-close');
                    setTimeout(function () {button.click()}, 1000);
                })()
            </script>
        {% else %}
            <form id="student_info"
                  hx-swap="outerHTML swap:0.25s" hx-target="#student_info"
                  hx-post="{{ exam.get_score_register_url }}">
                {% if no_student %}
                    <div class="alert alert-danger alert-dismissible fade show" role="alert">
                        수험 정보를 다시 확인해주세요.
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                {% endif %}

                <div class="form-floating">
                    {{ form.serial }}
                    <label for="{{ form.serial.id_for_label }}">{{ form.serial.label }}</label>
                </div>

                <div class="form-floating mt-3">
                    {{ form.name }}
                    <label for="{{ form.name.id_for_label }}">{{ form.name.label }}</label>
                </div>

                <div class="input-group mt-3">
                    <div class="form-floating">
                        {{ form.password }}
                        <label for="{{ form.password.id_for_label }}">{{ form.password.label }}</label>
                    </div>
                    <button class="btn btn-outline-secondary" type="submit">
                        입력
                    </button>
                </div>
            </form>
        {% endif %}
    {% endpartialdef student_info %}
{% /modal %}
