{% #modal header=header size=" " %}
    {% partialdef student_info inline=True %}
        {% if user_verified %}
            <div class="py-4">
                <h5 class="modal-title mx-auto fw-bold" hx-trigger="load delay:0.5s"
                    hx-target="#main" hx-swap="innerHTML swap:0.25s" hx-push-url="true"
                    hx-get="{{ exam_vars.url_detail }}">
                    <span class="text-success">수험 정보가 입력되었습니다.</span>
                </h5>
            </div>
            <script>
                (function () {
                    let button = document.querySelector('div.modal-header > .btn-close');
                    setTimeout(function () {button.click()}, 1000);
                })()
            </script>
        {% else %}
            <form id="student_info"
                  hx-swap="outerHTML swap:0.25s" hx-target="#student_info"
                  hx-post="{{ exam_vars.url_student_register }}">
                {% if no_student %}
                    <div class="alert alert-danger alert-dismissible fade show" role="alert">
                        수험 정보를 다시 확인해주세요.
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                {% endif %}

                <div class="form-floating">
                    <input id="id_serial" class="form-control form-control-sm"
                           type="text" placeholder="수험번호" name="serial" value="{{ form.serial.value }}"/>
                    <label for="id_serial">수험번호</label>
                </div>
                {% if form.errors.serial %}
                    <div class="text-danger text-start fw-bold">
                        수험번호를 입력해주세요.
                    </div>
                {% endif %}

                <div class="form-floating mt-3">
                    <input id="id_name" class="form-control form-control-sm"
                           type="text" placeholder="이름" name="name" value="{{ form.name.value }}"/>
                    <label for="id_name">이름</label>
                </div>
                {% if form.errors.name %}
                    <div class="text-danger text-start fw-bold">
                        이름을 입력해주세요.
                    </div>
                {% endif %}

                <div class="input-group mt-3">
                    <div class="form-floating">
                        <input id="id_password" class="form-control form-control-sm"
                               type="text" placeholder="이름" name="password" value="{{ form.password.value }}"/>
                        <label for="id_password">비밀번호</label>
                    </div>
                    <button class="btn btn-outline-secondary" type="submit">
                        입력
                    </button>
                </div>
                {% if form.errors.password %}
                    <div class="text-danger text-start fw-bold">
                         비밀번호를 입력해주세요.
                    </div>
                {% endif %}
            </form>
        {% endif %}
    {% endpartialdef student_info %}
{% /modal %}
