{% load humanize %}

<div class="card-header">
    답안 제출 현황
    <a class="text-decoration-none ms-2" href=""
       hx-swap="none" hx-indicator="#stat_tot_spinner"
       hx-headers='{"View-Type":"info_answer"}' hx-get="">
        <span class="badge rounded-pill text-bg-warning">업데이트</span>
    </a>
    <div id="stat_tot_spinner" role="status"
         class="htmx-indicator spinner-border text-warning spinner-border-sm">
        <span class="visually-hidden">Loading...</span>
    </div>
</div>

<div class="card-body">
    <article class="table-responsive">
        <table class="table align-middle" hx-boost="true" hx-push-url="true">
            <thead>
                <tr class="text-center align-middle table-warning">
                    <th rowspan="2" aria-label="과목">과목</th>

                    <th class="text-nowrap" aria-label="점수">
                        {% if exam.is_answer_official_opened %}
                            <span class="d-sm-none">내 점수<br/>(점)</span>
                            <span class="d-none d-sm-inline">내 점수(점)</span>
                        {% else %}
                            <span class="d-sm-none">예상 점수<br/>(점)</span>
                            <span class="d-none d-sm-inline">예상 점수(점)</span>
                        {% endif %}
                    </th>

                    <th class="text-nowrap" aria-label="총 참여자수">
                        <span class="d-sm-none">총 참여자수<br/>(명)</span>
                        <span class="d-none d-sm-inline">총 참여자수(명)</span>
                    </th>

                    <th class="text-nowrap" aria-label="선택 답안수">
                        <span class="d-sm-none">제출 답안수<br/>(문제)</span>
                        <span class="d-none d-sm-inline">제출 답안수(문제)</span>
                    </th>
                </tr>
            </thead>
            <tbody>
                {% for stat_tot in stat_total_all %}
                    {% partial sub_answer_line %}
                {% endfor %}
            </tbody>
        </table>
        <div>
            <span class="badge bg-success"><i class="fa-regular fa-circle-check"></i> 참고</span>
            <ol class="text-success small fw-bold m-0">
                {% if exam.is_not_finished %}
                    <li>예상 점수는 시험이 종료된 후에 공개됩니다.</li>
                {% endif %}
                <li>총 참여자수는 과목별로 답안 제출을 완료한 응시생수입니다.</li>
                <li>선택 답안수는 과목별로 답안을 선택한 문제수 및 총 문제수입니다.</li>
                <li>최종 제출한 답안만 통계에 포함되니 답안 제출을 완료해주세요.</li>
                <li>최종 제출한 답안은 변경 및 삭제가 불가하니 주의하시기 바랍니다.</li>
            </ol>
        </div>
    </article>
</div>

{% partialdef sub_answer_line %}
    {% if stat_tot.field == 'average' %}
        <tr class="text-center table-warning">
            {% partialdef snippet_confirmed_subject inline=True %}
                <th class="text-nowrap" aria-label="과목">
                    {{ stat_tot.icon|safe }} {{ stat_tot.subject }}
                </th>
            {% endpartialdef snippet_confirmed_subject %}

            {% if stat_tot.is_confirmed %}
                {% partialdef snippet_confirmed_score inline=True %}
                    <td aria-label="점수">
                        {% if exam.is_not_started %} {# 시험 시작 이전 #}
                            <span class="badge rounded-pill text-bg-primary">시험 시작 전입니다.</span>
                        {% elif exam.is_going_on %} {# 시험 종료 이전 #}
                            <span class="badge rounded-pill text-bg-primary">시험 진행 중입니다.</span>
                        {% elif exam.is_collecting_answer %} {# 시험 종료 이후 ~ 예상 정답 공개 이전 #}
                            <span class="badge rounded-pill text-bg-warning">답안 수집중입니다.</span>
                        {% elif exam.is_answer_predict_opened %} {# 예상 정답 공개 이후 ~ 공식 정답 공개 이전 #}
                            <div id="{{ stat_tot.field }}_score_predict" class="htmx-fade-up-in delay-1 text-primary fw-bold">
                                {{ stat_tot.score_predict|floatformat:1|default:'' }}
                            </div>
                        {% elif exam.is_answer_official_opened %} {# 공식 정답 공개 이후 #}
                            <div id="{{ stat_tot.field }}_score_real" class="htmx-fade-up-in delay-1 text-success fw-bold">
                                {{ stat_tot.score_real|floatformat:1|default:'' }}
                            </div>
                        {% endif %}
                    </td>
                {% endpartialdef snippet_confirmed_score %}
            {% else %}
                <td aria-label="점수">
                    <span class="badge rounded-pill text-bg-danger">답안을 제출해주세요.</span>
                </td>
            {% endif %}

            {% partialdef snippet_participants inline=True %}
                <td aria-label="총 참여자수">
                    <div id="{{ stat_tot.field }}_participants" class="htmx-fade-up-in delay-2 fw-bold">
                        {{ stat_tot.participants|default:0 }}
                    </div>
                </td>
            {% endpartialdef snippet_participants %}

            {% if stat_tot.is_confirmed %}
                {% partialdef snippet_confirmed_answers inline=True %}
                    <td class="text-nowrap fw-bold" aria-label="제출 답안수">
                        {{ stat_tot.answer_count|default:0 }} / {{ stat_tot.problem_count }}
                        <span class="badge rounded-pill text-bg-success">제출 완료</span>
                    </td>
                {% endpartialdef snippet_confirmed_answers %}
            {% else %}
                <td class="text-nowrap fw-bold" aria-label="제출 답안수">
                    {{ stat_tot.answer_count|default:0 }} / {{ stat_tot.problem_count }}
                    <span class="badge rounded-pill text-bg-danger">미제출</span>
                </td>
            {% endif %}
        </tr>
    {% else %}
        {% if stat_tot.is_confirmed %}
            <tr class="text-center">
                {% partial snippet_confirmed_subject %}
                {% partial snippet_confirmed_score %}
                {% partial snippet_participants %}
                {% partial snippet_confirmed_answers %}
            </tr>
        {% else %}
            <tr class="text-center cursor-pointer" hx-get="{{ stat_tot.url_answer_input }}">
                <th class="text-nowrap" aria-label="과목">
                    <a class="text-decoration-none" href="{{ stat_tot.url_answer_input }}">
                        {{ stat_tot.icon|safe }} {{ stat_tot.subject }}
                    </a>
                </th>
                <td aria-label="점수">
                    <a href="{{ stat_tot.url_answer_input }}">
                        <span class="badge rounded-pill text-bg-danger">답안을 제출해주세요.</span>
                    </a>
                </td>

                {% partial snippet_participants %}

                <td class="text-nowrap" aria-label="선택 답안수">
                    <a class="text-decoration-none fw-bold" href="{{ stat_tot.url_answer_input }}">
                        {{ stat_tot.answer_count|default:0 }} / {{ stat_tot.problem_count }}
                        <span class="badge rounded-pill text-bg-danger">미제출</span>
                    </a>
                </td>
            </tr>
        {% endif %}
    {% endif %}
{% endpartialdef sub_answer_line %}
