{% load psat_filter %}

{% for tab in score_tab %}
    {% if tab.id == '0' %}
        {% for stat_tot in stat_total_all %}
            {% cycle stat_department_all.subject_0 stat_department_all.subject_1 stat_department_all.subject_2 stat_department_all.subject_3 stat_department_all.average as stat_dep silent %}
            {% if stat_tot %}{% partial sub_score_line %}{% endif %}
        {% endfor %}
    {% elif tab.id == '1' %}
        {% for stat_tot in stat_total_all %}
            {% cycle stat_tot as stat silent %}
            {% if stat_total_all %}
                {% for stat in stat_total_all %}{% partial sub_stat_line %}{% endfor %}
            {% endif %}
        {% endfor %}
    {% elif tab.id == '2' %}
        {% for stat_tot in stat_total_all %}
            {% if stat_department_all %}
                {% for stat in stat_department_all %}{% partial sub_stat_line %}{% endfor %}
            {% endif %}
        {% endfor %}
    {% endif %}
{% endfor %}

{% partialdef sub_score_line %}
    <div id="{{ prefix }}_my_score_{{ stat_tot.field }}"
         class="htmx-fade-up-in delay-0 text-success fw-bold" hx-swap-oob="true">
        {{ stat_tot.score|floatformat:1 }}
    </div>
    <div id="{{ prefix }}_rank_total_{{ stat_tot.field }}"
         class="htmx-fade-up-in delay-1" hx-swap-oob="true">
        {{ stat_tot.rank }} / {{ stat_tot.participants }}
    </div>
    <div id="{{ prefix }}_rank_ratio_total_{{ stat_tot.field }}"
         class="htmx-fade-up-in delay-2" hx-swap-oob="true">
        {% if stat_tot.participants %}
            {{ stat_tot.rank|percentageby:stat_tot.participants|floatformat:1 }}
        {% endif %}
    </div>
    <div id="{{ prefix }}_rank_department_{{ stat_tot.field }}"
         class="htmx-fade-up-in delay-3" hx-swap-oob="true">
        {{ stat_dep.rank }} / {{ stat_dep.participants }}
    </div>
    <div id="{{ prefix }}_rank_ratio_department_{{ stat_tot.field }}"
         class="htmx-fade-up-in delay-4" hx-swap-oob="true">
        {% if stat_dep.participants %}
            {{ stat_dep.rank|percentageby:stat_dep.participants|floatformat:1 }}
        {% endif %}
    </div>
{% endpartialdef sub_score_line %}

{% partialdef sub_stat_line %}
    <div id="{{ prefix }}_score_{{ stat.field }}"
         class="htmx-fade-up-in delay-0 text-success fw-bold" hx-swap-oob="true">
        {{ stat.score|floatformat:1 }}
    </div>
    <div id="{{ prefix }}_num_students_{{ stat.field }}"
         class="htmx-fade-up-in delay-1" hx-swap-oob="true">
        {{ stat.participants }}
    </div>
    <div id="{{ prefix }}_max_score_{{ stat.field }}"
         class="htmx-fade-up-in delay-2" hx-swap-oob="true">
        {{ stat.max_score|floatformat:1 }}
    </div>
    <div id="{{ prefix }}_top_score_10_{{ stat.field }}"
         class="htmx-fade-up-in delay-3" hx-swap-oob="true">
        {{ stat.top_score_10|floatformat:1 }}
    </div>
    <div id="{{ prefix }}_top_score_20_{{ stat.field }}"
         class="htmx-fade-up-in delay-4" hx-swap-oob="true">
        {{ stat.top_score_20|floatformat:1 }}
    </div>
    <div id="{{ prefix }}_avg_score_{{ stat.field }}"
         class="htmx-fade-up-in delay-5" hx-swap-oob="true">
        {{ stat.avg_score|floatformat:1 }}
    </div>
{% endpartialdef sub_stat_line %}
