{% load psat_filter %}
{% load humanize %}

<article class="table-responsive htmx-fade-in htmx-fade-out">
    <table class="table table-bordered table-striped align-middle m-0">
        <thead>
            <tr class="text-center table-warning align-middle">
                <th class="text-primary text-nowrap td-left-no-border" rowspan="2">ID</th>
                {% if config.model_type == 'result' %}
                    <th class="text-primary text-nowrap" rowspan="2">수험<br/>정보<br/>등록</th>
                {% endif %}

                {% partialdef table_head_1 inline=True %}
                    <th class="text-primary text-nowrap" rowspan="2">등수</th>
                    <th class="text-primary text-nowrap" rowspan="2">
                        {% if config.model_type == 'result' %}이름<hr class="m-0"/>수험번호
                        {% elif config.model_type == 'fake' %}수험번호{% endif %}
                    </th>
                    <th class="text-primary text-nowrap" rowspan="2">성적 확인</th>
                    <th class="text-primary text-nowrap" rowspan="2">비밀번호</th>
                    <th class="text-primary text-nowrap" rowspan="2">1지망<hr class="m-0"/>2지망</th>

                    {% if config.model_type == 'result' %}
                        <th class="text-primary text-nowrap" rowspan="2">출신대학<hr class="m-0"/>전공</th>
                        <th class="text-primary text-nowrap" rowspan="2">학점(GPA)<hr class="m-0"/>공인 영어성적</th>
                    {% endif %}

                    <th class="text-primary text-nowrap" colspan="4">총점</th>
                    <th class="text-primary text-nowrap" colspan="4">언어이해</th>
                    <th class="text-primary text-nowrap td-right-no-border" colspan="4">추리논증</th>
                {% endpartialdef table_head_1 %}
            </tr>

            {% partialdef table_head_2 inline=True %}
                <tr class="text-center table-warning align-middle">
                    {% for _ in '전12' %}
                        <th class="text-primary text-nowrap td-right-no-border">점수</th>
                        <th class="text-primary text-nowrap td-left-no-border td-right-no-border">전체<br/>석차</th>
                        <th class="text-primary text-nowrap td-left-no-border td-right-no-border">1지망<br/>석차</th>
                        <th class="text-primary text-nowrap td-left-no-border td-right-no-border">2지망<br/>석차</th>
                    {% endfor %}
                </tr>
            {% endpartialdef table_head_2 %}
        </thead>
        <tbody>
            {% for obj in catalog_page_obj %}
                <tr class="text-center small">
                    <td class="text-nowrap td-left-no-border">{{ obj.id }}</td>

                    {% if config.model_type == 'result' %}
                        <td class="text-nowrap">{% if obj.registries.count %}✔{% endif %}</td>
                    {% endif %}

                    {% partialdef table_body inline=True %}
                        <td class="text-nowrap">{{ obj.subjects.0.aspirations.0.rank }}</td>
                        <td class="text-nowrap">
                            {% if config.model_type == 'result' %}{{ obj.name }}<hr class="m-0"/>{{ obj.serial }}
                            {% elif config.model_type == 'fake' %}{{ obj.serial }}{% endif %}
                        </td>
                        <td class="text-nowrap">
                            <div class="btn-group">
                                <a target="result" class="btn btn-sm btn-outline-primary"
                                   href="{{ obj.get_admin_detail_student_url }}">화면
                                </a>
                                <a target="result_print" class="btn btn-sm btn-outline-primary"
                                   href="{{ obj.get_admin_detail_student_print_url }}">인쇄
                                </a>
                            </div>
                        </td>
                        <td class="text-nowrap">{{ obj.password }}</td>
                        <td class="text-nowrap">
                            {% if obj.aspiration_1 or obj.aspiration_2 %}
                                {{ obj.aspiration_1 }}<hr class="m-0"/>{{ obj.aspiration_2 }}&nbsp;
                            {% endif %}
                        </td>

                        {% if config.model_type == 'result' %}
                            <td class="text-nowrap">
                                {% if obj.school or obj.major %}
                                    {{ obj.school|default:'' }}<hr class="m-0"/>{{ obj.major }}
                                {% endif %}
                            </td>
                            <td class="text-nowrap">
                                {% if obj.gpa or obj.gpa_type or obj.english or ob.english_type %}
                                    {{ obj.gpa }} / {{ obj.gpa_type }}
                                    <hr class="m-0"/>
                                    {{ obj.english }} / {{ obj.english_type }}
                                {% endif %}
                            </td>
                        {% endif %}

                        {% for sub in obj.subjects %}
                            <td class="text-nowrap td-right-no-border">
                                <span class="text-primary">{{ sub.score|floatformat:1 }}</span><br/>
                                {{ sub.raw_score|floatformat:0 }}
                            </td>
                            {% for aspiration in sub.aspirations %}
                                <td class="text-nowrap td-left-no-border td-right-no-border">
                                    {% if aspiration.rank and aspiration.participants %}
                                        <span class="text-primary">{{ aspiration.rank }}</span>
                                        <br/>{{ aspiration.rank|divide:aspiration.participants|percentage|floatformat:1 }}
                                    {% endif %}
                                </td>
                            {% endfor %}
                        {% endfor %}
                    {% endpartialdef table_body %}
                </tr>
            {% empty %}
                <tr class="text-center">
                    <td class="text-nowrap td-left-no-border td-right-no-border" colspan="34">자료가 없습니다.</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</article>

{% with page_obj=catalog_page_obj page_range=catalog_page_range %}
    {% if page_obj.has_next or page_obj.has_previous %}
        {% include 'a_prime/snippets/pagination.html' with header='catalog_list' %}
    {% endif %}
{% endwith %}
