{% load psat_filter %}
{% load humanize %}

<article class="table-responsive htmx-fade-in htmx-fade-out">
    <table class="table table-bordered table-striped align-middle m-0">
        <thead>
            <tr class="text-center table-warning align-middle">
                <th class="text-primary text-nowrap td-left-no-border" rowspan="2">ID</th>
                <th class="text-primary text-nowrap" rowspan="2">수험<br/>정보<br/>등록</th>
                {% partialdef table_head_1 inline=True %}
                    <th class="text-primary text-nowrap" rowspan="2">등수</th>
                    <th class="text-primary text-nowrap" rowspan="2">이름<br/>(수험번호)</th>
                    <th class="text-primary text-nowrap" rowspan="2">성적 확인</th>
                    <th class="text-primary text-nowrap" rowspan="2">비밀번호</th>
                    <th class="text-primary text-nowrap" rowspan="2">출신대학<br/>(전공)</th>
                    <th class="text-primary text-nowrap" rowspan="2">1지망<br/>2지망</th>
                    <th class="text-primary text-nowrap" rowspan="2">학점(GPA)<br/>공인 영어성적</th>

                    <th class="text-primary text-nowrap" colspan="4">총점</th>
                    <th class="text-primary text-nowrap" colspan="4">언어이해</th>
                    <th class="text-primary text-nowrap td-right-no-border" colspan="4">추리논증</th>
                {% endpartialdef table_head_1 %}
            </tr>

            {% partialdef table_head_2 inline=True %}
                <tr class="text-center table-warning align-middle">
                    {% for _ in '012' %}
                        <th class="text-primary text-nowrap td-right-no-border">점수</th>
                        <th class="text-primary text-nowrap td-left-no-border td-right-no-border">전체<br/>석차</th>
                        <th class="text-primary text-nowrap td-left-no-border td-right-no-border">1지망<br/>석차</th>
                        <th class="text-primary text-nowrap td-left-no-border td-right-no-border">2지망<br/>석차</th>
                    {% endfor %}
                </tr>
            {% endpartialdef table_head_2 %}
        </thead>
        <tbody>
            {% for obj in catalog_page_obj %}
                <tr class="text-center small">
                    <td class="text-nowrap td-left-no-border">{{ obj.id }}</td>
                    <td class="text-nowrap">{% if obj.registries.count %}✔{% endif %}</td>
                    {% partialdef table_body inline=True %}
                        <td class="text-nowrap">{{ obj.rank_sum }}</td>
                        <td class="text-nowrap">{{ obj.name }}<br/>{{ obj.serial }}</td>
                        <td class="text-nowrap">
                            <div class="btn-group">
                                <a target="result" class="btn btn-sm btn-outline-primary"
                                   href="{{ obj.get_admin_detail_student_url }}">화면
                                </a>
                                <a target="result_print" class="btn btn-sm btn-outline-primary"
                                   href="{{ obj.get_admin_detail_student_print_url }}">인쇄
                                </a>
                            </div>
                        </td>
                        <td class="text-nowrap">{{ obj.password }}</td>
                        <td class="text-nowrap">{{ obj.school }}{% if obj.major %}<br/>({{ obj.major }}){% endif %}</td>
                        <td class="text-nowrap">{{ obj.aspiration_1 }}<br/>{{ obj.aspiration_2 }}</td>
                        <td class="text-nowrap">
                            {% if obj.gpa %}{{ obj.gpa }} / {{ obj.gpa_type }}{% endif %}
                            {% if obj.english %}<br/>{{ obj.english }} / {{ obj.english_type }}{% endif %}
                        </td>

                        {% for _ in '012' %}
                            {% cycle obj.score_sum obj.score_0 obj.score_1 as score silent %}
                            {% cycle obj.raw_score_sum obj.raw_score_0 obj.raw_score_1 as raw_score silent %}
                            {% cycle obj.rank_sum obj.rank_0 obj.rank_1 as rank_total silent %}
                            {% cycle obj.rank_sum_aspiration_1 obj.rank_0_aspiration_1 obj.rank_1_aspiration_1 as rank_aspiration_1 silent %}
                            {% cycle obj.rank_sum_aspiration_2 obj.rank_0_aspiration_2 obj.rank_1_aspiration_2 as rank_aspiration_2 silent %}
                            <td class="text-nowrap td-right-no-border">
                                <span class="text-primary">{{ score|floatformat:1 }}</span><br/>
                                {{ raw_score|floatformat:0 }}</td>
                            {% for _ in '012' %}
                                {% cycle rank_total rank_aspiration_1 rank_aspiration_2 as rank silent %}
                                {% cycle obj.rank_num obj.rank_num_aspiration_1 obj.rank_num_aspiration_2 as rank_num silent %}
                                <td class="text-nowrap td-left-no-border td-right-no-border">
                                    <span class="text-primary">{{ rank|default_if_none:'' }}</span>
                                    {% if rank_num %}
                                        <br/>{{ rank|divide:rank_num|percentage|floatformat:1 }}
                                    {% endif %}
                                </td>
                            {% endfor %}
                        {% endfor %}
                    {% endpartialdef table_body %}
                </tr>
            {% empty %}
                <tr class="text-center">
                    <td class="text-nowrap" colspan="34">자료가 없습니다.</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</article>

{% with page_obj=catalog_page_obj page_range=catalog_page_range %}
    {% if page_obj.has_next or page_obj.has_previous %}
        {% include 'a_prime/snippets/pagination.html' with header='catalog_list' %}
    {% endif %}
{% endwith %}
