{% load psat_filter %}
{% load humanize %}

<article class="table-responsive htmx-fade-in htmx-fade-out">
    <table class="table table-bordered table-striped align-middle m-0">
        <thead>
            <tr class="text-center table-warning align-middle">
                <th class="text-primary text-nowrap td-left-no-border" rowspan="2">ID</th>
                <th class="text-primary text-nowrap" rowspan="2">등록<br/>일시</th>
                <th class="text-primary text-nowrap" rowspan="2">사용자 ID<br/>학생 ID</th>
                {% include 'a_prime_leet/snippets/admin_detail_catalog.html#table_head_1' %}
            </tr>
            {% include 'a_prime_leet/snippets/admin_detail_catalog.html#table_head_2' %}
        </thead>
        <tbody>
            {% for obj in registry_page_obj %}
                <tr class="text-center small">
                    <td class="text-nowrap td-left-no-border">{{ obj.id }}</td>
                    <td class="text-nowrap">{{ obj.created_at|date:'n/j' }}<br/>{{ obj.created_at|date:'G:i' }}</td>
                    <td class="text-nowrap">{{ obj.user_id }}<br/>{{ obj.student_id }}</td>

                    {% include 'a_prime_leet/snippets/admin_detail_catalog.html#table_body' %}
                </tr>
            {% empty %}
                <tr class="text-center">
                    <td class="text-nowrap td-left-no-border td-right-no-border" colspan="31">자료가 없습니다.</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</article>

{% with page_obj=registry_page_obj page_range=registry_page_range %}
    {% if page_obj.has_next or page_obj.has_previous %}
        {% include 'a_prime/snippets/pagination.html' with header='registry_list' %}
    {% endif %}
{% endwith %}
