{% load humanize %}

<article class="table-responsive">
    <table class="table table-bordered table-striped align-middle m-0">
        <thead>
            <tr class="text-center table-warning align-middle">
                <th class="text-primary text-nowrap td-left-no-border" rowspan="2">지망 대학</th>
                <th class="text-primary text-nowrap" colspan="3">응시 인원</th>
                <th class="text-primary text-nowrap" colspan="5">총점</th>
                <th class="text-primary text-nowrap" colspan="5">언어이해</th>
                <th class="text-primary text-nowrap td-right-no-border" colspan="5">추리논증</th>
            </tr>
            <tr class="text-center table-warning align-middle">
                {% for _ in '전12' %}
                    {% cycle '전체' '1지망' '2지망' as aspiration_name silent %}
                    <th class="text-primary text-nowrap td-left-no-border td-right-no-border">{{ aspiration_name }}</th>
                {% endfor %}

                {% for _ in '총언추' %}
                    <th class="text-primary text-nowrap td-right-no-border">최고<br/>점수</th>
                    <th class="text-primary text-nowrap td-left-no-border td-right-no-border">상위<br/>10%</th>
                    <th class="text-primary text-nowrap td-left-no-border td-right-no-border">상위<br/>25%</th>
                    <th class="text-primary text-nowrap td-left-no-border td-right-no-border">상위<br/>50%</th>
                    <th class="text-primary text-nowrap td-left-no-border td-right-no-border">평균<br/>점수</th>
                {% endfor %}
            </tr>
        </thead>
        <tbody>
            {% if data_statistics_total %}
                {% with obj=data_statistics_total %}{% partial aspiration_stat_tr %}{% endwith %}
                <tr>
                    <td class="td-no-border" colspan="19"></td>
                </tr>
            {% endif %}
            {% for obj in statistics_page_obj %}
                {% partial aspiration_stat_tr %}
            {% empty %}
                <tr class="text-center">
                    <td class="text-nowrap td-left-no-border td-right-no-border" colspan="32">자료가 없습니다.</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</article>

{% with page_obj=statistics_page_obj page_range=statistics_page_range %}
    {% if page_obj.has_next or page_obj.has_previous %}
        {% include 'a_prime/snippets/pagination.html' with header='statistics_list' %}
    {% endif %}
{% endwith %}

{% partialdef aspiration_stat_tr %}
    <tr class="text-center small">
        <th class="text-nowrap td-left-no-border">{{ obj.aspiration }}</th>
        {% for participants in obj.participants %}
            <td class="text-nowrap td-left-no-border td-right-no-border">
                {{ participants|default:''|intcomma }}
            </td>
        {% endfor %}

        {% for sub in obj.subjects %}
            {% for _ in '최125평' %}
                {% cycle sub.data_stat.max sub.data_stat.t10 sub.data_stat.t25 sub.data_stat.t50 sub.data_stat.avg as data_stat silent %}
                {% cycle sub.raw_data_stat.max sub.raw_data_stat.t10 sub.raw_data_stat.t25 sub.raw_data_stat.t50 sub.raw_data_stat.avg as raw_data_stat silent %}
                <td class="text-nowrap {% if not forloop.first %}td-left-no-border {% endif %}td-right-no-border">
                    <span class="text-primary">{{ data_stat|floatformat:1 }}</span><br/>
                    {{ raw_data_stat|floatformat:0 }}
                </td>
            {% endfor %}
        {% endfor %}
    </tr>
{% endpartialdef %}
