{% load psat_filter %}
{% load humanize %}

<article class="table-responsive htmx-fade-in htmx-fade-out">
    <table class="table table-bordered table-striped align-middle m-0">
        <thead>
            <tr class="text-center table-warning align-middle">
                <th class="text-primary text-nowrap" rowspan="3">ID</th>
                <th class="text-primary text-nowrap" rowspan="3">등록 일시</th>
                <th class="text-primary text-nowrap" rowspan="3">사용자<br/>ID</th>
                <th class="text-primary text-nowrap" rowspan="3">학생<br/>ID</th>

                <th class="text-primary text-nowrap" rowspan="3">등수</th>
                <th class="text-primary text-nowrap" rowspan="3">이름</th>
                <th class="text-primary text-nowrap" rowspan="3">수험번호</th>
                <th class="text-primary text-nowrap" rowspan="3">출신대학</th>
                <th class="text-primary text-nowrap" rowspan="3">전공</th>
                <th class="text-primary text-nowrap" rowspan="3">1지망</th>
                <th class="text-primary text-nowrap" rowspan="3">2지망</th>
                <th class="text-primary text-nowrap" rowspan="3">학점<br/>(GPA)</th>
                <th class="text-primary text-nowrap" rowspan="3">공인<br/>영어성적</th>

                <th class="text-primary text-nowrap" colspan="8">총점</th>
                <th class="text-primary text-nowrap" colspan="8">언어이해</th>
                <th class="text-primary text-nowrap" colspan="8">추리논증</th>
            </tr>

            <tr class="text-center table-warning align-middle">
                {% for _ in '012' %}
                    <th class="text-primary text-nowrap td-right-no-border" rowspan="2">원점수</th>
                    <th class="text-primary text-nowrap td-left-no-border td-right-no-border" rowspan="2">표준점수</th>
                    <th class="text-primary text-nowrap td-left-no-border td-right-no-border" colspan="2">전체 석차</th>
                    <th class="text-primary text-nowrap td-left-no-border td-right-no-border" colspan="2">1지망 석차</th>
                    <th class="text-primary text-nowrap td-left-no-border td-right-no-border" colspan="2">2지망 석차</th>
                {% endfor %}
            </tr>

            <tr class="text-center table-warning align-middle">
                {% for _ in '012' %}
                    <th class="text-primary text-nowrap td-left-no-border td-right-no-border">등</th>
                    <th class="text-primary text-nowrap td-left-no-border td-right-no-border">%</th>
                    <th class="text-primary text-nowrap td-left-no-border td-right-no-border">등</th>
                    <th class="text-primary text-nowrap td-left-no-border td-right-no-border">%</th>
                    <th class="text-primary text-nowrap td-left-no-border td-right-no-border">등</th>
                    <th class="text-primary text-nowrap td-left-no-border">%</th>
                {% endfor %}
            </tr>
        </thead>
        <tbody>
            {% for obj in registry_page_obj %}
                <tr class="text-center">
                    <td class="text-nowrap">{{ obj.id }}</td>
                    <td class="text-nowrap">{{ obj.created_at|date:'Y.m.d G:i' }}</td>
                    <td class="text-nowrap">{{ obj.user_id }}</td>
                    <td class="text-nowrap">{{ obj.student_id }}</td>

                    <td class="text-nowrap">{{ obj.rank_sum }}</td>
                    <td class="text-nowrap">{{ obj.student.name }}</td>
                    <td class="text-nowrap">{{ obj.student.serial }}</td>
                    <td class="text-nowrap">{{ obj.student.school }}</td>
                    <td class="text-nowrap">{{ obj.student.major }}</td>
                    <td class="text-nowrap">{{ obj.student.aspiration_1 }}</td>
                    <td class="text-nowrap">{{ obj.student.aspiration_2 }}</td>
                    <td class="text-nowrap">{% if obj.student.gpa %}{{ obj.student.gpa }} / {{ obj.student.gpa_type }}{% endif %}</td>
                    <td class="text-nowrap">{% if obj.student.english %}{{ obj.student.english }} / {{ obj.student.english_type }}{% endif %}</td>

                    {% for _ in '012' %}
                        {% cycle obj.raw_score_sum obj.raw_score_0 obj.raw_score_1 as raw_score silent %}
                        {% cycle obj.score_sum obj.score_0 obj.score_1 as score silent %}
                        {% cycle obj.rank_sum obj.rank_0 obj.rank_1 as rank silent %}
                        {% cycle obj.rank_sum_aspiration_1 obj.rank_0_aspiration_1 obj.rank_1_aspiration_1 as rank_aspiration_1 silent %}
                        {% cycle obj.rank_sum_aspiration_2 obj.rank_0_aspiration_2 obj.rank_1_aspiration_2 as rank_aspiration_2 silent %}
                        <td class="text-nowrap td-right-no-border">{{ raw_score }}</td>
                        <td class="text-nowrap td-left-no-border td-right-no-border">{{ score|floatformat:1 }}</td>
                        <td class="text-nowrap td-left-no-border td-right-no-border">{{ rank|default_if_none:'' }}</td>
                        <td class="text-nowrap td-left-no-border td-right-no-border">
                            {% if obj.rank_num %}
                                {{ rank|divide:obj.rank_num|percentage|floatformat:1 }}
                            {% endif %}
                        </td>
                        <td class="text-nowrap td-left-no-border td-right-no-border">
                            {{ rank_aspiration_1|default_if_none:'' }}
                        </td>
                        <td class="text-nowrap td-left-no-border td-right-no-border">
                            {% if obj.rank_num_aspiration_1 %}
                                {{ rank_aspiration_1|divide:obj.rank_num_aspiration_1|percentage|floatformat:1 }}
                            {% endif %}
                        </td>
                        <td class="text-nowrap td-left-no-border td-right-no-border">
                            {{ rank_aspiration_2|default_if_none:'' }}
                        </td>
                        <td class="text-nowrap td-left-no-border td-right-no-border">
                            {% if obj.rank_num_aspiration_2 %}
                                {{ rank_aspiration_2|divide:obj.rank_num_aspiration_2|percentage|floatformat:1 }}
                            {% endif %}
                        </td>
                    {% endfor %}
                </tr>
            {% empty %}
                <tr class="text-center">
                    <td class="text-nowrap" colspan="31">자료가 없습니다.</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</article>

{% with page_obj=registry_page_obj page_range=registry_page_range %}
    {% if page_obj.has_next or page_obj.has_previous %}
        {% include 'a_prime/snippets/pagination.html' with header='registry_list' %}
    {% endif %}
{% endwith %}
