{% load humanize %}

<article class="table-responsive">
    <table class="table table-bordered table-striped align-middle m-0">
        <thead>
            <tr class="text-center table-warning align-middle">
                <th class="text-primary text-nowrap td-left-no-border" rowspan="2">지망 대학</th>
                <th class="text-primary text-nowrap" colspan="3">응시 인원</th>
                <th class="text-primary text-nowrap" colspan="5">총점</th>
                <th class="text-primary text-nowrap" colspan="5">언어이해</th>
                <th class="text-primary text-nowrap td-right-no-border" colspan="5">추리논증</th>
            </tr>
            <tr class="text-center table-warning align-middle">
                <th class="text-primary text-nowrap td-right-no-border">전체</th>
                <th class="text-primary text-nowrap td-left-no-border td-right-no-border">1지망</th>
                <th class="text-primary text-nowrap td-left-no-border td-right-no-border">2지망</th>
                {% for _ in '123' %}
                    <th class="text-primary text-nowrap td-right-no-border">최고<br/>점수</th>
                    <th class="text-primary text-nowrap td-left-no-border td-right-no-border">상위<br/>10%</th>
                    <th class="text-primary text-nowrap td-left-no-border td-right-no-border">상위<br/>25%</th>
                    <th class="text-primary text-nowrap td-left-no-border td-right-no-border">상위<br/>50%</th>
                    <th class="text-primary text-nowrap td-left-no-border td-right-no-border">평균<br/>점수</th>
                {% endfor %}
            </tr>
        </thead>
        <tbody>
            {% for obj in statistics_page_obj %}
                <tr class="text-center small">
                    <th class="text-nowrap td-left-no-border">{{ obj.aspiration }}</th>
                    <td class="text-nowrap td-right-no-border">{{ obj.sum.participants|intcomma }}</td>
                    <td class="text-nowrap td-left-no-border td-right-no-border">{{ obj.sum.participants_1|intcomma }}</td>
                    <td class="text-nowrap td-left-no-border td-right-no-border">{{ obj.sum.participants_2|intcomma }}</td>

                    {% for _ in '123' %}
                        {% cycle obj.sum obj.subject_0 obj.subject_1 as data_stat silent %}
                        {% cycle obj.raw_sum obj.raw_subject_0 obj.raw_subject_1 as raw_data_stat silent %}
                        <td class="text-nowrap td-right-no-border">
                            <span class="text-primary">{{ data_stat.max|floatformat:1 }}</span><br/>
                            {{ raw_data_stat.max|floatformat:0 }}
                        </td>
                        <td class="text-nowrap td-left-no-border td-right-no-border">
                            <span class="text-primary">{{ data_stat.t10|floatformat:1 }}</span><br/>
                            {{ raw_data_stat.t10|floatformat:0 }}
                        </td>
                        <td class="text-nowrap td-left-no-border td-right-no-border">
                            <span class="text-primary">{{ data_stat.t25|floatformat:1 }}</span><br/>
                            {{ raw_data_stat.t25|floatformat:0 }}
                        </td>
                        <td class="text-nowrap td-left-no-border td-right-no-border">
                            <span class="text-primary">{{ data_stat.t50|floatformat:1 }}</span><br/>
                            {{ raw_data_stat.t50|floatformat:0 }}
                        </td>
                        <td class="text-nowrap td-left-no-border td-right-no-border">
                            <span class="text-primary">{{ data_stat.avg|floatformat:1 }}</span><br/>
                            {{ raw_data_stat.avg|floatformat:1 }}
                        </td>
                    {% endfor %}
                </tr>
            {% empty %}
                <tr class="text-center">
                    <td class="text-nowrap td-left-no-border td-right-no-border" colspan="32">자료가 없습니다.</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</article>

{% with page_obj=statistics_page_obj page_range=statistics_page_range %}
    {% if page_obj.has_next or page_obj.has_previous %}
        {% include 'a_prime/snippets/pagination.html' with header='statistics_list' %}
    {% endif %}
{% endwith %}
