{% load psat_filter %}
{% load humanize %}

<article class="table-responsive">
    <table class="table table-bordered table-striped align-middle m-0">
        <thead>
            <tr class="text-center table-warning align-middle">
                <th class="text-primary text-nowrap td-left-no-border" rowspan="2">문제<br/>번호</th>
                <th class="text-primary text-nowrap" rowspan="2">공식<br/>정답</th>
                <th class="text-primary text-nowrap" rowspan="2">예상<br/>정답</th>
                <th class="text-primary text-nowrap" colspan="2">정답률(%)</th>
                {% for _ in '전상중하' %}
                    {% cycle '전체' '상위권' '중위권' '하위권' as th_rank_type silent %}
                    <th class="text-primary text-nowrap{% if forloop.last %} td-right-no-border{% endif %}" colspan="6">
                        [{{ th_rank_type }}] 답안 분포 현황
                    </th>
                {% endfor %}
            </tr>
            <tr class="text-center table-warning align-middle">
                <th class="text-primary text-nowrap">전체[상/중/하]</th>
                <th class="text-primary text-nowrap">변별도</th>
                {% for _ in '전상중하' %}
                    <th class="text-primary text-nowrap td-right-no-border">전체</th>
                    {% for answer_num in '①②③④⑤' %}
                        <th class="text-primary text-nowrap td-left-no-border td-right-no-border">{{ answer_num }}</th>
                    {% endfor %}
                {% endfor %}
            </tr>
        </thead>
        <tbody>
            {% for obj in answers %}
                <tr class="text-center small">
                    <th class="td-left-no-border">{{ obj.no }}</th>
                    <th class="text-success">{{ obj.ans_official_circle }}</th>
                    <th class="text-{% if obj.ans_predict == obj.ans_official %}success{% else %}danger{% endif %}">
                        {{ obj.ans_predict_circle }}
                    </th>
                    <td class="text-nowrap">
                        {% if obj.rate.correct.all %}
                            <span class="fw-bold text-primary">{{ obj.rate.correct.all|floatformat:1 }}</span><br/>[
                            {{ obj.rate.correct.top|floatformat:1|default:'-' }} /
                            {{ obj.rate.correct.mid|floatformat:1|default:'-' }} /
                            {{ obj.rate.correct.low|floatformat:1|default:'-' }} ]
                        {% endif %}
                    </td>
                    <td>{{ obj.rate.correct.gap|floatformat:1 }}</td>

                    {% for count in obj.rate.distribution.values %}
                        {% for cnt in count.values %}
                            <td class="{% if not forloop.first %}td-left-no-border {% endif %}td-right-no-border">
                                <span class="text-primary fw-bold">{{ cnt.ratio|default:'' }}</span>
                                {{ cnt.integer|default:''|intcomma }}<br/>
                            </td>
                        {% endfor %}
                    {% endfor %}
                </tr>
            {% empty %}
                <tr class="text-center">
                    <td class="text-nowrap td-left-no-border td-right-no-border" colspan="40">자료가 없습니다.</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</article>

{% with page_obj=answers page_range=answers_page_range %}
    {% if page_obj.has_next or page_obj.has_previous %}
        {% include 'a_prime/snippets/pagination.html' with header='answer_list' %}
    {% endif %}
{% endwith %}
