{% load humanize %}

<article class="table-responsive">
    <table class="table table-bordered table-striped align-middle m-0">
        <thead>
            <tr class="text-center table-warning align-middle">
                <th class="text-primary text-nowrap" rowspan="3">지망 대학</th>
                <th class="text-primary text-nowrap" rowspan="3">응시<br/>인원</th>
                <th class="text-primary text-nowrap" colspan="15">표준점수(점)</th>
                <th class="text-primary text-nowrap" colspan="15">원점수(점)</th>
            </tr>

            <tr class="text-center table-warning align-middle">
                {% for _ in '01' %}
                    <th class="text-primary text-nowrap" colspan="5">총점</th>
                    <th class="text-primary text-nowrap" colspan="5">언어이해</th>
                    <th class="text-primary text-nowrap" colspan="5">추리논증</th>
                {% endfor %}
            </tr>

            <tr class="text-center table-warning align-middle">
                {% for _ in '012345' %}
                    <th class="text-primary text-nowrap td-right-no-border">최고<br/>점수</th>
                    <th class="text-primary text-nowrap td-left-no-border td-right-no-border">상위<br/>10%</th>
                    <th class="text-primary text-nowrap td-left-no-border td-right-no-border">상위<br/>25%</th>
                    <th class="text-primary text-nowrap td-left-no-border td-right-no-border">상위<br/>50%</th>
                    <th class="text-primary text-nowrap td-left-no-border">평균<br/>점수</th>
                {% endfor %}
            </tr>
        </thead>
        <tbody>
            {% for obj in statistics_page_obj %}
                <tr class="text-center">
                    <td class="text-nowrap">{{ obj.aspiration }}</td>
                    <td class="text-nowrap">{{ obj.sum.participants|intcomma }}</td>

                    {% for _ in '012345' %}
                        {% cycle obj.sum obj.subject_0 obj.subject_1 obj.raw_sum obj.raw_subject_0 obj.raw_subject_1 as data_stat silent %}
                        <td class="text-nowrap td-right-no-border">{{ data_stat.max|floatformat:1 }}</td>
                        <td class="text-nowrap td-left-no-border td-right-no-border">{{ data_stat.t10|floatformat:1 }}</td>
                        <td class="text-nowrap td-left-no-border td-right-no-border">{{ data_stat.t25|floatformat:1 }}</td>
                        <td class="text-nowrap td-left-no-border td-right-no-border">{{ data_stat.t50|floatformat:1 }}</td>
                        <td class="text-nowrap td-left-no-border">{{ data_stat.avg|floatformat:1 }}</td>
                    {% endfor %}
                </tr>
            {% empty %}
                <tr class="text-center">
                    <td class="text-nowrap" colspan="32">자료가 없습니다.</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</article>

{% with page_obj=statistics_page_obj page_range=statistics_page_range %}
    {% if page_obj.has_next or page_obj.has_previous %}
        {% include 'a_prime/snippets/pagination.html' with header='statistics_list' %}
    {% endif %}
{% endwith %}
