{% if all_confirmed %}
    {% partialdef chart_canvas inline=True %}
        <div class="mt-4 chart-container-small {{ print_class }} ms-auto me-auto">
            <canvas id="scoreChart"></canvas>
            {% partial chart_contents %}
        </div>
        <div class="mt-4 chart-container-small {{ print_class }} ms-auto me-auto">
            <canvas id="scoreChartTotal"></canvas>
            {% partial chart_contents_total %}
        </div>
    {% endpartialdef chart_canvas %}
{% else %}
    {% #responsive_table %}
        <tbody>
            <tr class="text-center align-middle">
               <th colspan="6" class="text-danger fs-6 py-4">
                   모든 과목의 답안을 입력해주세요.
               </th>
            </tr>
        </tbody>
    {% /responsive_table %}
{% endif %}

{% partialdef chart_contents %}
<script type="text/javascript">
    screenWidth = window.innerWidth;
    chart_datasets = [
        {label: '내 점수', borderWidth: 1, data: {{ stat_chart.my_score }}},
        {label: '전체 상위 10%', borderWidth: 1, data: {{ stat_chart.total_score_10 }}},
        {label: '전체 상위 25%', borderWidth: 1, data: {{ stat_chart.total_score_25 }}, hidden: true},
        {label: '전체 상위 50%', borderWidth: 1, data: {{ stat_chart.total_score_50 }}, hidden: true},
        {label: '전체 최고', borderWidth: 1, data: {{ stat_chart.total_top }}},
    ]
    chart_data = {
        type: 'bar',
        data: {
            labels: ['언어이해', '추리논증', '총점'],
            datasets: chart_datasets,
        },
        options: {
            indexAxis: 'x',
            responsive: true,
            maintainAspectRatio: false,
            plugins: {
                legend: {
                    position: 'bottom',
                },
                datalabels: {
                    align: 'end',
                    color: 'black',
                    font: {
                        weight: 'bold',
                    }
                }
            },
            scales: {
                y: {ticks: {font: {weight: 'bold'}}},
                x: {ticks: {font: {weight: 'bold'}}},
            },
            elements: {
                bar: {
                    barPercentage: 0.5,
                },
            },
        }
    }

    if (typeof chart_canvas === 'undefined') {
        const chart_canvas = document.getElementById('scoreChart');
        new Chart(chart_canvas, chart_data);
    } else {
        chart_canvas.chart.destroy();
        new Chart(chart_canvas, chart_data);
    }
</script>
{% endpartialdef chart_contents %}

{% partialdef chart_contents_total %}
<script type="text/javascript">
    chart_datasets_total = [
        {
            label: 'LEET 총점(표준점수)',
            data: {{ stat_frequency.score_data }},
            borderWidth: 2,
            tension: 0.4,
            pointBackgroundColor: {{ stat_frequency.score_color|safe }},
        },
    ]
    chart_data_total = {
        type: 'line',
        data: {
            labels: {{ stat_frequency.score_label }},
            datasets: chart_datasets_total,
        },
        options: {
            indexAxis: 'x',
            responsive: true,
            maintainAspectRatio: false,
            plugins: {
                legend: {
                    position: 'bottom',
                },
                datalabels: {
                    align: 'end',
                    color: 'black',
                    font: {
                        weight: 'bold',
                    }
                },
            },
            scales: {
                x: {ticks: {font: {weight: 'bold'}}},
                y: {
                    beginAtZero: true,
                    ticks: {
                        stepSize: 1,
                        font: {weight: 'bold'},
                        callback: function (value) {
                            return Math.floor(value);
                        }
                    },
                },
            },
        }
    }

    if (typeof chart_canvas_total === 'undefined') {
        const chart_canvas_total = document.getElementById('scoreChartTotal');
        new Chart(chart_canvas_total, chart_data_total);
    } else {
        chart_canvas_total.chart.destroy();
        new Chart(chart_canvas_total, chart_data_total);
    }
</script>
{% endpartialdef chart_contents_total %}
