{% partialdef no_input %}
    <div class="badge rounded-pill bg-warning text-dark mx-1 align-content-center">미입력</div>
{% endpartialdef no_input %}

{% partialdef info_snippet %}
    <tr>
        <th class="px-0">{{ info_title }}</th>
        <td>
            {% partialdef info_snippet_content inline %}
                <div class="d-flex align-content-center justify-content-sm-center">
                    {% if info_text_1 and info_text_2 %}
                        {{ info_text_1 }} / {{ info_text_2 }}
                    {% elif not info_text_1 and not info_text_2 %}
                        {% partial no_input %}
                    {% else %}
                        {% if info_text_1 %}{{ info_text_1 }}{% else %}{% partial no_input %}{% endif %} /
                        {% if info_text_2 %}{{ info_text_2 }}{% else %}{% partial no_input %}{% endif %}
                    {% endif %}
                </div>
            {% endpartialdef info_snippet_content %}
        </td>
    </tr>
{% endpartialdef info_snippet %}

<table class="table d-sm-none">
    <tbody>
        <tr>
            <th class="px-0">수험번호</th>
            <td>{{ student.serial }}</td>
        </tr>
        <tr>
            <th class="px-0">이름</th>
            <td>{{ student.name }}</td>
        </tr>
        {% for _ in '1234' %}
            {% cycle '출신 대학 / 전공' '1지망 / 2지망' '학점(GPA)' '영어 성적' as info_title silent %}
            {% cycle student.school student.aspiration_1 student.gpa student.english as info_text_1 silent %}
            {% cycle student.major student.aspiration_2 student.gpa_type student.english_type as info_text_2 silent %}
            {% partial info_snippet %}
        {% endfor %}
    </tbody>
</table>

<table class="table d-none d-sm-table d-lg-none m-0">
    <tr class="text-center">
        <th>수험번호</th>
        <th>이름</th>
        <th>출신 대학 / 전공</th>
    </tr>
    <tr class="text-center">
        <td class="td-no-border">{{ student.serial }}</td>
        <td class="td-no-border">{{ student.name }}</td>
        <td class="td-no-border">
            {% with info_text_1=student.school info_text_2=student.major %}
                {% partial info_snippet_content %}
            {% endwith %}
        </td>
    </tr>
    <tr class="text-center">
        <th class="pt-4">1지망 / 2지망</th>
        <th class="pt-4">학점(GPA)</th>
        <th class="pt-4">영어 성적</th>
    </tr>
    <tr class="text-center">
        <td class="td-no-border">
            {% with info_text_1=student.aspiration_1 info_text_2=student.aspiration_2 %}
                {% partial info_snippet_content %}
            {% endwith %}
        </td>
        <td class="td-no-border">
            {% with info_text_1=student.gpa info_text_2=student.gpa_type %}
                {% partial info_snippet_content %}
            {% endwith %}
        </td>
        <td class="td-no-border">
            {% with info_text_1=student.english info_text_2=student.english_type %}
                {% partial info_snippet_content %}
            {% endwith %}
        </td>
    </tr>
</table>

<table class="table d-none d-lg-table m-0">
    <tr class="text-center">
        <th>수험번호</th>
        <th>이름</th>
        <th>출신 대학 / 전공</th>
        <th>1지망 / 2지망</th>
        <th>학점(GPA)</th>
        <th>영어 성적</th>
    </tr>
    <tr class="text-center">
        <td class="td-no-border">{{ student.serial }}</td>
        <td class="td-no-border">{{ student.name }}</td>
        <td class="td-no-border">
            {% with info_text_1=student.school info_text_2=student.major %}
                {% partial info_snippet_content %}
            {% endwith %}
        </td>
        <td class="td-no-border">
            {% with info_text_1=student.aspiration_1 info_text_2=student.aspiration_2 %}
                {% partial info_snippet_content %}
            {% endwith %}
        </td>
        <td class="td-no-border">
            {% with info_text_1=student.gpa info_text_2=student.gpa_type %}
                {% partial info_snippet_content %}
            {% endwith %}
        </td>
        <td class="td-no-border">
            {% with info_text_1=student.english info_text_2=student.english_type %}
                {% partial info_snippet_content %}
            {% endwith %}
        </td>
    </tr>
</table>
