<article class="table-responsive">
    <table class="table table-bordered align-middle">
        <thead>
            <tr class="text-center align-middle table-warning">
                <th class="text-nowrap td-left-no-border" rowspan="2">과목</th>
                <th class="text-nowrap" colspan="2">내 점수(점)</th>
                <th class="text-nowrap" colspan="2">석차</th>
                <th class="text-nowrap" colspan="2">최고 점수(점)</th>
                <th class="text-nowrap" colspan="2">상위 10%(점)</th>
                <th class="text-nowrap" colspan="2">상위 25%(점)</th>
                <th class="text-nowrap" colspan="2">상위 50%(점)</th>
                <th class="text-nowrap td-right-no-border" colspan="2">원점수 통계(점)</th>
            </tr>
            <tr class="text-center align-middle table-warning">
                {% partialdef table_head inline=True %}
                    <th class="text-nowrap td-right-no-border">원점수</th>
                    <th class="text-nowrap td-left-no-border">표준점수</th>
                {% endpartialdef table_head %}
                <th class="text-nowrap td-right-no-border">(등)</th>
                <th class="text-nowrap td-left-no-border">(%)</th>
                {% for _ in '0123' %}{% partial table_head %}{% endfor %}
                <th class="text-nowrap td-right-no-border">평균</th>
                <th class="text-nowrap td-left-no-border td-right-no-border">표준편차</th>
            </tr>
        </thead>
        <tbody>
            {% for _ in stat_data %}
                {% cycle stat_data.subject_0 stat_data.subject_1 stat_data.sum as stat silent %}
                {% if stat_data %}{% partial sub_score_line %}{% endif %}
            {% endfor %}
        </tbody>
    </table>
</article>

{% partialdef sub_score_line %}
    <tr class="text-center {% if stat.field == 'sum' %}table-warning{% endif %}">
        <th class="text-nowrap td-left-no-border" aria-label="과목">
            {% if stat.is_confirmed or stat.field == 'sum' %}
                {{ stat.subject }}
            {% else %}
                <a class="text-decoration-none" href="" hx-boost="true">
                    {{ stat.subject }}
                </a>
            {% endif %}
        </th>

        {% if not stat.is_confirmed %}
            <td class="text-nowrap" colspan="5">
                {% if stat.field == 'sum' %}
                    <span class="badge rounded-pill bg-danger">답안을 제출해주세요.</span>
                {% else %}
                    <a hx-boost="true"
                       href="">
                        <span class="badge rounded-pill bg-danger">답안을 제출해주세요.</span>
                    </a>
                {% endif %}
            </td>
        {% else %}
            <td class="text-nowrap td-right-no-border">
                <div id="{{ tab.prefix }}MyRawScore{{ stat.field|title }}"
                     class="htmx-fade-up-in delay-0 text-success fw-bold">
                    {{ stat.raw_score }}
                </div>
            </td>
            <td class="text-nowrap td-right-no-border td-left-no-border">
                <div id="{{ tab.prefix }}MyScore{{ stat.field|title }}"
                     class="htmx-fade-up-in delay-0 text-success fw-bold">
                    {{ stat.score|floatformat:1 }}
                </div>
            </td>
            <td class="text-nowrap td-right-no-border">
                <div id="{{ tab.prefix }}Rank{{ stat.field|title }}"
                     class="htmx-fade-up-in delay-1">
                    {{ stat.rank }} / {{ stat.participants }}
                </div>
            </td>
            <td class="text-nowrap td-right-no-border td-left-no-border">
                <div id="{{ tab.prefix }}RankRatio{{ stat.field|title }}"
                     class="htmx-fade-up-in delay-2">
                    {{ stat.rank|percentageby:stat.participants|floatformat:1 }}
                </div>
            </td>
            <td class="text-nowrap td-right-no-border">
                <div id="{{ tab.prefix }}MaxRawScore{{ stat.field|title }}"
                     class="htmx-fade-up-in delay-2">
                    {{ stat.max_raw_score }}
                </div>
            </td>
            <td class="text-nowrap td-right-no-border td-left-no-border">
                <div id="{{ tab.prefix }}MaxScore{{ stat.field|title }}"
                     class="htmx-fade-up-in delay-2">
                    {{ stat.max_score|floatformat:1 }}
                </div>
            </td>
            <td class="text-nowrap td-right-no-border">
                <div id="{{ tab.prefix }}TopRawScore10{{ stat.field|title }}"
                     class="htmx-fade-up-in delay-3">
                    {{ stat.top_raw_score_10 }}
                </div>
            </td>
            <td class="text-nowrap td-right-no-border td-left-no-border">
                <div id="{{ tab.prefix }}TopScore10{{ stat.field|title }}"
                     class="htmx-fade-up-in delay-3">
                    {{ stat.top_score_10|floatformat:1 }}
                </div>
            </td>
            <td class="text-nowrap td-right-no-border">
                <div id="{{ tab.prefix }}TopRawScore25{{ stat.field|title }}"
                     class="htmx-fade-up-in delay-4">
                    {{ stat.top_raw_score_25 }}
                </div>
            </td>
            <td class="text-nowrap td-right-no-border td-left-no-border">
                <div id="{{ tab.prefix }}TopScore25{{ stat.field|title }}"
                     class="htmx-fade-up-in delay-4">
                    {{ stat.top_score_25|floatformat:1 }}
                </div>
            </td>
            <td class="text-nowrap td-right-no-border">
                <div id="{{ tab.prefix }}TopRawScore50{{ stat.field|title }}"
                     class="htmx-fade-up-in delay-5">
                    {{ stat.top_raw_score_50|floatformat:1 }}
                </div>
            </td>
            <td class="text-nowrap td-right-no-border td-left-no-border">
                <div id="{{ tab.prefix }}TopScore50{{ stat.field|title }}"
                     class="htmx-fade-up-in delay-5">
                    {{ stat.top_score_50|floatformat:1 }}
                </div>
            </td>
            <td class="text-nowrap td-right-no-border">
                <div id="{{ tab.prefix }}RawScoreAvg{{ stat.field|title }}"
                     class="htmx-fade-up-in delay-5">
                    {{ stat.raw_score_avg|floatformat:1 }}
                </div>
            </td>
            <td class="text-nowrap td-right-no-border td-left-no-border">
                <div id="{{ tab.prefix }}RawScoreStdDev{{ stat.field|title }}"
                     class="htmx-fade-up-in delay-5">
                    {{ stat.raw_score_stddev|floatformat:1 }}
                </div>
            </td>
        {% endif %}
    </tr>
{% endpartialdef sub_score_line %}
