{% load static %}

<div class="card-header">
    성적 예측 I
    <span class="text-danger small">[전체 데이터]</span>
    <a class="text-decoration-none ms-2" href="" hx-swap="none" hx-indicator="#sheet_score_spinner"
       hx-headers='{"View-Type":"score_all"}' hx-get="">
        <span class="badge rounded-pill text-bg-warning">업데이트</span>
    </a>
    <div id="sheet_score_spinner" role="status"
         class="htmx-indicator spinner-border text-warning spinner-border-sm">
        <span class="visually-hidden">Loading...</span>
    </div>
</div>

<div class="card-body">
    <nav>
        <div class="nav nav-tabs nav-tabs-colored" id="scoreSheetAllTab" role="tablist">
            {% for tab in score_tab %}
                {% #nav_tab prefix='ScoreAll' id=tab.id %}{{ tab.title }}{% /nav_tab %}
            {% endfor %}
        </div>
    </nav>

    <div class="tab-content" id="scoreSheetAllContent">
        {% for tab in score_tab %}
            {% cycle stat_data_total stat_data_1 stat_data_2 as stat_data silent %}
            {% #nav_content prefix='ScoreAll' id=tab.id %}{% include tab.template %}{% /nav_content %}
        {% endfor %}

        <div>
            <span class="badge bg-success"><i class="fa-regular fa-circle-check"></i> 참고</span>
            <ol class="text-success small fw-bold m-0">
                <li>답안 제출을 완료한 응시생들의 <span class="text-danger">전체 답안</span>을
                    대상으로 분석한 자료입니다.</li>
                <li>최종 성적은 위 결과와 다를 수 있으니 참고 자료로만 활용하시기 바랍니다.</li>
                {% if not filtered_stat_total %}
                    <li>정답 공개 전 제출 답안을 대상으로 분석한 자료는
                        <span class="text-danger">해당 응시자에게만 공개</span>됩니다.</li>
                {% endif %}
            </ol>
        </div>
    </div>
</div>
