{% load psat_filter %}

{% for tab in answer_tab %}
    {% cycle data_answers.0 data_answers.1 data_answers.2 data_answers.3 as answers silent %}
    {% cycle is_confirmed_data.0 is_confirmed_data.1 is_confirmed_data.2 is_confirmed_data.3 as is_confirmed silent %}

    {% for answer in answers %}
        {% include 'a_prime_leet/snippets/predict_detail_sheet_answer_predict.html#ans_predict' %}
        {% include 'a_prime_leet/snippets/predict_detail_sheet_answer_predict.html#rate_accuracy' %}
    {% endfor %}
{% endfor %}
