{% extends 'list.html' %}
{% load static %}
{% load i18n %}
{% load psat_filter %}
{% load partials %}
{% load slippers %}

{% block head_title %}{{ sub_title }}{% endblock %}
{% block page_image %}<meta property="og:image" content="{% static 'image/prime/2024/exam/message-1.jpg' %}"/>{% endblock %}

{% block main %}
{% partialdef detail_main inline=True %} {# detail_main partial #}
{{ info|json_script:'info' }}
<div class="pagetitle">
    <h1>{{ icon_menu|safe }} {{ title }}
        <span class="fs-6 text-secondary">{{ sub_title }}</span>
        {% if user.is_staff %}
            <a class="btn btn-sm btn-outline-primary ms-2"
               hx-target="#main" hx-swap="innerHTML swap:0.25s" hx-boost="true"
               href="">
                관리자 페이지
            </a>
        {% endif %}
    </h1>

    <nav>
        <ol class="breadcrumb" hx-target="#main" hx-swap="innerHTML swap:0.25s" hx-push-url="true">
            <li class="breadcrumb-item">
                <a href="{% url 'index' %}" hx-post="{% url 'index' %}">Home</a>
            </li>
            <li class="breadcrumb-item">Score</li>
            <li class="breadcrumb-item">
                <a href="{% url 'score_prime_psat:list' %}" hx-boost="true">Prime</a>
            </li>
            <li class="breadcrumb-item">{{ exam_year }}</li>
            <li class="breadcrumb-item active">
                <a class="active" href="{% url 'score_prime_psat:detail' exam_year exam_round %}" hx-boost="true">
                    제{{ exam_round }}회</a>
            </li>
        </ol>
    </nav>
</div><!-- Page Title End -->

<section class="section htmx-fade-in htmx-fade-out" hx-target="#main" hx-swap="innerHTML swap:0.25s">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title mb-0 text-center">
                        <div class="d-flex">
                            <div class="btn-group ms-auto">
                                <a class="btn btn-sm btn-outline-secondary" title="{% trans 'List' %}"
                                   href="{% url 'prime:list' %}" hx-boost="true">
                                    목록
                                </a>
                                <a class="btn btn-sm btn-outline-secondary" title="{% trans 'Print' %}"
                                   href="{% url 'score_prime_psat:print' exam_year exam_round %}" target="score_print">
                                    인쇄하기
                                </a>
                            </div>
                        </div>
                        <img src="{% static 'image/prime/2024/exam/title.jpg' %}" class="mw-100" alt="Title"/>
                        <div class="fs-1 fw-bolder">제 {{ exam_round }} 회 성적표</div>
                        {% if not student %}
                            <div class="container p-0">
                                <div class="container">
                                    <img src="{% static 'image/prime/2024/exam/message-1.jpg' %}" class="mw-100" alt="Message"/>
                                    <img src="{% static 'image/prime/2024/exam/message-2.jpg' %}" class="mw-100" alt="Message"/>
                                </div>
                            </div>
                        {% endif %}
                    </h5>
                </div>
            </div>
        </div>

        <div class="col-12">
            <div id="student_info" class="card htmx-fade-in htmx-fade-out">
                {% include 'a_score/snippets/prime_student_info.html' %}
            </div>
        </div>

        <div class="col-12">
            <div id="score_sheet" class="card htmx-fade-in htmx-fade-out">
                {% include 'a_score/snippets/prime_score_sheet.html' with is_confirmed=True %}
            </div>
        </div>

        <div class="col-12">
            <div id="chart" class="card htmx-fade-in htmx-fade-out">
                {% include 'a_score/snippets/prime_chart.html' with is_confirmed=True %}
            </div>
        </div>

        <div class="col-12">
            <div id="answer_student" class="card htmx-fade-in htmx-fade-out">
                {% include 'a_score/snippets/prime_answer_student.html' %}
            </div>
        </div>
    </div>
</section>
{% endpartialdef detail_main %}
{% endblock main %}
