{% load i18n %}
{% load psat_filter %}

    <div id="comment{{ comment.id }}" class="htmx-fade-out htmx-fade-in p-2">
        <div class="d-flex justify-content-between">
            <div>
                <span class="text-gray-500 mr-1">
                    {{ comment.user.username }}
                </span>
                <span class="mr-1">
                    {% with timestamp=comment.created_at %}
                        {{ timestamp|date:'Y.m.d' }}({{ timestamp|date:'w'|int2kor }})
                        {{ timestamp|time:'H:i' }}
                    {% endwith %}
                </span>
            </div>
        {% if comment.user == user %}
            <div>
                <a class="btn btn-circle btn-sm btn-outline-success" href=""
                   hx-get="{{ comment.get_comment_update_url }}" title="Update"
                   hx-target="#comment{{ comment.id }}" hx-swap="afterend swap:0.25s">
                    {{ BOARD_ICON_SET.update|safe }}
                </a>
                <a class="btn btn-circle btn-sm btn-outline-danger"
                   hx-post="{{ comment.get_comment_delete_url }}" title="Delete"
                   hx-target="closest section" hx-swap="innerHTML swap:0.25s"
                   hx-confirm="{% trans 'Are you sure you wish to delete your post?' %}">
                    {{ BOARD_ICON_SET.delete|safe }}
                </a>
            </div>
        {% endif %}
        </div>
        <div class="comment text-gray-900">{{ comment.content }}</div>
    </div>
