{% load static %}
{% load i18n %}
{% load psat_filter %}
{% load partials %}

<section id="commentContainer" class="bg-secondary-light small p-3">
    {% if comments %}
        {% for comment in comments %}
            <div id="commentContents">
                {% partial contents %}
            </div>
            <hr class="my-2">
        {% endfor %}
    {% endif %}
    {% include 'board/comment_create.html' %}
</section>


{% partialdef contents %}
    <div id="comment{{ comment.id }}" class="htmx-fade-out htmx-fade-in p-2">
        <div class="d-flex justify-content-between">
            <div>
                <span class="text-gray-500 mr-1">
                    {{ comment.user.username }}
                </span>
                <span class="mr-1">
                    {% with timestamp=comment.created_at %}
                        {{ timestamp|date:'Y.m.d' }}({{ timestamp|date:'w'|int2kor }})
                        {{ timestamp|time:'H:i' }}
                    {% endwith %}
                </span>
            </div>
        {% if comment.user == user %}
            <div>
                <a class="btn btn-circle btn-sm btn-outline-success" href=""
                   hx-get="{{ comment.comment_update_url }}"
                   title="{% trans 'Update' %}"
                   hx-target="#commentUpdate{{ comment.id }}"
                   hx-swap="innerHTML swap:0.25s">
                    {{ info.board_icon.update|safe }}
                </a>
                <a class="btn btn-circle btn-sm btn-outline-danger" href=""
                   hx-post="{{ comment.comment_delete_url }}"
                   title="{% trans 'Delete' %}"
                   hx-target="#commentContainer"
                   hx-swap="outerHTML swap:0.25s"
                   hx-confirm="{% trans 'Are you sure you wish to delete your comment?' %}">
                    {{ info.board_icon.delete|safe }}
                </a>
            </div>
        {% endif %}
        </div>
        <div id="commentContent{{ comment.id }}" class="comment text-gray-900">
            {{ comment.content }}
        </div>
    </div>
    <div id="commentUpdate{{ comment.id }}">

    </div>
{% endpartialdef %}
