{% extends 'list.html' %}
{% load static %}
{% load widget_tweaks %}
{% load psat_filter %}

{% block head_title %}{{ info.title }}{% endblock head_title %}

{% block main %} {# [05] Main Content #}
<!-- Main Content Start -->
<section id="{{ info.target_id }}" class="">
    <div id="info" style="display: none;">{{ info|json_script:info }}</div>
    <section class="container col-12 px-3 mb-4">
        <div class="row d-flex align-items-center justify-content-start" role="textbox">
            <h6 class="font-weight-bold text-primary m-0">
                {{ info.icon|safe }} {{ info.menu }}
            </h6>
        </div>
    </section>
    <article class="mx-0 main-article">
        <!-- Content Row Start -->
        <div class="row">
            <section class="col-12 mb-4">
                <div class="card h-100">
                    <div class="card-body">
                        <div class="d-flex justify-content-between" role="button" aria-label="button-group">
                            {% include 'board/snippets/detail_button_group.html' %}
                        </div>
                        <hr class="my-2">
                        <div role="textbox" aria-label="post-title">
                            <h6 class="text-primary font-weight-bold">{{ post.title }}</h6>
                            <div class="small mb-3" role="textbox" aria-label="post-title">
                                <span class="mr-1">{{ post.user.username }}</span>
                                <span class="mr-1">조회 <span class="text-danger font-weight-bold">{{ post.hit }}</span></span>
                                <span class="mr-1">{{ post.created_at|date:'Y.m.d' }}({{ post.created_at|date:'w'|int2kor }}) {{ post.created_at|time:'H:i' }}</span>
                                <span class="mr-1">댓글 <span class="text-danger font-weight-bold">{{ post.get_comment_count }}</span></span>
                            </div>
                        </div>
                        <div class="mb-4" role="textbox" aria-label="post-content">
                            {{ post.content|safe }}
                        </div>
                        <div class="bg-gray-200 small p-3">
                        {% if comments %}
                            {% for comment in comments %}
                            <div class="comment-box">
                                {% include 'board/comment_content.html' %}
                            </div>
                            <hr class="my-2">
                            {% endfor %}
                        {% endif %}
                            {% include 'board/comment_create.html' %}
                        </div>
                    </div>
                </div>
            </section>
        </div>
        <!-- Content Row End -->
    </article>
</section>
<!-- Main Content End -->
{% endblock %}

{% block page_script %}
    <script type="module" src="{% static 'js/board.js' %}"></script>
{% endblock %}
