{% load static %}

<section id="{{ info.target_id }}">
    <div id="info">{{ info|json_script:info }}</div>
    <div class="table-responsive">
        <table class="table small">
            <thead>
                <tr>
                    <th class="text-center text-nowrap px-2">제목</th>
                    <th class="text-center text-nowrap px-0 col-1">글쓴이</th>
                    <th class="text-nowrap px-2 col-1">
                        {% include 'board/snippets/list_table_header.html' %}
                    </th>
                </tr>
            </thead>
            <tbody>
            {% if top_fixed %}
                {% for post in top_fixed %}
                    <tr class="table-warning">
                        {% include 'board/snippets/list_table_content.html' %}
                    </tr>
                {% endfor %}
            {% endif %}
            {% if page_obj %}
                {% for post in page_obj %}
                    <tr>
                        {% include 'board/snippets/list_table_content.html' %}
                    </tr>
                {% endfor %}
            {% else %}
                <tr>
                    <td class="text-center text-nowrap px-2" colspan="8">
                        추가된 자료가 없습니다.
                    </td>
                </tr>
            {% endif %}
            </tbody>
        </table>
    </div>
    <section class="d-flex align-items-center flex-wrap justify-content-center text-sm"
             data-target="#{{ info.target_id }}">
        <div class="p-2 me-auto ms-auto">
            {% include 'board/snippets/list_pagination.html' %}
        </div>
    {% if user.is_admin %}
        <div class="p-2">
            <a class="btn btn-sm btn-outline-primary" href="{{ info.post_create_url }}">
                글쓰기
            </a>
        </div>
    {%  endif %}
    </section>
</section>
