{% extends 'list.html' %}
{% load i18n %}
{% load static %}
{% load partials %}
{% load widget_tweaks %}

{% block head_title %}{{ info.title }}{% endblock head_title %}

{% startpartial form %}
    <form method="post" class="user" action="{{ info.post_create_url }}">
        {% csrf_token %}
        {% if form.errors.content %}
            <div class="alert alert-danger fade show small py-2 fw-bold" role="alert">
                내용을 입력해주세요.
            </div>
        {% endif %}
        <input id="id_user" type="text" name="user" value="{{ user.id }}"
               aria-label="User" hidden/>
        <div class="d-flex">
            <div class="col-2">
                {% render_field form.category class='form-select form-select-sm' %}
            </div>
            <div class="col-10">
                {% render_field form.title placeholder="제목을 입력해주세요" class='form-control form-control-sm' %}
            </div>
        </div>
        {{ form.content }}
        <div class="d-flex align-items-center justify-content-end mt-2">
            <div class="form-check">
                {% render_field form.top_fixed class='form-check-input' %}
                <label class="form-check-label small" for="id_top_fixed">
                    상단 고정</label>
            </div>
            {% if info.type == 'postCreate' or info.type == 'postCreateContent' %}
                <button type="submit" class="btn btn-sm btn-outline-primary ms-2"
                        hx-boost="true" hx-swap="outerHTML swap:0.25s"
                        hx-post="{{ post.get_create_content_url }}"
                        hx-push-url="{{ info.post_list_url }}"
                        title="{% trans 'Create' %}"
                        hx-target="section .section">
                    {% trans 'Create' %}
                </button>
            {% elif info.type == 'postUpdate' or info.type == 'postUpdateContent' %}
                <button type="submit" class="btn btn-sm btn-outline-primary ms-2"
                        hx-boost="true" hx-swap="outerHTML swap:0.25s"
                        hx-post="{{ post.get_update_content_url }}"
                        hx-push-url="{{ info.post_detail_url }}"
                        title="{% trans 'Update' %}"
                        hx-target="section .section">
                    {% trans 'Update' %}
                </button>
            {% endif %}
        </div>
    </form>
{% endpartial %}

{% startpartial container %}
    <section class="section htmx-fade-in htmx-fade-out">
        {{ info|json_script:'info' }}
        <div class="row">
            <div class="col-12 my-2">
                <div class="card m-0">
                    <div class="card-body p-4">
                        {% partial form %}
                    </div>
                </div>
            </div>
        </div><!-- Content Row End -->
    </section>
{% endpartial %}


{% block main %}
    <section id="{{ info.target_id }}">
        <div class="pagetitle my-2">
            <a hx-target="section .section" href="" title="{{ info.menu }}"
               hx-boost="true" hx-swap="outerHTML swap:0.25s"
               hx-get="{{ info.post_list_navigation_url }}"
               hx-push-url="{{ info.post_list_url }}">
                <h1>{{ info.icon|safe }}{{ info.menu }}</h1>
            </a>
        </div><!-- Page Title End -->
        {% partial container %}
    </section><!-- Main Content End -->
{% endblock %}

{% block page_script %}
    <script type="module" src="{% static 'js/board.js' %}"></script>
{% endblock %}
