{% extends 'list.html' %}
{% load static %}
{% load slippers %}
{% load psat_filter %}
{% load partials %}

{% block main %}
    {% partialdef list_main inline=True %}
        <div class="pagetitle">
            <h1>
                <a hx-target="section .section" href="" title="{{ info.menu|capfirst }}"
                   hx-boost="true" hx-swap="outerHTML swap:0.25s"
                   hx-get="{{ info.post_list_navigation_url }}"
                   hx-push-url="{{ info.post_list_url }}">
                    {{ info.menu|title }}
                </a>
                <span class="fs-6 text-secondary">{{ title }}</span>
            </h1>
            <nav>
                <ol class="breadcrumb" hx-target="#main" hx-swap="innerHTML swap:0.25s" hx-push-url="true">
                    <li class="breadcrumb-item">
                        <a href="{% url 'index' %}" hx-post="{% url 'index' %}">Home</a>
                    </li>
                    <li class="breadcrumb-item active">{{ info.menu|title }}</li>
                </ol>
            </nav>
        </div><!-- Page Title End -->

        <section class="section" hx-target="#main" hx-swap="innerHTML swap:0.25s">
            {% partial navigation %}
        </section><!-- Main Content End -->
    {% endpartialdef %}
{% endblock %}


{# Partial Template for HTMX request #}
{% partialdef navigation %}
    <section class="section htmx-fade-out">
        {{ info|json_script:'info' }}
        {% #content_row class3='p-4' %}
            <nav>
                <div class="nav nav-tabs nav-tabs-bordered" id="nav-tab" role="tablist">
                    {% #nav_tab id='0' %}
                        {{ PSAT_ICON_SET.all|safe }} 전체
                    {% /nav_tab %}
                    {% if category_list %}
                        {% for category in category_list %}
                            <button id="navCategory{{ category.choice }}"
                                    class="nav-link p-2{% if not category.choice %} active{% endif %}"
                                    type="button" role="tab" data-bs-toggle="tab"
                                    data-bs-target="#navContent{{ category.choice }}"
                                    aria-controls="navContent{{ c }}"
                                    aria-selected="{% if not category.choice %}true{% else %}false{% endif %}">
                                <span class="fw-bold text-primary"
                                      hx-get="{{ category.url }}" hx-swap="innerHtml"
                                      hx-target="#navContent{{ category.choice }}"
                                      hx-trigger="load delay:0.5*{{ category.choice }}s">
                                    {{ category.name }}
                                </span>
                            </button>
                        {% endfor %}
                    {% endif %}
                </div>
            </nav><!-- Navigation End -->
            <div class="tab-content" id="nav-tabContent">
                {% #nav_content id='0' %}
                    {% include 'board/post_list_content.html' %}
                {% /nav_content id='0' %}<!-- All Category End -->
                {% if category_list %}
                    {% for category in category_list %}
                        <div id="navContent{{ category.choice }}"
                             class="tab-pane fade{% if not category.choice %} show active{% endif %}"
                             role="tabpanel" aria-labelledby="navCategory{{ category.choice }}">
                        </div><!-- Category{{ category.choice }} End -->
                    {% endfor %}
                {% endif %}
            </div><!-- Category End -->
        {% /content_row %}
    </section>
{% endpartialdef %}
