{% load static %}
{% load psat_filter %}
{% load partials %}
{% load slippers %}

<div class="card-header">
    성적 예측 I
    <span class="text-danger small">[전체 데이터]</span>
</div>

<div class="card-body">
    <nav>
        <div class="nav nav-tabs nav-tabs-colored" id="scoreSheetTab" role="tablist">
            {% #nav_tab prefix='my' id='0' class='' %}내 성적{% /nav_tab %}
            {% #nav_tab prefix='all' id='1' class='' %}전체 기준{% /nav_tab %}
            {% #nav_tab prefix='department' id='2' class='' %}직렬 기준{% /nav_tab %}
        </div>
    </nav>

    <div class="tab-content" id="scoreSheetContent">
        {% #nav_content prefix='my' id='0' %}
            {% with score_student_data=score_student %}
                {% include 'predict/v1/admin/snippets/index_sheet_score_table_1.html' %}
            {% endwith %}
        {% /nav_content %}

        {% #nav_content prefix='all' id='1' %}
            {% with prefix='all' score_stat=all_score_stat.전체 %}
                {% include 'predict/v1/admin/snippets/index_sheet_score_table_2.html' %}
            {% endwith %}
        {% /nav_content %}

        {% #nav_content prefix='department' id='2' %}
            {% with prefix='department' score_stat=all_score_stat.직렬 %}
                {% include 'predict/v1/admin/snippets/index_sheet_score_table_2.html' %}
            {% endwith %}
        {% /nav_content %}

        <div>
            <span class="badge bg-success"><i class="fa-regular fa-circle-check"></i> 참고</span>
            <ol class="text-success small fw-bold m-0">
                <li>답안 제출을 완료한 응시생들의 <span class="text-danger">전체 답안</span>을
                    대상으로 분석한 자료입니다.</li>
                <li>최종 성적은 위 결과와 다를 수 있으니 참고 자료로만 활용하시기 바랍니다.</li>
                <li>정답 공개 전 제출 답안을 대상으로 분석한 자료는
                    <span class="text-danger">해당 응시자에게만 공개</span>됩니다.</li>
            </ol>
        </div>
    </div>
</div>
