{% load static %}
{% load psat_filter %}

<div class="card-header">수험정보</div>

<div class="card-body">
    <table class="table">
        <tbody>
            <tr>
                <th class="px-0" scope="row">수험번호</th>
                <td>{{ student.serial }}</td>
            </tr>
            <tr>
                <th class="px-0" scope="row">직렬</th>
                <td>{{ student.department }}</td>
            </tr>
            <tr>
                <th class="px-0" scope="row">이름</th>
                <td>{{ student.name }}</td>
            </tr>
        </tbody>
    </table>
</div>
