{% load static %}
{% load psat_filter %}

{% if info.type == 'likeDashboard' %}
    <tr class="table-warning align-middle text-center text-nowrap">
        <td class="px-1" colspan="7">
            <span role="textbox" aria-label="date" class="text-primary">
                {{ problem.liked_at|date:'Y.m.d' }}({{ problem.liked_at|date:'w'|int2kor }})
            </span>
        </td>
    </tr>
{% elif info.type == 'rateDashboard' %}
    <tr class="table-warning align-middle text-center text-nowrap">
        <td class="px-1" colspan="7">
            <span role="textbox" aria-label="date" class="text-primary">
                {{ problem.rated_at|date:'Y.m.d' }}({{ problem.rated_at|date:'w'|int2kor }})
            </span>
        </td>
    </tr>
{% elif info.type == 'answerDashboard' %}
    <tr class="table-warning align-middle text-center text-nowrap">
        <td class="px-1" colspan="7">
            <span role="textbox" aria-label="date" class="text-primary">
                {{ problem.answered_at|date:'Y.m.d' }}({{ problem.answered_at|date:'w'|int2kor }})
            </span>
        </td>
    </tr>
{% endif %}