{% load static %}
{% load psat_filter %}
{% load partials %}

<section class="htmx-fade-in">
    {{ info|json_script:'info' }}
    <div class="table-responsive">
        <table class="table small">
            <thead>
                {% include 'psat/snippets/list_table_header.html' %}
            </thead>
            <tbody>
            {% if page_obj %}
                {% for problem in page_obj %}
                    {% ifchanged %}
                        <tr class="table-warning">
                            {% if info.type == 'likeDashboard' %}
                                {% with timestamp=problem.liked_at %}
                                    {% partial datetime %}
                                {% endwith %}
                            {% elif info.type == 'rateDashboard' %}
                                {% with timestamp=problem.rated_at %}
                                    {% partial datetime %}
                                {% endwith %}
                            {% elif info.type == 'answerDashboard' %}
                                {% with timestamp=problem.answered_at %}
                                    {% partial datetime %}
                                {% endwith %}
                            {% endif %}
                        </tr>
                    {% endifchanged %}
                    {% include 'psat/snippets/list_table_body.html' %}
                {% endfor %}
            {% else %}
                <tr>
                    <td class="text-center text-nowrap px-2" colspan="5">
                        추가된 자료가 없습니다.
                    </td>
                </tr>
            {% endif %}
            </tbody>
        </table>
    </div>
    {% include 'psat/snippets/list_footer.html' %}
</section>


{% startpartial datetime %}
    <td class="text-start text-nowrap text-primary fw-bold px-2" colspan="5">
        {{ timestamp|date:'Y.m.d' }}({{ timestamp|date:'w'|int2kor }})
    </td>
{% endpartial %}

