{% load static %}
{% load psat_filter %}

<section id="{{ info.target_id }}">
    <div id="info">{{ info|json_script:info }}</div>
    <div class="table-responsive">
        <table class="table small">
            <thead>
                <tr>
                    <th class="text-nowrap px-2 col-1">
                        {% include 'psat/snippets/list_table_header.html' %}
                    </th>
                    <th class="text-start text-sm-center text-nowrap px-2">문제</th>
                </tr>
            </thead>
            <tbody>
            {% if page_obj %}
                {% for problem in page_obj %}
                    {% ifchanged %}
                        {% include 'dashboard/dashboard_card_datetime.html' %}
                    {% endifchanged %}
                    <tr>
                        <td class="text-nowrap px-2 col-1">
                            {% include 'psat/snippets/list_table_problem_info.html' %}
                        </td>
                        <td class="text-start text-nowrap px-2">
                            {% include 'psat/snippets/list_table_problem.html' %}
                        </td>
                    </tr>
                {% endfor %}
            {% else %}
                <tr>
                    <td class="text-center text-nowrap px-2" colspan="5">
                        추가된 자료가 없습니다.
                    </td>
                </tr>
            {% endif %}
            </tbody>
        </table>
    </div>
    <section class="d-flex align-items-center flex-wrap justify-content-center text-sm"
             data-target="#{{ info.target_id }}">
        <div class="p-2 me-auto ms-auto">
            {% include 'board/snippets/list_pagination.html' %}
        </div>
        <div class="p-2">
            {% include 'dashboard/snippets/list_filter_container.html' %}
        </div>
    </section>
</section>
