{% load static %}
{% load psat_filter %}

{% if info.type == 'likeDashboard' %}
    <tr class="table-warning">
        <td class="text-sm-center text-nowrap text-primary fw-bold px-2" colspan="5">
            {{ problem.liked_at|date:'Y.m.d' }}({{ problem.liked_at|date:'w'|int2kor }})
        </td>
    </tr>
{% elif info.type == 'rateDashboard' %}
    <tr class="table-warning">
        <td class="text-sm-center text-nowrap text-primary fw-bold px-2" colspan="5">
            {{ problem.rated_at|date:'Y.m.d' }}({{ problem.rated_at|date:'w'|int2kor }})
        </td>
    </tr>
{% elif info.type == 'answerDashboard' %}
    <tr class="table-warning">
        <td class="text-sm-center text-nowrap text-primary fw-bold px-2" colspan="5">
            {{ problem.answered_at|date:'Y.m.d' }}({{ problem.answered_at|date:'w'|int2kor }})
        </td>
    </tr>
{% endif %}