{% extends 'list.html' %}
{% load static %}
{% load psat_filter %}
{% load slippers %}
{% load partials %}

{% block head_title %}{{ info.title }}{% endblock head_title %}


{% block main %}
    {% partial list_main %}
{% endblock %}


{# Partial Template for POST request #}
{% startpartial list_main %}
    <section>
        {{ info|json_script:'info' }}
        <div class="pagetitle my-2">
            <h1>
                {{ info.icon|safe }}
                {{ info.title }}
            </h1>
        </div><!-- Page Title End -->
        <section class="section htmx-fade-out">
        {% #content_row class3='p-4' %}
            <nav>
                <div class="nav nav-tabs" id="nav-tab" role="tablist">
                    {% #nav_tab id='0' %}
                        {{ MENU_ICON_SET.like|safe }} 즐겨찾기
                    {% /nav_tab %}

                    {% #nav_tab id='1' %}
                        <span hx-trigger="load delay:0.3s" hx-target="#navContent1"
                              hx-get="{% url 'dashboard:rate_all' %}"
                              hx-swap="innerHtml">
                            {{ MENU_ICON_SET.rate|safe }} 난이도
                        </span>
                    {% /nav_tab %}

                    {% #nav_tab id='2' %}
                        <span hx-trigger="load delay:0.6s" hx-target="#navContent2"
                              hx-get="{% url 'dashboard:answer_all' %}"
                              hx-swap="innerHtml">
                            {{ MENU_ICON_SET.answer|safe }} 정답확인
                        </span>
                    {% /nav_tab %}
                </div>
            </nav><!-- Navigation End -->
            <div class="tab-content" id="nav-tabContent">
                {% #nav_content id='0' %}
                    {% include 'dashboard/dashboard_list_content.html' %}
                {% /nav_content id='0' %}<!-- Like Tab End -->
                {% nav_content id='1' %}<!-- Rate End -->
                {% nav_content id='2' %}<!-- Answer Tab End -->
            </div>
        {% /content_row %}
        </section>
    </section><!-- Main Content End -->
{% endpartial %}
