{% load static %}
{% load psat_filter %}

<section id="dashboardProblemContent">
    <div class="table-responsive">
        <table class="table small">
            <tbody>
            {% for exam_list in TOTAL.exam_list %}
                <tr>
                    <th class="text-center text-nowrap lh-lg col-1">
                        {{ exam_list.exam2 }}
                    </th>
                    <td class="lh-lg">
                        {% for exam in TOTAL.list %}
                            {% if exam.ex == exam_list.ex %}
                                <a class="px-1 d-inline-block text-decoration-none link"
                                   href="{% url 'psat:problem_list' exam.year exam.ex '전체' %}">
                                    {{ exam.year }}년
                                </a>
                            {% endif %}
                        {% endfor %}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</section>
