{% load static %}
{% load psat_filter %}
{% load partials %}

{% startpartial datetime %}
    <tr class="table-warning small">
        {% if info.type == 'likeDashboard' %}
            <td class="text-start text-nowrap text-primary fw-bold px-2" colspan="5">
                {{ problem.liked_at|date:'Y.m.d' }}({{ problem.liked_at|date:'w'|int2kor }})
            </td>
        {% elif info.type == 'rateDashboard' %}
            <td class="text-start text-nowrap text-primary fw-bold px-2" colspan="5">
                {{ problem.rated_at|date:'Y.m.d' }}({{ problem.rated_at|date:'w'|int2kor }})
            </td>
        {% elif info.type == 'answerDashboard' %}
            <td class="text-start text-nowrap text-primary fw-bold px-2" colspan="5">
                {{ problem.answered_at|date:'Y.m.d' }}({{ problem.answered_at|date:'w'|int2kor }})
            </td>
        {% endif %}
    </tr>
{% endpartial %}

<section>
    {{ info|json_script:'info' }}
    <div class="table-responsive">
        <table class="table">
            <thead>
                {% include 'psat/snippets/list_table_header.html' %}
            </thead>
            <tbody>
            {% if page_obj %}
                {% for problem in page_obj %}
                    {% ifchanged %}{% partial datetime %}{% endifchanged %}
                    <tr>
                        <td class="text-nowrap p-2 col-1">
                            {% include 'psat/snippets/problem_reference.html' %}
                            {% include 'psat/snippets/icon_container.html' %}
                            <div class="d-sm-none pt-2">
                                {% include 'psat/snippets/list_table_problem.html' %}
                            </div>
                        </td>
                        <td class="d-none d-sm-table-cell text-start text-nowrap p-2">
                            {% include 'psat/snippets/list_table_problem.html' %}
                        </td>
                    </tr>
                {% endfor %}
            {% else %}
                <tr>
                    <td class="text-center text-nowrap px-2" colspan="5">
                        추가된 자료가 없습니다.
                    </td>
                </tr>
            {% endif %}
            </tbody>
        </table>
    </div>
    <section class="d-flex flex-wrap">
        <div class="p-2 me-auto ms-auto">
            {% include 'board/list_pagination.html' %}
        </div>
        <div class="p-2">
            {% include 'dashboard/snippets/list_filter_container.html' %}
        </div>
    </section>
</section>
