<div class="d-inline-block d-md-flex align-items-center justify-content-end gap-1 cursor-pointer"
     hx-target="#main" hx-swap="innerHTML swap:0.25s">
    {% if user.is_authenticated %}
        <a id="leetRate{{ problem.id }}" class="htmx-fade-in htmx-fade-out"
           data-bs-toggle="modal" data-bs-target="#modalContainer"
           hx-target="#modalContainer" hx-get="{{ problem.get_rate_url }}">
            {{ problem.icon_rate|safe }}
        </a>

        <a class="htmx-fade-in htmx-fade-out" hx-target="this"
           hx-post="{{ problem.get_like_url }}">
            {{ problem.icon_like|safe }}
        </a>

        <a id="leetSolve{{ problem.id }}" class="htmx-fade-in htmx-fade-out"
           hx-get="{{ problem.get_absolute_url }}">
            {{ problem.icon_solve|safe }}
        </a>

        <a id="leetMemo{{ problem.id }}" class="htmx-fade-in htmx-fade-out"
           hx-get="{{ problem.get_absolute_url }}">
            {{ problem.icon_memo|safe }}
        </a>

        <a id="leetTag{{ problem.id }}" class="htmx-fade-in htmx-fade-out"
           hx-get="{{ problem.get_absolute_url }}">
            {{ problem.icon_tag|safe }}
        </a>

        <a id="leetCollection{{ problem.id }}" class="htmx-fade-in htmx-fade-out"
           data-bs-toggle="modal" data-bs-target="#modalContainer"
           hx-target="#modalContainer" hx-get="{{ problem.get_collect_url }}">
            {{ problem.icon_collection|safe }}
        </a>
    {% else %}
        <a class="text-secondary"
           data-bs-toggle="modal" data-bs-target="#modalContainer"
           hx-target="#modalContainer" hx-get="{% url 'account_login_modal' %}">
            {{ problem.icon_like|safe }}
            {{ problem.icon_rate|safe }}
            {{ problem.icon_solve|safe }}
            {{ problem.icon_memo|safe }}
        </a>
    {% endif %}
</div>
