{% #modal header='정답 확인' %}
    <input type="text" name="answer" value="{{ answer }}" aria-label="Answer" hidden/>
    {% if is_correct is None %}
        <h5 class="modal-title fw-bold text-danger">정답을 선택해주세요.</h5>
    {% else %}
        <span id="leetSolve{{ problem.id }}" hx-swap-oob="innerHTML">
            {{ icon_solve|safe }}
        </span>
        <h5 class="modal-title mx-auto fw-bold">
            {% if is_correct %}
                <span class="text-success">정답입니다.</span>
            {% else %}
                <span class="text-danger">오답입니다. 다시 풀어보세요.</span>
            {% endif %}
        </h5>
    {% endif %}
{% /modal %}
