{% extends 'list.html' %}
{% load crispy_forms_field %}

{% block main %}
    {% include 'snippets/page_title.html' %}

    <section class="section htmx-fade-in htmx-fade-out"
             hx-target="#main" hx-swap="innerHTML swap:0.25s show:window:top">
        <div class="row">
            <div class="col-lg-6" aria-label="{{ config.menu_title.kor }} 새 시험 추가">
                <div id="examCard" class="card">
                    <div id="examCardHeader" class="card-header">{{ config.menu_title.kor }} 새 시험 추가</div>

                    <div class="card-body htmx-fade-in htmx-fade-out">
                        <form enctype="multipart/form-data"
                              hx-post="{{ config.url_exam_create }}">
                            {% if form.non_field_errors %}
                                <ul class="errorlist nonfield mb-3">
                                    <li>해당 정보로 입력된 시험 정보가 이미 존재합니다.</li>
                                </ul>
                            {% endif %}
                            {% for field in form %}
                                <div class="col-12 form-field-container">
                                    {% if field.name == 'answer_file' %}
                                        <div class="required-field mb-3">
                                            <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                                            {{ field }}
                                        </div>
                                        {% if field.help_text %}
                                            {{ field.help_text }}
                                        {% endif %}
                                    {% elif field.name == 'is_active' %}
                                        <div class="form-check form-switch required-field mb-3">
                                            {{ field }}
                                            <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                                        </div>
                                        {% if field.help_text %}
                                            {{ field.help_text }}
                                        {% endif %}
                                    {% else %}
                                        <div class="form-floating required-field mb-3">
                                            {{ field }}
                                            <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                                        </div>
                                        {% if field.help_text %}
                                            {{ field.help_text }}
                                        {% endif %}
                                    {% endif %}
                                </div>
                            {% endfor %}

                            <div class="d-flex justify-content-end">
                                <div class="btn-group" role="group" aria-label="취소·등록 버튼">
                                    <a type="button" class="btn btn-outline-danger" hx-boost="true"
                                       href="{{ config.url_list }}">
                                        취소
                                    </a>
                                    <button type="submit" class="btn btn-primary">
                                        등록
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock main %}
