{% extends 'a_prime/_prime_base.html' %}
{% load static %}

{% block main_content %}
    <section class="section htmx-fade-in htmx-fade-out" hx-target="#main" hx-swap="innerHTML swap:0.25s">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title mb-0 text-center">
                            <img src="{% static 'image/prime/2025/psat/title.jpg' %}" class="mw-100" alt="Title"/>
                            <div class="fs-1 fw-bolder">성적 예측</div>
                            <a class="btn btn-outline-primary ms-auto mt-4" hx-boost="true"
                               href="{% url 'prime:result-list' %}">
                                성적 확인 페이지로 이동
                            </a>
                        </h5>
                    </div>
                </div>
            </div>

            <div class="col-12">
                <div class="card">
                    <div class="card-header">시험 목록</div>

                    <div class="card-body">
                        <article class="table-responsive">
                            <table class="table align-middle">
                                <thead>
                                    <tr class="text-center table-warning">
                                        <th class="text-primary text-nowrap p-2 col-1">회차</th>
                                        <th class="text-primary text-nowrap p-2 col-1">수험번호</th>
                                        <th class="text-primary text-nowrap p-2 col-1">직렬</th>
                                        <th class="text-primary text-nowrap p-2 col-1">성적표</th>
                                        <th class="text-primary text-nowrap p-2 col-1">
                                            {{ icon_subject.헌법|safe }} 헌법
                                        </th>
                                        <th class="text-primary text-nowrap p-2 col-1">
                                            {{ icon_subject.언어|safe }} 언어
                                        </th>
                                        <th class="text-primary text-nowrap p-2 col-1">
                                            {{ icon_subject.자료|safe }} 자료
                                        </th>
                                        <th class="text-primary text-nowrap p-2 col-1">
                                            {{ icon_subject.상황|safe }} 상황
                                        </th>
                                        <th class="text-primary text-nowrap p-2 col-1">PSAT 평균</th>
                                    </tr>
                                </thead>

                                <tbody>
                                    {% if page_obj %}
                                        {% for obj in page_obj %}
                                            <tr class="text-center">
                                                {% partialdef exam_round inline=True %}
                                                    <td class="text-nowrap" aria-label="회차">
                                                        {% if obj.student %}
                                                            <a href="{{ obj.get_predict_detail_url }}" hx-boost="true">
                                                                제{{ obj.round }}회
                                                            </a>
                                                        {% else %}
                                                            제{{ obj.round }}회
                                                        {% endif %}
                                                    </td>
                                                {% endpartialdef %}

                                                {% if not user.is_authenticated %}
                                                    <td class="text-nowrap" colspan="8">
                                                        <a class="btn btn-outline-danger"
                                                           hx-boost="true"
                                                           hx-target="body" hx-swap="innerHTML swap:0.25s"
                                                           href="{% url 'account_login' %}?next={{ request.path }}">
                                                            로그인이 필요합니다
                                                        </a>
                                                    </td>
                                                {% else %}
                                                    {% if current_time < obj.page_opened_at %}
                                                        <td class="text-nowrap" colspan="8">
                                                            <a class="badge rounded-pill text-bg-danger" href=""
                                                               hx-headers='{"View-Type":"no_open"}'
                                                               hx-target="#modalContainer" hx-swap="innerHTML" hx-push-url="false"
                                                               data-bs-toggle="modal" data-bs-target="#modalContainer"
                                                               hx-get="{{ obj.get_predict_modal_url }}">
                                                                페이지 오픈 일시 : {{ obj.exam_started_at|date:'n/j(D) H:i' }}
                                                            </a>
                                                        </td>
                                                    {% elif current_time > obj.score_opened_at %}
                                                        <td class="text-nowrap" colspan="8">
                                                            <a class="badge rounded-pill text-bg-danger" href=""
                                                               hx-headers='{"View-Type":"no_open"}'
                                                               hx-target="#modalContainer" hx-swap="innerHTML" hx-push-url="false"
                                                               data-bs-toggle="modal" data-bs-target="#modalContainer"
                                                               hx-get="{{ obj.get_predict_modal_url }}">
                                                                성적 예측 기간이 지났습니다.
                                                            </a>
                                                        </td>
                                                    {% else %}
                                                        {% partial exam_info %}
                                                    {% endif %}
                                                {% endif %}
                                            </tr>
                                        {% endfor %}
                                    {% endif %}
                                </tbody>
                            </table>
                        </article>
                    </div>
                </div>
            </div>

        </div>
    </section>
{% endblock main_content %}

{% partialdef exam_info %}
    <td class="text-nowrap" aria-label="수험번호">
        {% if obj.student %}
            <a href="{{ obj.get_predict_detail_url }}" hx-boost="true">{{ obj.student.serial }}</a>
            {% partialdef delete_student inline=True %}
                {% if user.is_staff %}
                    <a class="badge rounded-pill text-bg-danger"
                       hx-confirm="수험 정보를 삭제하시겠습니까?"
                       href="" hx-post="{{ obj.get_predict_unregister_url }}">
                        삭제
                    </a>
                {% endif %}
            {% endpartialdef delete_student %}
        {% else %}
            {% partialdef input_button inline=True %}
                <a class="badge rounded-pill text-bg-warning" href=""
                   hx-headers='{"View-Type":"student_register"}'
                   hx-target="#modalContainer" hx-swap="innerHTML" hx-push-url="false"
                   data-bs-toggle="modal" data-bs-target="#modalContainer"
                   hx-get="{{ obj.get_predict_modal_url }}">
                    입력
                </a>
            {% endpartialdef input_button %}
        {% endif %}
    </td>

    <td class="text-nowrap" aria-label="직렬">
        {% if obj.student %}
            <a href="{{ obj.get_predict_detail_url }}" hx-boost="true">{{ obj.student.category.department }}</a>
            {% partial delete_student %}
        {% else %}
            {% partial input_button %}
        {% endif %}
    </td>

    <td class="text-nowrap" aria-label="성적표">
        {% if obj.student %}
            <a class="badge rounded-pill text-bg-success" hx-boost="true"
               href="{{ obj.get_predict_detail_url }}">
                확인
            </a>
        {% else %}
            <a class="badge rounded-pill text-bg-danger" href=""
               hx-headers='{"View-Type":"student_register"}'
               hx-target="#modalContainer" hx-swap="innerHTML" hx-push-url="false"
               data-bs-toggle="modal" data-bs-target="#modalContainer"
               hx-get="{{ obj.get_predict_modal_url }}">
                미응시
            </a>
        {% endif %}
    </td>

    {% if not obj.answer_all_confirmed %}
        <td class="text-nowrap" colspan="8">
            <span class="badge rounded-pill text-bg-warning">
                모든 답안을 제출해주세요.
            </span>
        </td>
    {% else %}
        {% if current_time < obj.exam_finished_at %}
            <td class="text-nowrap" colspan="8">
                <span class="badge rounded-pill text-bg-warning">
                    시험 종료 전입니다.
                </span>
            </td>
        {% elif current_time < obj.answer_official_opened_at %}
            <td class="text-nowrap" colspan="8">
                <span class="badge rounded-pill text-bg-warning">
                    정답 공개 전입니다.
                </span>
            </td>
        {% else %}
            {% for subject in subjects %}
                {% cycle obj.student.score.subject_0 obj.student.score.subject_1 obj.student.score.subject_2 obj.student.score.subject_3 obj.student.score.average as score silent %}
                <td aria-label="{{ subject.0 }}">
                    {{ score|floatformat:1 }}
                </td>
            {% endfor %}
        {% endif %}
    {% endif %}
{% endpartialdef exam_info %}
