{% extends 'list.html' %}
{% load static %}
{% load psat_filter %}
{% load humanize %}

{% block head_title %}{{ sub_title }}{% endblock %}
{% block page_image %}<meta property="og:image" content="{% static 'image/prime/2024/exam/message-1.jpg' %}"/>{% endblock %}

{% block main %}
    {% include 'snippets/page_title.html' %}

    <section class="section" hx-swap="innerHTML swap:0.25s">
        <div class="row">
            <div class="col-12" aria-label="시험 목록">
                <div class="card" hx-target="#main" hx-push-url="true">
                    <div class="card-header">
                        <div class="d-flex align-items-center">
                            <span>시험 목록 | 관리자 페이지</span>
                        </div>
                    </div>
                    <div class="card-body htmx-fade-in htmx-fade-out">
                        {% partial exam_list %}
                    </div>
                </div>
            </div>

            <div class="col-12" aria-label="참여자 목록">
                <div class="card">
                    <div class="card-header htmx-fade-in htmx-fade-out">
                        참여자 목록 | 관리자 페이지
                    </div>
                    <div class="card-body htmx-fade-in htmx-fade-out">
                        {% partial student_list %}
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock main %}

{% partialdef exam_list %}
    <article class="table-responsive">
        <table class="table table-bordered table-striped small align-middle">
            <thead>
                <tr class="text-center table-warning align-middle">
                    <th class="text-primary text-nowrap p-2">연도</th>
                    <th class="text-primary text-nowrap p-2">회차</th>
                    <th class="text-primary text-nowrap p-2">페이지 오픈 일시</th>
                    <th class="text-primary text-nowrap p-2">시험 시작 일시</th>
                    <th class="text-primary text-nowrap p-2">시험 종료 일시</th>
                    <th class="text-primary text-nowrap p-2">예상 정답 공개 일시</th>
                    <th class="text-primary text-nowrap p-2">공식 정답 공개 일시</th>
                </tr>
            </thead>
            <tbody>
                {% if exam_page_obj %}
                    {% for obj in exam_page_obj %}
                        <tr class="text-center">
                            <td class="text-nowrap p-2">{{ obj.get_year_display }}</td>
                            <td class="text-nowrap p-2">
                                {{ obj.get_round_display }}
                                <a class="btn btn-sm btn-outline-primary" hx-boost="true"
                                   href="{{ obj.get_admin_detail_url }}">
                                    클릭
                                </a>
                            </td>
                            <td class="text-nowrap p-2">{{ obj.page_opened_at|date:'Y.n.j(D) H:i' }}</td>
                            <td class="text-nowrap p-2">{{ obj.exam_started_at|date:'Y.n.j(D) H:i' }}</td>
                            <td class="text-nowrap p-2">{{ obj.exam_finished_at|date:'Y.n.j(D) H:i' }}</td>
                            <td class="text-nowrap p-2">{{ obj.answer_predict_opened_at|date:'Y.n.j(D) H:i' }}</td>
                            <td class="text-nowrap p-2">{{ obj.answer_official_opened_at|date:'Y.n.j(D) H:i' }}</td>
                        </tr>
                    {% endfor %}
                {% endif %}
            </tbody>
        </table>
    </article>

    <button class="btn btn-primary" hx-get="{{ config.url_exam_create  }}">시험 추가</button>
    <button class="btn btn-primary" hx-get="{{ config.url_problem_update  }}">정답 업데이트</button>
{% endpartialdef exam_list %}

{% partialdef student_list %}
    <article class="table-responsive">
        <table class="table table-bordered table-striped small align-middle">
            <thead>
                <tr class="text-center table-warning align-middle">
                    <th class="text-primary text-nowrap p-2" rowspan="2">ID</th>
                    <th class="text-primary text-nowrap p-2" rowspan="2">User ID</th>
                    <th class="text-primary text-nowrap p-2" rowspan="2">Username</th>
                    <th class="text-primary text-nowrap p-2" rowspan="2">연도</th>
                    <th class="text-primary text-nowrap p-2" rowspan="2">회차</th>
                    <th class="text-primary text-nowrap p-2" rowspan="2">수험번호</th>
                    <th class="text-primary text-nowrap p-2" rowspan="2">이름</th>
                    <th class="text-primary text-nowrap p-2" rowspan="2">모집단위</th>
                    <th class="text-primary text-nowrap p-2" rowspan="2">직렬</th>
                </tr>
            </thead>
            <tbody>
                {% if student_page_obj %}
                    {% for obj in student_page_obj %}
                        <tr class="text-center">
                            <td class="text-nowrap p-2">{{ obj.id }}</td>
                            <td class="text-nowrap p-2">{{ obj.user_id }}</td>
                            <td class="text-nowrap p-2">{{ obj.user.username }}</td>
                            <td class="text-nowrap p-2">{{ obj.student.psat.year }}</td>
                            <td class="text-nowrap p-2">{{ obj.student.psat.round }}</td>
                            <td class="text-nowrap p-2">{{ obj.student.serial }}</td>
                            <td class="text-nowrap p-2">{{ obj.student.name }}</td>
                            <td class="text-nowrap p-2">{{ obj.student.category.unit }}</td>
                            <td class="text-nowrap p-2">{{ obj.student.category.department }}</td>
                        </tr>
                    {% endfor %}
                {% endif %}
            </tbody>
        </table>
    </article>

    {% with page_obj=student_page_obj page_range=student_page_range %}
        {% if page_obj.has_next or page_obj.has_previous %}
            {% include 'a_prime/snippets/pagination.html' with header='student_list' %}
        {% endif %}
    {% endwith %}
{% endpartialdef student_list %}