{% extends 'list.html' %}
{% load static %}
{% load i18n %}
{% load psat_filter %}
{% load partials %}
{% load slippers %}

{% block head_title %}{{ title }}{% endblock head_title %}

{% block main %}
    {% partialdef list_main inline=True %}
        {{ info|json_script:'info' }}
        <div class="pagetitle">
            <h1>{{ title }}
                <span class="fs-6 text-secondary">{{ sub_title }}</span>
            </h1>
            <nav>
                <ol class="breadcrumb" hx-target="#main" hx-swap="innerHTML swap:0.25s" hx-push-url="true">
                    <li class="breadcrumb-item">
                        <a href="{% url 'index' %}" hx-post="{% url 'index' %}">Home</a>
                    </li>
                    <li class="breadcrumb-item">Score</li>
                    <li class="breadcrumb-item">
                        <a href="{% url 'score_prime:list' %}" hx-post="{% url 'score_prime:list' %}">Prime</a>
                    </li>
                    <li class="breadcrumb-item active">1st</li>
                </ol>
            </nav>
        </div><!-- Page Title End -->

        <section class="section htmx-fade-in htmx-fade-out"
                 hx-target="#main" hx-swap="innerHTML swap:0.25s" hx-push-url="true">
            {% #content_row class1='col-12' %}
                <h5 class="card-title mb-0">
                    <a class="btn btn-circle btn-sm btn-outline-secondary" title="{% trans 'List' %}"
                       href="{% url 'score_prime:list' %}" hx-post="{% url 'score_prime:list' %}">
                        {{ icon_nav.list|safe }}
                    </a>
                    <a class="btn btn-circle btn-sm btn-outline-secondary" title="{% trans 'Print' %}"
                       href="{% url 'score_prime:print' year round %}" target="_blank">
                        {{ icon_nav.print|safe }}
                    </a>
                </h5>
                <div>
                    {% partial student_info %}
                </div>
                <div>
                    {% include 'score/v2/snippets/score_sheet.html' with is_confirmed=True %}
                </div>
                <div>
                    {% include 'score/v2/snippets/score_answers.html' %}
                </div>
                <div>
                    {% include 'score/v2/snippets/score_chart.html' with is_confirmed=True %}
                </div>
            {% /content_row %}
        </section>
    {% endpartialdef list_main %}
{% endblock main %}


{% partialdef student_info %}
    <nav>
        <div class="nav nav-tabs nav-tabs-bordered" id="studentInfoTab" role="tablist">
            {% #nav_tab prefix='my' id='0' %}수험정보{% /nav_tab %}
        </div>
    </nav>
    <div class="tab-content" id="studentInfoContent">
        {% #nav_content prefix='info' id='0' %}
            {% #responsive_table %}
                <tbody>
                    <tr class="d-table-row d-md-none">
                        <td class="col-3 text-nowrap">수험번호</td>
                        <td>{{ student.serial }}</td>
                    </tr>
                    <tr class="d-table-row d-md-none">
                        <td>직렬</td>
                        <td>{{ student.department.name }}</td>
                    </tr>
                    <tr class="d-table-row d-md-none">
                        <td>이름</td>
                        <td>{{ student.name }}</td>
                    </tr>
                    <tr class="d-none d-md-table-row">
                        <td class="d-flex justify-content-between">
                            <span>수험번호 : {{ student.serial }}</span>
                            <span>직렬 : {{ student.department.name }}</span>
                            <span>이름 : {{ student.name }}</span>
                        </td>
                    </tr>
                </tbody>
            {% /responsive_table %}
        {% /nav_content %}
    </div>
{% endpartialdef student_info %}
