{% extends 'base.html' %}
{% load static %}
{% load psat_filter %}
{% load humanize %}

{% block head_title %}{{ leet.name }}_성적일람표{% endblock head_title %}
{% block page_image %}<meta property="og:image" content="{% static 'image/prime/2024/exam/message-1.jpg' %}"/>{% endblock %}
{% block google_adsense %}{% endblock %}

{% block html_body %}
<body class="bg-white">
    {{ info|json_script:'info' }}
    <h2 class="fw-bold text-center mb-4">{{ leet.name }} 성적일람표</h2>
    <div class="mb-2">
        <table class="table table-sm table-bordered small align-middle">
            <thead>
                <tr class="text-center small align-middle">
                    <th class="text-nowrap" rowspan="2">등수</th>
                    <th class="text-nowrap" rowspan="2">이름<br/>수험번호</th>
                    <th class="text-nowrap" rowspan="2">1지망<br/>2지망</th>
                    <th class="text-nowrap" rowspan="2">출신대학<br/>전공</th>
                    <th class="text-nowrap" rowspan="2">학점(GPA)<br/>공인 영어성적</th>

                    <th class="text-nowrap" colspan="4">총점</th>
                    <th class="text-nowrap" colspan="4">언어이해</th>
                    <th class="text-nowrap" colspan="4">추리논증</th>
                </tr>

                <tr class="text-center small align-middle">
                    {% for _ in '전12' %}
                        <th class="td-right-no-border">점수</th>
                        <th class="td-left-no-border td-right-no-border">전체<br/>석차</th>
                        <th class="td-left-no-border td-right-no-border">1지망<br/>석차</th>
                        <th class="td-left-no-border">2지망<br/>석차</th>
                    {% endfor %}
                </tr>
            </thead>
            <tbody>
                {% for obj in student_list %}
                    <tr class="text-center small align-middle">
                        <th>{{ obj.stats.sum.rank_info.rank.integer }}</th>
                        <th class="text-nowrap">{{ obj.name }}<br/>{{ obj.serial }}</th>
                        <td class="text-nowrap">
                            {% if obj.aspiration_1 or obj.aspiration_2 %}
                                {{ obj.aspiration_1 }}<br/>{{ obj.aspiration_2 }}
                            {% endif %}
                        </td>
                        <td class="text-nowrap">
                            {% if obj.school or obj.major %}
                                {{ obj.school }}<br/>{{ obj.major }}
                            {% endif %}
                        </td>
                        <td class="text-nowrap">
                            {% if obj.gpa or obj.gpa_type or obj.english or ob.english_type %}
                                {{ obj.gpa }} / {{ obj.gpa_type }}
                                <br/>
                                {{ obj.english }} / {{ obj.english_type }}
                            {% endif %}
                        </td>

                        {% for stat in obj.stats.values %}
                            <td class="text-nowrap td-right-no-border">
                                <span class="text-primary fw-bold">{{ stat.score|floatformat:1 }}</span><br/>
                                {{ stat.raw_score }}
                            </td>
                            {% for rank in stat.rank_info.values %}
                                <td class="text-nowrap td-left-no-border td-right-no-border">
                                    {% if rank.integer and rank.ratio %}
                                        <span class="text-primary fw-bold">{{ rank.ratio }}</span><br/>
                                        {{ rank.integer }}
                                    {% endif %}
                                </td>
                            {% endfor %}
                        {% endfor %}
                    </tr>
                {% empty %}
                    <tr class="text-center">
                        <td class="text-nowrap p-2" colspan="31">자료가 없습니다.</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <script>setupPrintOnLoad();</script>
</body>
{% endblock html_body %}
