{% extends 'a_prime_leet/_prime_leet_base.html' %}

{% block main_content %}
    <section class="section" hx-swap="innerHTML swap:0.25s">
        <div class="row">
            <div class="col-12" aria-label="시험 목록">
                <div class="card" hx-target="#main" hx-push-url="true">
                    <div class="card-header">시험 목록 | 관리자 페이지</div>

                    <div class="card-body htmx-fade-in htmx-fade-out">
                        {% partial exam_list %}
                    </div>
                </div>
            </div>

            <div class="col-12" aria-label="참여자 목록">
                <div class="card">
                    <div class="card-header htmx-fade-in htmx-fade-out">
                        참여자 목록 | 관리자 페이지
                    </div>
                    <div class="card-body htmx-fade-in htmx-fade-out">
                        {% partial student_list %}
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock main_content %}

{% partialdef exam_list %}
    <article class="table-responsive">
        <table class="table table-bordered table-striped align-middle">
            <thead>
                <tr class="text-center table-warning align-middle">
                    <th class="text-primary text-nowrap">연도</th>
                    <th class="text-primary text-nowrap">종류</th>
                    <th class="text-primary text-nowrap">회차</th>
                    <th class="text-primary text-nowrap">시험명</th>
                    <th class="text-primary text-nowrap">성적<br/>결과</th>
                    <th class="text-primary text-nowrap">페이지<br/>오픈일</th>
                    <th class="text-primary text-nowrap">시험일</th>
                    <th class="text-primary text-nowrap">시험<br/>시작</th>
                    <th class="text-primary text-nowrap">시험<br/>종료</th>
                    <th class="text-primary text-nowrap">예상 정답<br/>공개</th>
                    <th class="text-primary text-nowrap">공식 정답<br/>공개</th>
                </tr>
            </thead>
            <tbody>
                {% if exam_page_obj %}
                    {% for obj in exam_page_obj %}
                        <tr class="text-center">
                            <td class="text-nowrap">{{ obj.get_year_display }}</td>
                            <td class="text-nowrap">{{ obj.exam }}</td>
                            <td class="text-nowrap">{% if obj.round %}{{ obj.round }}{% endif %}</td>
                            <td class="text-nowrap">{{ obj.name|default_if_none:'' }}</td>
                            <td class="text-nowrap">
                                <a class="btn btn-sm btn-outline-primary" hx-boost="true"
                                   href="{{ obj.get_admin_result_detail_url }}">
                                    클릭
                                </a>
                            </td>
                            <td class="text-nowrap">{{ obj.page_opened_at|date:'Y.n.j(D)' }}</td>
                            <td class="text-nowrap">{{ obj.exam_started_at|date:'Y.n.j(D)' }}</td>
                            <td class="text-nowrap">{{ obj.exam_started_at|date:'H:i' }}</td>
                            <td class="text-nowrap">{{ obj.exam_finished_at|date:'H:i' }}</td>
                            <td class="text-nowrap">{{ obj.answer_predict_opened_at|date:'H:i' }}</td>
                            <td class="text-nowrap">{{ obj.answer_official_opened_at|date:'H:i' }}</td>
                        </tr>
                    {% endfor %}
                {% endif %}
            </tbody>
        </table>
    </article>

    <button class="btn btn-primary" hx-get="{{ config.url_exam_create  }}">시험 추가</button>
    <button class="btn btn-primary" hx-get="{{ config.url_problem_update  }}">정답 업데이트</button>
{% endpartialdef exam_list %}

{% partialdef student_list %}
    <article class="table-responsive">
        <table class="table table-bordered table-striped align-middle">
            <thead>
                <tr class="text-center table-warning align-middle">
                    <th class="text-primary text-nowrap" rowspan="2">ID</th>
                    <th class="text-primary text-nowrap" rowspan="2">User ID</th>
                    <th class="text-primary text-nowrap" rowspan="2">Username</th>
                    <th class="text-primary text-nowrap" rowspan="2">연도</th>
                    <th class="text-primary text-nowrap" rowspan="2">회차</th>
                    <th class="text-primary text-nowrap" rowspan="2">수험번호</th>
                    <th class="text-primary text-nowrap" rowspan="2">이름</th>
                </tr>
            </thead>
            <tbody>
                {% if student_page_obj %}
                    {% for obj in student_page_obj %}
                        <tr class="text-center">
                            <td class="text-nowrap">{{ obj.id }}</td>
                            <td class="text-nowrap">{{ obj.user_id }}</td>
                            <td class="text-nowrap">{{ obj.user.username }}</td>
                            <td class="text-nowrap">{{ obj.student.leet.year }}</td>
                            <td class="text-nowrap">{{ obj.student.leet.round }}</td>
                            <td class="text-nowrap">{{ obj.student.serial }}</td>
                            <td class="text-nowrap">{{ obj.student.name }}</td>
                        </tr>
                    {% endfor %}
                {% endif %}
            </tbody>
        </table>
    </article>

    {% with page_obj=student_page_obj page_range=student_page_range %}
        {% if page_obj.has_next or page_obj.has_previous %}
            {% include 'a_prime/snippets/pagination.html' with header='student_list' %}
        {% endif %}
    {% endwith %}
{% endpartialdef student_list %}