{% extends 'a_prime_leet/_prime_leet_base.html' %}
{% load crispy_forms_field %}

{% block main_content %}
    <section class="section htmx-fade-in htmx-fade-out"
             hx-target="#main" hx-swap="innerHTML swap:0.25s show:window:top">
        <div class="row">
            <div class="col-lg-6" aria-label="{{ title }}">
                <div id="examCard" class="card">
                    <div id="examCardHeader" class="card-header">{{ title }}</div>

                    <div class="card-body htmx-fade-in htmx-fade-out">
                        <form enctype="multipart/form-data" method="post">
                            {% csrf_token %}
                            {{ form.non_field_errors }}
                            {% partialdef form_field inline=True %}
                                {% for field in form %}
                                    <div id="{{ field.id_for_label }}_container" class="col-12 form-field-container">
                                        {% if field.errors %}
                                            {{ field.errors }}
                                        {% endif %}
                                        {% if field.name == 'file' %}
                                            <div class="required-field mb-3">
                                                <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                                                {{ field }}
                                            </div>
                                        {% elif field.name == 'is_active' %}
                                            <div class="form-check form-switch required-field mb-3">
                                                {{ field }}
                                                <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                                            </div>
                                        {% else %}
                                            <div class="form-floating required-field mb-3">
                                                {{ field }}
                                                <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                                            </div>
                                        {% endif %}
                                        {% if field.help_text %}
                                            {{ field.help_text }}
                                        {% endif %}
                                    </div>
                                {% endfor %}
                            {% endpartialdef form_field %}

                            <div class="d-flex justify-content-end">
                                <div class="btn-group" role="group" aria-label="취소·등록 버튼">
                                    <a type="button" class="btn btn-outline-danger" hx-boost="true"
                                       href="{{ config.url_list }}">
                                        취소
                                    </a>
                                    <button type="submit" class="btn btn-primary">
                                        등록
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock main_content %}
