{% extends 'base.html' %}
{% load static %}
{% load psat_filter %}
{% load humanize %}

{% block head_title %}{{ leet.name }}_성적통계{% endblock head_title %}
{% block page_image %}<meta property="og:image" content="{% static 'image/prime/2024/exam/message-1.jpg' %}"/>{% endblock %}
{% block google_adsense %}{% endblock %}

{% block html_body %}
<body class="bg-white">
    {{ info|json_script:'info' }}
    <h2 class="fw-bold text-center mb-4">{{ leet.name }} 성적통계</h2>
    {% with statistics=data_statistics table_title='전체 데이터' %}{% partial statistics_table %}{% endwith %}
    {% if model_type == 'predict' %}
        {% with statistics=filtered_data_statistics table_title='필터링 데이터' %}{% partial statistics_table %}{% endwith %}
    {% endif %}

    <script>
        window.onload = function () {
            setTimeout(function () {
                window.print();
            }, 1000);
        };
    </script>
</body>
{% endblock html_body %}

{% partialdef statistics_table %}
    <div class="mb-2">
        <table class="table table-sm table-bordered small align-middle">
            <thead>
                <tr class="text-center small align-middle">
                    <th rowspan="3">지망 대학</th>
                    <th rowspan="3">응시 인원<br/>(명)</th>
                    <th colspan="15">표준점수(점)</th>
                </tr>
                <tr class="text-center small align-middle">
                    <th colspan="5">총점</th>
                    <th colspan="5">언어이해</th>
                    <th colspan="5">추리논증</th>
                </tr>

                <tr class="text-center small align-middle">
                    {% for _ in '012' %}
                        <th>최고<br/>점수</th>
                        <th>상위<br/>10%</th>
                        <th>상위<br/>25%</th>
                        <th>상위<br/>50%</th>
                        <th>평균<br/>점수</th>
                    {% endfor %}
                </tr>
            </thead>
            <tbody>
                {% for obj in statistics %}
                    <tr class="text-center small align-middle">
                        <th>{{ obj.aspiration|intcomma }}</th>
                        <th>{{ obj.sum.participants|intcomma }}</th>
                        {% for _ in '012' %}
                            {% cycle obj.sum obj.subject_0 obj.subject_1 as data_stat silent %}
                            <td>{{ data_stat.max|floatformat:1 }}</td>
                            <td>{{ data_stat.t10|floatformat:1 }}</td>
                            <td>{{ data_stat.t25|floatformat:1 }}</td>
                            <td>{{ data_stat.t50|floatformat:1 }}</td>
                            <td>{{ data_stat.avg|floatformat:1 }}</td>
                        {% endfor %}
                    </tr>
                {% empty %}
                    <tr class="text-center">
                        <td class="text-nowrap p-2" colspan="22">자료가 없습니다.</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <div class="mb-2">
        <table class="table table-sm table-bordered small align-middle">
            <thead>
                <tr class="text-center small align-middle">
                    <th rowspan="3">지망 대학</th>
                    <th rowspan="3">응시 인원<br/>(명)</th>
                    <th colspan="15">원점수(점)</th>
                </tr>
                <tr class="text-center small align-middle">
                    <th colspan="5">총점</th>
                    <th colspan="5">언어이해</th>
                    <th colspan="5">추리논증</th>
                </tr>

                <tr class="text-center small align-middle">
                    {% for _ in '012' %}
                        <th>최고<br/>점수</th>
                        <th>상위<br/>10%</th>
                        <th>상위<br/>25%</th>
                        <th>상위<br/>50%</th>
                        <th>평균<br/>점수</th>
                    {% endfor %}
                </tr>
            </thead>
            <tbody>
                {% for obj in statistics %}
                    <tr class="text-center small align-middle">
                        <th>{{ obj.aspiration|intcomma }}</th>
                        <th>{{ obj.sum.participants|intcomma }}</th>
                        {% for _ in '012' %}
                            {% cycle obj.raw_sum obj.raw_subject_0 obj.raw_subject_1 as data_stat silent %}
                            <td>{{ data_stat.max|floatformat:1 }}</td>
                            <td>{{ data_stat.t10|floatformat:1 }}</td>
                            <td>{{ data_stat.t25|floatformat:1 }}</td>
                            <td>{{ data_stat.t50|floatformat:1 }}</td>
                            <td>{{ data_stat.avg|floatformat:1 }}</td>
                        {% endfor %}
                    </tr>
                {% empty %}
                    <tr class="text-center">
                        <td class="text-nowrap p-2" colspan="22">자료가 없습니다.</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endpartialdef %}