{% extends 'a_prime_leet/_prime_leet_base.html' %}

{% block main_content %}
    <section class="section" hx-swap="innerHTML swap:0.25s">
        <div class="row">
            <div class="col-12" aria-label="시험 목록">
                <div class="card" hx-target="#main" hx-push-url="true">
                    <div class="card-header">시험 목록</div>
                    <div class="card-body htmx-fade-in htmx-fade-out">
                        {% partial exam_list %}
                    </div>
                </div>
            </div>

            {% if request.user.is_superuser %}
                <div class="col-12" aria-label="참여자 목록">
                    <div class="card">
                        <div class="card-header">참여자 목록</div>
                        <div class="card-body htmx-fade-in htmx-fade-out">
                            {% partial student_list %}
                        </div>
                    </div>
                </div>
            {% endif %}
        </div>
    </section>
{% endblock main_content %}

{% partialdef exam_list %}
    <article class="table-responsive">
        <table class="table table-bordered table-striped align-middle">
            <thead>
                <tr class="text-center table-warning align-middle">
                    {% if user.is_superuser %}
                        <th class="text-primary text-nowrap">활성</th>
                    {% endif %}
                    <th class="text-primary text-nowrap">시험명</th>
                    <th class="text-primary text-nowrap">성적<br/>예측</th>
                    <th class="text-primary text-nowrap">성적<br/>결과</th>
                    <th class="text-primary text-nowrap">가상<br/>결과</th>
                    <th class="text-primary text-nowrap">페이지 오픈일<br/>시험일</th>
                    <th class="text-primary text-nowrap">시험 시간</th>
                    <th class="text-primary text-nowrap">정답 공개<br/>시각</th>
                </tr>
            </thead>
            <tbody>
                {% if exam_page_obj %}
                    {% for obj in exam_page_obj %}
                        <tr class="text-center small">
                            {% if user.is_superuser %}
                                <td class="text-nowrap" aria-label="활성">
                                    <form class="d-flex justify-content-center"
                                          hx-trigger="change" hx-swap="none" hx-push-url="false"
                                          hx-post="{{ obj.get_admin_leet_active_url }}">
                                        <div class="form-check form-switch">
                                            <input class="form-check-input" type="checkbox" name="is_active" value="true"
                                                   aria-label="활성"{% if obj.is_active %} checked{% endif %}>
                                        </div>
                                    </form>
                                </td>
                            {% endif %}
                            <td class="text-nowrap">
                                <div class="text-start">{{ obj.name }}</div>
                            </td>
                            <td class="text-nowrap">
                                <a class="btn btn-sm btn-outline-primary" hx-boost="true"
                                   href="{{ obj.get_admin_predict_detail_url }}">
                                    클릭
                                </a>
                            </td>
                            <td class="text-nowrap">
                                <a class="btn btn-sm btn-outline-primary" hx-boost="true"
                                   href="{{ obj.get_admin_result_detail_url }}">
                                    클릭
                                </a>
                            </td>
                            <td class="text-nowrap">
                                <a class="btn btn-sm btn-outline-primary" hx-boost="true"
                                   href="{{ obj.get_admin_fake_detail_url }}">
                                    클릭
                                </a>
                            </td>
                            <td class="text-nowrap">
                                {{ obj.page_opened_at|date:'Y.n.d(D)' }}<br/>{{ obj.exam_started_at|date:'Y.n.d(D)' }}
                            </td>
                            <td class="text-nowrap">
                                {{ obj.exam_started_at|date:'H:i' }}~{{ obj.exam_finished_at|date:'H:i' }}
                            </td>
                            <td class="text-nowrap">{{ obj.answer_official_opened_at|date:'H:i' }}</td>
                        </tr>
                    {% endfor %}
                {% endif %}
            </tbody>
        </table>
    </article>
    {% include 'a_prime/snippets/pagination.html' with page_obj=exam_page_obj page_range=exam_page_range header='exam_list' %}

    {% if user.is_superuser %}
        <button class="btn btn-primary" hx-get="{{ config.url_leet_create  }}">시험 추가</button>
        <button class="btn btn-primary" hx-get="{{ config.url_problem_update  }}">정답 업데이트</button>
    {% endif %}
{% endpartialdef exam_list %}

{% partialdef student_list %}
    <article class="table-responsive">
        <table class="table table-bordered table-striped align-middle">
            <thead>
                <tr class="text-center table-warning align-middle">
                    <th class="text-primary text-nowrap" rowspan="2">ID</th>
                    <th class="text-primary text-nowrap" rowspan="2">성적 확인 일시</th>
                    <th class="text-primary text-nowrap" rowspan="2">이름<hr class="m-0">수험번호</th>
                    <th class="text-primary text-nowrap" rowspan="2">사용자명<hr class="m-0">사용자ID</th>
                    <th class="text-primary text-nowrap" rowspan="2">시험명</th>
                </tr>
            </thead>
            <tbody>
                {% if student_page_obj %}
                    {% for obj in student_page_obj %}
                        <tr class="text-center">
                            <td class="text-nowrap">{{ obj.id }}</td>
                            <td class="text-nowrap">{{ obj.created_at }}</td>
                            <td class="text-nowrap">
                                {{ obj.student.name }}<hr class="m-0">{{ obj.student.serial }}
                            </td>
                            <td class="text-nowrap">
                                {{ obj.user.username }}<hr class="m-0">{{ obj.user_id }}
                            </td>
                            <td class="text-nowrap">
                                <div class="text-start">{{ obj.student.leet.name }}</div>
                            </td>
                        </tr>
                    {% endfor %}
                {% endif %}
            </tbody>
        </table>
    </article>

    {% include 'a_prime/snippets/pagination.html' with page_obj=student_page_obj page_range=student_page_range header='student_list' %}
{% endpartialdef student_list %}