{% extends 'base.html' %}
{% load static %}
{% load psat_filter %}
{% load humanize %}

{% block head_title %}{{ leet.name }}_성적통계{% endblock head_title %}
{% block page_image %}<meta property="og:image" content="{% static 'image/prime/2024/exam/message-1.jpg' %}"/>{% endblock %}
{% block google_adsense %}{% endblock %}

{% block html_body %}
<body class="bg-white">
    {{ info|json_script:'info' }}
    <h2 class="fw-bold text-center mb-4">{{ leet.name }} 성적통계</h2>
    {% with statistics=data_statistics table_title='전체 데이터' %}{% partial statistics_table %}{% endwith %}
    {% if model_type == 'predict' %}
        {% with statistics=filtered_data_statistics table_title='필터링 데이터' %}{% partial statistics_table %}{% endwith %}
    {% endif %}

    <script>setupPrintOnLoad();</script>
</body>
{% endblock html_body %}

{% partialdef statistics_table %}
    <div class="mb-2">
        <table class="table table-sm table-bordered small align-middle">
            <thead>
                <tr class="text-center small align-middle">
                    <th rowspan="2">지망 대학</th>
                    <th colspan="2">응시 인원(명)</th>
                    <th colspan="5">총점</th>
                    <th colspan="5">언어이해</th>
                    <th colspan="5">추리논증</th>
                </tr>

                <tr class="text-center small align-middle">
                    <th class="text-nowrap td-right-no-border">전체</th>
                    <th class="text-nowrap td-left-no-border">1지망<br/>2지망</th>

                    {% for _ in '총언추' %}
                    <th class="text-nowrap td-right-no-border">최고<br/>점수</th>
                    <th class="text-nowrap td-left-no-border td-right-no-border">상위<br/>10%</th>
                    <th class="text-nowrap td-left-no-border td-right-no-border">상위<br/>25%</th>
                    <th class="text-nowrap td-left-no-border td-right-no-border">상위<br/>50%</th>
                    <th class="text-nowrap td-left-no-border">평균<br/>점수</th>
                    {% endfor %}
                </tr>
            </thead>
            <tbody>
                {% for obj in statistics %}
                    <tr class="text-center small align-middle">
                        <th>{{ obj.aspiration }}</th>
                        <td class="text-nowrap td-right-no-border">
                            {{ obj.members.participants|default:''|intcomma }}
                        </td>
                        <td class="text-nowrap td-left-no-border">
                            {% if obj.members.participants_1 or obj.members.participants_2 %}
                                {{ obj.members.participants_1|default:0|intcomma }}<br/>
                                {{ obj.members.participants_2|default:0|intcomma }}
                            {% endif %}
                        </td>

                        {% for distribution in obj.distribution.values %}
                            {% for stat in distribution.values %}
                                <td class="text-nowrap {% if not forloop.first %}td-left-no-border {% endif %}td-right-no-border">
                                    <span class="text-primary fw-bold">{{ stat.score|floatformat:1 }}</span><br/>
                                    {{ stat.raw_score|floatformat:0 }}
                                </td>
                            {% endfor %}
                        {% endfor %}
                    </tr>
                {% empty %}
                    <tr class="text-center">
                        <td class="text-nowrap p-2" colspan="22">자료가 없습니다.</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endpartialdef %}