{% extends 'base.html' %}
{% load static %}
{% load psat_filter %}
{% load humanize %}

{% block head_title %}{{ leet.name }}_문항분석표{% endblock head_title %}
{% block page_image %}<meta property="og:image" content="{% static 'image/prime/2024/exam/message-1.jpg' %}"/>{% endblock %}
{% block google_adsense %}{% endblock %}

{% block html_body %}
<body class="bg-white">
    {{ info|json_script:'info' }}
    <h2 class="fw-bold text-center mb-4">{{ leet.name }} 문항분석표</h2>
    <div class="mb-2">
        <table class="table table-sm table-bordered small align-middle">
            <thead>
                <tr class="text-center small align-middle">
                    <th class="text-nowrap" rowspan="2">과목</th>
                    <th class="text-nowrap" rowspan="2">문제<br/>번호</th>
                    <th class="text-nowrap" rowspan="2">정답</th>
                    <th class="text-nowrap" colspan="2">정답률(%)</th>
                    {% for _ in '전상중하' %}
                        {% cycle '전체' '상위권' '중위권' '하위권' as rank_type silent %}
                        <th class="text-nowrap" colspan="6">[{{ rank_type }}] 답안 선택 현황</th>
                    {% endfor %}
                </tr>
                <tr class="text-center small align-middle">
                    <th class="text-nowrap" rowspan="2">전체[상/중/하]</th>
                    <th class="text-nowrap" rowspan="2">변별도</th>
                    {% for _ in '전상중하' %}
                        <th class="text-nowrap td-right-no-border">전체</th>
                        <th class="text-nowrap td-left-no-border td-right-no-border">①</th>
                        <th class="text-nowrap td-left-no-border td-right-no-border">②</th>
                        <th class="text-nowrap td-left-no-border td-right-no-border">③</th>
                        <th class="text-nowrap td-left-no-border td-right-no-border">④</th>
                        <th class="text-nowrap td-left-no-border">⑤</th>
                    {% endfor %}
                </tr>
            </thead>
            <tbody>
                {% for answers in answers_page_obj_group.values %}
                    {% for obj in answers %}
                        <tr class="text-center small">
                            <th class="text-nowrap">{{ obj.subject }}</th>
                            <th class="text-nowrap">{{ obj.no }}</th>
                            <th class="text-nowrap">{{ obj.ans_official_circle }}</th>

                            <td class="text-nowrap">
                                {% if obj.rate.correct.all %}
                                    <span class="fw-bold text-primary">{{ obj.rate.correct.all|floatformat:1 }}</span><br/>[
                                    {{ obj.rate.correct.top|floatformat:1|default:'-' }} /
                                    {{ obj.rate.correct.mid|floatformat:1|default:'-' }} /
                                    {{ obj.rate.correct.low|floatformat:1|default:'-' }} ]
                                {% endif %}
                            </td>
                            <td>{{ obj.rate.correct.gap|floatformat:1 }}</td>

                            {% for count in obj.rate.distribution.values %}
                                {% for cnt in count.values %}
                                    <td class="{% if not forloop.first %}td-left-no-border {% endif %}td-right-no-border">
                                        <span class="text-primary fw-bold">{{ cnt.ratio|default:'' }}</span>
                                        {{ cnt.integer|default:''|intcomma }}<br/>
                                    </td>
                                {% endfor %}
                            {% endfor %}
                        </tr>
                    {% endfor %}
                {% empty %}
                    <tr class="text-center">
                        <td class="text-nowrap p-2" colspan="40">자료가 없습니다.</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <script>setupPrintOnLoad();</script>
</body>
{% endblock html_body %}
