{% extends 'a_prime_leet/_prime_leet_base.html' %}
{% load static %}

{% block google_adsense %}{% endblock %}

{% block main_content %}
    {% if user.is_admin %}
        <section class="section" aria-label="업데이트 [{{ score_type }}]">
            <div class="row">
                <div class="col-12">
                    <div class="card" hx-swap="innerHTML swap:0.25s">
                        <div class="card-header">{{ leet.name }} | 업데이트 [{{ score_type }}]</div>
                        <div class="card-body">
                            <div class="row g-3">
                                <div class="col-md-6">
                                    <form enctype="multipart/form-data"
                                          hx-headers='{"View-Type":"answer_official"}'
                                          hx-target="#modalContainer" hx-swap="innerHTML" hx-push-url="false"
                                          hx-post="{{ config.url_admin_update }}">
                                        <div class="input-group">
                                            <input type="file" name="file" class="form-control" required id="id_file">
                                            <button class="btn btn-outline-secondary prevent_double_click" type="submit"
                                                    data-bs-toggle="modal" data-bs-target="#modalContainer">
                                                정답 업데이트</button>
                                        </div>
                                    </form>
                                </div>
                                {% if score_type == '결과' %}
                                    <div class="col-md-6">
                                        <form enctype="multipart/form-data"
                                              hx-headers='{"View-Type":"answer_student"}'
                                              hx-target="#modalContainer" hx-swap="innerHTML" hx-push-url="false"
                                              hx-post="{{ config.url_admin_update }}">
                                            <div class="input-group">
                                                <input type="file" name="file" class="form-control" required id="id_file">
                                                <button class="btn btn-outline-secondary prevent_double_click" type="submit"
                                                        data-bs-toggle="modal" data-bs-target="#modalContainer">
                                                    제출 답안 업데이트</button>
                                            </div>
                                        </form>
                                    </div>
                                {% endif %}

                                {% if score_type == '가상' %}
                                    <div class="col-md-6">
                                        <form enctype="multipart/form-data"
                                              hx-headers='{"View-Type":"fake_ref"}'
                                              hx-target="#modalContainer" hx-swap="innerHTML" hx-push-url="false"
                                              hx-post="{{ config.url_admin_update }}">
                                            <div class="input-group">
                                                <input type="file" name="file" class="form-control" required id="id_file">
                                                <button class="btn btn-outline-secondary prevent_double_click" type="submit"
                                                        data-bs-toggle="modal" data-bs-target="#modalContainer">
                                                    참고 자료 업데이트</button>
                                            </div>
                                        </form>
                                    </div>
                                    <div class="col-md-6">
                                        <form enctype="multipart/form-data"
                                              hx-headers='{"View-Type":"fake_data"}'
                                              hx-target="#modalContainer" hx-swap="innerHTML" hx-push-url="false"
                                              hx-post="{{ config.url_admin_update }}">
                                            <div class="input-group">
                                                <input type="file" name="file" class="form-control" required id="id_file">
                                                <button class="btn btn-outline-secondary prevent_double_click" type="submit"
                                                        data-bs-toggle="modal" data-bs-target="#modalContainer">
                                                    가상 답안 업데이트</button>
                                            </div>
                                        </form>
                                    </div>
                                {% endif %}

                                <div class="col-md-6 d-flex"
                                     hx-target="#modalContainer" hx-swap="innerHTML" hx-push-url="false">
                                    <div class="btn-group flex-fill">
                                        {% include 'a_prime_leet/snippets/admin_detail_update_button.html' with view_type='raw_score' button_name='원점수 업데이트' %}
                                        {% include 'a_prime_leet/snippets/admin_detail_update_button.html' with view_type='score' button_name='표준점수 업데이트' %}
                                    </div>
                                </div>

                                <div class="col-md-6 d-flex"
                                     hx-target="#modalContainer" hx-swap="innerHTML" hx-push-url="false">
                                    <div class="btn-group flex-fill">
                                        {% include 'a_prime_leet/snippets/admin_detail_update_button.html' with view_type='rank' button_name='등수 업데이트' %}
                                        {% include 'a_prime_leet/snippets/admin_detail_update_button.html' with view_type='statistics' button_name='통계 업데이트' %}
                                    </div>
                                </div>
                                <div class="col-md-6 d-flex"
                                     hx-target="#modalContainer" hx-swap="innerHTML" hx-push-url="false">
                                    <div class="btn-group flex-fill">
                                        {% include 'a_prime_leet/snippets/admin_detail_update_button.html' with view_type='answer_count' button_name='문항분석표 업데이트' %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    {% endif %}

    <section class="section" aria-label="성적 통계 [{{ score_type }}]">
        <div class="row">
            <div class="col-12">
                <div class="card" hx-swap="innerHTML swap:0.25s">
                    <div class="card-header">성적 통계 [{{ score_type }}]</div>
                    <div class="card-body">
                        <div class="row justify-content-md-end g-3 mb-3">
                            <div class="col-md-6 col-lg-5 col-xxl-4 d-flex">
                                <div class="btn-group flex-fill">
                                    <a class="btn btn-outline-secondary" title="목록" hx-target="#main"
                                       href="{{ config.url_list }}" hx-get="{{ config.url_list }}">
                                        목록
                                    </a>
                                    {% include 'a_prime_leet/snippets/admin_detail_export_button.html' with button_name='Excel로 내보내기' export_url=config.url_export_statistics_excel %}
                                    {% include 'a_prime_leet/snippets/admin_detail_export_button.html' with button_name='인쇄하기' export_url=config.url_statistics_print %}
                                </div>
                            </div>
                        </div>

                        <div id="statisticsContent" class="htmx-fade-in htmx-fade-out">
                            {% include 'a_prime_leet/snippets/admin_detail_statistics.html' %}
                        </div>
                        <div class="mt-3">
                            <span class="badge bg-success"><i class="fa-regular fa-circle-check"></i> 참고</span><br/>
                            <ol class="text-success small fw-bold m-0">
                                <li>전체 대학에 대한 '전체' 응시 인원은 총 응시생 수입니다.</li>
                                <li>각 대학별 '전체' 응시 인원은 각 대학에 1지망 또는 2지망으로 지원한 응시생 수의 합입니다.</li>
                                <li>윗줄은 표준점수를, 아랫줄은 원점수를 의미합니다.</li>
                                <li>해당 자료가 없거나 0일 경우 빈 칸으로 표시됩니다.</li>
                            </ol>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="section" aria-label="성적 분포 차트 [{{ score_type }}]">
        <div class="row">
            <div class="col-12">
                <div id="sheetChart" class="card">
                    <div class="card-header m-0">성적 분포 차트 [{{ score_type }}]</div>
                    <div class="card-body">
                        {% include 'a_prime_leet/snippets/admin_detail_chart.html' %}
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="section" aria-label="성적일람표 [{{ score_type }}]">
        <div class="row">
            <div class="col-12">
                <div class="card" hx-swap="innerHTML swap:0.25s">
                    <div class="card-header">성적일람표 [{{ score_type }}]</div>
                    <div class="card-body">
                        <div class="row justify-content-md-end g-3 mb-3">
                            <div class="col-md-6 col-lg-5 col-xxl-4 order-md-1 d-flex">
                                <div class="btn-group flex-fill">
                                    {% include 'a_prime_leet/snippets/admin_detail_export_button.html' with button_name='Excel로 내보내기' export_url=config.url_export_catalog_excel %}
                                    {% include 'a_prime_leet/snippets/admin_detail_export_button.html' with button_name='인쇄하기' export_url=config.url_catalog_print %}
                                </div>
                            </div>
                            <div class="col-md-6 col-lg-7 col-xxl-8 order-md-0 d-flex">
                                {% include 'a_prime_leet/snippets/admin_detail_search.html' %}
                            </div>
                        </div>

                        <div id="catalogContent" class="htmx-fade-in htmx-fade-out">
                            {% include 'a_prime_leet/snippets/admin_detail_catalog.html' %}
                        </div>
                        <div class="mt-3">
                            <span class="badge bg-success"><i class="fa-regular fa-circle-check"></i> 참고</span><br/>
                            <ol class="text-success small fw-bold m-0">
                                <li>점수 칸에서 윗줄은 표준점수를, 아랫줄은 원점수를 의미합니다.</li>
                                <li>석차 칸에서 윗줄은 등수를, 아랫줄은 퍼센트 등수를 의미합니다.</li>
                                <li>해당 자료가 없거나 0일 경우 빈 칸으로 표시됩니다.</li>
                            </ol>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    {% if registry_page_obj %}
        <section class="section" aria-label="성적 확인 목록 [{{ score_type }}]">
            <div class="row">
                <div class="col-12">
                    <div class="card" hx-swap="innerHTML swap:0.25s">
                        <div class="card-header">성적 확인 목록 [{{ score_type }}]</div>
                        <div class="card-body">
                            <div id="catalogContent" class="htmx-fade-in htmx-fade-out">
                                {% include 'a_prime_leet/snippets/admin_detail_registry.html' %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    {% endif %}

    <section class="section" aria-label="문항분석표 [{{ score_type }}]">
        <div class="row">
            <div class="col-12">
                <div class="card" hx-swap="innerHTML swap:0.25s">
                    <div class="card-header">문항분석표 [{{ score_type }}]</div>
                    <div class="card-body">
                        <div class="row justify-content-md-end g-3 mb-3">
                            <div class="col-md-6 col-lg-5 col-xxl-4 order-md-1 d-flex">
                                <div class="btn-group flex-fill">
                                    {% include 'a_prime/snippets/admin_detail_export_button.html' with button_name='Excel로 내보내기' export_url=config.url_export_answers_excel %}
                                    {% include 'a_prime/snippets/admin_detail_export_button.html' with button_name='인쇄하기' export_url=config.url_answers_print %}
                                </div>
                            </div>
                        </div>

                        <nav>
                            <div class="nav nav-tabs nav-tabs-colored" id="answerAnalysisTab" role="tablist">
                                {% for tab in answer_tab %}
                                    {% #nav_tab prefix='Answer' id=tab.id %}{{ tab.title }}{% /nav_tab %}
                                {% endfor %}
                            </div>
                        </nav>
                        <div id="answerAnalysisContent" class="tab-content">
                            {% for tab in answer_tab %}
                                {% cycle answers_page_obj_group.언어 answers_page_obj_group.추리 as answers silent %}
                                {% cycle answers_page_range_group.언어 answers_page_range_group.추리 as answers_page_range silent %}
                                {% #nav_content prefix='Answer' id=tab.id %}
                                    {% include 'a_prime_leet/snippets/admin_detail_answer.html' %}
                                {% /nav_content %}
                            {% endfor %}
                        </div>
                        <div class="mt-3">
                            <span class="badge bg-success"><i class="fa-regular fa-circle-check"></i> 참고</span><br/>
                            <ol class="text-success small fw-bold m-0">
                                <li>상/중/하위권은 상위 백분율 27%와 73%를 경계로 나뉩니다.</li>
                                <li>변별도는 상위권 정답률에서 하위권 정답률을 뺀 값입니다.</li>
                                <li>답안 선택 현황에서 윗줄은 학생수를, 아랫줄은 비율을 의미합니다.</li>
                                <li>해당 자료가 없거나 0일 경우 빈 칸으로 표시됩니다.</li>
                            </ol>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock main_content %}
