{% extends 'a_prime_leet/_prime_leet_base.html' %}
{% load static %}

{% block main_content %}
    <section class="section htmx-fade-in htmx-fade-out" hx-target="#main" hx-swap="innerHTML swap:0.25s">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title mb-0 text-center">
                            <div class="d-flex">
                                <div class="btn-group ms-auto">
                                    <a class="btn btn-outline-secondary" title="목록"
                                       href="{{ leet.get_predict_list_url }}" hx-boost="true">
                                        목록
                                    </a>
                                </div>
                            </div>
                            <div class="fs-1 fw-bolder my-4">{{ leet.name }} 성적표</div>
                        </h5>
                    </div>
                </div>
            </div>

            <div class="col-12" aria-label="수험 정보">
                <div id="info_student" class="card htmx-fade-in htmx-fade-out">
                    {% include 'a_prime_leet/snippets/detail_info_student.html' %}
                </div>
            </div>

            <div class="col-12" aria-label="답안 제출 현황">
                <div id="info_answer" class="card htmx-fade-in htmx-fade-out">
                    {% include 'a_prime_leet/snippets/predict_detail_info_answer.html' %}
                </div>
            </div>

            {% if current_time <= leet.answer_official_opened_at %}
                <div class="col-12" aria-label="예상 정답">
                    <div id="info_student" class="card htmx-fade-in htmx-fade-out">
                        {% include 'a_prime_leet/snippets/predict_detail_sheet_answer_predict.html' %}
                    </div>
                </div>
            {% else %}
                <div class="col-12" aria-label="성적 예측 I [전체 데이터]">
                    <div id="sheet_score" class="card htmx-fade-in htmx-fade-out">
                        {% include 'a_prime_leet/snippets/predict_detail_sheet_score_all.html' %}
                    </div>
                </div>
                {% if student.is_confirmed %}
                    <div class="col-12" aria-label="성적 예측 II [정답 공개 전 데이터]">
                        <div id="sheet_score" class="card htmx-fade-in htmx-fade-out">
                            {% include 'a_prime_leet/snippets/predict_detail_sheet_score_filtered.html' %}
                        </div>
                    </div>
                {% endif %}

                <div class="col-12" aria-label="성적 분포 차트">
                    <div id="chart" class="card htmx-fade-in htmx-fade-out">
                        {% include 'a_prime_leet/snippets/detail_chart.html' with is_confirmed=True stat_total=stat_total_all stat_department=stat_department_all %}
                    </div>
                </div>

                <div class="col-12" aria-label="정답 확인">
                    <div id="sheet_answer" class="card htmx-fade-in htmx-fade-out">
                        {% include 'a_prime_leet/snippets/predict_detail_sheet_answer_submit.html' %}
                    </div>
                </div>
            {% endif %}
        </div>
    </section>
{% endblock main_content %}
