{% load i18n %}
{% load psat_filter %}
{% load partials %}
{% load slippers %}

<nav>
    <div class="nav nav-tabs nav-tabs-colored" id="scoreAnswersTab" role="tablist">
        {% #nav_tab prefix='eoneo_answers' id='0' %}{{ icon_subject.언어|safe }} 언어{% /nav_tab %}
        {% #nav_tab prefix='jaryo_answers' id='1' %}{{ icon_subject.자료|safe }} 자료{% /nav_tab %}
        {% #nav_tab prefix='sanghwang_answers' id='2' %}{{ icon_subject.상황|safe }} 상황{% /nav_tab %}
        {% if answers_heonbeob %}
            {% #nav_tab prefix='heonbeob_answers' id='3' %}{{ icon_subject.헌법|safe }} 헌법{% /nav_tab %}
        {% endif %}
    </div>
</nav>

<div class="tab-content" id="scoreAnswersContent">
    {% #nav_content prefix='eoneo_answers' id='0' %}
        {% #responsive_table %}
            {% with answers=answers_eoneo rates=rates_eoneo %}
                {% partial confirmed_answer_table %}
            {% endwith %}
        {% /responsive_table %}
    {% /nav_content %}

    {% #nav_content prefix='jaryo_answers' id='1' %}
        {% #responsive_table %}
            {% with answers=answers_jaryo rates=rates_jaryo %}
                {% partial confirmed_answer_table %}
            {% endwith %}
        {% /responsive_table %}
    {% /nav_content %}

    {% #nav_content prefix='sanghwang_answers' id='2' %}
        {% #responsive_table %}
            {% with answers=answers_sanghwang rates=rates_sanghwang %}
                {% partial confirmed_answer_table %}
            {% endwith %}
        {% /responsive_table %}
    {% /nav_content %}

    {% if answers_heonbeob %}
        {% #nav_content prefix='heonbeob_answers' id='3' %}
            {% #responsive_table %}
                {% with answers=answers_heonbeob rates=rates_heonbeob %}
                    {% partial confirmed_answer_table %}
                {% endwith %}
            {% /responsive_table %}
        {% /nav_content %}
    {% endif %}
</div>

{% partialdef confirmed_answer_table %} {# confirmed_answer_table partial #}
    <tbody>

        {% with loop_counter=10 loop_min=0 %}
            {% partialdef answer_table_tr inline=True %} {# answer_table_tr partial #}
                <tr class="text-center table-warning">
                    <td></td>
                    {% for _ in 'x'|ljust:loop_counter %}
                        <td class="text-nowrap fw-bold text-secondary">
                            문 {{ forloop.counter|add:loop_min }}
                        </td>
                    {% endfor %}
                </tr>
                <tr class="text-center">
                    <td class="text-nowrap align-center">정답</td>
                    {% for answer in answers %}
                        {% if forloop.counter > loop_min and forloop.counter <= loop_min|add:loop_counter %}
                            <td>
                                <button class="btn btn-circle btn-sm fs-6 mx-1 my-2 btn-outline-secondary">
                                    {{ answer.answer_correct }}</button>
                            </td>
                        {% endif %}
                    {% endfor %}
                </tr>
                <tr class="text-center">
                    <td class="text-nowrap">제출 답안</td>
                    {% for answer in answers %}
                        {% if forloop.counter > loop_min and forloop.counter <= loop_min|add:loop_counter %}
                            <td>
                                <button class="btn btn-circle btn-sm fs-6 mx-1 my-2
                                    btn-{% if answer.result == 'O' %}success{% else %}danger{% endif %}">
                                    {{ answer.answer_student }}</button>
                            </td>
                        {% endif %}
                    {% endfor %}
                </tr>
                <tr class="text-center">
                    <td class="text-nowrap" >정답률(%)</td>
                    {% for rate in rates %}
                        {% if forloop.counter > loop_min and forloop.counter <= loop_min|add:loop_counter %}
                            <td>
                                <span data-number="{{ rate.number }}">
                                    {{ rate.correct|floatformat:0 }}
                                </span>
                            </td>
                        {% endif %}
                    {% endfor %}
                </tr>
            {% endpartialdef answer_table_tr %}
        {% endwith %}

        {% with loop_counter=10 loop_min=10 %}
            {% partial answer_table_tr %}
        {% endwith %}

        {% if ex == '칠급' or answers|length == 25  %}
            {% with loop_counter=5 loop_min=20 %}
                {% partial answer_table_tr %}
            {% endwith %}
        {% else %}
            {% with loop_counter=10 loop_min=20 %}
                {% partial answer_table_tr %}
            {% endwith %}

            {% with loop_counter=10 loop_min=30 %}
                {% partial answer_table_tr %}
            {% endwith %}
        {% endif %}
    </tbody>
{% endpartialdef confirmed_answer_table %}
