{% load psat_filter %}
{% load partials %}
{% load slippers %}


<nav>
    <div class="nav nav-tabs nav-tabs-bordered" id="scoreSheetTab" role="tablist">
        {% #nav_tab prefix='my' id='0' %}내 성적{% /nav_tab %}
        {% #nav_tab prefix='all' id='1' %}전체 기준{% /nav_tab %}
        {% #nav_tab prefix='department' id='2' %}직렬 기준{% /nav_tab %}
    </div>
</nav>
<div class="tab-content" id="scoreSheetContent">
    {% #nav_content prefix='my' id='0' %}
        {% #responsive_table %}
            <thead>
                <tr class="d-table-row d-md-none text-center align-middle table-warning">
                    <th class="text-nowrap" rowspan="2">과목</th>
                    <th class="text-nowrap" rowspan="2">내 점수<br/>(점)</th>
                    <th class="p-1" colspan="2">전체 석차</th>
                    <th class="p-1" colspan="2">직렬 석차</th>
                </tr>
                <tr class="d-table-row d-md-none text-center align-middle table-warning">
                    <th class="p-1">(등)</th>
                    <th class="p-1">(%)</th>
                    <th class="p-1">(등)</th>
                    <th class="p-1">(%)</th>
                </tr>

                <tr class="d-none d-md-table-row text-center align-middle table-warning">
                   <th class="col-1">과목</th>
                   <th class="col-1">내 점수(점)</th>
                   <th class="col-1">전체 석차(등)</th>
                   <th class="col-1">전체 석차(%)</th>
                   <th class="col-1">직렬 석차(등)</th>
                   <th class="col-1">직렬 석차(%)</th>
                </tr>
            </thead>
            <tbody>
                <tr class="text-center">
                    <th class="text-nowrap">언어논리</th>
                    <td>{{ student.eoneo_score|floatformat:1 }}</td>
                    <td>{{ my_total_rank.eoneo_rank }}</td>
                    <td>{{ my_total_rank.eoneo_rank_ratio|percentage|floatformat:1 }}</td>
                    <td>{{ my_department_rank.eoneo_rank }}</td>
                    <td>{{ my_department_rank.eoneo_rank_ratio|percentage|floatformat:1 }}</td>
                </tr>
                <tr class="text-center">
                    <th class="text-nowrap">자료해석</th>
                    <td>{{ student.jaryo_score|floatformat:1 }}</td>
                    <td>{{ my_total_rank.jaryo_rank }}</td>
                    <td>{{ my_total_rank.jaryo_rank_ratio|percentage|floatformat:1 }}</td>
                    <td>{{ my_department_rank.jaryo_rank }}</td>
                    <td>{{ my_department_rank.jaryo_rank_ratio|percentage|floatformat:1 }}</td>
                </tr>
                <tr class="text-center">
                    <th class="text-nowrap">상황판단</th>
                    <td>{{ student.sanghwang_score|floatformat:1 }}</td>
                    <td>{{ my_total_rank.sanghwang_rank }}</td>
                    <td>{{ my_total_rank.sanghwang_rank_ratio|percentage|floatformat:1 }}</td>
                    <td>{{ my_department_rank.sanghwang_rank }}</td>
                    <td>{{ my_department_rank.sanghwang_rank_ratio|percentage|floatformat:1 }}</td>
                </tr>
                <tr class="text-center table-warning">
                    <th class="text-nowrap">PSAT 평균</th>
                    <td>{{ student.psat_average|floatformat:1 }}</td>
                    <td>{{ my_total_rank.psat_rank }}</td>
                    <td>{{ my_total_rank.psat_rank_ratio|percentage|floatformat:1 }}</td>
                    <td>{{ my_department_rank.psat_rank }}</td>
                    <td>{{ my_department_rank.psat_rank_ratio|percentage|floatformat:1 }}</td>
                </tr>
                {% if heonbeob_answer or heonbeob_temporary %}
                    <tr class="text-center">
                        <th class="text-nowrap">헌법</th>
                        <td>{{ student.heonbeob_score|floatformat:1 }}</td>
                        <td>{{ my_total_rank.heonbeob_rank }}</td>
                        <td>{{ my_total_rank.heonbeob_rank_ratio|percentage|floatformat:1 }}</td>
                        <td>{{ my_department_rank.heonbeob_rank }}</td>
                        <td>{{ my_department_rank.heonbeob_rank_ratio|percentage|floatformat:1 }}</td>
                    </tr>
                {% endif %}
            </tbody>
        {% /responsive_table %}
    {% /nav_content %}

    {% #nav_content prefix='all' id='1' %}
        {% #responsive_table %}
            {% with stat=total_stat %}

                {% partialdef score_thead2 inline=True %} {# score_thead2 partial #}
                    <thead>
                        <tr class="d-table-row d-md-none text-center align-middle table-warning">
                            <th class="text-nowrap">과목</th>
                            <th class="text-nowrap">내 점수</th>
                            <th class="text-nowrap">최고<br/>점수</th>
                            <th class="text-nowrap">상위<br/>10%</th>
                            <th class="text-nowrap">상위<br/>20%</th>
                            <th class="text-nowrap">평균<br/>점수</th>
                        </tr>

                        <tr class="d-none d-md-table-row text-center align-middle table-warning">
                           <th class="col-1">과목</th>
                           <th class="col-1">내 점수(점)</th>
                           <th class="col-1">최고 점수(점)</th>
                           <th class="col-1">상위 10%(점)</th>
                           <th class="col-1">상위 20%(점)</th>
                           <th class="col-1">평균 점수(점)</th>
                        </tr>
                    </thead>
                {% endpartialdef score_thead2 %}

                {% partialdef score_statistics inline=True %}
                    <tbody>
                        <tr class="text-center">
                            <th class="text-nowrap">언어논리</th>
                            <td>{{ student.eoneo_score|floatformat:1 }}</td>
                            <td>{{ stat.eoneo_score_max|floatformat:1 }}</td>
                            <td>{{ stat.eoneo_score_10|floatformat:1 }}</td>
                            <td>{{ stat.eoneo_score_20|floatformat:1 }}</td>
                            <td>{{ stat.eoneo_score_avg|floatformat:1 }}</td>
                        </tr>
                        <tr class="text-center">
                            <th class="text-nowrap">자료해석</th>
                            <td>{{ student.jaryo_score|floatformat:1 }}</td>
                            <td>{{ stat.jaryo_score_max|floatformat:1 }}</td>
                            <td>{{ stat.jaryo_score_10|floatformat:1 }}</td>
                            <td>{{ stat.jaryo_score_20|floatformat:1 }}</td>
                            <td>{{ stat.jaryo_score_avg|floatformat:1 }}</td>
                        </tr>
                        <tr class="text-center">
                            <th class="text-nowrap">상황판단</th>
                            <td>{{ student.sanghwang_score|floatformat:1 }}</td>
                            <td>{{ stat.sanghwang_score_max|floatformat:1 }}</td>
                            <td>{{ stat.sanghwang_score_10|floatformat:1 }}</td>
                            <td>{{ stat.sanghwang_score_20|floatformat:1 }}</td>
                            <td>{{ stat.sanghwang_score_avg|floatformat:1 }}</td>
                        </tr>
                        <tr class="text-center table-warning">
                            <th class="text-nowrap">PSAT 평균</th>
                            <td>{{ student.psat_average|floatformat:1 }}</td>
                            <td>{{ stat.psat_average_max|floatformat:1 }}</td>
                            <td>{{ stat.psat_average_10|floatformat:1 }}</td>
                            <td>{{ stat.psat_average_20|floatformat:1 }}</td>
                            <td>{{ stat.psat_average_avg|floatformat:1 }}</td>
                        </tr>
                        {% if heonbeob_answer or heonbeob_temporary %}
                            <tr class="text-center">
                                <th class="text-nowrap">헌법</th>
                                <td>{{ student.heonbeob_score|floatformat:1 }}</td>
                                <td>{{ stat.heonbeob_score_max|floatformat:1 }}</td>
                                <td>{{ stat.heonbeob_score_10|floatformat:1 }}</td>
                                <td>{{ stat.heonbeob_score_20|floatformat:1 }}</td>
                                <td>{{ stat.heonbeob_score_avg|floatformat:1 }}</td>
                            </tr>
                        {% endif %}
                    </tbody>
                {% endpartialdef score_statistics %}
            {% endwith %}
        {% /responsive_table %}
    {% /nav_content %}

    {% #nav_content prefix='department' id='2' %}
        {% #responsive_table %}
            {% with stat=department_stat %}
                {% partial score_thead2 %}
                {% partial score_statistics %}
            {% endwith %}
        {% /responsive_table %}
    {% /nav_content %}
</div>
